/*
Theme Name:         Wow
Theme URI:          http://bingotheme.com/themes/wow/
Description:        Wow is a modern, clean and professional WooCommerce WordPress theme. It is built to well suit for any online stores: electronics store, fashion store, jewelry store...
Author:             Bingotheme
Author URI:         http://bingotheme.com/
Version:            1.0.8
License:            GNU General Public License v2 or later
License URI: 		http://www.gnu.org/licenses/gpl-2.0.html
Tags: featured-images
Text Domain: 		wow
*/

.bypostauthor {
	font-style: italic;
	font-size: 12px;
	color: #757575;
}