#bingo-opts-heading{
	margin-bottom:20px;
}

#bingo-opts-form-wrapper,
#bingo-options-form{
	
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;	
	
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px;
	
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	
	margin-top:20px;
}

#bingo-opts-form-wrapper .hr{
	height:1px;
	width:60%;
	border-bottom:1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom:-20px;
}

.bingo-opts-info-field{
	margin-bottom:-20px;
}

#bingo-opts-header,
#bingo-opts-footer{
	text-align:right;
	padding:20px;	
}
#bingo-opts-header{
	border-bottom:1px solid #DFDFDF;
}
#bingo-opts-footer{
	border-top:1px solid #DFDFDF;
}
#bingo-opts-footer #bingo-opts-share{
	float:left;
}
#bingo-opts-footer #bingo-opts-share a{
	margin-right:10px;
}
#bingo-opts-footer #bingo-opts-share a img{
	margin-bottom:-3px;
}
.bingo-radio-img{
	text-align: center;
}

#bingo-opts-save{
	margin:0px;
	border-bottom:1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#bingo-opts-imported{
	margin:0px;
	border-bottom:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#bingo-opts-save-warn{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



#bingo-opts-field-warnings{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}




#bingo-opts-field-errors{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}


#bingo-opts-sidebar,
#bingo-opts-main{
	min-height:300px;
}
#bingo-opts-sidebar{
	width:200px;
	float: left;
}

.bingo-opts-menu-warning{
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.bingo-opts-menu-error{
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
	

#bingo-opts-main{
	background:#FFFFFF;
	margin-left:201px;
	border-left:1px solid #DFDFDF;
	padding:10px 20px;
}


#bingo-opts-sidebar #bingo-opts-group-menu{
	margin-top:0px;
}
#bingo-opts-sidebar #bingo-opts-group-menu li{
	margin:0px;
}
#bingo-opts-sidebar #bingo-opts-group-menu li.divide{
	padding:0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#bingo-opts-sidebar #bingo-opts-group-menu li a{
	display:block;
	padding: 14px 14px;
	background: #eeeeee;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
    
    color: #333333;
    font-weight:bold;
    text-decoration:none;
    outline: none;
}


#bingo-opts-sidebar #bingo-opts-group-menu li a.custom-tab{
	background: #f6f6f6;
}
#bingo-opts-sidebar #bingo-opts-group-menu li a img{
	width: 16px;
	height: 16px;
	/*vertical-align:middle;*/
	margin-bottom:-3px;
}
#bingo-opts-sidebar #bingo-opts-group-menu li a:hover{
	background:#f9f9f9;
	width:174px;
	margin-right:-2px;
}
#bingo-opts-sidebar #bingo-opts-group-menu li.active a{
	background:#ffffff;
	width:174px;
	margin-right:-2px;
}






.bingo-opts-group-tab{
	display:none;
}
.bingo-opts-group-tab h3{
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px solid #DFDFDF;
}
.bingo-opts-group-tab .bingo-opts-section-desc{
	font-style: italic;
	font-size:1.2em;
	color:#666666;
}
.bingo-opts-group-tab .form-table{
	border-top: 1px solid #DFDFDF;
	clear:none;
	margin-top:20px;
}
.bingo-opts-group-tab .form-table.no-border{
	border-top:none;
}
.bingo-opts-group-tab .form-table tr{
	border-bottom: 1px solid #DFDFDF;
}
.bingo-opts-group-tab .form-table tr:last-child{
	border-bottom: none;
}
.bingo-opts-group-tab .form-table tr th,
.bingo-opts-group-tab .form-table tr td{
	padding:20px 20px 40px 20px;
	color:#333333;
}
.bingo-opts-group-tab .form-table tr th{
	font-weight:bold;
	font-size:1.1em;
	width:30%;
}
.bingo-opts-group-tab .form-table tr th span:first-child{
	font-weight: normal;
	display:block;
	color:#666666;
}


.bingo-opts-group-tab .form-table tr td .bingo-opts-th-warning{
	font-size:1em;
    color: #C09853;
	font-weight:normal;
	display:block;
}
.bingo-opts-group-tab .form-table tr td .bingo-opts-field-warning{
	border-color:#C09853;
}


.bingo-opts-group-tab .form-table tr td .bingo-opts-th-error{
	font-size:1em;
	color:#B94A48;
	font-weight:normal;
	display:block;
}
.bingo-opts-group-tab .form-table tr td .bingo-opts-field-error{
	border-color:#B94A48;
}


/* reset nested tables for mce */
.bingo-opts-group-tab .form-table tr td table.mceLayout,
.bingo-opts-group-tab .form-table tr td table.mceLayout tr,
.bingo-opts-group-tab .form-table tr td table.mceLayout tr td{
	padding:0px;
	border-width:0px;
}


.bingo-opts-group-tab .bingo-opts-theme-data{
	padding:20px 0px;
	border-top: 1px solid #DFDFDF;
}
.bingo-opts-group-tab .bingo-opts-theme-data.theme-uri,
.bingo-opts-group-tab .bingo-opts-theme-data.theme-author,
.bingo-opts-group-tab .bingo-opts-theme-data.theme-version{
	padding:0px;
	border-width:0px;
}
.bingo-opts-group-tab .bingo-opts-theme-data.theme-description{
	padding:10px 0px;
	border-width:0px;
}





/*
 *
 * Bingo_Options_radio_img
 *
 */
.bingo-radio-img input[type='radio']{
	display:none;
}
.bingo-radio-img,
.bingo-radio-img-selected{
	margin:6px;
	display:inline-block;
	padding:10px;
}
.bingo-radio-img-selected{
	background-color:#f9f9f9;
}
.bingo-radio-img img,
.bingo-radio-img-selected img{
	border-width:4px;
	border-style: solid;
}
.bingo-radio-img img{
	border-color:#e9e9e9;
}
.bingo-radio-img-selected img{
		border-color:#c9c9c9;
}



/*
 *
 * Bingo_Options_color
 *
 */
.farb-popup-wrapper{
	position: relative;
	display: block;
}

.farb-popup{
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
	z-index:100;
}



#bingo-opts-import-link-wrapper,
#bingo-opts-import-code-wrapper{
	display:none;
}

#bingo-opts-export-code,
#bingo-opts-export-link-value{
	display:none;
}
#bingo-opts-import-action span{
	color:#B94A48;
}
#import_divide{
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}
.bingo-opts-screenshot{
	max-width: 300px;
	display:block;
}


.bingo-opts-group-tab .field-table,
.bingo-opts-group-tab .bingo-opts-section-desc{
	width: 100%;
}
.bingo-opts-group-tab .field-table tr td{
	padding: 0;
}
.bingo-opts-group-tab .customize_allow,
.bingo-opts-group-tab .cpanel_allow{
	width: 70px;
	text-align: right;
}
#bingo-opts-header .button,
#bingo-opts-footer .button{
	margin: 5px;
}
.bingo-opts-group-tab th .social-share{
	text-align: right;
}

@media screen and (max-width : 900px) {
	#bingo-opts-sidebar{
		width:42px;
	}
	#bingo-opts-main{
		margin-left:43px;
	}
	.bingo-opts-group-tab-link-a{
		position: relative;
	}
	.bingo-opts-group-tab-link-a span{
		display:none;
		position:absolute;
		top: 0;
		left:44px;
		padding: 14px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}
	.bingo-opts-group-tab-link-a:hover > span{
		display: block;
	}
	#bingo-opts-sidebar #bingo-opts-group-menu li a,
	#bingo-opts-sidebar #bingo-opts-group-menu li a:hover,
	#bingo-opts-sidebar #bingo-opts-group-menu li.active a,
	#bingo-opts-sidebar #bingo-opts-group-menu li.active a:hover{
		width:15px;
	}
	
	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}
	.form-table > tbody > tr > th, .form-table > tbody > tr > td{
		padding: 10px !important;
	}
	.form-table > tbody > tr > td span.description{
		display: block;
	}
}

/* CPANEL */

.cpanel-checkbox > input{
	margin: 0;
}

	.field_checkbox.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	/* Hide default HTML checkbox */
	.field_checkbox.switch input {display:none;}

	/* The slider */
	.field_checkbox .slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.field_checkbox .slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.field_checkbox input:checked + .slider {
	  background-color: #2196F3;
	}

	.field_checkbox input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	.field_checkbox input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.field_checkbox .slider.round {
	  border-radius: 34px;
	}
	.field_checkbox .slider.round:before {
	  border-radius: 50%;
	}
	.redux-main .ui-button-text-only .ui-button-text{
		padding: 0 !important;
	}
	.redux-container-button_set .ui-buttonset .ui-button{
		margin: 0 3px !important;
	}
	.redux-container #max_settings-blog_layout .ui-buttonset .ui-button{
		margin: 0 3px !important;
	}
	.menu-item-settings{ 
		overflow: hidden; 
	}
	.menu-item-settings textarea{ 
		width: 100%; 
	}
	.redux-container-image_select ul.redux-image-select li{
	    padding: 2px 4px;
	}
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select img{
		width: calc(100% - 8px) !important;
	}
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select.redux-image-select-selected img{
		border: 0 !important;
	}
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select.redux-image-select-selected {
		border: 0px solid #d9d9d9 !important;
	}
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select {
		line-height: 0;
		border: 0 !important;
		overflow: hidden;
	}
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select input:checked + img {
		border: 4px solid #d9d9d9 !important;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}	
	#wow_settings-banners_effect .redux-image-select li.redux-image-select .redux-image-select input:checked + img {
		border-color: #0073aa !important;
	}	
	#wow_settings-banners_effect .redux-image-select li.redux-image-select{
		width: 32%;
		float: left;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		line-height: 0;
		overflow: hidden;
	    padding: 7px 7px !important;
	}
/*============@group Banners hover effect ==================*/
.banners_effect_1 img {
     transition: all 0.2s ease-in;
     -webkit-transition: all 0.2s ease-in;
     -moz-transition: all 0.2s ease-in;
}

.banners_effect_1 img:hover {
    opacity: 0.8;
}
.banners_effect_2{
     display: block;
     position: relative;
     overflow: hidden;
}
.banners_effect_2:before {
	background-color: rgba(255, 255, 255, 0.2);
	display: block;
	width: 100%;
	height: 100%;
	left: -100%;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	content: "";
	z-index: 1;
}

.banners_effect_2:hover:before{
left: 0;
opacity: 1;
}
.banners_effect_3{
display: block;
position: relative;
overflow: hidden;
}
.banners_effect_3:before {
border: 50px solid transparent;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
box-sizing: border-box;
cursor: pointer;
display: inline-block;
left: 0;
right: 0;
bottom: 0;
margin: auto;
position: absolute;
top: 0;
content: "";
opacity: 1;
filter: alpha(opacity=100);
width: 100px;
height: 100px;
-webkit-transform: scale(7);
-ms-transform: scale(7);
-o-transform: scale(7);
transform: scale(7);
-webkit-transition: all 0.4s ease-in-out 0s;
-o-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
visibility: visible;
z-index: 1;
}
.banners_effect_3:hover:before {
border: 0 solid rgba(0, 0, 0, 0.7);
opacity: 0;
filter: alpha(opacity=0);
}
.banners_effect_4{
display: block;
position: relative;
overflow: hidden;
}
.banners_effect_4:before {
border-bottom: 50px solid rgba(255, 255, 255, 0.4);
border-top: 50px solid rgba(255, 255, 255, 0.4);
content: "";
height: 100%;
left: 0;
opacity: 0;
filter: alpha(opacity=0);
position: absolute;
top: 0;
transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
-o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
-webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
-moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
-ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
-o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
transform-origin: 50% 50% 0;
width: 100%;
}
.banners_effect_4:hover:before {
opacity: 1;
filter: alpha(opacity=100);
transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
-o-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
-webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
-moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
-ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 4, 1);
}
.banners_effect_5{
display: block;
position: relative;
overflow: hidden;
}
.banners_effect_5:before {
bottom: 0;
content: "";
left: 0;
position: absolute;
right: 0;
top: 0;
-webkit-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
-o-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
z-index: 1;
border: 200px double transparent;
opacity: 1;
filter: alpha(opacity=100);
visibility: visible;
}
.banners_effect_5:hover:before {
opacity: 0;
filter: alpha(opacity=0);
border: 0 double rgba(255, 255, 255, 0.7);
visibility: hidden;
}
.banners_effect_6 {
display: block;
position: relative;
overflow: hidden;
background: #000;
}
.banners_effect_6 img {
backface-visibility: hidden;
opacity: 1;
filter: alpha(opacity=100);
-webkit-transition: opacity 1s ease 0s, transform 1s ease 0s;
-o-transition: opacity 1s ease 0s, transform 1s ease 0s;
transition: opacity 1s ease 0s, transform 1s ease 0s;
}
.banners_effect_6:hover img {
opacity: 0.8;
filter: alpha(opacity=80);
transform: scale3d(1.1, 1.1, 1);
}
.banners_effect_7 {
display: block;
position: relative;
overflow: hidden;
}
.banners_effect_7:before {
position: absolute;
background: rgba(0, 0, 0, 0.3);
width: 0;
top: 0;
left: 50%;
content: "";
transition: all 0.3s ease-in-out 0s;
}
.banners_effect_7:hover:before {
width: 100%;
left: 0;
top: 0;
height: 100%;
}
.banners_effect_8{
display: block;
position: relative;
overflow: hidden;
background: #000;
}
.banners_effect_8:before,
.banners_effect_8:after {
bottom: 20px;
content: "";
left: 20px;
opacity: 0;
position: absolute;
right: 20px;
top: 20px;
-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
-o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
z-index: 1;
}
.banners_effect_8:before {
border-bottom: 1px solid #ffffff;
border-top: 1px solid #ffffff;
-webkit-transform: scale(0, 1);
-ms-transform: scale(0, 1);
-o-transform: scale(0, 1);
transform: scale(0, 1);
}
.banners_effect_8:after {
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
-webkit-transform: scale(1, 0);
-ms-transform: scale(1, 0);
-o-transform: scale(1, 0);
transform: scale(1, 0);
}
.banners_effect_8 img {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transition: opacity 0.35s ease 0s;
-o-transition: opacity 0.35s ease 0s;
transition: opacity 0.35s ease 0s;
}
.banners_effect_8:hover:before,
.banners_effect_8:hover:after {
opacity: 1;
filter: alpha(opacity=100);
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
.banners_effect_8:hover img {
opacity: 0.5;
filter: alpha(opacity=50);
}
.banners_effect_9{
display: block;
position: relative;
}
.banners_effect_9:before {
position: absolute;
top: 0;
left: 0;
z-index: 0;
width: 100%;
height: 100%;
background: #000;
content: '';
-webkit-transition: opacity 0.35s;
transition: opacity 0.35s;
box-shadow: 0 3px 30px rgba(0,0,0,0.2);
opacity: 0;
}
.banners_effect_9:hover:before {
opacity: 1;
}

.banners_effect_9 img,{
opacity: 1;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: perspective(1000px) translate3d(0,0,0);
transform: perspective(1000px) translate3d(0,0,0);
}
.banners_effect_9:hover img {
-webkit-transform: perspective(1000px) translate3d(0,0,21px);
transform: perspective(1000px) translate3d(0,0,21px);
}
.banners_effect_10{
display: block;
position: relative;
overflow: hidden;
}
.banners_effect_10:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 75%);
content: '';
opacity: 0;
-webkit-transform: translate3d(0,50%,0);
transform: translate3d(0,50%,0);
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}
.banners_effect_10:hover:before {
opacity: 1;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}


.banners_effect_11{
display: block;
position: relative;
overflow: hidden; }
.banners_effect_11:hover:before,
.banners_effect_11:hover:after {
width: 100%;
height: 100%; }
.banners_effect_11:before,
.banners_effect_11:after {
background-color: rgba(0, 0, 0, 0.15);
content: "";
height: 0;
left: 0;
margin: auto;
position: absolute;
width: 0;
-webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s; }
.banners_effect_11:after {
left: auto;
right: 0;
bottom: 0; }

.banners_effect_12 img {
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
transition: all 0.3s ease-in; }
.banners_effect_12 img:hover {
-webkit-filter: grayscale(100%);
filter: grayscale(100%); }

/* @end */