

/************************************************************************************************
   EDITOR STYLE
*************************************************************************************************/
/**
* Table of Contents:
*
* 1.0 - Body
* 2.0 - Headings
* 3.0 - Text Elements
* 4.0 - Links
* 5.0 - Alignment
* 6.0 - Tables
* 7.0 - Images
* 8.0 - Galleries
* 9.0 - Audio/Video
* 10.0 - RTL
*/

/**
 * 5.0 Alignment
 */
body{
  background: $white;
  position: relative;
  &.background-color.page-id-28{
    background: #f3f3f3;
  }
  .header-3 + .bin-main{
    background: #ebebeb;
  }
  &.box-layout{
    max-width: 1200px;
    margin: 0 auto;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    .wrapper-body{
      background: $white;
    }
    #main-content{
      overflow: hidden;
    }
  }
}
a{
  @include transition(all 0.3s ease-in-out);
}
a:hover{
  color: $theme-color;
}
.alignleft {
    @include rtl-float-left;
    @include rtl-margin(5px, 20px, 20px, 0);
}
.logged-in{
  .zoomContainer{
    margin-top: -32px !important;
  }
}
.alignright {
    @include rtl-float-right;
    margin: 5px 0 20px 20px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0px auto;
}

blockquote.alignleft,
blockquote.alignright {
    border-top: 1px solid rgba($black, 0.1);
    border-bottom: 1px solid rgba($black, 0.1);
    padding-top: 17px;
    width: 50%;
}

blockquote.alignleft p,
blockquote.alignright p {
    margin-bottom: 17px;
}

.attachment .site-content {
    @include rtl-margin-left(auto);
    width: 100%;
}

/**
 * 6.0 Tables
 */

/*
 * 7.0 Images
 */

img {
    vertical-align: middle;
    max-width: 100%;
}

.wp-caption {
    background: transparent;
    border: none;
    color: #767676;
    margin: 0 0 24px 0;
    max-width: 474px;
    padding: 0;
    @include rtl-text-align-left;
}

.html5-captions .wp-caption {
    padding: 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.html5-captions .wp-caption.alignleft {
    @include rtl-margin-right(24px);
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption.alignright img,
.wp-caption.alignright .wp-caption-dd {
    padding-left: 10px;
}

.html5-captions .wp-caption.alignright {
    @include rtl-margin-left(24px);
}

.html5-captions .wp-caption.alignright img,
.html5-captions .wp-caption.alignright .wp-caption-dd {
    padding: 0;
}

.wp-caption.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    max-width: 100%;    
}

.wp-caption-dt {
    margin: 0;
}

#respond.comment-respond {
  padding: 5px 0 0;
  width: 100%;
  clear: both;
}
#respond .comment-form .form-submit input{
  @include input-button;
  line-height: 40px;
}
#respond .comment-form .form-submit input[type="submit"]{
  padding-left: 20px;
  padding-right: 20px;
}
.wp-caption .wp-caption-text,
.wp-caption-dd {
    @include box-sizing(border-box);
    @include font-size(font-size,12px);
    font-style: italic;
    line-height: 1.5;
    margin: 9px 0;
    padding: 0 10px 0 0;
    @include rtl-text-align-left;
}

.mceTemp + ul,
.mceTemp + ol {
    list-style-position: inside;
}

/**
 * 8.0 Gallery
 * -----------------------------------------------------------------------------
 */

.gallery .gallery-item {
    @include rtl-float-left;
    @include rtl-margin(0, 4px, 4px, 0);
    overflow: hidden;
    padding: 0;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
    width: auto;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 14px);
    max-width:         calc(50% - 14px);
    width: auto;
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 11px);
    max-width:         calc(33.3% - 11px);
    width: auto;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 9px);
    max-width:         calc(25% - 9px);
    width: auto;
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 8px);
    max-width:         calc(20% - 8px);
    width: auto;
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 7px);
    max-width:         calc(16.7% - 7px);
    width: auto;
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 7px);
    max-width:         calc(14.28% - 7px);
    width: auto;
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 6px);
    max-width:         calc(12.5% - 6px);
    width: auto;
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 6px);
    max-width:         calc(11.1% - 6px);
    width: auto;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    @include rtl-margin-right(0);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
    @include rtl-margin-left(12px) /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.gallery .gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    @include box-sizing(border-box);
    color: #fff;
    @include font-size(font-size,12px);
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include rtl-text-align-left;
    width: 100%;
}

.gallery .gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

/**
 * 9.0 Audio/Video
 * ----------------------------------------------------------------------------
 */
.mejs-mediaelement,
.mejs-container .mejs-controls {
    background: #000;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #24890d;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, .33);
}

.mejs-controls .mejs-time-rail span,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
}

.mejs-overlay-loading {
    background: transparent;
}

/**
 * 10.0 RTL
 * ----------------------------------------------------------------------------
 */

html .mceContentBody.rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.rtl .wp-caption,
.rtl tr th {
    @include rtl-text-align-right;
}

.rtl td {
    @include rtl-text-align-right;
}


/************************************************************************************************
    OWL CAROULSEL
*************************************************************************************************/

// Mixin for generating new styles
@mixin bg-styles($color) {
  background-color:$color;
}
.bg-primary {
  @include bg-styles( $brand-primary );
}
// Success appears as green
.bg-success {
  @include bg-styles( $brand-primary );
}
// Info appears as blue-green
.bg-info {
  @include bg-styles( $brand-primary );
}
// Warning appears as orange
.bg-warning {
  @include bg-styles( $brand-primary );
}
// Danger and error appear as red
.bg-danger {
  @include bg-styles( $brand-primary );
}

// Mixin for generating new styles
@mixin text-styles($color) {
  color:$color;
}
.text-primary {
  @include text-styles( $brand-primary );
}
// Success appears as green
.text-success {
  @include text-styles( $brand-success );
}
// Info appears as blue-green
.text-info {
  @include text-styles( $brand-info );
}
// Warning appears as orange
.text-warning {
  @include text-styles( $brand-warning );
}
// Danger and error appear as red
.text-danger {
  @include text-styles( $brand-danger );
}

.text-skin {
  @include text-styles( $theme-color );
}

.text-hightlight {
  @include text-styles( $text-hightlight );
}
.box-advert > div{
  background: $white;
  padding: 20px;
}
.heading-padding-large{
  .widget-title{
    padding-bottom: 20px;
  }
}

.box-header{
  display: table;
  margin-top: 20px;
  > div{
    float: left;
  }
  .icon {
    @include size(35px, 35px);
    @include border-radius(50%);
    border: 1px solid #f99b17;
    text-align: center;
    line-height: 44px;
    margin-right: 5px;
    margin-top: 6px;
    i{
      font-size: 30px;
      color: #f99b17;
      width: 13px;
    }
  }  
  .text-small{
    font-family: $font-family-second;
    font-size: 11px;
    font-weight: 300;
    color: $text-color;
    display: block;
  }
  .text-large{
    font-family: $font-family-second;
    font-size: 18px;
    font-weight: 300;
    color: #f99b17;
    display: block;
  }
}
.caret{
  border: none;
  font-family: "FontAwesome";
  font-size: 11px;
  @include size(auto, auto);
  &:before{
    content: "\f107";
  }
}

/*
    Tabs
*-------------------------------------------------------------
*/
.tabs-list{
  border: 0;
  @include rtl-text-align-left();
}

/*
    Breadcrumbs
*-------------------------------------------------------------
*/
.breadcrumb{
    > .fa{
    @include rtl-margin(0, 5px, 0, 5px);
  }
}

/*
    Customize Live Theme Editor
*-------------------------------------------------------------
*/


/*
    Modal
*-------------------------------------------------------------
*/
.modal-content {
    @include box-shadow(none);
    @include border-radius(0);
}
.modal-lg {
  width: 900px;
  &.modal-min-width{
    @include size(500px,auto);
    min-height: 90px;
    .modal-content{
      border: 0;
    }
  }
  .total,.buttons{
    text-align: center;
  }
}

/*
    Pagination
*-------------------------------------------------------------
*/
.#{$app-prefix}-pagination{
  @include clearfix;
  .pagination,
  .page-numbers{
    margin: 0;
    border: 0;
    &.current{
      background-color: $theme-color;
      color: $white;
    }
  }
}

.result-count{
    padding: 5px 0;
    margin: 0;
}

/*
    Mobile
*-------------------------------------------------------------
*/
.active-mobile{
    @include size(44px,70px);
    text-align: center;
  line-height: 70px;
  position: relative;
  cursor: default;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  @include transition(all 0.3s ease 0s);
  text-align: center;
  padding-top: 4px;
  &:before{
    background-color: lighten($topbar-bg, 5%);
    content: "";
    display: block;
    @include size(1px,40px);
    @include rtl-left(0);
    margin-top: -20px;
    position: absolute;
    top: 50%;
    display: none;
  }
  &:first-child:before{
    display: none;
  }
  &:hover{
    background-color: lighten($topbar-bg, 5%)!important;
    cursor: pointer;
    &:before{
      display: none;
    }
    .active-content{
      @include rtl-left(auto);
    }
  }
  > .fa, > .icon{
    color: $white;
  }
  &.cart-popup{
      .fa,.icon{
          display: none;
      }
      background: url('#{$image-theme-path}cart-m.svg') no-repeat center center;
  }
  .active-content{
    position: absolute;
    top: 100%;
    z-index: 9999;
    color: $topbar-link-color;
    padding: $theme-margin;
    background-color: lighten($topbar-bg, 5%);
    @include rtl-left(-10000px);
    @include opacity(0);
    position: absolute;
    min-width: 270px;
    visibility: hidden;
    @include rtl-right(0);
    @include rtl-text-align-left();
    @include transition(opacity 0.3s ease 0s);
  }
  &.cart-popup{
    .active-content{
      background-color: lighten($topbar-bg, 5%);
      min-width: 320px;
    }
  }
  .title{
    color: $white;
    @include rtl-margin(0, 0, 10px, 0);
    padding-bottom: $padding-large-vertical;
    border-bottom: 1px solid lighten($topbar-bg, 10%);
  }
  ul{
    padding: 0;
    li{
      display: block;
      margin: 0;
      padding: 10px 0;
      line-height: normal;
      text-transform: none;
      @include font-size(font-size,$font-size-base);
    }
  }
  .navbar-toggle{
    position: static;
    background: none;
    border: medium none;
    margin: 0;
    padding: 0;
    position: static;
  }
}

/*
    Custom Panel
*-------------------------------------------------------------
*/
.custom-panel {
  border: 0;
  .panel-footer{
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $panel-inner-border;
  }
}

.pricing-tables{
  .panel-heading{
    border-color: $border-color;
  }
  .panel-footer{
    border-top: 0px;
  }
}

/*
    Box service footer
*-------------------------------------------------------------
*/
.box-service{
  overflow: hidden;
  padding:0 16.6667%;
  .box-content{
    overflow: hidden;
    padding: 95px 0 75px;
    .small-text, .tiny-text {
      display: inline-block;
      @include font-size(font-size, $font-size-base - 2);
      color: $white;
      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      padding: 0 15px;
      &:after,&:before{
        height: 1px; 
        width: 500px;
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        top: 50%;
        content: "";
      } 
      &:after{
        left: 100%;
      }
      &:before{
        right: 100%;
      }
    }
    .large-text{
      font-size: 30px;
      font-weight: 900;
      padding: 15px 0;
      display: block;
      color: $theme-color;
      &.yellow{
        color: $yellow;
      }
    }
    .tiny-text{
      text-transform: none;
    }
  }
}

/*
    Carousel
*-------------------------------------------------------------
*/
.carousel.slide{
  position: relative;
}

/*
    Tabs
*-------------------------------------------------------------
*/
.tabs-left > .nav-tabs {
  border-bottom: 0;
  float: left;
  margin-right: 0;
  padding-right: 10px;
  background: $nocolor;
  @include border-radius(0);
  width: auto;
  min-width: 16.6667%;
  &:after, &:before{
    content:none;
  }
  li{
    float: none;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid $border-color;
    a{
      margin-right: 0;
      padding: 0;
      @include font-size(font-size, 12px);
      font-weight: $nav-tabs-left-font-weight;
      color: #aaaaaa;
      margin-right: -1px;
      background: $nocolor;
      &:after, &:before{
        content: none;
      }
      &:hover, &:focus{
        background: $nocolor;
        color: $theme-color;
        font-weight: $nav-tabs-left-font-weight;
      }
    }
    &:hover{
      border-color: $theme-color;
    }
    &.active{
      border-color: $theme-color;
      background: $nocolor;
      a, a:hover, a:focus{
        font-weight: $nav-tabs-left-font-weight;
        color: $theme-color;
      }
    }
  }
}
.tabbable {
  overflow: hidden;
}

.back-top{
  @include size(40px, 40px);
  @include border-radius(3px);
  background: #E5E5E5;
  position: fixed;
  bottom: 15px;
  @include rtl-right(15px);
  z-index: 999;
  color: #0b0b0b;
  visibility: hidden;
  @include opacity(0);
  > span{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
  }
  &:hover{
    background: $theme-color;
    color: $white;
    cursor: pointer;
  }
  &.button-show{
    visibility: visible;
    opacity: 1;
  }
}

.wpml-languages img{
  margin-right: 5px;
} 

#_atssh{
  overflow: hidden;
}

/************************************************************************************************
    OWL CAROULSEL
*************************************************************************************************/
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none; 
  }
  .owl-carousel {
    .owl-dots {
      text-align: center;
      .owl-dot {
        display: inline-block;
        span {
          @include square(8px);
          background: #acacac;
          @include border-radius(50%);
          display: inline-block;
          margin: 0 6px;
        }
        &.active {
          span {
            background: $theme-color-default;
          }
        }
      }
    }
  }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    display: none; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


/************************************************************************************************
    FORM 
*************************************************************************************************/  
.wpb_button_a .wpb_button {
    background: transparent;
    font-family: $font-family-second;
    font-weight: 700;
    text-transform: uppercase;
    color: #252525;
    border: none;
    font-size: 19px;
    &:hover{
        color: $theme-color-default;
        background: transparent;
    }
}

.btn-outline{
    @include button-outline($btn-outline-color, $btn-outline-bg, $btn-outline-border, $btn-outline-hover-bg, $btn-outline-hover-color, $btn-outline-border-hover);
    @include state-hover-default(.3s, $btn-outline-hover-bg, $btn-outline-hover-bg);
}
.btn-outline-lg{
    @include button-size($btn-outline-lg-padding-vertical,$btn-outline-lg-padding-horizontal,$btn-outline-lg-font-size,$btn-outline-lg-line-height,$btn-outline-lg-border-radius);
}
.btn-outline-sm {
    @include button-size($btn-outline-sm-padding-vertical, $btn-outline-sm-padding-horizontal, $btn-outline-sm-font-size, $btn-outline-sm-line-height, $btn-outline-sm-border-radius);
}
.btn-outline-xs{
    @include button-size($btn-outline-xs-padding-vertical, $btn-outline-xs-padding-horizontal, $btn-outline-xs-font-size, $btn-outline-xs-line-height, $btn-outline-xs-border-radius);
}
.btn-outline-inverse{
    @include button-outline($btn-outline-inverse-color, $btn-outline-inverse-bg, $btn-outline-inverse-border-color, $btn-outline-inverse-hover-bg,$btn-outline-inverse-hover-color,$btn-outline-inverse-border-hover-color);
    @include state-hover-default(.3s, $btn-outline-inverse-hover-bg, $white);
}
.btn-inverse{
    @include button-outline($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border-color, $btn-inverse-hover-bg, $btn-inverse-hover-color, $btn-inverse-border-hover-color);
    @include state-hover-default(.3s, $btn-outline-inverse-hover-bg, $btn-outline-inverse-hover-bg);
}


.btn-cart a{
    @extend .btn-action, .btn-outline-inverse;
}

.btn-action{
    @include border-radius(4px);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    @include transition(all 0.4s ease 0s);
    vertical-align: middle;
    white-space: nowrap;
}
/* Search ------------------------------------------------*/
.search-box {
    cursor: pointer;
    text-align: center;
    @include square(20px);
}
.search-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99999;
    background: rgba($theme-color, 0.95);
    .search-popup-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),progress;
    }
    .search-from {
        position: absolute;
        z-index: 10;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 94px;
        input {
            width: 100%;
            background: transparent;
            border: 3px solid #fff;
            height: 94px;
            line-height: 94px;
            padding: 0 30px;
            color: #fff;
            font-size: 24px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              text-transform: uppercase;
              color: #fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              text-transform: uppercase;
              color: #fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              text-transform: uppercase;
              color: #fff;
            }
            &::-moz-placeholder { /* Firefox 18- */
              text-transform: uppercase;
              color: #fff;
            }
        }
    }
    .form-content {
        position: relative;
    }
}
.search-from{
    span {display: none;}
    .btn {
        color: #2a2a2a;
        background: none;
        font-size: $font-size-base;
        padding: 10px;
        line-height: 100%;
        position: absolute;
        color: #fff;
        font-size: 40px;
        top: 50%;
        margin-top: -31px;
        @include rtl-right(15px);
        &:hover,&:focus{
            color: #121212;
        }
    }
}

/* Select, Input ------------------------------------------------*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,select{
    border: 1px solid $input-border;
    padding: $input-padding;
}

.chosen-container{
    width: 100% !important;
}

.input-group-form{
    @include border-radius(3px);
    background: $input-group-form-bg;
    margin: $input-group-form-margin;
    .form-control-reversed{
        border: 0px;
        background: $input-form-bg;
        color: darken($white, 20%);
        @include font-size(font-size,14px);
        height: 34px;
        &:hover,
        &:focus{
            @include box-shadow(none);
        }
    }
    .input-group-addon{
        border: 0;
        background: $input-form-bg;
        @include border-left-radius(4px);
    }
}

.select{
    overflow: hidden;
    width: 180px;
    cursor: pointer;
    margin: 0;
    font-weight: $font-weight-base;
    border: 1px solid $border-color;
    select{
        @include appearance();
        width:200px;
        border: 0;
        cursor: pointer;
        background: transparent url("#{$image-theme-path}arrow.png") no-repeat 85% center;
        &:hover,&:focus{
            outline: none !important;
            @include box-shadow(none);
        }
    }
}


/************************************************************************************************
    OFF-CANVAS  
*************************************************************************************************/  

// Button
.off-canvas-toggle {
    border: 0 none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    display: block;
    @include rtl-right(140px);
    @include border-radius(0);
    @include square(68px);
    @include border(0 0 0 1px, lighten($topbar-bg, 5%), solid);
    top: $navbar-offcanvas-button-position;
    .icon-bar{
        color: $white;
        background: $white !important;
        margin: 24px 24px 0;
        height: 4px;
        @include border-radius(0);
    }
    &:hover,
    &:active,
    &:focus{
        background: transparent !important;
    }
}

// Inverse navbar
.navbar-offcanvas {
    background-color: $navbar-offcanvas-bg;
    border: none;
    .navbar-brand {
        color: $navbar-offcanvas-brand-color;
        &:hover,
        &:focus {
            color: $navbar-offcanvas-brand-hover-color;
            background-color: $navbar-offcanvas-brand-hover-bg;
        }
    }
    .navbar-text {
        color: $navbar-offcanvas-color;
    }
    .navbar-nav {
        > li{
            margin: 0;
        }
        > li > a {
            @include border-radius(0);
            @include font-size(font-size,$navbar-offcanvas-link-font-size);
            text-transform: none;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            &:hover,
            &:focus {
                color: $navbar-offcanvas-link-hover-color;
                background-color: $navbar-offcanvas-link-hover-bg;
            }
        }
        > .active > a {
            color: $navbar-offcanvas-link-hover-color;
            &,
            &:hover,
            &:focus {
                color: $navbar-offcanvas-link-hover-color;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-offcanvas-link-disabled-color;
                background-color: $navbar-offcanvas-link-disabled-bg;
            }
        }
    }
}

// Darken the responsive nav toggle
.navbar-toggle {
    border-color: $navbar-offcanvas-toggle-border-color;
    &:hover,
    &:focus {
        background-color: $navbar-offcanvas-toggle-hover-bg;
    }
    .icon-bar {
        background-color: $navbar-offcanvas-toggle-icon-bar-bg;
    }
}

.navbar-collapse,
.navbar-form {
    border-color: darken($navbar-offcanvas-bg, 7%);
    border: 0;
    @include box-shadow(none);
    padding: 0;
}

// Dropdowns
.navbar-nav {
    a {
        border-color: rgba(0, 0, 0, 0.1);
        &:hover,
        &:focus {
            background-color: $navbar-offcanvas-link-hover-bg;
        }
    }
}
.dropdown > a:hover .caret {
    border-top-color: $navbar-offcanvas-link-hover-color;
    border-bottom-color: $navbar-offcanvas-link-hover-color;
}
.dropdown > a .caret {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    top: 15px;
    @include rtl-right(20px);
    position: absolute;
    color: $black;
    &:before {
        content: "\f105";
        color: $black;
        @include font-size(font-size,$font-size-base);
        font-family: $theme-font-icon-name;
    }
}
.dropdown-menu{
    display: block;
    padding: 10px;
    float: none;
    width: percentage(1);
    visibility: hidden;
    @include opacity(0);
    @include transition(all .25s ease);
    background: lighten($navbar-offcanvas-bg, 10%);
    .caret{
        top: 5px;
    }
}

@media (max-width: $screen-xs-max) {
    .open .dropdown-menu {
        @include opacity(1);
        visibility: visible;
        > .dropdown-header {
            border-color: $navbar-offcanvas-border;
        }
        > li > a {
            color: $navbar-offcanvas-link-color;
            &:hover,
            &:focus {
                color: $navbar-offcanvas-link-hover-color;
                background-color: $navbar-offcanvas-link-hover-bg;
            }
        }
        > .disabled > a {
            &:hover,
            &:focus {
                color: $navbar-offcanvas-link-disabled-color;
                background-color: $navbar-offcanvas-link-disabled-bg;
            }
        }
    }
}

.navbar-link {
    color: $navbar-offcanvas-link-color;
    &:hover {
      color: $navbar-offcanvas-link-hover-color;
    }
}

// The Wrapper
.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
.comment-form-comment textarea#comment{
  width: 100%;
}

// .carousel-control
.carousel-control{
  font-size: 25px;
  width: auto;
  height: auto;
  margin-bottom: 0;
  background: transparent !important;
  color: #acacac;
  &:hover{
    i{
      color: $theme-color;
    }
  }
}