/************************************************************************************************
    BLOCK HEADER 
*************************************************************************************************/
.rtl{
    .bin-header.header-2 .top-header .topbar-menu aside:first-child{
        border-left: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
    .bin-header.header-2 .top-header .right .wrapper-box > div:last-child{
        border-right: 1px solid rgba(255, 255, 255, 0.5) !important;
    }
    .bin-search{
        .container{
            max-width: 100%;
        }
    }
    .bingo-menu-wrapper{
        .navbar-header {
            float: right;
        }
    }
    .bin-header.header-2 .top-header .topbar-menu .widget-title::before{
        padding-left: 0 !important;
        padding-right: 7px !important;
    }
    .bin-header.header-2 .categories-menu .menu > li.level-0:first-child > a{
        padding-left: 30px !important;
    }
    .bin-header.header-2 .categories-menu .menu > li.level-0:last-child > a{
        padding-right: 30px !important;
    }
}
.#{$app-prefix}-header {
    margin-bottom: $header-margin-bottom;
    position: relative;
    z-index: 9999;
    background: transparent;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    .header-content{
        position: relative;
        padding: 30px 0 40px;
        @include transition(all .3s ease 0s);
        .bingoHeaderLeft{
            @include rtl-float-left();
            display: block;
        }
        .menu-box {
            color: #252525;
            @include rtl-text-align-left();
            position: relative;
            cursor: pointer;
            .display-dropdown {
                display: none;
                position: absolute;
                top: 87px;
                background: #fff;
                min-width: 250px;
                padding: 10px;
            }
            .widget_product_categories {
                margin: 0;
            }
            .product-categories {
                list-style: none;
                padding: 15px;
                background: $theme-color;
                li {
                    position: relative;
                    display: block;
                    line-height: 30px;
                    a {
                        color: $text-color;
                        font-size: 13px;
                    }
                    ul {
                        background: $theme-color;
                        padding: 10px 20px;
                        visibility: hidden;
                        position: absolute;
                        left: 100%;
                        top: 0;
                        list-style: none;
                    }
                }
            }
        }
        .search-box {
            color: $white;
            position: relative;
            z-index: 2;
            left: 0;
            display: inline-block;
            width: auto;
            height: auto;
            .search-toggle {
                display: block;
                i{
                    cursor: pointer;
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 20px;
                }
            }
            &:hover{
                color: $theme-color;
            }
        }
        .binAccount{
            position: relative;
            display: inline-block;
            >.bin-icon{
                font-size: 23px;
                display: block;
                i{
                    line-height: 50px;
                    width: 53px;
                    height: 50px;
                    text-align: center;
                }
            }
            &:hover{
                >.bin-icon i{
                    color: $theme-color;
                }
            }
            .menu{
                position: absolute;
                top: 100%;
                @include rtl-right(-43px);
                min-width: 260px;
                background: $white;
                padding: 16px 0;
                z-index: 3;
                border-top: 3px solid $theme-color;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.5s ease-in-out);
                li{
                    padding: 0;
                    list-style: none;
                    a{
                        display: block;
                        padding: 8px 28px;
                        color: $text-color-third;
                        line-height: 20px;
                        text-transform: capitalize;
                        i{
                            @include rtl-margin-right(7px);
                        }
                        &:hover{
                            color: $theme-color;
                        }                     
                    }
                }
            }
            &:hover{
                .bin-icon{
                    cursor: pointer;
                }
                .menu{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .widget{
                margin-bottom: 0;
            }
        }
        .bingoCartTop {
            text-align: center;
            display: inline-block;
            @include rtl-margin-left(21px);
            #cart {
                @include rtl-text-align-left;
                position: relative;
                display: block;
                line-height: 20px;                            
            }
        }
    }
    .bin-navigation ul > li.level-0 > a{
        &:hover{
            color: $theme-color;
        }
    }
    &.header-4,
    &.header-3,
    &.header-1{
        .widget.widget-woocommerce-currency-switcher{
            .chosen-container-single .chosen-single{
                border: 0;
                background: transparent;
                border-radius: 0;
                box-shadow: none;
                color: $white;
                @include rtl-margin-right(15px);
                span{
                    color: #acacac;
                }
                div b{
                    background: transparent !important;
                    &::before{
                        content: "\eb5a";
                        font-family: "IcoFont" !important;
                        margin-left: 5px;
                        color: #acacac;                       
                    }
                }
                span{
                    @include rtl-margin-right(15px);
                }
            }
        }
        .chosen-container{
            min-width: 95px;
            &:focus{
                outline: none;
            }
            .chosen-drop{
                border-radius: 0;
                border: 0;
                margin-top: 10px;
                box-shadow: none;
                .chosen-results{
                    overflow-x: visible;
                    overflow-y: visible;
                    margin: 0;
                    padding: 8px 15px;                  
                    li{
                        color: #464646;
                        @include transition(all 0.3s ease-in-out);
                        border-bottom: 1px solid #e1e1e1;
                        padding-bottom: 7px;
                        margin-bottom: 7px;
                        &:last-child{
                            border: 0;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                        &:hover{
                            background: $white;
                            color: $theme-color;
                            @include rtl-padding-left(15px);
                        }
                        &.highlighted{
                            background: $white;
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    /* Header 2 */
    &.header-2{
        background: $white;
        border-bottom: 0;
        .widget.widget-woocommerce-currency-switcher{
            margin-bottom: 0;
            .chosen-container-single .chosen-single{
                border: 0;
                background: transparent;
                border-radius: 0;
                box-shadow: none;
                color: $white;
                @include rtl-margin-right(0px);
                span{
                    &::before{
                        content: "\f155";
                        font-family: FontAwesome;
                        padding-right: 7px;
                    }
                }
                div{
                    display: none;
                }
                span{
                    @include rtl-margin-right(15px);
                }
            }
        }
        .chosen-container{
            min-width: 95px;
            padding: 13.5px 12px;
            &:focus{
                outline: none;
            }
            .chosen-drop{
                border-radius: 0;
                border: 0;
                margin-top: 10px;
                -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
                .chosen-results{
                    overflow-x: visible;
                    overflow-y: visible;
                    margin: 0;
                    padding: 8px 15px;                  
                    li{
                        color: #464646;
                        @include transition(all 0.3s ease-in-out);
                        border-bottom: 1px solid #e1e1e1;
                        padding-bottom: 7px;
                        margin-bottom: 7px;
                        &:last-child{
                            border: 0;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                        &:hover{
                            background: $white;
                            color: $theme-color;
                            @include rtl-padding-left(15px);
                        }
                        &.highlighted{
                            background: $white;
                            color: $theme-color;
                        }
                    }
                }
            }
        }        
        .no-menu{
            color: $black;
        }
        #cart .icon-shop{
            color: $white;
            &:hover{
                opacity: 0.8;
            }
        }
        .top-header{
            background: $theme-color;
            color: $white;
            .topbar-menu{
                aside{
                    position: relative;
                    display: inline-block;
                    @include rtl-float-left();
                    border-left: 1px solid rgba($white, 0.5);
                    border-right: 1px solid rgba($white, 0.5);
                    margin-bottom: 0;
                    &:hover{
                        .widget-title{
                            cursor: pointer;
                        }
                        .menu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                aside:first-child{
                    border-right: 0;
                    .widget-title{
                        &::before{
                            content: "\f155";
                            font-family: FontAwesome;
                            @include rtl-padding-right(7px);
                        }
                    }
                }
                .widget-title{
                    padding: 17.5px 22px;
                    font-size: 14px;
                    margin: 0;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: $white;
                    font-family: inherit;
                    &::before{
                        content: "\f024";
                        font-family: FontAwesome;
                        @include rtl-padding-right(7px);
                    }
                }
                .menu{
                    position: absolute;
                    top: 100%;
                    @include rtl-left(-1px);
                    background: $white;
                    width: 100%;
                    display: inline-block;
                    padding: 8px 15px;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 10;
                    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
                    @include transition(all 0.3s ease-in-out);
                    li{
                        padding-bottom: 0;
                        border-bottom: 1px solid $theme-border-color;
                        padding-bottom: 7px;
                        margin-bottom: 7px;
                        list-style: none;
                        &:last-child{
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: 0;
                        }
                        &:hover{
                            a{
                                @include rtl-padding-left(10px);
                            }
                        }
                        a{
                            text-transform: uppercase;
                            display: block;
                            font-size: 12px;
                        }
                    }
                }
            }
            .right{
                .wrapper-box{
                    display: inline-block;
                    @include rtl-float-right;
                    >div{
                        display: inline-block;
                        @include rtl-float-left();
                        padding: 0px 25px;
                        @include rtl-border-left(1px solid rgba($white, 0.5));
                        &.welcome-msg,
                        &.binAccount{
                            padding: 0px 20px;
                        }
                        &:last-child{
                            @include rtl-border-right(1px solid rgba($white, 0.5))
                        }
                        &:first-child{
                            @include rtl-border-left(0)
                        }
                    }
                }
            }
            .welcome-msg{
                a{
                    line-height: 50px;
                    position: relative;
                    color: $white;                   
                    &::before{
                        content: "\f086";
                        font-family: FontAwesome;
                        @include rtl-padding-right(8px);
                    }
                    &:hover{
                        color: rgba($white, 0.7);
                    }
                }
            }
            .binAccount{
                position: relative;
                height: 50px;
                &:hover{
                    cursor: pointer;
                    .menu{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .bin-icon{
                    line-height: 50px;
                    font-size: 23px;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        color: rgba($white, 0.7);
                    }
                }
                aside{
                    margin-bottom: 0;
                }
                .menu{
                    position: absolute;
                    top: 100%;
                    @include rtl-left(-161px);
                    min-width: 260px;
                    background: $white;
                    padding: 16px 0;
                    z-index: 3;
                    border-top: 3px solid $theme-color;
                    opacity: 0;
                    margin-top: 0;
                    visibility: hidden;
                    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
                    @include transition(all 0.5s ease-in-out);
                    li{
                        padding: 0;
                        list-style: none;
                        a{
                            display: block;
                            padding: 8px 28px;
                            color: $text-color-third;
                            line-height: 20px;
                            text-transform: capitalize;
                            i{
                                @include rtl-margin-right(7px);
                            }
                            &:hover{
                                color: $theme-color;
                            }                     
                        }
                    }
                }               
            }
            .bingoCartTop{
                .cart-icon{
                    line-height: 48px;
                }
                #cart .mini-cart-items{
                    bottom: 23px;
                    background: $text-color;
                    color: $white;
                }
                #cart .cart-popup{
                    top: 49px;
                    @include rtl-right(-21px);
                }          
            }
        }
        .content-head{
            padding: 32px 0;
            aside{
                margin-bottom: 0;
            }
            .bingo-menu-wrapper{
                &:focus{
                    .main_navigation{
                        outline: none
                    }
                }
                .navbar-toggle{
                    display: block;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    height: 50px;
                    line-height: 50px;
                    background: $white;
                    .icon-bar{
                        background: $text-color;
                        @include transition(all 0.3s ease-in-out);
                    }
                    &:hover{
                        .icon-bar{
                            background: $theme-color;
                        }
                    }
                }
            }
            
        }
        .email-box{
            color: #464646;
            span{
                @include rtl-float-left;
                em{
                    @include rtl-float-left;
                    font-style: inherit;
                    line-height: 100%;
                    margin-top: 5px;
                }
                span{
                    clear: both;
                    font-size: 24px;
                    color: $theme-color;
                    font-weight: bold;
                    font-family: $font-family-second;
                    line-height: 100%;
                    margin-top: 4px;
                }  
            }
            .img{
                @include rtl-margin-right(20px);
                margin-top: 5px;
            }
        }
        .search-box{
            width: 100%;
            margin-top: 5px;
            input[type="text"]{
                height: 40px;
                padding: 5px 15px;
                border: 0;
                background: #f3f3f3;
                width: 100%;
                color: $text-color;
            }
            .container{
                padding: 0;
            }
            button[type="submit"]{
                padding: 0;
                font-size: 18px;
                color: $text-color;
                height: 40px;
                top: auto;
                bottom: 0;
                @include rtl-right(8px);
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    color: $theme-color
                }
            }
        }
        .categories-menu{
            border-top: 1px solid $theme-border-color;
            .menu{
                position: relative;
                padding-left: 0;
                padding-right: 0;
                >li.level-0{
                    padding-top: 17px;
                    padding-bottom: 18px;
                    display: inline-block;
                    >a{
                        color: #464646;
                        line-height: 26px;
                        padding: 0;
                        font-family: $font-family-second;
                        font-weight: normal;
                        padding: 6px 30px;
                        text-transform: uppercase;
                        @include rtl-border-left(1px solid $theme-border-color);    
                        &:hover{
                            color: $theme-color;
                        }
                        .menu-img{
                            @include rtl-margin-right(18px);
                            img{
                                vertical-align: top;
                            }
                        }
                    }
                    &:first-child{
                        >a{
                            @include rtl-padding-left(0);
                            @include rtl-border-left(0);
                        }
                    }
                    &:last-child{
                        >a{
                            @include rtl-padding-right(0);
                        }
                    }
                }
            }
        }
    }
    &.header-3{
        position: static;
        background: $theme-color;
        display: block;
        width: 100%;
        .header-content{
            padding: 50px 0 0 0;
            >.row{
                display: table;
                width: 100%;
                margin: 0;
                >div{
                    display: table-cell;
                    vertical-align: middle;
                    float: none;
                    padding: 0;
                }       
            }
        }
        .header-content__middle{
            text-align: center;
        }
        .header-content__left{
            .bin-search{
                width: 100%;
                input[type="text"]{
                    width: 100%;
                    display: inline-block;
                    border: 0;
                    background: transparent;
                    color: #111;
                    @include placeholder(#111);
                    padding: 0px 0px 0px 45px;
                    line-height: 40px;
                }
                .search-from .btn{
                    right: auto;
                    left: 0;
                    top: 11px;
                    margin-top: 0;
                    padding: 0;
                    border: 0;
                    font-size: 18px;
                    color: #111;
                    i::before{
                        content: "\edef";
                        font-family: 'IcoFont'!important
                    }
                    &:hover{
                        color: $white;
                    }
                }
                .container{
                    width: 100%;
                    padding: 0;
                }
            }
        }
        .header-content__right{
            @include rtl-text-align-right();
            #cart{
                .mini-cart-items{
                    background: $white;
                }
                .icon-shop{
                    color: $text-color;
                    &:hover{
                        color: $white;
                    }
                }
            }
            .binAccount{
                .menu{
                    @include rtl-text-align-left();
                }
                .bin-icon{
                    color: $text-color;
                    font-size: 18px;
                }
            }
            .binAccount:hover > .bin-icon i{
                color: $white;
            }
        }
        .bingo-menu-wrapper{
            margin-top: 56px;
            background: #111;
            .menu{
                display: inline-flex;
                .sub-menu{
                    @include rtl-text-align-left();
                }
                li a{
                    font-family: $font-family-second;
                }
            }
            .bin-navigation ul > li.level-0{
                &.current-menu-parent{
                    >a{
                        color: $theme-color;
                    }
                    .current-menu-item{
                        >a{
                            color: $theme-color;
                        }
                    }
                }
                &.menu-item-has-children{
                    >a{
                        &::after{
                            content: "\eb5a";
                            font-family: 'IcoFont'!important;
                            @include rtl-margin-left(14px);
                        }
                    }
                }
                margin: 0px 25px;
                >a{
                    padding: 0px;
                    line-height: 70px;
                }
            }
        }
    }
    &.header-4{
        position: static;
        display: block;
        .bingo-menu-wrapper .bin-navigation ul > li.level-0.current-menu-parent .current-menu-item > a,
        .bingo-menu-wrapper .bin-navigation ul > li.level-0.current-menu-parent > a{
            color: $theme-color;
        }
        .bin-navigation ul > li.level-0 > a{
            color: #464646;
            font-weight: bold;
            padding: 18px 20px 12px 20px;
        }
        .header-content .search-box{
            color: #464646;
        }
        #cart .icon-shop,
        .binAccount{
            color: #464646;
            &:hover{
                color: $theme-color;
            }
        }
        .header-content .row{
            display: table;
            margin: 0;
            width: 100%;
            >div{
                display: table-cell;
                float: none;
                padding: 0;
                vertical-align: middle;
            }
        }
    }

    /* // Menu Fixed */
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-large-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all .6s ease 0s);
        .logo{
            margin: $theme-margin 0;
        }
        .navbar-mega{
            .navbar-nav > li > a{
                line-height: 55px;
            }
        }
        .search-from{
            top: 22px;
            @include rtl-right(40px);
        }
        .top-cart{
            @include rtl-right(90px);
            top: 23px;
        }
    }
    
    #primary-navigation {

    }
    &.header-sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        #bin-topbar {
            display: none;
        }
        .header-content {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #cart .cart-popup {
            top: 41px;
        }
        .menu-box {
            .display-dropdown {
                top: 63px !important;
            }
        }
    }
}
.bingoHeaderRight{
    @include rtl-text-align-right;
    >div{
        @include rtl-text-align-left;
    }
}
.logged-in{
    .bin-header.sticky{
        top: 32px;
    }
}
.bin-header.sticky{
    top: 32px;
    .bingoLogo-sticky{
        display: inline-block !important;
    }
    &.header-4 .header-content{
        padding: 20px 0;
    }
    &.header-3{
        background: $theme-color;
        .header-content{
            padding: 0;
        }
        .header-content > .row{
            display: none;
        }
        .bingo-menu-wrapper{
            margin-top: 0;
        }
    }
}


/************************************************************************************************
    SICKEY MENU
*************************************************************************************************/ 
.bin-header.sticky{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 900;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    top: 0;
    @include transition(all .3s ease 0s);
    #bin-topbar{ display: none; }
}
.page-template-homepage{
    .page-title.bin-title{
        display: none;
    }
}


/*  */
/* Header Home 1 */
.page-id-28{
    .page-wrapper{
        position: relative;
        .header-1{
            position: absolute;
            display: inline-block;
            width: 100%;
            border-bottom: 0;
            background: transparent;
        }
    }
    #bin-topbar{
        background: rgba($black, 0.3);
    }
    #cart .mini-cart-items{
        background: $theme-color;
        color: $text-color;
    }
}
.home{
    .bin-header{
        color: $white;
    }
    #cart .icon-shop{
        color: $white;
    }
    .bin-header .header-content .search-box,
    .bin-header .bin-navigation ul > li.level-0 > a{
        color: $white;
        &:hover{
            color: $theme-color;
        }
    }
}

/* Sticky Menu */
.header-1{
    .bingoLogo-sticky{
        display: none;
    }   
    &.sticky-header{
        &.sticky{
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            display: inline-block;
            width: 100%;
            background: rgba($black, 0.75);
            .bingoLogo-sticky{
                display: block;
            }
            .header-content{
                padding: 15px 0 15px 0;
            }
            .bingoHeaderLeft{
                .bingoLogo-sticky{
                    @include flexbox;
                    align-items: center;
                    height: 51px;
                }
            }
        }
    }
}
.header-2{
    .bingoLogo-sticky{
        display: none;
    }   
    &.sticky-header{
        &.sticky{
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            display: inline-block;
            width: 100%;
            background: $white;
            .top-header{
                display: none;
            }
            .bingoLogo-sticky{
                display: block;
                @include flexbox;
                align-items: center;
                height: 50px;
            }
            .content-head {
                padding: 5px 0;
            }
        }
    }
}

/* Max Width 1200px  */
@media (max-width: 1199px){
    
    #bin-main{
        overflow-y: hidden;
    }
    .bin-header.header-2 .categories-menu .menu > li.level-0 > a{
        font-size: 12px;
        padding: 6px 17px;
    }
    .bin-header.header-2 .content-head {
        padding: 20px 0;
    }
    .bin-header.header-2 .top-header .topbar-menu .widget-title{
        padding: 12.5px 22px;
        font-size: 12px;
    }
    .bin-header.header-2 .top-header .binAccount .bin-icon,
    .bin-header.header-2 .top-header .welcome-msg a {
        line-height: 40px;
    }
    .bin-header.header-2 .top-header .binAccount {
        height: 40px;
    }
    .bin-header.header-2 .top-header .bingoCartTop .cart-icon {
        line-height: 38px;
    }
    .bin-header.header-2 .top-header .bingoCartTop #cart .mini-cart-items{
        bottom: 20px;
    }

}
/* Max Width 1023px  */
@media (max-width: 1023px){
    .bin-header.header-3 .header-content {
        padding: 35px 0 0 0;
    }
}
/* Max Width 991px  */
@media (max-width: 991px){
    .header-4{
        .navbar-default .navbar-toggle{
            margin: 0 auto !important;
            .icon-bar{
                background: $theme-color;
            }
        }
        &.bin-header .header-content > .row .bingoHeaderLeft{
            @include rtl-text-align-left();
        }
    }
    .bin-header.header-2{
        .categories-menu .menu > li.level-0 > a .menu-img{
            @include rtl-margin-right(8px);
        }
        .categories-menu .menu > li.level-0 > a .menu-img img {
            vertical-align: text-top;
            width: 18px;
        }
        .categories-menu .menu > li.level-0 > a {
            padding: 0px 8px;
        }
        .email-box span span{
            font-size: 20px;
        }
        .email-box .img{
            @include rtl-margin-right(15px);
        }
        .top-header .bingoCartTop #cart .cart-popup{
            top: 40px;
        }
        .bin-navigation ul > li.level-0.menu-item-has-children::before{
            display: none;
        }
    }
    #bin-header.bin-header.header-2{
        .bin-navigation ul > li.level-0 > .sub-menu{
            position: static !important;
            display: none;
            .sub-menu{
                display: none;
            }
        }
        .bin-navigation ul > li.level-0.mega-menu > .sub-menu {
            width: 100%;
        }
    }
    .bin-header.header-3 .bingo-menu-wrapper{
        margin-top: 25px;
    }
    .bin-header.header-3 .bingo-menu-wrapper .menu{
        width: 100%;
        display: inline-block;
    }
    .bin-header.header-3 .bingo-menu-wrapper .bin-navigation ul > li.level-0 {
        margin: 0;
    }
    .bin-header.header-3 .bingo-menu-wrapper .bin-navigation ul > li.level-0 > a{
        @include rtl-text-align-left();
        line-height: 100%;
        padding: 15.5px 19px 15.5px 0;
    }
    .bin-header.header-3 .bingo-menu-wrapper .bin-navigation ul > li.level-0.menu-item-has-children > a::after{
        display: none;
    }
    .bin-header .bin-navigation ul > li.level-0.mega-menu .sub-menu li.level-1 li.level-2 > a{
        font-size: 13px;
    }
}
/* Max Width 767px  */
@media (max-width: 767px){
    .bin-header.header-3 .header-content .header-content__left{
        display: none !important;
    }
    .bin-header.header-3 .header-content > .row > div{
        display: inline-block;
        width: 50%;
        @include rtl-float-left();
    }
    .bin-header.header-3 .header-content {
        padding: 20px 0 0 0;
    }
    .bin-header.header-3 .bingo-menu-wrapper {
        margin-top: 20px;
    }
    .bin-header.header-3 .header-content__middle{
        @include rtl-text-align-left();
    }
    .bin-header.header-2{
        .search-box{
            line-height: 40px;
            margin-top: 15px;
            height: auto;
            @include rtl-margin-left(37px);
            width: calc(100% - 37px);
        }
        .search-box button[type="submit"] {
            bottom: 0px;
            @include rtl-right(14px);
        }
        .bingoLogo{ 
            @include rtl-text-align-right();
        }
        .content-head {
            padding: 15px 0 10px 0;
        }
        .content-head .bingo-menu-wrapper .navbar-toggle{
            float: none;
            margin: auto;
        }
        .email-box span span {
            font-size: 24px;
        }
        .categories-menu{
            border-top: 0;
            border-bottom: 0 !important;
            color: $text-color;
            .btn-categories{
                position: absolute;
                bottom: 15px;
                @include rtl-left(15px);
                font-size: 21px;
                @include transition(all 0.3s ease-in-out);
                &:focus,
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .top-header .topbar-menu .widget-title {
            padding: 12.5px 15px;
        }
        .wrapper-categories{
            position: fixed;
            top: 0px;
            left: 0;
            background-color: #fff;
            bottom: 0px;
            width: 280px;
            padding: 50px 15px 10px 15px;
            z-index: 999999;
            overflow-x: hidden;
            overflow-y: auto;
            visibility: hidden;
            opacity: 0;
            -webkit-transform: translate3d(-280px, 0, 0);
            transform: translate3d(-280px, 0, 0);
            -webkit-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
            max-height: 100%;
            height: 100%;
            &.bin-active{
                opacity: 1;
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);                
            }
            .remove-megamenu{
                display: block;
                color: $text-color;
                position: absolute;
                padding: 0;
                top: 15px;
                @include rtl-right(20px);
                font-size: 20px;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    color: $theme-color;
                }
            }
            .menu > li.level-0{
                width: 100%;
                border-bottom: 1px solid $theme-border-color;
                &:last-child{
                    border-bottom: 0;
                }
                > a{
                    font-size: 14px;
                    border: 0;
                    padding: 0;
                    .menu-img {
                        margin-right: 15px;
                        img{
                            width: auto;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
    }
    #bin-topbar .topbar-menu,
    #bin-topbar .topbar-menu .widget-title{
        display: none;
    }
}
/* Max Width 599px  */
@media (max-width: 599px){
    .bin-header.header-2{
        .top-header .right .wrapper-box > div.welcome-msg{
            display: none;
        }
        .top-header .topbar-menu .widget-title {
            padding: 12.5px 12px;
        }
        .top-header .row{
            .left{
                width: calc(100% - 150px);
            }
            .right{
                width: 150px; 
            }
        }
        .content-head{
            .row{
                >.col-sm-2.middle{
                    position: absolute;
                    top: 15px;
                    @include rtl-left(13px);
                    width: 22px;
                    padding: 0;
                    z-index: 9;
                }
                >.col-sm-4.middle,
                >.left{
                    width: 50%;
                }
            }
            .navbar-toggle .icon-bar + .icon-bar {
                margin-top: 3px;
            }
            .navbar-toggle .icon-bar {
                width: 19px;
                height: 3px;
            }
            aside{
                margin-top: 6px;
            }
        }
        .email-box span em{
            font-size: 13px;
        }
        .email-box span span {
            font-size: 18px;
        }
        .top-header .binAccount .bin-icon{
            font-size: 18px;
        }
        .content-head .row > .col-sm-4.middle,
        .content-head .row > .left{
            width: 100%;
            text-align: center;
        }
        .content-head .row > .col-sm-4.middle{
            margin-top: 5px;
            aside{
                display: inline-block;
            }
        }
        .bingoLogo{
            text-align: center;
        }
        .content-head {
            padding: 5px 0 5px 0;
        }
        .search-box {
            @include rtl-margin-left(0);
            width: 100%;
            margin-top: 5px;
        }
        .categories-menu .btn-categories{
            bottom: 115px;
            @include rtl-left(auto);
            @include rtl-right(15px);
        }
    }
}
/* Max Width 479px  */
@media (max-width: 479px){
    #bin-topbar .list-socials-link{
        display: none !important;
    }
    #bin-topbar .row >div{
        width: 50%;
    }
    .bin-header.header-3 .header-content .binAccount > .bin-icon i{
        height: 43px;
        line-height: 43px;
    }
    .bin-header.header-2{
        .content-head .row > .col-sm-4.middle{
            margin-top: 10px;
        }
        .bin-header.header-2 .content-head {
            padding: 10px 0 5px 0;
        }
    }
    .bin-header.header-2 .top-header .bingoCartTop #cart .mini-cart-items {
        bottom: 12px;
    }
}
/* Max Width 414px  */
@media (max-width: 414px){
    .bin-header.header-3 .header-content__right #cart .icon-shop{
        line-height: 43px;
        font-size: 20px;
    }
    .bin-header.header-3 #cart .mini-cart-items{
        bottom: 22px;
    }
    .bin-header.header-3 .wp-top {
        display: block !important;
    }
    .bin-header.header-2{
        .top-header .topbar-menu .widget-title {
            padding: 8.5px 5px;
        }
        .top-header .binAccount {
            height: 31px;
        }
        .top-header .binAccount .bin-icon{
            line-height: 31px;
        }
        .top-header .bingoCartTop .cart-icon {
            line-height: 30px;
        }
        .bin-header.header-2 .top-header .bingoCartTop #cart .mini-cart-items {
            bottom: 13px;
        }
        .top-header .right .wrapper-box > div {
            padding: 0px 14px;
        }
        .bin-header.header-2 .top-header .bingoCartTop #cart .cart-popup {
            top: 31px;
        }
        .top-header .binAccount .menu {
            @include rtl-left(-185px);
        }
        .top-header .row .right {
            width: 130px;
        }
        .top-header .row .left {
            width: calc(100% - 130px);
            padding-right: 0;
        }
    }
}

.bin-head-default{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(243, 243, 243);
    .bin-navigation ul > li.level-0{
        float: left;
    }
    .bin-navigation ul > li.level-0 > a{
        color: #252525;
        &:hover{
            color: $theme-color;
        }
    }
    .bin-navigation ul > li.level-0 .sub-menu li.level-1{
        position: relative;
        display: inline-block;
        > a{
            display: block;
        }
        &:hover{
            .sub-menu{
                opacity: 1;
                visibility: visible;
                left: 100%;
            }
        }
    }
    .bin-navigation ul > li.level-0 .sub-menu li.level-1 .sub-menu{
        position: absolute;
        background: #f5f5f5;
        left: 130%;
        top: 0;
        display: inline-block;
        width: 100%;
        padding: 15px 25px;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s ease-in-out);
    }
}
.bin-navigation ul > li.level-0{
    @include rtl-float-left();
}

.rtl{
    .bin-header.header-3 .bingo-menu-wrapper .bin-navigation ul > li.level-0.menu-item-has-children > a::after{
        float: left;
    }
    .bin-header.header-3 .header-content__left .bin-search input[type="text"]{
        padding-left: 0;
        padding-right: 40px;
    }
    .bin-header.header-3 .header-content__left .bin-search .search-from .btn{
        left: auto;
        right: 0;
    }
    .chosen-container-single .chosen-single div{
        right: auto;
        left: 0;
    }
    .title-block-2 h2::before{
        left: auto;
        right: 0;
    }
    .title-block-2.title-block-2--center h2::before{
        left: 50%;
        right: auto;
    }
    .title-block-2.title-block-2--right h2::before{
        left: 0;
        right: auto;        
    }
    .section-footer3-2{
        .wpb_single_image.vc_align_left{
            text-align: right;
        }
    }
    #bin-footer.footer-3 .bin-social-network ul{
        padding: 0;
    }
    #bin-footer.footer-3 .bin-social-network ul li:first-child{
        padding-left: 11px !important;
    }
    #bin-footer.footer-3 .bingo-newsletter-3 .content-newsletter input[type="email"]{
        padding: 0px 0px 0px 80px;
        text-align: right;
    }
    .bin-recent-post.layout-noslider article.post-list:nth-child(2n) .post-thumbnail{
        float: left;
    }
    .bin-recent-post.layout-noslider article.post-list:nth-child(2n) .post-content{
        float: right;
        padding: 0px 0px 0px 70px;
    }
    .bin-recent-post.layout-noslider article.post-list:nth-child(2n) .entry-title::before{
        left: auto !important;
        right: calc(100% + 23px) !important;
    }
    .bin-recent-post.layout-noslider article.post-list:nth-child(2n) .post-content{
        text-align: left;
    }
}