

/************************************************************************************************
    BLOCK TOP BAR  
*************************************************************************************************/  

##{$app-prefix}-topbar{
    min-height: 40px;
    background: rgba($black, 0.7);
    padding: 10px 0;
    color: $white;
    .wp-top{
        display: inline-block;
        @include rtl-float-right;
    }
    .topbar-message{
        color: #acacac;
    }
    .list-socials-link{
        @include inline-flex;
        padding: 0;
        li{
            float: left;
            display: inline-block;
            a{
                color: #acacac;
                padding: 0px 10px;
                line-height: 20px;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .login-top{
        @include rtl-float-left;
        button[type="button"].bin-btn{
            @include rtl-float-left;
            display: block;
            background: $theme-color;
            color: $text-color;
            line-height: 19px;
            padding: 0px 10px;
            text-transform: none;
            @include rtl-margin-right(7px);
            &:focus{
                outline: none;
            }
            &:hover{
                color: $white;

            }
        }
        .modal{
            top: calc(50% - 210px);
        }         
        .modal-dialog{           
            border: 0;
            width: 480px;
            .bin-modal{
                border: 0;
                border-radius: 10px;
                .bin-modal-head{
                    padding: 44px 50px;
                    border-bottom: 0;
                    position: relative;
                    .close{
                        position: absolute;
                        top: 7px;
                        @include rtl-right(20px);
                        color: $theme-color;
                        margin: 0;
                        font-size: 32px;
                        @include transition(all 0.3s ease-in-out);
                        &:hover{
                            color: $text-color;
                        }
                    }
                    .modal-title{
                        font-size: 32px;
                        font-weight: 700;
                        margin-top: 0;
                        color: #111111;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
            .bin-modal-body{
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 0;
                color: $text-color;
                .lost_password{
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 28px;
                    >p{
                        width: 50%;
                        @include rtl-float-left;
                        margin-bottom: 0;
                        input{
                            margin-top: 0;
                            vertical-align: middle;
                            @include rtl-margin-right(5px);
                        }
                        label{
                            text-transform: capitalize;
                            color: #acacac;
                            @include rtl-float-left;
                            font-weight: 400;
                            font-size: 13px;
                        }
                        a{
                            @include rtl-float-right;
                        }
                    }
                }
                >p{
                    color: #111111;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 16px;
                    font-family: $font-family-second;
                }
                .login-username{
                    margin-bottom: 24px;
                }
                .login-password{
                    margin-bottom: 14px;
                }
                p{
                    display: inline-block;
                    width: 100%;
                    input[type="password"],
                    input[type="text"]{
                        width: 100%;
                        height: 37px;
                        margin-bottom: 10px;
                        color: $text-color;
                        @include placeholder($theme-border-color);
                        border: 0;
                        padding-left: 0;
                        border-bottom: 1px solid $theme-border-color;                       
                        &:focus{
                            border-color: $theme-color;
                        }
                    }
                    a{
                        color: #008bbf;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                input[type="submit"]{
                    @include input-button();
                    font-family: $font-family-second;
                    padding: 17.5px 25px;
                    @include rtl-float-left;
                    width: 100%;
                    font-size: 18px;
                    font-family: $font-family-second;
                    font-weight: bold;
                }
            }
        }
    }
    .sign-up-top{
        @include rtl-float-left;
        display: inline-flex;
        a{
            line-height: 19px;
            border: 1px solid $theme-color;
            color: $theme-color;
            padding: 0px 10px;
            text-transform: none;
            background: transparent;
            font-size: 12px;
            &:focus{
                outline: none;
            }
            &:hover{
                color: $white;
                background: $theme-color;
            }
        }
    }
    .sign-out-top{
        display: inline-block;
        @include rtl-float-left();
        color: #acacac;
        a{
            color: $theme-color;
        }
    }
    .topbar-menu{
        @include rtl-float-left;
        .widget{
            margin-bottom: 0;
            position: relative;
            display: inline-block;
            @include rtl-float-left();
            .menu{
                position: absolute;
                top: 100%;
                margin-top: 12px;
                @include rtl-left(-1px);
                background: $white;
                width: 100%;
                display: inline-block;
                padding: 8px 15px;
                opacity: 0;
                visibility: hidden;
                z-index: 10;
                @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
                @include transition(all 0.3s ease-in-out);
                li{
                    padding-bottom: 0;
                    border-bottom: 1px solid $theme-border-color;
                    padding-bottom: 7px;
                    margin-bottom: 7px;
                    list-style: none;
                    &:last-child{
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                    &:hover{
                        a{
                            @include rtl-padding-left(10px);
                        }
                    }
                    a{
                        text-transform: uppercase;
                        display: block;
                        font-size: 12px;
                    }
                }
            }
            &:hover{
                .menu{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .widget-title{
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            @include rtl-margin-right(15px);
            line-height: 20px;
            color: #acacac;
            position: relative;
            font-family: inherit;
            &::after{
                content: "\eb5a";
                font-family: 'IcoFont'!important;
                @include rtl-margin-left(5px);
            }
            &:hover{
                cursor: pointer;
                color: $theme-color;
            }
        }        
    }
    .topbar-message{
        span{
            line-height: 20px;  
        }
    }
}   


/************************************************************************************************
    BLOCK MENU 
*************************************************************************************************/
.#{$app-prefix}-menu-wrapper {
      border-top: 1px solid $border-color;
      border-bottom: 4px double $border-color;
      .container{display: table;}
      #primary-navigation{
        display: table-cell;
        vertical-align: middle;
      }
      .block-cart{
         display: table-cell;
         vertical-align: middle;
         @include rtl-text-align-right();
         .cart-popup {
            min-width: 320px;
            @include rtl-right(0);
            @include rtl-left(inherit);
            .cart_list {
                list-style: none;
            }
         }
      }
}

/************************************************************************************************
    BREADCRUMB
*************************************************************************************************/
#bin-main{
    .page-title{
        margin-bottom: 0;
        text-align: center;
        position: relative;
        h1{
            font-size: 32px;
            font-family: $font-family-second;
            font-weight: 600;
            color: $theme-color;
            margin-bottom: 20px;
            text-transform: uppercase;
            margin-top: 0;
            line-height: 30px;
            letter-spacing: 1px;
        }
        &.bin-title{
            padding: 210px 0 145px 0;
            background-size: cover;
            position: relative;
            .container{
                position: relative;
            }
        }
    }
}
.wrapper-body.no-title{
    #bin-main .page-title.bin-title{
        display: none;
    }
}
h1.bin-title-default{
    padding: 30px 0 0 0;
    margin: 0;    
}
.archive.woocommerce{
    #bin-main{
        .page-title h1{
            color: $white;
        }       
    }
    .bin-breadcrumb{
        color: $white;
        .delimiter{
            border-color: $white;
        }    
        a{
            color: $white;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
.#{$app-prefix}-breadcrumb{
    text-align: center;
    color: $theme-color;
    padding-left: 0;
    padding-right: 0;
    font-size: $breadcrumb-font-size;
    font-weight: 400;
    line-height: $breadcrumb-line-height;
    text-transform: capitalize;
    a{
        text-transform: capitalize;
        color: $theme-color;
        &:hover{
            color: $white;
        }
    }
    .delimiter {
        display: inline-block;
        margin: 0 9px 1px 9px;
        @include size(4px, 1px);
        border: 1px solid $theme-color;
        vertical-align: middle;
    } 
}
.breadcrumb{
    padding: 0;
    margin: 0;
    background:transparent;
    a{

    }
}

/* Slideshow -------------------------------------------------------------------------------------- */
.#{$app-prefix}-slideshow{
    .wpb-inner{
        margin-bottom: 0 !important;
    }
}
/* Content top */
.content-top {
    margin-bottom: 40px;
}
/* Container -------------------------------------------------------------------------------------- */
.#{$app-prefix}-main{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
    margin-bottom: 0 !important;
    .page-title{
      margin: $page-title-margin;
      @extend .blog-title;
      font-size: 20px;
      text-transform: uppercase;
    }
}

/* Content -------------------------------------------------------------------------------------- */
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}
/* Pagination -------------------------------------------------------------------------------------- */
.#{$app-prefix}-pagination{
    margin: 0;
}

/************************************************************************************************
    BLOCK FOOTER 
*************************************************************************************************/
.rtl{
    #bin-footer.footer-1 .section-footer1-1{
        >.vc_col-sm-2{
            float: right;
        }
    }
    .section-footer1-2{
        @include flexbox;
    }
}

.rtl{
    #bin-footer.footer-1 .section-footer1-1 .menu li:last-child a{
        margin-right: 22px;
        margin-left: 0;
    }
    #bin-footer.footer-1 .section-footer1-1 .menu li:first-child a{
        margin-left: 22px;
        margin-right: 0;
    }
}  
##{$app-prefix}-footer{ 
    @include box-size($footer-bg, $footer-padding-top, $footer-padding-bottom);
    position: relative;
    color: $footer-color;
    border-bottom: $footer-border;
    font-size: $footer-font-size;
    z-index: 2;
    padding-top: 81px;
    padding-bottom: 70px;
    &.footer-1{
        border-top: 1px solid #e1e1e1;
        .section-footer1-1{
            padding-bottom: 83px;
            .widget{
                margin-bottom: 0;
            }
            .wpb_content_element{
                margin-bottom: 0;
            }
            .bin-btn-1{
                margin-bottom: 0;
                @include rtl-float-right();
                a{
                    border: 0;
                    border-radius: 0;
                    background: $theme-color;
                    color: $theme-color-third;
                    font-family: $font-family-second;
                    line-height: 50px;
                    padding: 0px 25px;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        color: $white;
                    }
                }
            }
            a{
                display: block;
            }
            .menu{
                display: block;
                overflow: hidden;
                padding: 0 !important; 
                li{
                    display: inline-block;
                    @include rtl-float-left();
                    padding: 0;
                    a{
                        font-family: $font-family-second;
                        font-weight: 600;
                        margin: 0 22px;
                        line-height: 50px;
                        text-transform: uppercase;
                        color: $text-color;
                        &::before{
                            display: none !important;
                        }
                        &:hover{
                            color: $theme-color;
                            padding: 0 !important;
                        }
                    }
                    &:first-child a{
                        margin-left: 0;
                    }
                    &:last-child a{
                        margin-right: 0;
                    }
                }
            }
        }
        .section-footer1-2{
            padding-top: 39px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                height: 1px;
                left: 15px;
                right: 15px;
                top: -1px;
                display: inline-block;
                background: $theme-border-color;
            }
            .wpb_content_element{
                margin-bottom: 0;
            }
            .social-network{
                margin-left: 0;
                li{
                    padding: 0;
                    a{
                        color: $text-color;
                        @include rtl-margin-right(16px);
                        font-size: 14px;
                        line-height: 25px;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
            .bin-wraper-copyright{
                text-align: center;
                color: $text-color-second;
                .text-cpy{
                    margin-bottom: 21px;
                    line-height: 22px;
                    a{
                        color: $text-color-second;
                        &:hover{
                            color: $theme-color;
                        }
                    }  
                }
                .icon-cpy{
                    font-size: 18px;
                    margin-bottom: 0;
                    position: relative;
                    display: inline-block;
                    &:hover{
                      .info-box{
                        opacity: 1;
                        visibility: visible;
                        bottom: calc(100% + 15px);
                      }
                      span{
                        i{
                            color: $theme-color;
                            cursor: pointer;
                        }
                      }
                    }
                    .info-box{
                        position: absolute;
                        bottom: calc(100% + 50px);
                        left: 50%;
                        @include translateX(-50%);
                        background: $white;
                        width: 430px;
                        z-index: 3;
                        padding: 25px 30px;
                        opacity: 0;
                        visibility: hidden;
                        @include border-radius(10px);
                        @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.06));
                        @include transition(all 0.3s ease-in-out);
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -20px;
                            left: 50%;
                            @include translateX(-50%);                            
                            border: 10px solid transparent;
                            border-top: 10px solid $white;
                        }
                        .info{
                            border-bottom: 1px solid $theme-border-color;
                            padding-bottom: 12px;
                            margin-bottom: 15px;
                            h3{
                                font-family: $font-family-second;
                                text-transform: uppercase;
                                color: $theme-color;
                                font-weight: bold;
                                margin-top: 0;
                                margin-bottom: 11px;
                                font-size: 14px;
                            }
                            p{
                                margin-bottom: 0;
                                font-size: 14px;
                            }
                        }
                        .bottom-info{
                            p{
                                font-size: 14px;
                                color: $theme-color;
                                line-height: 28px;
                                margin-bottom: 0;
                            }
                            p.hotline-info{
                                font-family: $font-family-second;
                                font-size: 24px;
                                font-weight: bold;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.footer-2{
        position: relative;
        background: $text-color;
        color: $white;
        padding: 110px 0px 75px 0px;
        padding-bottom: 67px;
        ul{
            padding-left: 0;
            li{
                list-style: none;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            background-size: cover;
            background: url(#{$image-theme-path}bg-ft.png) no-repeat center;
            opacity: 0.1;
            /* background: rgba($black, 0.85); */
        }
        .logo-footer{
            a{
                display: block;
                margin-bottom: 13px;
            }
            .copyright{
                line-height: 25px;
            }
        }
        .email-box,
        .address-box{
            h3{
                color: $theme-color;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 9px;
                margin-top: 0;
                text-transform: uppercase;
            }
            p{
                line-height: 23px;
            }
        }
        .address-box{
            margin-bottom: 30px;
        }
        .email-box{
            .hot-line{
                margin-top: 30px;
                img{
                    @include rtl-float-left;
                    @include rtl-margin-right(25px);
                }
                span{
                    color: $theme-color;
                    em{
                        font-style: normal;
                    }
                    span{
                        font-family: $font-family-second;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 28px;
                        @include rtl-float-left;
                        margin-bottom: 3px;
                    }
                }
            }
        }
        .social-network{
            li{
                a{
                    display: block;
                    color: $white;
                    margin-bottom: 11px;
                    line-height: 31px;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        .widget{
            .menu{
                li{
                    padding-bottom: 28px;
                    a{
                        color: $white;
                    }
                    &:hover{
                        a{
                            color: $theme-color;
                            @include rtl-padding-left(15px);
                        }
                    }
                }
            }
        }
    }
    &.footer-3{
        background: $text-color;
        color: $white;
        padding-top: 87px;
        padding-bottom: 90px;
        .bin-social-network{
            .bin-social-network--title h2{
                font-size: 24px;
                color: $white;
                text-transform: capitalize;
                margin-bottom: 35px;
                margin-top: 0;
                font-weight: 700;
            }
            ul{
                margin: 0;
                li{
                    padding-right: 0;
                    padding-left: 11px;
                    &:first-child(){
                        @include rtl-padding-left(0);
                    }
                    a{
                        @include square(40px);
                        border: 1px solid #363636;
                        display: block;
                        text-align: center;
                        line-height: 38px;
                        &:hover{
                            border-color: $theme-color;
                        }
                    }
                }
            }
        }
        .bingo-newsletter-3{
            .heading-box h2{
                font-size: 24px;
                color: $white;
                text-transform: capitalize;
                margin-bottom: 35px;
                margin-top: 0;
                font-weight: 700;
            }
            .content-newsletter{
                position: relative;
                input[type="email"]{
                    background: transparent !important;
                    border: 0;
                    border-bottom: 1px solid #363636;
                    display: inline-block;
                    width: 100%;
                    padding: 0 80px 0 0px;
                    line-height: 38px;
                }
                input[type="submit"]{
                    position: absolute;
                    top: -1px;
                    @include rtl-right(0);
                    border: 0;
                    background: transparent;
                    color: $white;
                    line-height: 38px;
                    text-align: center;
                    text-transform: uppercase;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        color: $theme-color;
                    }
                }
                span.wpcf7-not-valid-tip{
                    color: $theme-color;
                    line-height: 40px;
                }
            }
        }
        .section-footer3-1{
            position: relative;
            .wpcf7-response-output{
                bottom: -40px;
                border: 1px solid $theme-color;
            }
        }
        .section-footer3-2{
            margin: 0;
            margin-top: 66px;
            display: table;
            width: 100%;
            >div{
                display: table-cell;
                vertical-align: bottom;
                float: none;
                .vc_column-inner{
                    padding: 0;
                }
            }
            .widget,
            .wpb_content_element{
                margin-bottom: 0;
            }
            .copyright{
                margin-top: 38px;
                font-size: 14px;
                color: #707070;
                display: block;
            }
            .menu{
                padding: 0;
                display: inline-block;
                @include rtl-float-right();
                li{
                    list-style: none;
                    display: inline-block;
                    &::before{
                        content: ".";
                        color: #707070;
                        padding: 0px 8px;
                    }
                    a{
                        color: #707070;
                        font-size: 14px;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                li:first-child()::before{
                    display: none;
                }
            }
        }
    }
    &.footer-4{
        padding: 0;
        background: $white;
        .wpb_content_element{
            margin-bottom: 0;
        }
        .widget .widgettitle{
            color: $text-color;
            margin-top: 40px;
            margin-bottom: 12px;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 50px;
        }
        .widget{
            margin-bottom: 0;
        }
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
            }
        }
        .menu{
            li{
               line-height: 24px;
               a{
                    color: #464646;
                    &:hover{
                        color: $theme-color;
                    }
               }
            }
        }
        .section-footer4-2{
            padding: 17px 0;
            margin-top: 56px;
            border-top: 1px solid #ebebeb;
            margin-left: 0;
            margin-right: 0;
            .vc_column-inner{
                padding: 0;
            }
            .copyright--3{
                line-height: 24px;
                color: #959595;
            }
            .bin-social-network{
                ul{
                    @include rtl-text-align-right();
                    li{
                        line-height: 26px;
                        padding: 0px 7px;
                        &:last-child(){
                            @include rtl-padding-right(0);
                        }
                        a{
                            font-size: 14px;
                            color: $text-color;
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
        .bingo-newsletter-4{
            @include rtl-text-align-right();
            .title-newsletter{
                h3{
                    margin-top: 40px;
                    margin-bottom: 12px;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 50px;
                    font-weight: 700;                    
                }
            }
            .desc-newsletter{
                color: $text-color;
                line-height: 24px;
                margin-bottom: 16px;
            }
            .content-newsletter{
                input[type="email"]{
                    line-height: 40px;
                    padding: 0 15px;
                    border: 0;
                    background: #ebebeb;
                    max-width: 300px;
                    width: 100%;
                }
                input[type="submit"]{
                    margin-top: 11px;
                    border: 0;
                    background: $theme-color;
                    color: $white;
                    font-family: $font-family-second;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 40px;
                    padding: 0 16px;
                    @include rtl-float-right();
                }
            }
        }
        .section-footer4-1{
            border-top: 1px solid #ebebeb;
            margin: 0;
            >.wpb_column:first-child(){
                .vc_column-inner{
                    padding-left: 0;
                }
            }
            >.wpb_column:last-child(){
                .vc_column-inner{
                    padding-right: 0;
                }
            }            
            div.wpcf7 .ajax-loader{
                @include rtl-float-right();
                margin: 23px 10px 0 0;
            }
            span.wpcf7-not-valid-tip{
                line-height: 24px;
                margin-top: 10px;
            }
            .wpcf7-response-output{
                bottom: auto;
                top: calc(100% + 3px);
                color: $white;
                border-color: $theme-color;
                background: $theme-color;
                width: 100%;
            }
            div.wpcf7-response-output{
                margin: 0;
                line-height: 24px;
            }
        }
    }
} 
.rtl{
    #bin-footer.footer-4 .section-footer4-2{
        >div:first-child(){
            float: right;
        }
    }
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column:first-child{
        float: right;
        .vc_column-inner{
            padding-left: 15px;
            padding-right: 0;
        }
    }
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column{
        float: right;       
    }
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column:last-child{
        float: left;
        .vc_column-inner{
            padding-right: 15px;
            padding-left: 0;
        }        
    }
}
/* Max Width 1199px  */
@media (max-width: 1199px){
    #bin-footer.footer-2 .email-box .hot-line span p {
        font-size: 18px;
    }
    #bin-footer.footer-3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #bin-footer.footer-3 .section-footer3-1 >div{
        width: 50%;
        @include rtl-float-left();
    }
    #bin-footer.footer-3 .section-footer3-2{
        margin-top: 50px;
    }
    #bin-footer.footer-3 .section-footer3-2 .copyright{
        margin-top: 20px;
    }
    #bin-footer.footer-3 .bin-social-network{
        @include rtl-text-align-right();
    }   
}
/* Max Width 1023px  */
@media (max-width: 1023px){
    #page .bin-footer.footer-2{
        padding-top: 35px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        .pull-left {
            width: 100%;
            @include rtl-float-left;
            border-top: 1px solid $theme-border-color;
            padding-top: 20px;
            text-align: center;
        }
        .pull-right{
            &.vc_col-sm-3{
                width: 40%;
            }
            &.vc_col-sm-2{
                width: 21.66666667%;
            }
        }
        &::before{
            background-size: cover;
        }
    }
}
/* Max Width 991px  */
@media (max-width: 991px){
    #bin-footer.footer-3 {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    #bin-footer.footer-3 .section-footer3-2 {
        margin-top: 35px;
    }    
}
/* Max Width 767px  */
@media (max-width: 767px){
    #bin-footer.footer-4 .widget .widgettitle{
        margin-top: 15px;
        margin-bottom: 0;
        line-height: 35px;
    }
    #bin-footer.footer-4 .section-footer4-2 .bin-social-network ul,
    #bin-footer.footer-4 .section-footer4-2 .copyright--3{
        text-align: center;
    }
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column .vc_column-inner,
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column:first-child .vc_column-inner,
    #bin-footer.footer-4 .section-footer4-1 > .wpb_column:last-child .vc_column-inner{
        padding: 0;
    }
    #bin-footer.footer-3 .section-footer3-2 .menu{
        float: none;
        margin-top: 20px;
    }
    #bin-footer.footer-3 .section-footer3-2 .wpb_single_image.vc_align_left{
        text-align: center;
    }
    #bin-footer.footer-3 .section-footer3-2 > div{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    #bin-footer.footer-3 .section-footer3-1 > div{
        width: 100%;
    }
    #bin-footer.footer-3 .bin-social-network{
        text-align: center;
    }
    #page .bin-footer.footer-2{
        .pull-right.vc_col-sm-2 {
            width: 50%;
        }
        .pull-right.vc_col-sm-3{
            width: 80%;
        }
        .vc_col-sm-1{
            width: 20%;
        }
    }

}
/* Max Width 599px  */
@media (max-width: 599px){

}
/* Max Width 479px  */
@media (max-width: 479px){
    #bin-footer.footer-3 .section-footer3-2 .menu li{
        margin-bottom: 10px;
    }
}
/* Max Width 414px  */
@media (max-width: 414px){
    #page .bin-footer.footer-2{
        .pull-right.vc_col-sm-2{
            width: 100%;
        }
    }
}

/*  */
/* Newletter Popup */
/*  */
.newsletterpopup .close-popup {
  background: #222 url(#{$image-theme-path}icon-close.png) no-repeat scroll center center;
  cursor: pointer;
  height: 24px;
  position: absolute;
  @include rtl-right(5px);
  top: 5px;
  width: 24px;
  z-index: 1;
}
.popupshadow {
  background: #000;
  height: 100%;
  @include rtl-left(0);
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  display: block;
}
.newsletterpopup {
    background: $white;
    box-sizing: border-box;
    color: #000;
    height: 435px;
    @include rtl-left(50%);
    @include rtl-margin(-180px, 0, 0, -410px);
    padding-bottom: 0;
    position: fixed;
    @include rtl-text-align-left();
    top: 45%;
    width: 800px;
    z-index: 1000000;
    display: inline-block;
    .wp-newletter{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 830px;
        height: 480px;
        text-align: center;
        .checkbox-newletter{
            text-transform: uppercase;
            color: #707070;
            input{
                margin-top: 0;
                vertical-align: middle;
                @include rtl-margin-right(5px);
            }
            label{
                margin-bottom: 0;
                line-height: 18px;
                vertical-align: bottom;
            }
        }
    }
    .bingo-newsletter4{
        .title-newsletter{
            position: relative;
            margin: 0 0 24px;
            padding: 20px 0;
            color: $text-color;
            font-family: $font-family-second;
            font-size: 42px;
            font-weight: 700;
            text-transform: uppercase;
            &::before{
                content: "";
                position: absolute;
                bottom: 1px;
                left: 50%;
                margin-left: -25px;
                display: block;
                width: 50px;
                height: 1px;
                background-color: $text-color;                
            }        
        }
        .desc-newsletter{
            margin: 0 0 30px;
            color: #707070;
            font-size: 16px;
            font-weight: 400;            
        }
        .content-newsletter{
            input[type="email"]{
                 height: 58px;
                margin: 0 0 27px;
                padding: 15px 20px;
                border: 1px solid $text-color;
                font-size: 14px;
                line-height: 28px;  
                width: 100%;             
            }
            input[type="submit"]{
                padding: 14px 30px 16px;
                height: 58px;
                color: $white;
                background-color: $text-color;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
                border: 0;
                text-transform: uppercase;
                -webkit-transition: all 0.35s ease;
                -o-transition: all 0.35s ease;
                transition: all 0.35s ease;
                &:hover{
                    background-color: $theme-color;
                }               
            }
        }
    }
}


/* Copyright -------------------------------------------------------------------------------------- */
.#{$app-prefix}-copyright{
    color: $text-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    background: #f3f3f3;
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .container{
        padding-top: $copyright-padding-top;
        padding-bottom: $copyright-padding-bottom;
    }
    .input-group{
        border: 0px;
        .fa{
            color: $gray-light;
        }
    }
    a{
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    address{ 
        margin: 0;
    }
    .bin-social{
        ul{
            li{
                @include rtl-float-right();
                a{
                    i{
                        border-radius: 50%;
                        color: $footer-bg;
                        background: $footer-color;
                        padding: 9px;
                        @include size(32px, 32px);
                        text-align: center;
                        @include rtl-margin-left(18px);
                    }
                }
            }
        }
    }
}

/* head-background-dark */
.archive.woocommerce.head-background-dark{
    .bin-header{
        color: $theme-color;
    }
    .bin-header .header-content .binAccount > .bin-icon,
    .bin-header .header-content .search-box,
    #cart .icon-shop,
    .bin-header .bin-navigation ul > li.level-0 > a{
        color: $text-color;
        &:hover{
            color: $theme-color;
        }
    }
    #cart .mini-cart-items{
        background: $theme-color;
        color: $white;
    }
    .bin-breadcrumb .delimiter{
        border-color: $theme-color;
    }
    .bin-breadcrumb a:hover{
        color: $text-color;
    }
    .bin-breadcrumb,
    .bin-breadcrumb a,
    #bin-main .page-title h1{
        color: $theme-color;
    }
    #bin-main .page-title.bin-title::before{
        background: rgba($white, 0.5);
    }
}

/* .head-background-dark Home 2 */
.bin-header.header-2{
    position: relative;
}
.bin-header.header-2 .categories-menu{
    border-bottom: 1px solid #e1e1e1;
}
.head-background-dark .bin-header{

}

.bin-main-content{
    padding-top: 56px;
    padding-bottom: 45px;
}

.lost_reset_password{
    input[type="submit"]{
        clear: both;
        display: block;
        @include input-button();
        padding: 10px 25px;
    }
    .form-row-first{
        margin-top: 15px;
        margin-bottom: 20px;
    } 
}

/* Theme Test */
.comments-area{
    .comments-title{
        margin-top: 25px;
    }
    .comment-list{
        margin-top: 25px;
        padding-left: 0;
        li{
            margin-bottom: 20px;
            list-style: none;
            position: relative;
            .children{
                padding-left: 15px;
            }
            article{
                margin-left: 44px;
                border: 1px solid #ececec;
                border-radius: 3px;
                padding: 10px;
                position: relative;
                color: #616161;
                margin-bottom: 20px;
                .comment-author{
                    img{
                        position: absolute;
                        top: 0;
                        left: -44px;
                    }
                    span{
                        display: none;
                    }
                    b{
                        text-transform: capitalize;
                        color: #616161;
                        font-weight: bold;
                        font-size: 14px;
                        margin-bottom: 7px;
                        display: block;                       
                    }
                }
                .comment-metadata{
                    padding-bottom: 8px;
                    font-size: 12px;
                }
                .edit-link{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}