@media (max-width: 991px) {
	.bin-navigation {
		position: fixed;
		top: 0px;
		left: 0;
		bottom: 0px;
		background-color: #fff;
		width: 280px;
		padding: 70px 20px 0 20px;
		z-index: 999999;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: hidden;
		-webkit-transform: translate3d(-280px, 0, 0);
		transform: translate3d(-280px, 0, 0);
		-webkit-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;
	}
	.bin-navigation .menu > li{
		width:100%
	}
	.bin-navigation  li .sub-menu {
		position: relative!important;
		display: none;
		width: 100%;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: inherit;
		margin-top: 0px;
		float:none;
		box-shadow:none !important;
		border:none !important;
		border-radius: 0 !important;
		margin-left: 20px;
	}	
	.bin-navigation   li.menu-item-has-children:hover .sub-menu {
		display: none;
		top:inherit;
	}
	.bin-navigation ul > li .sub-menu {
		position:inherit;
		width:100%;
	}
	.bin-header .bin-navigation ul > li.level-0 .sub-menu{
		min-width: auto;
		width: auto;
		padding: 0;
		background: $white;
		@include transition(all 0s ease-in-out);
		li.level-1{
			position: relative;
			a{
				border-bottom: 1px dashed $theme-border-color;
				@include rtl-padding-left(20px);
				color: $text-color;
				&:hover{
					color: $theme-color;
				}
			}
			&:last-child{
				>a{
					border-bottom: 1px dashed $theme-border-color;
				}
			}
		}
	}
	.bin-header .bin-navigation ul > li.level-0.mega-menu .sub-menu{
		padding: 0px;
		overflow: hidden;
		li.level-1{
			width: 100%;
			padding: 0;
			display: inline-block;
			>a{
				font-size: 14px;
				font-weight: normal;
				color: $text-color;
				font-family: inherit;
				border-bottom: 1px dashed $theme-border-color;
				text-transform: capitalize;
				margin: 0;
				padding: 10px 20px !important;
				&::before{
					display: none;
				}
			}
			&:first-child{
				>a{
					border-bottom: 1px dashed $theme-border-color;
				}
			}
			&:last-child{
				>a{
					border-bottom: 1px dashed $theme-border-color;
				}
			}
			li.level-2{
				&:hover{
					>a{
						@include rtl-padding-left(30px);
					}
				}				
				>a{
					border-bottom: 1px dashed $theme-border-color;
					@include rtl-padding-left(30px);
					color: $text-color;
					&:hover{
						color: $theme-color;
					}
				}
				&:last-child{
					>a{
						border-bottom: 1px dashed $theme-border-color !important;
					}
				}
			}		
		}
	}
} 	

.bin-navigation-active {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.bingo-menu-wrapper .navbar-default{ border: none; background: transparent; }

.remove-megamenu {
	padding: 10px;
	z-index: 10;
	cursor: pointer;
	display: none;
	text-align: right;
}

.bin-navigation-active .remove-megamenu {
	display: block;
}

.bin-navigation  span.grower {
	display: block;
	position: absolute;
	@include rtl-right(5px);
	cursor: pointer;
	font-family: "FontAwesome";
	font-size: 15px;
	top: 12px;
	text-align: center;
	color: $text-color;
	background: transparent;
	@include square(30px);
	line-height: 30px;
}
.bin-navigation span.grower.close:before {
	content: "\f107";
}

.bin-navigation  span.grower.open:before {
	content: "\f106";
}

.rtl{
	.bin-navigation ul > li.level-0:first-child a{
		padding-left: 22px;
		padding-right: 0;
	}
	.bin-navigation ul > li.level-0:last-child a{
		padding-left: 0;
		padding-right: 22px;
	}
}

.#{$app-prefix}-navigation{
	float: none;
	> .open{
		> a{
			color: $navbar-link-hover-color;
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background: $theme-color;
				left: 0;
				bottom: -1px;
				@include transition(all 0.35s);
			}
			&:hover,
			&:focus{
				color: $navbar-link-hover-color;
			}
		}
	}
	ul {
		@include clear-list();
		float: none;
		li {
			&.parent{
				position: relative;
			}
			&.dropdown-submenu{
				position: relative;
				.dropdown-menu{
					top: 0;
					left: 100%;
					right: auto;
					position: absolute;
				}
			}
		}
		> li.level-0{
			position: relative;
			display: inline-block;			
			> a{
				position: relative;
				text-transform: uppercase;
				font-family: $font-family-second;
				font-weight: 400;
			    font-size: 14px;
			    padding: 16px 22px;
			    background-color: transparent;
			    color: $white;
			    display: block;
			    @include transition(all .3s ease 0s);
				.caret{
					color: $text-color-third;
				}
				&:hover, &:focus{
					color: $text-color-third;
				}
			}
			&.current_page_item{
				>a{
					color: $theme-color;
				}
			}
			&:first-child{
				a{
					padding-left: 0;
				}
			}
			&:last-child{
				a{
					padding-right: 0;
				}
			}
			&.mega-menu{
				li.level-1{
					@include rtl-padding-right(15px);
					>a{
						&:hover{
							@include rtl-padding-left(0 !important);
						}
					}
				}
			}
			&:last-child{
				@include rtl-padding-right(0);
			}
			&:first-child{
				@include rtl-padding-left(0);
			}
			&.parent{
				&:hover{
					a{
						&:after{
							bottom: 0;
							visibility: visible;
							@include opacity(1);
						}
					}
				}
			}
			&.mega-menu{
				position: static;
				.sub-menu{
					padding: 30px 25px ;
				}
				.sub-menu li.level-1{
					&:last-child{
						>a{
							border-bottom: 1px solid $theme-border-color;
						}
					}
					&:hover{
						>a{
							&::before{
								width: 100%;
							}
						}
					}					    
					> a{ 
						font-weight: 600;
					    font-family: Quantico;
					    font-size: 16px;
					    padding: 0px 0px 8px;
					    background-color: transparent;
					    color: $text-color-third;
					    display: block;
					    text-transform: uppercase;
					    position: relative;
					    margin-bottom: 10px;
					    font-family: $font-family-second;
					    border-bottom: 1px solid $theme-border-color;
					    &:hover{
					    	@include rtl-padding-left(10px);
					    	color: $theme-color;
					    }
					    &:before {
						    content: "";
						    width: 0;
						    height: 1px;
						    position: absolute;
						    bottom: -1px;
						    left: 0px;
						    background-color: $theme-color;
						    top: auto;
						    @include transition(all 0.5s ease);
						}
					}
				}
				.sub-menu >li.level-1 .sub-menu >li.level-2{
					&:last-child{
						>a{
							border-bottom: none;
						}
					}					
				}
				.level-1.menu-item-has-children.std-menu{
					.sub-menu{
						position: relative !important;
						left: auto;
						top: auto;
						display: inline-block;
						width: 100%;
						min-width: auto;
						padding: 0;
						@include rtl-padding-right(15px);
						background: #f5f5f5;
						opacity: 1;
						visibility: visible;			
					}
					&:hover{
						.sub-menu{
							left: auto;
						}
					}
				}
			}
			.level-1.menu-item-has-children.std-menu{
				position: relative;
				.sub-menu{
					position: absolute !important;
					left: 110%;
					top: 0;
					display: inline-block;
					width: 100%;
					z-index: 9999;
					min-width: 270px;
					padding: 15px 25px;
					background: #f5f5f5;
					opacity: 0;
					visibility: hidden;
					@include transition(all 0.3s ease-in-out);
					li:last-child{
						a{
							border-bottom: 0;
						}
					}
				}
				&:hover{
					.sub-menu{
						opacity: 1;
						visibility: visible;
						left: 100%;
					}
				}
			}
			.sub-menu{
				display: none;
				position: absolute;
				top: 100%;
				z-index: 9999;
				min-width: 270px;
				padding: 15px 25px ;
				background: #f5f5f5;
				@include transition(all 0.3s ease-in-out);
				li.level-1 {
					line-height: 23px;
					width: 100%;
					display: inline-block;
					a {
					    font-size: 14px;
					    font-weight: normal;
					    padding: 10px 0px;
					    background-color: transparent;
					    color: $text-color-third ;
					    line-height: 24px;
					    display: block;
					    position: relative;
					    border-bottom: 1px solid $theme-border-color;
					    @include transition(all .35s ease 0s);
					    &:hover{
					    	@include rtl-padding-left(20px);
					    	color: $theme-color;
					    }
					}
					&:last-child{
						>a{
							border-bottom: none;
						}
					}
					.sub-menu{
						padding: 0; 
						background: transparent; 
						border: none; 
						padding: 0;
						position: relative;
						min-width: auto;
						li.level-2{ line-height: 22px }
						a {
						    font-size: 14px;
						    font-weight: normal;
						    padding: 10px 0px;
						    background-color: transparent;
						    color: $text-color-third ;
						    line-height: 24px;
						    display: block;
						    position: relative;
						    @include transition(all .35s ease 0s);
						    @include before-link();
							&:hover {
								color: $theme-color;
								@include rtl-padding-left(14px);
								&:before{ background: $theme-color; }
							}
						}
					}
				}
			}
		}
	}
	
	> .active{
		a{
			color: $navbar-link-active-color;
		}
	}
	.menu-item-has-children {
		padding: 0;
		@include rtl-float-left();
	}
	.mega-menu{
		> .sub-menu{
			@include rtl-right(auto);
			@include rtl-left(0);
			> li.std-menu{ @include rtl-float-left(); }
		}
		&.col-sub-1{
			> .sub-menu{
				width: 30%;
				> li.std-menu{ 	width: 100% 	}
			}
		}
		&.col-sub-2{
			> .sub-menu{
				width: 50%;
				> li.std-menu{ 	width: 50% 	}
			}
		}
		&.col-sub-3{
			> .sub-menu{
				width: 100%;
				> li.std-menu{ 	width: 33.333% 	}
			}
		}
		&.col-sub-4{
			> .sub-menu{
				width: 1170px;
				left: 50%;
				right: auto;
				margin-left: -585px;
				> li.std-menu{ 	width: 25% 	}
			}
		}
		&.col-sub-5{
			> .sub-menu{
				width: 100%;
				> li.std-menu{ 	width: 20% 	}
			}
		}
		&.col-sub-6{ 
			> .sub-menu{
				width: 100%;
				> li.std-menu{ 	width: 16.666% 	}
			}
		}
	}

}
.menu li{
	&.menu-item-loggedin{
		display: none !important;
	}
}
.logged-in{
	.menu li{
		&.menu-item-loggedin{
			display: block !important;
		}
	}	
}

.rtl{
	.bin-header.header-2 .bin-primary-menu .bin-navigation{
		left: auto;
		right: 0;
		-webkit-transform: translate3d(280px, 0, 0);
    	transform: translate3d(280px, 0, 0);
    	&.bin-navigation-active{
			-webkit-transform: translate3d(0, 0, 0);
	    	transform: translate3d(0, 0, 0);    		
    	}
	}
	.bin-header.header-2 .bin-navigation ul > li.level-0 > .sub-menu{
		left: auto;
		right: 100%;
	}
	.bin-header.header-2 .bin-navigation ul > li.level-0 > .sub-menu::before{
		left: 100%;
		border-right: 0px;
		border-left: 7px solid #f5f5f5;
	}
	.bin-header.header-2 .bin-navigation ul > li.level-0.menu-item-has-children::before{
		content: "\f053";
	}
	.bin-navigation ul > li.level-0.mega-menu li.level-1{
		padding-right: 0;
	}
}
/* Main menu */
.bin-primary-menu{
	.bin-navigation {
		position: fixed;
		top: 0px;
		left: 0;
		background-color: #fff;
		bottom: 0px;
		width: 280px;
		padding: 10px;
		z-index: 999999;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: hidden;
		-webkit-transform: translate3d(-280px, 0, 0);
		transform: translate3d(-280px, 0, 0);
		-webkit-transition: all 0.5s ease-in-out 0s;
		transition: all 0.5s ease-in-out 0s;
		max-height: 100%;
		height: 100%;
	}
	.close_tab{
		position: fixed;
		z-index: 888;
		background: rgba($white, 0.8);
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.3s ease-in-out);
		&.on{
			opacity: 1;
			visibility: visible;
			cursor: pointer;
		}
	}
	.bin-navigation .menu > li{
		width:100%
	}
	.bin-navigation  li .sub-menu {
		position: relative!important;
		display: none;
		width: 100%;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: inherit;
		margin-top: 0px;
		float:none;
		box-shadow:none !important;
		border:none !important;
		boder-radius:none !important;
		margin-left: 20px;
	}	
	.bin-navigation   li.menu-item-has-children:hover .sub-menu {
		display: none;
		top:inherit;
		left: 10px;
	}
	.bin-navigation ul > li .sub-menu {
		position:inherit;
		width:100%;
	}
	.bin-navigation-active {
	    visibility: visible;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	}
}
.bin-header{
	&.header-2{

		.bin-primary-menu .bin-navigation{
			overflow-x: visible;
			overflow-y: visible;
			padding: 50px 0 0 0;
		}
		.bin-navigation-active .remove-megamenu{
			position: absolute;
			@include rtl-right(15px);
			padding: 0;
			top: 5px;
			&::before{
				content: "\f00d";
				font-family: FontAwesome;
				color: $theme-color;
				font-size: 23px;
				line-height: 100%;
				@include transition(all 0.3s ease-in-out);
			}
			&:hover{
				&::before{
					color: $text-color;
				}
			}
		}
		.bin-navigation ul{
			> li.level-0{
				display: inline-block;
				width: 100%;
				position: relative;
				padding: 0px 20px;
				> a{
					padding: 7px 0px;
					margin: 7px 0;
					color: $text-color;
					border-bottom: 2px solid transparent;
				}
				&:hover{
					>a{
						border-color: $theme-color;
						color: $theme-color;
					}
					.sub-menu{
						display: block;
						.sub-menu{
							display: block;
						}
					}
				}
				&.menu-item-has-children{
					&::before{
						content: "\f054";
						font-family: FontAwesome;
						position: absolute;
						@include rtl-right(18px);
						top: 15px;
						color: #464646;
						@include transition(all 0.3s ease-in-out);
					}
					&:hover{
						&::before{
							color: $theme-color;
							@include rtl-right(0px);
							visibility: hidden;
							opacity: 0;
						}
					}
				}
				&.mega-menu{
					>.sub-menu{
						width: 750px;
					}
				}
				.sub-menu{
					@include rtl-margin-left(0);
				}
				>.sub-menu{
					left: 100%;
					right: auto;
					top: 0;
					margin-top: 0;
					position: absolute !important;
					@include rtl-margin-left(0);
					@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.1));
					@include transition(all 0.5s ease-in-out);
					&::before{
						content: "";
						position: absolute;
						top: 17px;
						left: -14px;
						border: 7px solid transparent;
						border-right: 7px solid #f5f5f5;
					}
				}
			}
		}
	}
}
@media (max-width: 991px){
	.header-4,
	.header-3,
	.header-2,
	.header-1{
		.close_tab{
			position: fixed;
			z-index: 888;
			background: rgba($white, 0.8);
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			display: inline-block;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease-in-out);
			&.on{
				opacity: 1;
				visibility: visible;
				cursor: pointer;
			}
		}		
	}
	.close-tab-2{
		position: fixed;
		z-index: 888;
		background: rgba($white, 0.8);
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: inline-block;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.3s ease-in-out);
		&.on{
			opacity: 1;
			visibility: visible;
			cursor: pointer;
		}
	}	
	.bin-navigation ul > li.level-0 .level-1.menu-item-has-children.std-menu .sub-menu,
	.bin-header.header-2 .bin-navigation ul > li.level-0 > .sub-menu{
		@include transition(all 0s ease-in-out);
	}
	.bin-navigation .mega-menu.col-sub-4 > .sub-menu{
		left: auto !important;
		margin: 0 !important;
	}
	.bin-navigation ul > li.level-0.mega-menu .level-1.menu-item-has-children.std-menu .sub-menu{
		padding: 0 !important;
		background: $white !important;
		display: none;
	}

	.bin-navigation ul > li.level-0 .level-1.menu-item-has-children.std-menu .sub-menu{
		position: relative !important;
		min-width: auto;
		left: auto !important;
		background: $white;
		padding: 0;
		display: none;
	}
	.bin-navigation ul > li.level-0 .level-1.menu-item-has-children.std-menu .sub-menu a{
		padding-left: 30px;
		color: #252525;
	}
}