/* Page default --------------------------------- */
.default-template .article{
	background: $white;
}

/* Elements Boostrap Page ---------------------------------- */
.bs-component,
.bs-docs-section{
	.modal{
		bottom: auto;
		display: block;
		left: auto;
		position: relative;
		right: auto;
		top: auto;
		z-index: 1;
	}
	p:empty{
		margin: 0;
		padding: 0;
		@include hide-text();
	}
	br{
		display: none;
	}
	.modal-dialog{
		width: 90%;
	}
}

/* Contact Page ---------------------------------- */
div.wpcf7-validation-errors{
	margin: 0;
	padding: 15px;
}
.contact-form-content{
	padding: $theme-padding;
	background: $contact-bg;
	margin-bottom: $theme-margin + 10;
	min-height: 260px;
	.rounded{
		color: $white;
		@include size(40px,40px);
		background: darken($body-bg, 20%);
		.fa,.icon{
			@include font-size(font-size,16px);
			margin: 13px;
		}
	}
	small{
		color: darken($text-color, 20%);
	}
}



##{$app-prefix}-main{
    .wpb_gmaps_widget .wpb_wrapper {background: none; padding: 0;}
    
    
    #wpcf7-f8-p321-o1 {
        p {
            .wpcf7-form-control-wrap {
                margin-top: 5px; display: block;
            }
        }
    }
}

.form_contactpage {
    padding-left: 170px; position: relative;
    color: #2b2e4a; 
    .title {
        font-size: 32px; text-transform: uppercase; color: #2b2e4a; 
        font-family: $font-family-second; margin-bottom: 45px;
    }
    .wpcf7-form-control-wrap {
        border-bottom: #cccccc 1px solid; margin-bottom: 20px;
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $text-color;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #2b2e4a;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: $text-color;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #2b2e4a;
        }
        .wpcf7-form-control {
            border: none; background: none; padding: 5px 0; color: $text-color;
        }
    }
    .wpcf7-submit{
        font-size: 18px; font-family: $font-family-second; text-transform: uppercase;
        background: #2b2e4a; color: $white; border: none; padding: 8px 25px;
        display: inline-block;
        @include rtl-float-right();
        &:hover {
            background: $theme-color;
        }
    }
    &:after {
        display: block; background: #ebebeb; content: "";
        width: 283px; height: 93px; position: absolute; z-index: -1; top: -45px; left: 36px;
    }
    
}

.info_contact {
    margin: 12px 0 25px;
    color: #2b2e4a; 
    .widgettitle {
       font-size: 18px; text-transform: uppercase;
        font-family: $font-family-second; color: #2b2e4a;
    }
    .textwidget{
    	i{
        	@include rtl-margin-right(10px);
        }
    }
}

/* About Page ---------------------------------- */
.aboutpage-top {
    .text {
        display: block; text-align: center; position: absolute; z-index: 1; top: 25%;
        font-size: 32px; font-weight: 700; font-style: italic; font-family: $font-family-base;
        color: $white; margin: 0 10%;
        .position {font-size: 18px; font-style: normal; font-weight: 400;}
    }
    .wpb_content_element, p {margin-bottom: 0;}
}

.aboutpage-middle {
    position: relative; top: -110px; padding-top: 60px;
    h3 {
        color: #2b2e4a; font-family: $font-family-second; font-size: 42px; text-transform: uppercase; margin-bottom: 25px;
    }
    p {line-height: 24px;}
    &:before {
        display: block; content: ""; width: 100%; height: 440px;
        background: #ebebeb; position: absolute; z-index: 0;
        top: 0; left: 0;
    }
}
.aboutpage-bottom {
    top: -110px; position: relative;margin-bottom: 0 !important; padding-bottom:0 !important;
    h3 {
        color: #2b2e4a; font-family: $font-family-second; font-size: 42px; text-transform: uppercase; margin-bottom: 25px;
    }
    p {line-height: 24px;}
}

/* Page Not Found ---------------------------------- */
.page_not_found{
	@include rtl-margin(20px, 0, 80px, 0);
	.error-title{
		letter-spacing: $error-title-letter-spacing;
		margin: $error-title-margin;
		@include font-size(font-size,$error-title-font-size);
	}
	.error-content{
		line-height: 40px;
		margin-bottom: 30px;
		@include font-size(font-size,$error-content-font-size);
	}
	.page-footer{
		p{
			margin-bottom: 20px;
		}
	}
}

.woocommerce-page .header-title{
	display: none;
}

.blog-masonry{
	.post-container{
		margin-bottom: 20px;
		background: $white; 
	}
	.entry-title{
		font-size: $font-size-base + 2;
		line-height: 1.2;
		padding-top: 10px;
		margin-bottom: 0!important;
	}
	.entry-meta{
		margin-top: 5px!important;
	}
}

.blog-page-list{
	.entry-title{
		font-size: $font-size-base + 3;
		line-height: 1.2;
		padding-top: 10px;
		margin-bottom: 0!important;
	}
	.entry-meta{
		margin-top: 5px!important;
	}
}

.bin-portfolio{
	.portfolio-tab{
		display: block;
		overflow: hidden;
		text-align: center;
		margin-bottom: 70px;
		ul{
			@include rtl-padding-left(0);
			display: inline-flex;
			li{
				list-style: none;
				display: inline-block;
				float: left;
				text-transform: uppercase;
				margin: 0 16px;
				@include transition(all 0.3s ease-in-out);
				cursor: pointer;
				font-size: 18px;
				font-family: $font-family-second;
				&.selected,
				&:hover{
					color: $theme-color;
				}
			}
		}
	}
	.portfolio-container{
		ul{
			@include rtl-padding-left(0);
			li{
				list-style: none;
				margin-bottom: 30px;
			}
		}
		.portfolio-item-inner{
			position: relative;
			overflow: hidden;
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 50%;
				background: rgba($black, 0.5);
				@include transition(all .5s ease-in-out);
				opacity: 0;
				visibility: hidden;
			}
			&::after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 50%;
				background: rgba($black, 0.5);
				@include transition(all .5s ease-in-out);
				opacity: 0;
				visibility: hidden;				
			}
			&:hover{
				&::before{
					opacity: 1;
					visibility: visible;
					left: 100%;					
				}
				&::after{
					opacity: 1;
					visibility: visible;					
					right: 100%;
				}
				.pitem-text{
					h3{
						top: -55px;
						opacity: 1;
						visibility: visible;
						a{
							&:hover{
								color: $theme-color;
							}
						}
					}
					.item-more{
						@include rtl-right(calc( 50% - 40px));
						opacity: 1;
						visibility: visible;						
					}
					.item-popup{
						@include rtl-left(calc(50% - 40px));
						opacity: 1;
						visibility: visible;						
					}
				}
			}
			.pitem-text{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				display: inline-block;
				text-align: center;
				@include translate(-50%, -50%);
				h3{
					position: absolute;
					top: -180px;
					width: 100%;
					@include rtl-left(0);
					opacity: 0;
					margin: 0;
					visibility: hidden;
					@include transition(all 0.5s ease-in-out);
					a{
						font-size: 16px;
						font-weight: 600;
					}
				}
				a{
					color: #fff;
					@include transition(all 0.3s ease-in-out);
					&:hover{
						text-shadow: 0px 0px 10px $theme-color;
					}
				}
				.item-more{
					position: absolute;
					top: -17.5px;
					@include rtl-right(0);
					opacity: 0;
					visibility: hidden;
					width: 35px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					border: 1px solid #fff;
					@include border-radius(50%);	
					@include transition(all 0.5s ease-in-out);		
					span{
						line-height: 35px;
					}			
				}
				.item-popup{
					position: absolute;
					top: -17.5px;
					@include rtl-left(0);
					opacity: 0;
					visibility: hidden;
					width: 35px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					border: 1px solid #fff;
					@include border-radius(50%);	
					@include transition(all 0.5s ease-in-out);		
					span{
						line-height: 35px;
					}			
				}
			}
		}
	}
}
.bin-portfolio.masonry{
	.portfolio-container{
		ul.portfolio-content{
			li.portfolio-item{
				padding: 0;
				margin: 0;
			}
		}
	}
}

.error404{
	#bin-main{
		.page-header{
			margin: 0;
			padding: 0;
			padding-top: 40px;
			border-bottom: 0;
			.page-title{
				font-size: 72px;
				color: $theme-color;
				margin-top: 0;
				margin-bottom: 30px;
				text-align: left !important;
				font-weight: bold;
				font-family: $font-family-second;
			}
		}
	}
}
.page-404{
	padding-top: 120px;
	padding-bottom: 120px;
	.content-404{
	    h3{
		    margin: 0 0 20px;
		    padding: 0;
		    color: $text-color;
		    font-size: 24px;
		    font-weight: 700;
		    text-transform: uppercase;			    	
	    }
	    p{
	    	font-size: 16px;
	    	line-height: 24px;
	    }
	    .btn-404{
	    	a{
				padding: 15px 30px;
				display: inline-block;
				margin-top: 30px;
				height: 56px;
				color: $theme-color;
				background-color: white;
				border: 2px solid $theme-color;
				font-family: $font-family-second;
				font-size: 18px;
				font-weight: bold;
				line-height: 24px;
				text-transform: uppercase;
				@include transition(all 0.35s ease);
				&:hover{
					background: darken($theme-color, 8%);
					color: $white;
				}    		
	    	}
	    }			
	}
}

/* page notfound */
.title-notfound{
	font-size: 5rem;
	letter-spacing: 1.2px;
	font-family: $font-family-second;
	margin-bottom: 40px;
	text-transform: capitalize;
	margin-top: 0;
	text-align: center;
	font-weight: bold;
}
.site-content{
	.alert-warning{
		padding: 0;
		margin-bottom: 40px;
		border: 0;
		background: transparent;
		text-align: center;
	}
}
.search-no-results .alert-warning{
	padding: 0;
	margin-bottom: 40px;
	border: 0;
	background: transparent;
	text-align: center;
	color: $text-color;
}
.bin-search-form{
	margin-bottom: 50px;
	.form-content{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 1px;
			height: 1px;
			background: $theme-color;
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.6s ease-in-out);
		}
		&:hover{
			outline: 0;
			&::before{
				width: 100%;
				visibility: visible;
				opacity: 1;
			}
		}
		input[type="text"]{
			font-size: 18px;
			height: 50px;
			line-height: 50px;
			width: 100%;
			@include rtl-padding-left(15px);
			border: 0;
			font-size: 14px;
			border-bottom: 1px solid $theme-border-color;		
		}
		button{
			border: 0;
			padding: 0;
			color: $text-color;
			font-size: 23px;
			margin-bottom: 0;
			bottom: 12px;
			top: auto;
			&:hover{
				color: $theme-color;
			}
		}
	}
}