/************************************************************************************************
    POST ARCHIVES
*************************************************************************************************/
.col-lg-12.col-md-12{
	.list-post{
		.post-date{
			padding: 0px 50px;
		}
		.post-content{
			padding: 0px 50px;
		}
	}
}
.col-sm-9.col-xs-12.pull-right{
	.content-area{
		.site-content >.row{
			margin: 0;
		}
	}
}
.list-post{
	border: 1px solid $theme-border-color;
	margin-bottom: 30px;
	padding: 15px;
	.post-date{
		font-size: 14px;
		font-weight: normal;
		color: #959595;
		font-family: $font-family-second;
		margin-top: 25px;
		margin-bottom: 17px;
		.days{
			font-size: 32px;
			color: $theme-color;
			font-weight: bold;
			@include rtl-padding-right(6px);
		}			
	}
	.post-thumbnail{
		display: block;
		img{
			width: 100%;
		}
		&:hover{
			opacity: 0.7;
		}
	}
	.single-thumb .video-wrapper iframe{
		width: 100%;
		height: auto;
	}
	.post-content{ 
		.entry-title{
			margin: 0;
			margin-bottom: 17px;
			a{
				display: block;
				font-size: 21px;
				color: $text-color;
				line-height: 24px;
				font-weight: 400;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.post-excerpt{ line-height: 24px; color: #959595; }
		.post-btn .post-btn-more{
			display: inline-block;
			border: 2px solid $theme-color;
			background: transparent;
			color: $theme-color;
			text-transform: uppercase;
			padding: 0px 28px;
			line-height: 46px;
			font-family: $font-family-second;
			font-weight: bold;
			margin-top: 15px;
			font-size: 14px;
			&:hover{
				color: $white;
				background: $theme-color;
			}
		}
	}
}

// grid-post
.content-area{
	.col-lg-6.col-md-4{
		&:nth-child(4n){
			clear: both;
		}
	}
	&.col-lg-2.col-md-4{
		&:nth-child(7n){
			clear: both;
		}
	}
	&.col-lg-3.col-md-4{
		&:nth-child(5n){
			clear: both;
		}
	}
	&.col-lg-4.col-md-4{
		&:nth-child(5n){
			clear: both;
		}
	}						
}
.grid-post{
	.entry-post{
		margin: 0px 0px 30px;
		padding: 14px;
		display: inline-block;
		width: 100%;
		border: 1px solid $theme-border-color;
	}
	.single-thumb .video-wrapper iframe{
		width: 100%;
		height: auto;
	}
	.post-thumbnail{
		display: block;
		@include transition(all 0.3s ease-in-out);
		&:hover{
			opacity: 0.7;
		}
		img{ width: 100%; height: auto; }
	}
	.post-date{
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		color: #959595;
		margin: 18px 0;
		font-family: $font-family-second;
		.days{
			font-size: 32px;
			color: $theme-color;
			font-weight: 600;
			@include rtl-padding-right(6px);
		}
	}
	.post-btn{
		.read-more{
			display: inline-block;
			border: 2px solid $theme-color;
			background: transparent;
			color: $theme-color;
			text-transform: uppercase;
			padding: 0px 30px;
			line-height: 46px;
			font-family: $font-family-second;
			font-weight: bold;
			margin-top: 20px;
			font-size: 14px;
			&:hover{
				color: $white;
				background: $theme-color;
				@include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
			}
		}
	}
	.post-content{ 
		margin: 0;
		.entry-title{
			margin: 0;
			a{
				padding-bottom: 12px;
				margin-bottom: 0;
				font-size: 16px;
				line-height: 24px;
				color: $text-color;
				font-weight: 400;
				display: block;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.post-excerpt{ line-height: 24px; color: #959595; }
		.read-more{
			display: inline-block;
			border: 2px solid $theme-color;
			background: transparent;
			color: $theme-color;
			text-transform: uppercase;
			padding: 0px 28px;
			line-height: 46px;
			font-family: $font-family-second;
			font-weight: bold;
			margin-top: 20px;
			&:hover{
				color: $white;
				background: $theme-color;
			}
		}			
	}
}

/************************************************************************************************
    POST SINGLE
*************************************************************************************************/
.post-single{
	margin-bottom: 78px;
	display: inline-block;
	width: 100%;
	.single-thumb{
		position: relative;
		.post-date{ 
		}
	}
	.format-standard{ 
		.post-content{ 
			margin: 0 ;  
		}
		.comments-area{
			margin: 50px 80px 0;
		}
		.post-single .post-content h3.entry-title{
			padding: 27px 0 5px;
		}
	}
	.single-thumb{
		margin-bottom: 23px;
	}
	.top-single-post{
		margin-bottom: 20px;
		.entry-title{
			font-size: 24px;
			font-weight: bold;
			color: $text-color;
			line-height: 24px;
			margin-top: 0;
			margin-bottom: 23px;
			text-transform: uppercase;
		}
		.entry-meta-link{
			color: #898989;
			@include rtl-margin-right(10px);
			@include rtl-padding-right(10px);
			@include rtl-border-right(1px solid #898989);			
			a{
				color: $text-color;
				font-weight: bold;
				&:hover{
					color: $theme-color;
				}
			}
		}
		.post-date{
			color: #898989;
		}
	}
 	.post-content{ 
		.post-excerpt{ line-height: 24px; color: #252525;  margin-bottom: 60px; font-size: 16px; }
		.entry-comment{ display: none; }
		iframe{
			width: 100%;
			margin-top: 20px;
		}
		form{
			p{
				margin-bottom: 15px;
				input[type="submit"]{
					@include input-button;
					padding: 6px 15px;
					@include rtl-margin-left(15px);
				}
			}
			label{
				font-weight: normal;
			}
		}
	}
	.comments-area{
		.comments-title{
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 25px;
			margin-bottom: 35px;
		}
		.comment-list{
			>li.comment{
				margin-bottom: 15px;
			}
			li.comment{
				position: relative;
				display: inline-block;
				width: 100%;
				&::before{
					content: "";
					position: absolute;
					top: 14px;
					z-index: 1;
					@include rtl-left(40px);
					@include size(8px, 8px);
					border-top: 1px solid $theme-border-color;
					@include rtl-border-left(1px solid $theme-border-color);
					@include rotate(-45deg);
					background: $white;
				}
				.children{
					@include rtl-padding-left(15px);
					margin-top: 15px;
				}
			}
			article{
				@include rtl-margin-left(44px);
				display: inline-block;
				width: calc(100% - 44px);
				border: 1px solid $theme-border-color;
				border-radius: 5px;	
				padding: 10px;
				position: relative;
			}
			li.comment .edit-link{
				position: absolute;
				bottom: 10px;
				@include rtl-left(10px);
				@include rtl-right(auto);
				a{
					font-size: 12px;
				}
			}
			.comment-meta{
				min-height: 34px;
				padding-bottom: 10px;
				font-size: 14px;
				.avatar{
					position: absolute;
					top: 0;
					@include rtl-left(-44px);
				}
			}
			.comment-content{
				p{
					font-size: 14px;
					margin-bottom: 25px;
				}
				@include rtl-float-left();
				width: 100%;
			}
			.reply{
				@include rtl-float-right();
			}
		}
	}
	
	.social-icon{
		padding: 23px 0 27px 0;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 40px;
		display: block;
		overflow: hidden;
		.label-share{
			display: block;
			@include rtl-float-left();
			font-family: $font-family-second;
			text-transform: uppercase;
			color: $text-color;
			@include rtl-padding-right(18px);
			line-height: 24px;
		}
		.social-share{
			a{
				margin: 0 4.5px;
				@include size(24px, 24px);
				@include rtl-float-left();
				border-radius: 50%;
				line-height: 24px;
				text-align: center;
				display: block;
				background: #898989;
				color: $white;
				&:hover{
					background: $theme-color;
				}
			}
		}
	}
	.single-tag{
		.title-tag{
			font-size: 16px;
			font-weight: bold;
			color: $text-color;
			text-transform: uppercase;
		}
		a{
			text-transform: capitalize;
		}	
	}
	.nav-links{
		display: block;
		overflow: hidden;
		padding-bottom: 15px;
		a{
			@include rtl-float-left();
			border: 1px solid $theme-border-color;
		    padding: 8px 10px;		
			span{

			}
			&:last-child{
				@include rtl-float-right();
			}
			&:hover{
				color: $white;
				background: $theme-color;
				border-color: $theme-color;
				@include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
			}
		}
	}
	.comment-respond{
		.comment-reply-title{
			margin-top: 25px;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 25px;
			padding-bottom: 10px;
			border-bottom: 1px solid $theme-border-color;
		}
		.form-submit{
			margin-top: 18px;
			input{
				line-height: 45px;
				text-transform: uppercase;
				font-size: 14px;
				font-family: $font-family-second;
				color: $white;
				border: 0;
				background: $text-color;
				padding: 0px 25px;
				@include rtl-float-right();
				@include transition(all 0.3s ease-in-out);
				&:hover{
					background: $theme-color;
				}
			}

		}
		.comment-form{
			input[type="text"],
			input[type="url"],
			input[type="email"]{
			    width: 100%;
			    max-width: 100% !important;
			    height: 40px;
			    margin-bottom: 5px;
			    border: 1px solid #ebebeb;
			    padding: 5px 6px;			    
			}	
		}
		.comment-form-comment{
			textarea{
				border: 1px solid $theme-border-color;
				padding: 20px 15px;
				border-radius: 5px;
			}
		}
	}
}

/************************************************************************************************
    POST NAVIGATION
*************************************************************************************************/
.navigation.paging-navigation{
	display: inline-block;
	width: 100%;
	clear: both;
	.screen-reader-text{ display: none; }
	.current {
		color: $theme-color !important;
		background: transparent !important;
	}
	.pagination{
	    margin-top: 60px;
	    padding-top: 27px;
	    border-top: 1px solid $theme-border-color;
	    margin-bottom: 80px;
	    clear: both;
	    text-align: center;
	    position: relative;
	    width: 100%;		
	}
	.page-numbers {
		vertical-align: top;
		margin: 0 auto !important;
		float: none;
		padding: 0 27px;
		display: inline-block;
		width: auto;
		height: auto;
		border-right: 1px solid #ebebeb;
		line-height: 13px;
		background: transparent;
		text-align: center;
		font-weight: bold;
		color: $text-color;
		font-family: $font-family-second;
		font-size: 16px;
		text-transform: uppercase;
		&:hover{
			color: $theme-color;
		}
		&span{
			color: $theme-color;
		}
		&.next{
			float: right;
			border: 0;
			padding-right: 0;
		    font-size: 14px;
			&::after{
				content: "\f061";
				padding-left: 45px;
				font-family: FontAwesome;
				font-size: 12px;
				line-height: 13px;
				font-weight: normal;
			}
		}
		&.prev{
			float: left;
			border: 0;
			padding-left: 0;
			font-size: 14px;
			&::before{
				content: "\f060";
				padding-right: 45px;
				font-family: FontAwesome;
				font-size: 12px;
				line-height: 13px;
				font-weight: normal;
			}
		}
	}	
}

/*
* General Post Style using for all with naming class entry
*/
.entry-date{

}
.entry-comment{

}
.entry-content{

}
.entry-author{

}
.entry-link{

}
.entry-meta{
	margin: $entry-meta-margin;
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.entry-image{
	margin: -1px;
	display: block;
}
.entry-thumb{
	position: relative;
}
.entry-title{
	margin-top: 0;
	line-height: $entry-title-line-height;
	text-transform: $entry-title-transform;
	a{ color: #252525; }
	&:hover{
		a{ color: $theme-color; }
	}
}
.entry-content-inner{
	padding: $theme-padding;
}
.type-post{
	margin-bottom: $post-type-margin;
}
.blog-title{
	margin-bottom: $theme-margin;
}
.blog-type{
	.entry-image{
		@include size(auto,169px);
		img{
			width: auto;
		}
	}
}

/* Using for new, magazine ---------------------------------------------------------------*/
.post-type{

}
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}


/* bin-recent-post ----------------------------------- */
.bin-recent-post{
	&.layout-1{
		margin-bottom: 35px;
		.carousel-control{
			display: none !important;
		}
		.wrapper-recent-post{
			min-height: 80px;
			clear: both;
			margin-bottom: 20px;
			&::last-child{
				margin-bottom: 0;
			}
			.post-thumbnail{
				display: block;
				@include rtl-float-left();
			}
			.post-content{
				@include rtl-padding-left(100px);
				.byline{
					display: none;
				}
				.entry-title{
					line-height: normal;
					font-weight: normal;
					margin-bottom: 12px;
					a{
						color: $text-color;
						font-size: 12px;
						line-height: 18px;
						display: block;
						font-family: $font-family-second;
						&:hover{
							color: $theme-color;
						}
					}
				}
				.entry-date{
					time{
						font-size: 14px;
						color: #959595;
						span{
							font-size: 18px;
							font-weight: bold;
							color: $theme-color;
							@include rtl-padding-right(5px);
							font-family: $font-family-second;
						}
					}
				}
			}
		}
	}
}
.blog{
	.gallery-slider{
		.carousel-control{
			display: none;
		}
	}
}
.siderbar-left + .cate-post-content.col-lg-9{
	float: right !important;
}
@media (min-width: 1200px){
	.cate-post-content{
		.blog-content-grid{
			article{
				&.col-lg-6:nth-child(2n + 1),
				&.col-lg-5:nth-child(5n + 1),
				&.col-lg-4:nth-child(3n + 1),
				&.col-lg-3:nth-child(4n + 1),
				&.col-lg-1:nth-child(6n + 1){
					clear: both;
				}
			}
		}
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.cate-post-content{
		.blog-content-grid{
			article{
				&.col-md-6:nth-child(2n + 1),
				&.col-md-5:nth-child(5n + 1),
				&.col-md-4:nth-child(3n + 1),
				&.col-md-3:nth-child(4n + 1),
				&.col-md-1:nth-child(6n + 1){
					clear: both;
				}
			}
		}
	}	
}
@media (max-width: 991px) and (min-width: 768px){
	.cate-post-content{
		.blog-content-grid{
			article{
				&.col-sm-6:nth-child(2n + 1),
				&.col-sm-5:nth-child(5n + 1),
				&.col-sm-4:nth-child(3n + 1),
				&.col-sm-3:nth-child(4n + 1),
				&.col-sm-1:nth-child(6n + 1){
					clear: both;
				}
			}
		}
	}	
}
@media (max-width: 767px){
	.cate-post-content{
		.blog-content-grid{
			article{
				&.col-xs-6:nth-child(2n + 1),
				&.col-xs-5:nth-child(5n + 1),
				&.col-xs-4:nth-child(3n + 1),
				&.col-xs-3:nth-child(4n + 1),
				&.col-xs-1:nth-child(6n + 1){
					clear: both;
				}
			}
		}
	}	
}