/*
*  Responsive
*/
@media (min-width: 1200px) {
    
}
/* Max Width 1200px  */
@media (max-width: 1199px){

    .bin-header.header-4 .bin-navigation ul > li.level-0 > a{
        padding: 15px 16px;
    }
    .section2-home--3 {
        padding: 15px 0 50px 0;
    }
    .section3-home--3 {
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .bin-policy.bin-policy--2 {
        padding-top: 15px;
        padding-bottom: 50px;
    }
    .bin-recent-post.layout-noslider article.post-list .post-content{
        margin-bottom: 35px;
    }
    .bin-header.header-2 .chosen-container{
        padding: 8.5px 8px;
    }
    /* Contact Page */
    .bin-navigation ul > li.level-0 > a{
        padding: 15.5px 19px;
    }
    .bin-header .header-content .binAccount > .bin-icon i,
    .bin-header .header-content .search-box .search-toggle i{
        width: 40px;
    }
    #bin-topbar .topbar-menu .widget-title{
        @include rtl-margin-right(14px);
    }
    #bin-footer.footer-1 .section-footer1-1 .menu li a{
        margin: 0 12px;
    }
    #bin-footer.footer-1 .section-footer1-1 .bin-btn-1 a{
        padding: 0px 20px;
        font-size: 14px;
    }
    .bin-header .header-content .binAccount .menu{
        @include rtl-left(auto);
        @include rtl-right(0);
        @include translateX(0);
    }
    .woocommerce #button-price-slider{
        clear: both;
        margin-top: 15px;
        padding: 10px 40px;
        @include rtl-float-left;
    }

    /* Single Product */
    .woocommerce-page{
        &.single-product .BoxInfo{
            padding-right: 15px;
            padding-left: 15px;
        }
        &.single-product .BoxInfo .single_add_to_cart_button{
            padding: 0px 30px;
        }
    }

    /* Home 1 */
    .section2-home-1{
        .bin-policy .policy-info .desc-policy strong {
            width: 100%;
            display: inline-block;
        }
        .bin-policy .policy-info{
            padding: 0px 15px;
        }      
    }
    .section3-home-1{
        .left-content-category .count-comment span.number,
        .left-content-category .count-product span.number,
        .left-content-category .count-category span.number{
            min-width: 80px;
        }
        .left-content-category > a{
            padding: 17px 25px;
        }
    }
    .wrapper-benner.layout2 .content-benner{
        @include rtl-right(40px);
        top: 25px;
    }
    .wrapper-benner.layout1 .content-benner{
        @include rtl-right(20px);
        top: 25px;
    }

    /* home 2 */
    .wrapper-benner.layout3 .content-benner {
        top: 65px;
    }
    .bin-policy .policy-info {
        padding: 0px 15px;
    }
    .bin-policy .policy-info .desc-policy strong,
    .theme-color .bin-policy .policy-info .desc-policy strong{
        display: inline-block;
        width: 100%;
    }

}
/* Max Width 1023 - 1200px  */
@media (min-width: 1024px) and (min-width: 1199px){
    
}
/* Max Width 1023px  */
@media (max-width: 1024px){
    .bin-recent-post.layout-default{
        .post{
            width: 50%;
            float: left;
            margin-bottom: 0;
        }
        .owl-carousel{
            display: inline-block;
        }
    }
    .bin-recent-post.layout-default a.post-thumbnail img{
        width: 100%;
    }    
    .bin-header.header-1 .chosen-container {
        min-width: 75px;
    }
    .products-list{
        display: inline-block;
        width: 100%;
        article.col-md-6:nth-child(2n + 1),
        article.col-md-2:nth-child(6n + 1),
        article.col-md-3:nth-child(4n + 1),
        article.col-md-4:nth-child(3n + 1){
            clear: both;
        }
        article.col-md-2.4:nth-child(5n + 1){
            width: 20%;
            clear: both;
        }
    }
    .bin-woo-slider.slider-layout-3{
        article{
            width: 50%;
            padding: 0;
            .item-product{
                width: 50%;
            }
        }        
    }
}
@media (max-width: 1023px){
    .section7-home--4{
        margin-top: 50px;
    }
    .bin-recent-post.layout-noslider article.post-list:nth-child(2n) .post-content{
        margin-top: 20px;
    }
    .bin-recent-post.layout-noslider article.post-list .post-content .entry-title a{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .title-block-2 h2{
        font-size: 24px;
    }
    .section8-home--3 {
        margin-top: 50px;
    }
    .bin-brand-container-slider1 .slider {
        padding: 0px 50px;
    }
    .bin-woo-container-slider.bin-woo-container-slider--1 .item {
        padding: 0px 15px;
    }
    .section6-home--3 {
        padding: 0px 15px;
    }
    .section7-home--3 {
        margin-top: 50px;
    }
    .bin-woo-container-slider.bin-woo-container-slider--1 .title-block-2 {
        margin-bottom: 50px;
    }
    .section5-home--3 {
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .bin-woo-slider.slider-layout--4 .p-wrap--first .wrap-title {
        width: 100%;
        margin-bottom: 35px;
    }
    .bin-policy.bin-policy--2 .policy-info .title-policy{
        font-size: 42px;
    }
    .bin-policy.bin-policy--2 .bin-policy-link{
        font-size: 14px;
        line-height: 48px;
        padding: 0px 30px;    
    }
    .bin-woo-tab-cat.bin-woo-tab-cat--1 .top-tab-slider .nav-tabs li a{
        line-height: 38px;    
    }

}
@media (min-width: 992px) {
    .bin-navigation ul > li.level-0{
        &:hover{
            .sub-menu{
                display: block;
            }    
        }
    }
}
/* Max Width 992px  */
@media (max-width: $screen-md){
    .products-list{
        article.col-md-6:nth-child(2n + 1),
        article.col-md-2:nth-child(6n + 1),
        article.col-md-3:nth-child(4n + 1),
        article.col-md-4:nth-child(3n + 1){
            clear: none;
        }
        article.col-md-2.4:nth-child(5n + 1){
            width: 20%;
            clear: none;
        }
    }
    /* Home Page */
    .products-list{
        article.col-sm-6:nth-child(2n + 1),
        article.col-sm-2:nth-child(6n + 1),
        article.col-sm-3:nth-child(4n + 1),
        article.col-sm-4:nth-child(3n + 1){
            clear: both;
        }
        article.col-sm-2.4:nth-child(5n + 1){
            width: 20%;
            clear: both;
        }
    }
    #main-menu{
        margin: 0;
        @include rtl-float-left;
    }
    .navbar-mega .navbar-nav > li .dropdown-menu .widget-title{
        @include font-size(font-size,15px);
    }
    /*// slideshow*/
    .tp-caption{
        &.text-style-yellow-medium:after{
            display: none;
        }
    }
 
    .split-layout{
        .main-posts{
            .entry-content{
                top: 50%;
                padding-bottom: 0;
            }
        }
        .secondary-posts{
            .post{
                @include square(172px);
            }
            .entry-title{
                display: none;
            }
        }
    }
    .vc_pie_chart .wpb_descript{
        display: none;
    }

    /*// brand logo*/
    .widget-brand-logo{
        .carousel-control{
            height: 62px;
        }
    }

    /*//blog*/
    .blog-meta{
        @include rtl-right(0);
    }
    .blog-type{
        .entry-image{
            @include square(auto);
        }
    }

    /*// sidebar*/
    .bin-woo-tab-cat.bin-woo-tab-cat--1 article{
        margin-bottom: 30px;
    }
    .bin-woo-tab-cat.bin-woo-tab-cat--1 article .products-content{
        padding: 0px 15px;
    }
    .bin-woo-slider.slider-layout--4 .p-wrap--last,
    .bin-woo-slider.slider-layout--4 .p-wrap--first{
        width: 100%;
    }
    .bin-woo-slider.slider-layout--4 .p-wrap--first > div{
        padding: 0px 15px;
    }
    .bin-woo-slider.slider-layout--4 .item-product{
        margin-bottom: 30px;
    }
    .bin-woo-container-slider.bin-woo-container-slider--1 .item{
        margin-bottom: 30px;
    }
    .section7-home--3 {
        margin-top: 20px;
    }
    .products-list {
        margin: 0;
    }

}
/* Max Width 768 - 991px  */
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    /* Blog Post */
    .bin-recent-post.layout-1 .wrapper-recent-post{
        .post-content{
            @include rtl-padding-left(0);
            display: inline-block;
            width: 100%;
            .entry-title{
                margin-bottom: 5px;
                margin-top: 10px;
            }
        }
        .post-thumbnail{
            float: none;
            img{
                height: auto;
            }
        }
    }

    /* Home 2 */
    .widget-twitter{
        li:first-child{
            margin: 0;
        }
    }
    .widget-brand-logo{
        .carousel-control{
            height: 44px;
        }
        .widget-brands-inner{
            padding: 0;
        }
    }
    .block-about{
        .block-about-image{
            img{
                display: none;
            }
        }
        .wpb_text_column{
            padding-right: 30px;
        }
    }
    .split-layout{
        .secondary-posts{
            .post{
                @include square(175px);
                .entry-title{
                    display: none;
                }
            }
        }
        .main-posts{
            .entry-content{
                top: 50%;
                padding: 20px 20px 0 30px;
            }
        }
    }
    .fullwidthbanner-container{
        height: 320px !important;
    }
    .blog-type{
        .entry-image{
            height: auto;
        }
    }
    .blog{
        &.style2{
            .entry-content{
                min-height: 240px;
            }
            .blog-date{
                display: none;
            }
            .entry-title,.entry-description{
                padding: 0 20px;
            }
        }
    }
    .vc_pie_chart{
        .wpb_pie_chart_descript{
            display: none;
        }
    }
    .active-mobile{
        width: 60px;
        .fa,.icon{
            @include font-size(font-size,25px);
            &:hover{
                color: $white;
            }
        }
    }
}

/* Max Width 991px  */
@media (max-width: $screen-sm-max) {
    .section3-home--4{
        margin-bottom: 0;
    }
    .section7-home--4 .bin-recent-post.layout-3{
        margin-bottom: 35px;
    }
    .heading-box.heading-box--2 h2 {
        margin-bottom: 20px;
    }
    .bin-recent-post.layout-3 article .post-content .entry-title a{
        font-size: 16px;
    }
    .bin-woo-tab-cat.layout-2{
        .products-list.grid .product-wapper .products-content{
            padding: 15px 15px 0 15px;
        }
        .products-list article{
            margin-bottom: 30px;
        }
    }
    .products-list.grid > li.product{
        padding: 0px 15px !important;
        margin-bottom: 35px;
        .products-content{
            padding-left: 10px;
            padding-right: 10px;
        }
    } 
    .section4-home-1{
        div.bin-woo-slider.woo-slider-default{
            article{
                margin-bottom: 35px;
        }   }        
    }
    div.bin-woo-slider.woo-slider-default{
        article{
            padding-bottom: 0;
            width: 50%;
            display: inline-block;
            float: left;
            &:nth-child(2n + 1){
                clear: both;
            }
            .item-product{
                width: 100%;
            }
        }
    }
    .theme-color .bin-policy .policy-info .desc-policy{
        font-size: 11px;
    }
    div.slider-home-1{
        margin-bottom: 0 !important;
    }
    div.bin-woo-slider.slider-layout-3 .products-list.grid .product-wapper{
        margin-bottom: 35px !important;
    }
    .main-content{
        .vc_tta-container h2,
        .title-block h2{
            font-size: 18px;
            line-height: 100%;
        }
    }
    .left-content-category .title-block h2::before{
        top: 2px !important;
        bottom: 2px !important;
    }
    /* Page Contact */
   .section-footer1-1{
        >div{
            width: 100%;
            text-align: center;
        }
        .pull-right{
            margin-top: 20px;
            float: left !important;
        }
        >.pull-left{
            float: right !important;
            margin-top: 10px;
        }
    }
    #bin-footer.footer-1 .section-footer1-1 .menu{
        display: inline-block;
    }
    #bin-footer.footer-1 .section-footer1-1 .bin-btn-1{
        float: none;
    }
    #bin-footer.footer-1 .section-footer1-1 {
        padding-bottom: 35px;
    }
    #bin-footer{
        padding-top: 35px;
        padding-bottom: 35px;       
    }
    .header-4,
    .header-3,
    .header-1{
        .bingo-menu-wrapper{
            .navbar-header{
                float: none;
            }
            .navbar-toggle{
                display: block;
                margin-right: 0;
                float: none;
                margin: 10px 0;
                border-color: $theme-color;
            }
        }
    }
    .header-3 .bingo-menu-wrapper .navbar-toggle{
        margin: 5px auto;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background: $white; 
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus{
        background: $theme-color;
    }    
    #bin-main .page-title.bin-title {
        padding: 170px 0 50px 0;
        background-size: 100%;
    }    
    .bin-main{
        .wrapper-form{
            margin-bottom: 0;
        }
        .section-map{
            margin-bottom: 0 !important;
        }
        .section-form{
            h3{
                margin-bottom: 25px !important;
            }
        }
    }
    .bin-main-content {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .search-overlay .search-from input {
        width: 100%;
        background: transparent;
        border: 2px solid #fff;
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        font-size: 16px;
    }
    .search-from .btn {
        font-size: 14px;
        font-size: 28px;
        margin-top: -25px;
        right: 5px;
    }
    .bin-header .header-content .binAccount .menu{
        @include rtl-left(auto);
        @include rtl-right(0);
        @include translateX(0);
    }
    .bin-header .header-content{
        padding: 10px 0 10px 0;
        >.row{
            @include flexbox;
            .bingoHeaderLeft{
                order: 2;
                text-align: center;
            }
            .bingoHeaderMiddle{
                order: 1;
            }
            .bingoHeaderRight{
                order: 3;
            }
        }
    }
    .bin-navigation ul > li.level-0.mega-menu{
        position: relative;
    }
    .bin-navigation ul > li.level-0{
        display: inline-block;
        width: 100%;
        position: relative;
        > a{
            color: $text-color;
            padding-left: 0;
            padding-right: 0;
            border-bottom: 1px dashed $theme-border-color;
        }
    }
    .bin-navigation-active .remove-megamenu{
        position: absolute;
        padding: 0;
        top: 20px;
        @include rtl-right(20px);
        &::before{
            content: "\f00d";
            font-family: FontAwesome;
            color: $theme-color;
            font-size: 20px;
            @include transition(all 0.3s ease-in-out);
        }
        &:hover{
            &::before{
                color: $text-color;
            }
        }
    }
    .bin-navigation li .sub-menu{
        @include rtl-margin-left(0);
    }

    /* About Us */
    .bin-main{
        .bin-main-content{
            margin-top: 35px;
            margin-bottom: 35px;
        }
        .title-about{
            margin-bottom: 25px !important;
            h2{
                margin-top: 0;
            }
        }
        .about-section-3,
        .about-section-2{
            margin-bottom: 35px !important;
        }
        .about-section-4{
            margin-bottom: 0 !important;
        }
        .bin-testimonial{
            padding: 20px 15px;
        }
    }

    /* Portfolio */
    .bin-portfolio .portfolio-tab{
        margin-bottom: 35px;
    }
    .bin-portfolio .portfolio-tab ul li{
        font-size: 16px;
    }

    /* Blog */
    .blog{
        .cate-post-content{
          .grid-post{
                width: 50%;
                &:nth-child(2n+1){
                    clear: both;
                }
            }  
        }
    }
    .bin-main-content{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .navigation.paging-navigation .pagination{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* .post-single */
    .post-single{
        margin-bottom: 0;
    }

    /* Page Cart */
    .woocommerce-cart.woocommerce-page{
        .cart-collaterals .wc-proceed-to-checkout a::after,
        .cart-collaterals .wc-proceed-to-checkout a{
            font-size: 14px;
        }
        .cart_totals >h2{
            font-size: 18px;
        }
    }
    
    /* Wishlist Page */
    .woocommerce-wishlist{
        .woocommerce table.wishlist_table thead{
            display: none;
        }
        .woocommerce table.wishlist_table tbody td{
            display: inline-block;
            width: 100%;
        }
        .wishlist_table tr td.product-thumbnail a{
            margin: auto;
        }
    }

    /* Page 404 */
    .error404 {
        .page-404{
            padding-top: 0px;
            padding-bottom: 35px;
            text-align: center;
        }
        #bin-main .page-header .page-title{
            font-size: 45px;
            margin-bottom: 20px;
            text-align: center !important;
        }
        .content-404 h3{
            font-size: 18px;
            margin-bottom: 15px;
        }
        .page-404 .content-404 p {
            font-size: 14px;
        }
        .page-404 .content-404 .btn-404 a{
            font-size: 14px;
            padding: 15px 25px;
            margin-top: 10px;
            height: auto;
        }
    }   

    /* Single Post */
    .post-single .top-single-post .entry-title{
        font-size: 18px;
    }
    
    /* Categories Product */
    .woocommerce{
        .content_sortPagiBar .woocommerce-ordering .orderby,
        .content_sortPagiBar .woocommerce-result-count{
            font-size: 14px;
        }
        .products-list.list .product-wapper .products-content .product_type_external,
        .products-list.list .product-wapper .products-content .product_type_grouped,
        .products-list.list .product-wapper .products-content .add_to_cart_button{
            font-size: 14px;
            height: 43px;
            padding: 8px 22px;
        }
        .products-list.list .product-wapper .products-content .yith-wcwl-add-to-wishlist .add_to_wishlist::before{
            @include square(43px);
            line-height: 43px;
        }
        .products-list.list .product-wapper .products-content .rating .star-rating.none{
            display: none;
        }
        .products-list.list .product-wapper .products-content .rating .star-rating{
            display: inline-block;
            margin: 10px 0 5px;
        }
        .products-list.list .product-wapper .products-content h3{
            line-height: 23px;
            a{
                line-height: 100%;
            }
        }
        .products-list.list .product-wapper .products-content .add-links-wrap {
            margin-top: 15px;
            display: inline-block;
            width: 100%;
        }
        .bin-main-content{
            >.row{
                >div{
                    width: 100%;
                }
            }
            .products-list.grid{
                .type-product{
                    width: 50%;
                    @include rtl-float-left;
                }
                .col-lg-4.col-md-4:nth-child(3n+1) {
                    clear: none;
                }
                .col-lg-4.col-md-4:nth-child(2n+1){
                    clear: both;
                }
            }
        }
        #bin_form_filter_product{
            width: 100%;
        }
        #button-price-slider {
            clear: none;
            margin-top: 0px;
            padding: 10px 30px;
            @include rtl-float-right;
        }
        .content_sortPagiBar.bottom{
            margin-top: 25px;
            margin-bottom: 0;
            font-size: 14px;
            padding-top: 20px;
        }
        .bin-sidebar{
            margin-bottom: 0;
            aside:last-child{
                margin-bottom: 0;
            }
        }
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li a.prev.page-numbers,
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li a.next.page-numbers{
            top: 22px;
        }
    }
    
    /* Single Product */
    .woocommerce-page{
        .vc_tta-container h2,
        .title-block h2{
            font-size: 18px;
            line-height: 100%;
            margin-bottom: 25px;
        }
        .bin-main-content .upsells{
            .products-list.grid .type-product {
                width: 100% !important;
                padding-bottom: 15px;
            }            
        }
        .related{
            margin-bottom: 20px;
            .title-block h2{
                margin-bottom: 25px;
            }
            .products-list.grid .type-product {
                width: 100% !important;
                padding-bottom: 15px;
            }            
        }   
        &.single-product{
            .woocommerce-tabs {
                padding: 30px 0 0px 0;
                margin: 0 0 35px 0;
            }
            #tab-additional_information h2{
                font-size: 18px;
                margin-bottom: 20px;
            }
            .bin-main .bin-main-content{
                margin-bottom: 0;
            }
            .entry-summary .product_title{
                font-size: 18px;
                padding-bottom: 5px;
            }
            .BoxInfo div[itemprop="description"] {
                margin: 0px 0 25px;
            }
            .BoxInfo .product_meta {
                margin: 15px 0 20px;
            }
            .woocommerce-tabs .tab-title,
            .woocommerce-tabs #reviews #comments > h2{
                font-size: 14px;
                margin-bottom: 15px;
            }
            .contents-detail{
                >.row{
                    >div{
                        width: 100%;
                    }
                }
                aside{
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    /* Home 1 */
    .home{
        .slider-home-1{
            margin-bottom: 0 !important;
        }
        .section2-home-1{
            padding-bottom: 35px !important;
            >div{
                width: 100%;
                margin-bottom: 15px;
            }
            .bin-policy{
                img{
                    width: 100%;
                    height: 60px;
                }
            }
        }
        .section3-home-1{
            .left-content-category .title-block h2{
                line-height: 100%;
            }
            .left-content-category .count-comment,
            .left-content-category .count-product,
            .left-content-category .count-category{
                width: 33.33%;
                @include rtl-float-left();
                span.number{
                    font-size: 24px;
                }
                span{
                    line-height: 24px;
                }
            }
            .left-content-category > a {
                padding: 12px 20px;
                font-size: 16px;
            }
            .left-content-category {
                margin-bottom: 35px;
            }
            .bin-woo-categories-container{
                >.row{
                    >div{
                        width: 100%;
                    }
                }
                .content-category{
                    .row{
                        >div{
                            width: 33.33%;
                            @include rtl-float-left;
                        }
                    }
                }
            }
        }
        .section4-home-1{
            padding-top: 0px !important;
            padding-bottom: 0 !important;
            >div{
                width: 50%;
            }
        }
        .bin-woo-slider .title-block h2{
            margin-bottom: 20px;
            font-size: 18px;
        }
        .bin-woo-slider .owl-buttons .carousel-control{
            font-size: 18px;
            top: -42px;
        }
        .bin-woo-slider .owl-buttons .carousel-control > i {
            font-size: 24px;
        }
        .wrapper-benner.default .content-benner .title-banner h2{
            font-size: 18px;
        }
        .wrapper-benner.default .content-benner .btn-banner {
            font-size: 14px;
            line-height: 40px;
            margin-top: 20px;
        }
        .wrapper-benner.default .content-benner > span{
            font-size: 14px;
        }
        .wrapper-benner.layout2 .content-benner .title-banner h2,
        .wrapper-benner.layout1 .content-benner .title-banner h2 {
            font-size: 24px;
        }
        .wrapper-benner.layout2 .content-benner > span,
        .wrapper-benner.layout1 .content-benner > span{
            font-size: 14px;
        }
        .wrapper-benner.layout1 .content-benner .number-banner{
            font-size: 35px;
        }
        .wrapper-benner.layout2 .content-benner .btn-banner,
        .wrapper-benner.layout1 .content-benner .btn-banner {
            font-size: 14px;
            line-height: 40px;
            padding: 0px 25px;
            margin-top: 15px;
        }
        .wrapper-benner.layout1 .content-benner{
            max-width: 280px;
            @include rtl-right(0);
        }
        .wrapper-benner.layout2 .content-benner{
            max-width: 280px;
            @include rtl-left(30px);            
        }
        .section5-home-1{
            margin-bottom: 35px !important;
        }
        .section6-home-1{
            padding-bottom: 0 !important;
        }
        .section7-home-1{
            margin-bottom: 35px !important;
            .vc_col-sm-8{
                >div{
                    padding-top: 35px !important;
                    padding-bottom: 35px !important;
                }
            }
        }         
        .bingo-newsletter .content-newsletter input[name="your-email"] {
            height: 50px;
            padding: 8px 15px;
        }
        .bingo-newsletter .desc-newsletter {
            margin-bottom: 20px;
        }
        .bingo-newsletter .title-newsletter h3{
            margin-bottom: 15px;
        }
        .bingo-newsletter .content-newsletter input[type="submit"]{            
            font-size: 16px;
            padding: 16px 25px 15px 25px;
        }
        .section8-home-1{
            padding-bottom: 0 !important;
        }
        .section9-home-1{
            padding-bottom: 35px !important;
            >div{
                width: 100%;
            }
            .vc_tta-container h2,
            .title-block h2{
                margin-bottom: 20px;
            }
        }
        .bin-recent-post.layout-default .carousel-control{
            top: -43px;
            font-size: 24px;
        }
        .bin-header .bin-navigation ul > li.level-0 > a {
            color: $text-color;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .products-list.grid{
        .type-product{
            padding: 0 15px;
        }
        .product-wapper{
            margin: 0 !important;
            padding: 15px 0 !important;
            border-color: $white;
            background-color: $white;           
            @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.06));
        }
    }
    .products-list.grid .product-wapper:hover .products-thumb .quickview{
        display: none;
    }

    .products-list.grid .product-wapper .products-content .ajax_add_to_cart,
    .products-list.grid .product-wapper .products-content .product_type_grouped,
    .products-list.grid .product-wapper .products-content .add_to_cart_button,
    .products-list.grid .product-wapper .products-content .yith-wcwl-add-to-wishlist,
    .products-list.grid .product-wapper .products-content .yith-wcwl-wishlistaddedbrowse,
    .products-list.grid .product-wapper .products-content .yith-wcwl-wishlistexistsbrowse{
        opacity: 1 !important;
    }
    .products-list.grid .product-wapper .products-content .ajax_add_to_cart,
    .products-list.grid .product-wapper .products-content .product_type_grouped,
    .products-list.grid .product-wapper .products-content .add_to_cart_button{
        opacity: 1 !important;
    }
    .products-list.grid .product-wapper .products-content .yith-wcwl-wishlistaddedbrowse,
    .products-list.grid .product-wapper .products-content .yith-wcwl-wishlistexistsbrowse{
        opacity: 1 !important;
    }
    
    /* Home 1 */
    .header-1{
        .bin-wrapper{
            background: rgba(0, 0, 0, 0.7) !important;
            border-top: 1px solid rgba(220, 220, 220, 0.39);
        }
        #bin-topbar{
            background: rgba(0, 0, 0, 0.7) !important;
        }
    }
    
    /* Home 2 */
    .bin-main{
        .section2-home-2{
            margin-bottom: 20px !important;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 0;
            >div{
                >.vc_column-inner{
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                    .right.vc_col-sm-6{
                        .vc_column-inner{
                            padding-left: 7.5px;
                        }
                    }
                    .left.vc_col-sm-6{
                        .vc_column-inner{
                            padding-right: 7.5px;
                        }
                    }
                }
            }
            .woo-no-slider .item-product-cat {
                margin-bottom: 15px;
            }
        }
        .section3-home-2{
            margin-bottom: 20px !important;
            .bin-policy img {
                width: 100%;
                height: 60px;
            }
            >div{
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .section4-home-2 {
            margin-bottom: 20px !important;
            .wpb_wrapper >.wpb_content_element{
                margin-bottom: 25px !important;
            }
        }
        .section5-home-2{
            padding-top: 35px !important;
        }
        .section5-home-2 .wpb_wrapper > .wpb_content_element {
            margin-bottom: 25px !important;
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
            top: -88px;
        }
        .section5-home-2 .bin-woo-countdown-slider {
            margin-bottom: 35px;
        }
        .bingo-newsletter-2 .content-newsletter {
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .section8-home-2 .wpb_wrapper > .wpb_content_element {
            margin-bottom: 25px !important;
        }
        .section7-home-2{
            margin-top: 35px !important;
            margin-bottom: 35px !important;
        }
        .section8-home-2{
            margin-bottom: 20px !important;
        }
        .section9-home-2 {
            padding: 15px 0;
        }
        .wrapper-benner.layout3 .content-benner{
            top: 35px;
            left: 60px;
        }
        .section6-home-2 .heading-box h2 {
            margin-bottom: 25px;
        }
        .bin-woo-slider.slider-layout-1 .carousel-control,
        .bin-woo-slider.slider-layout-2 .carousel-control {
            top: -44px !important;
        }        
        .bin-woo-slider.slider-layout-1{
            .products-list.grid .product-wapper{
                @include box-shadow(none);
                margin: 0 0 15px 0 !important;
                padding: 0 !important;
                @include rtl-padding-left(100px !important);
            }
            .product .product-wapper .rating{
                padding: 0;
            }
        }
        .bin-woo-slider.slider-layout-2{
            .product .product-wapper {
                padding: 11px !important;
                @include box-shadow(none);
            }
        }
        .bin-woo-slider.slider-layout-2,
        .bin-woo-slider.slider-layout-1{
            .products-list.grid .type-product{
                padding: 0;
            }
        }
        .section6-home-2{
            padding-top: 35px !important;
            >div{
                width: 100%;
            }
        }
        .wrapper-benner.layout3 .content-benner .btn-banner {
            font-size: 16px;
            line-height: 44px;
            height: 46px;
            padding: 0px 20px;
            margin-top: 15px;
            border: 2px solid #252525 !important;
        }
        .wrapper-benner.layout3 .content-benner .title-banner h2 {
            font-size: 32px;
            margin-bottom: 15px;
        }
        .bingo-newsletter-2 .content-newsletter input[type="submit"]{
            top: 5px;
            @include rtl-right(5px);
            line-height: 50px;
            height: 50px;
        }
        .bingo-newsletter-2 .content-newsletter input[type="email"]{
            height: 60px;
            padding: 10px 25px;            
        }
    }
    .heading-box h2{
        font-size: 18px;
    }
    .bin-recent-post.layout-2{
        .post-content {
            padding-top: 15px;
        }
        .post-content .entry-title a {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 16px;
        }
        .post-content .btn-read-more a{
            margin-top: 5px;
            margin-bottom: 0;
            border: 1px solid #f9b61e;
            padding: 8.5px 18px; 
        }
    }
    .active-mobile{
        width: 70px;
        > .fa, > .icon{
           font-size: 25px!important;
        }
    }
    .topbar{
        padding: 0;
        .user-login{
            padding-top: 15px;
        }
    }
    .widget-twitter{
        li:first-child{
            margin: 0;
        }
    }
    .woocommerce-tabs{
        .nav-tabs{
            margin-bottom: 20px;
            li{
                @include rtl-float-left();
                margin-right: 10px;
            }
        }
    }
    .block-pie-chart-ourskills{
        background-image: none;
    }
    .blog{
        &.style2{
            margin-bottom: 30px;
            .blog-date{
                display: none;
            }
            .entry-title,
            .entry-description{
                padding: 0 20px;
            }
        }
    }
    .blog-type{
        .entry-image{
            height: auto;
        }
    }
    .wpb-container .block-services .wpb-container{
        padding: 30px 30px 30px 60px;
    }
    .block-about .wpb_text_column{
        padding: 30px;
    }
    .split-layout{
        display: none;
    }
    .posts-grid-category{
        margin: 0 0 30px 0;
    }
    .posts-grid{
        .post{
            margin-bottom: 20px;
        }
    }
    .posts-list{
        .post{
            margin-bottom: 20px;
            .entry-thumb{
                float: none;
                margin: 0 0 20px 0;
                @include size(100%,inherit);
            }
            .entry-title{
                line-height: inherit;
            }
        }
    }
}
@media (max-width: 768px) {
    .bin-policy{
        img{
            width: 100%;
        }
    }
    .products-list{
        display: inline-block;
        width: 100%;
        .col-sm-6:nth-child(2n + 1),
        .col-sm-2:nth-child(6n + 1),
        .col-sm-3:nth-child(4n + 1),
        .col-sm-4:nth-child(3n + 1){
            clear: both;
            margin-bottom: 35px;
        }
        .col-sm-2.4:nth-child(5n + 1){
            width: 20%;
            clear: both;
            margin-bottom: 35px;
        }
    }
    .bin-woo-slider.slider-layout-3{
        article{
            margin: 0 !important;
            padding: 0;
        }
        .products-list.row{
            margin: 0;
        }
        .products-list.grid .product-wapper .products-content{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .section4-home-2{
        .vc_column-inner{
            padding: 0;
        }
    }
    div.vgwc-featured,
    span.onsale{
        font-size: 11px;
        padding: 4px 8px;
    }      
}
/* Max Width 767px  */
@media (max-width: $screen-xs-max) {
    .section3-home--4 .vc_column_container>.vc_column-inner {
        padding: 0;
    }
    .bin-woo-tab-cat .tab-pane .woo-tab-container-slider{
        margin: 0;
    }
    .bin-woo-tab-cat.layout-2{
        .products-list .item-product{
            width: 100%;
        }
    }
    .bin-recent-post.layout-3 .type-post{
        padding: 0;
    }
    .bin-woo-tab-cat.bin-woo-tab-cat--1 .products-list.grid{
        padding: 0px 15px;
    }
    .section2-home--3 .title-block-2 h2{
        margin-bottom: 30px;
    }
    div.section2-home-1{
        padding-bottom: 35px !important;
        .bin-policy{
            margin-bottom: 20px;
        }
    }
    .theme-color .bin-policy .policy-info .desc-policy{
        font-size: 14px;
    }
    #yith-wcwl-popup-message{
        display: none !important;
    }
    .contents-detail .images .woocommerce-main-image{
        .item,
        img{
            pointer-events: none;
        }
    }
    #bin-topbar .login-top .modal-dialog{
        margin: 0 auto;
    }   
    /* Home Contact Page */
    #bin-footer.footer-1 .section-footer1-2{
        padding-top: 35px;
        text-align: center;
        .social-network{
            display: inline-block;
        }
        .pull-right{
            float: none !important;
        }
        .bin-wraper-copyright{
            padding: 18px 0;
        }
        .bin-wraper-copyright .text-cpy{
            margin-bottom: 10px;
        }
    }
    .section-contact-1{
        .wpb_content_element{
            margin-bottom: 15px;
        }
        h5{
            margin-top: 15px !important;
            margin-bottom: 15px !important;
        }
    }
    #bin-main .page-title h1{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .header-1{
        #bin-topbar{
            padding: 5px 0;
            .topbar-message{
                display: none;
            }
            .row >div{
                width: 100%;
                text-align: center;
            }
            .wp-top{
                float: none;
                margin-top: 5px;
            }
        }
    }
    #bin-main .page-title.bin-title{
        padding: 30px 0 25px 0;
    } 
    #bin-footer.footer-1 .section-footer1-2 .bin-wraper-copyright .icon-cpy .info-box{
        width: 300px;
        padding: 15px;
    }
    #bin-footer.footer-1 .section-footer1-2 .bin-wraper-copyright .icon-cpy .info-box .info {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    /* Portfolio */
    .bin-portfolio .portfolio-container ul li{
        margin-bottom: 15px;
    }
    .bin-portfolio .portfolio-container .portfolio-item-inner .pitem-text h3 a{
        font-size: 14px;
    }
    .post-type-archive{
        .site-content article{
            padding: 0;
        }
    }

    /* Blog */
    .blog{
        .cate-post-content{
          .grid-post{
            width: 100%;
            &:nth-child(2n+1){
                clear: none;
            }
          }  
        }
    }

   /*  Blog Post */
   .blog .cate-post-content .grid-post{
        padding: 0;
   }
    
    /* Page Cart */
    table > thead:first-child > tr:first-child > th,
    table.shop_table > tbody > tr > td{
        width: 100%;
        display: inline-block;
    }
    .shop_table thead{
        display: none;
    }

    /* Wishlist Page */
    .woocommerce-wishlist.woocommerce-page .wishlist-title h2{
        font-size: 18px;
    }

    /* Checkout */
    .woocommerce-checkout{
        table.shop_table > tfoot > tr > th,
        table.shop_table > tfoot > tr > td{
            display: inline-block;
            width: 100%;
        }
        #order_review .order-total th,
        #order_review .cart-subtotal th,
        #order_review .product-name{
            text-align: center;
        }
    }
    
    /* Single Post */
    .post-single .comment-respond .form-submit input{
        line-height: 50px;
        padding: 0px 30px;
    }

    /* Categories Product */
    .woocommerce{
        .bin-main-content .products-list.grid .type-product{
            padding: 15px;
        }
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li a.prev.page-numbers{
            @include rtl-padding-left(18px);
            top: 21px;
            font-size: 12px;
        }
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li a.next.page-numbers{
            top: 21px;
            font-size: 12px;
            @include rtl-padding-right(18px);
        }
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li a,
        .content_sortPagiBar .woocommerce-pagination ul.page-numbers li span{
            font-size: 12px;
            padding: 0px 15px;
        }
        .products-list.list{
            .type-product{
                padding: 0 15px 15px 15px;
            }
            .product-wapper{
                border-color: $white !important;
                border-radius: 10px;
                background: $white;
                @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
                .products-thumb .quickview::before{
                    display: none !important;
                }
            }
        }
        &.single-product{
            .woocommerce-tabs{
                ul.tabs li{
                    margin: 0;
                    padding: 0;
                }
                ul.tabs:before{
                    bottom: 1px;
                }
            }
            .BoxInfo {
                margin-top: 15px;
                .woocommerce-product-rating {
                    padding-bottom: 15px;
                }
                .quantity.buttons_added input[inputmode="numeric"]{
                    @include size(50px, 40px);
                }
                .quantity.buttons_added .plus,
                .quantity.buttons_added .minus{
                    height: 20px;
                    line-height: 18px;
                }
                .single_add_to_cart_button{
                    padding: 0px 20px;
                    line-height: 40px;
                }
                .compare::before{
                    font-size: 14px;
                    @include square(36px);
                    line-height: 36px;
                }
                .yith-wcwl-wishlistaddedbrowse a::before,
                .yith-wcwl-wishlistexistsbrowse a::before{
                    font-size: 14px;
                    @include square(36px);
                    line-height: 36px;                    
                }
                .yith-wcwl-wishlistaddedbrowse a,
                .yith-wcwl-wishlistexistsbrowse a{
                    @include square(40px);
                    line-height: 40px;                    
                }
                .quantity.buttons_added{
                    @include rtl-margin-right(28px);
                }
                .yith-wcwl-add-button a{
                    width: 40px;
                }
                .yith-wcwl-add-button a::before{
                    font-size: 14px;
                    @include square(36px);
                    line-height: 36px;                     
                }
                .compare,
                .single_add_to_cart_button{
                    @include rtl-margin-right(10px);
                }
            }
            .entry-summary .price ins span {
                font-size: 23px;
            }
            .entry-summary .price del span {
                font-size: 18px;
            }
        }
    }
    
    /* Home 1 */
    .home{
        .wrapper-benner.layout1 .content-benner,
        .wrapper-benner.layout2 .content-benner {
            top: 90px;
        }
        .section3-home-1 .bin-woo-categories-container .content-category .row{
            padding: 0px 7.5px 15px 7.5px;
            > div {
                width: 50%;
                padding: 0px 7.5px;
            }
        }
    }
    .bin-woo-categories-container .content-category .item-product-cat .wrapper .item-image a img{
        width: 100%;
    }
    .home .bin-woo-categories-container .content-category .item-product-cat .wrapper {
        margin-bottom: 15px;
    }
    .home .section3-home-1 .left-content-category .count-comment,
    .home .section3-home-1 .left-content-category .count-product,
    .home .section3-home-1 .left-content-category .count-category {
        width: 100%;
    }
    .home .section4-home-1 > div {
        @include rtl-float-left;
    }
    .bingo-newsletter {
        padding: 20px;
    }
    .section7-home-1{
        >.vc_col-sm-2{
            display: none;
        }
    }
    .btn-slider1{
        display: none !important;
    }
    
    /* Home 2  */ 
    .bin-main{
        .section2-home-2{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            margin-top: 25px;
            > div > .vc_column-inner .left.vc_col-sm-6,
            > div > .vc_column-inner .right.vc_col-sm-6{
                width: 50%;
                @include rtl-float-left;
            }
            > div > .vc_column-inner .left.vc_col-sm-6 .vc_column-inner {
                padding-right: 15px;
            }
            > div > .vc_column-inner .right.vc_col-sm-6 .vc_column-inner {
                padding-left: 15px;
            }
            .woo-no-slider .item-product-cat{
                margin-bottom: 30px;
            }
            >.vc_col-sm-2{
                width: 50%;
                @include rtl-float-left;
            }
        }
        .woo-no-slider .item-product-cat .item-image a img{
            width: 100%;
        }
        .wrapper-benner.layout3 .content-benner {
            top: 0px;
            left: 35px;
        }
        .wrapper-benner.layout3 .content-benner .title-banner h2 {
            font-size: 24px;
            margin-bottom: 5px;
        }
        .wrapper-benner.layout3 .content-benner > span {
            font-size: 12px;
            line-height: 20px;
        }
        .wrapper-benner.layout3 .content-benner .btn-banner {
            font-size: 12px;
            line-height: 33px;
            height: 36px;
            padding: 0px 15px;
            margin-top: 15px;
            border: 1px solid $text-color !important;
        }               
    }
    .bin-header.header-2 .top-header .right .wrapper-box > div.binAccount {
        padding: 0px 16px;
    }
    .bin-header.header-2 .top-header .right .wrapper-box > div{
        padding: 0px 18px;
    }
    .bin-main .section5-home-2 .wpb_wrapper > .wpb_content_element {
        margin-bottom: 87px !important;
    }    
    .bin-main .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
        top: -68px;
    }
    .section6-home-2 {
        >.vc_col-sm-6{
            margin-bottom: 35px;
        }
    }
    .bin-main .section7-home-2{
        margin-top: 0px !important;
    }
    .bin-main .section2-home-2 > div > .vc_column-inner {
        padding-left: 15px;
        padding-right: 15px;
    }    
    .bin-main .section2-home-2 > div > .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .bin-header{
        position: static;
    }


    .#{$app-prefix}-topbar{
        padding: 0;
        .user-login{
            padding-top: 15px;
        }
        .container{
            padding: 0;
        }
    }
    .logo-in-theme{
        float: none !important;
    }
    .container-full-width{
        padding: 0 15px;
    }
    .active-mobile{
        &.setting-popup{
            .active-content{
                width: 100%;
                min-width: 320px;
                right: -100%;
                left: auto;
            }
        }
    }
    .products{
        .carousel-control{
            top: -64px;
        }
    }
}
/* Max Width 599px  */
@media (max-width: 599px){
    .bin-woo-tab-cat.bin-woo-tab-cat--1{
        .products-list .item-product{
            width: 100%;
            margin-bottom: 0;
        }
    }
    .bin-woo-slider.slider-layout--4{
        .products-list .item-product:nth-child(2n + 1){
            clear: none !important;
        }
    }
    .bin-woo-tab-cat.bin-woo-tab-cat--1 .top-tab-slider .nav-tabs,
    .bin-woo-tab-cat.bin-woo-tab-cat--1 .top-tab-slider .title-block-2{
        width: 100%;
    }

    /* Contact Page */
    #bin-footer.footer-1 .section-footer1-1 .menu{
        text-align: center;
    }
    #bin-footer.footer-1 .section-footer1-1 .menu li{
        float: none;
    }
    #bin-footer.footer-1 .section-footer1-1 .menu li a {
        margin: 0 15px;
        line-height: 40px;
    }

    /* About Us */
    .bin-main .title-about h2{
        font-size: 18px !important;
        margin-bottom: 0;
    }
    .bin-main .title-about {
        margin-bottom: 15px !important;
    }
    .testimonial-description{
        @include rtl-padding-right(0);
    }

    /* Portfolio */
    .bin-portfolio .portfolio-tab{
        margin-bottom: 25px;
        ul{
            display: inline-block;
            text-align: center;
            li{
                font-size: 14px;
                float: none;
                margin-bottom: 10px;
            }
        }
    }

    /* Cart Page */
    .woocommerce-page{
        .shop_table .coupon input[type="submit"]{
            margin-top: 15px;
            display: block;
            clear: both;
            font-family: $font-family-second;
            padding: 10px 16px;
        }
        .shop_table input[name="update_cart"]{
            margin-top: 15px;
        }
        .shop_table .coupon input[type="text"]{
            max-width: 240px;
        }
        .cart-subtotal{
            .woocommerce-Price-amount{
                font-size: 16px;
                font-family: $font-family-second;
                color: $theme-color;
            }
        }
        .order-total{
            .woocommerce-Price-amount{
                font-size: 16px;
                font-family: $font-family-second;
                color: $theme-color;
                font-weight: bold;                
            }
        }
    }
    
    /* Categories Product */
    .woocommerce{
        .bin-main-content .products-list.grid .type-product{
            width: 100%;
        }
        .content_sortPagiBar .woocommerce-result-count{
            display: none;
        }
        .products-list.list .product-wapper{
            .products-content{
                display: inline-block;
                width: 100%;
                clear: both;
                @include rtl-margin-left(0);
            }         
        }
        &.single-product{
            .woocommerce-tabs ul.tabs{
                &::before{
                    display: none;
                }
                li{
                    width: 100%;
                    display: inline-block;
                    &.active{
                        border-color: $theme-color;
                    }
                    a{
                        width: 100%;
                        border-bottom: 1px solid $theme-border-color;
                    }
                }      
            }
        }
    }
    
    /* Home 1{} */
    .home{
        .section4-home-1 > div {
            width: 100%;
            &.vc_col-sm-8 {
                .vc_column-inner{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .section6-home-1{
            .vc_column-inner {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .section3-home-1 .bin-woo-categories-container .content-category .row > div{
            width: 100%;
        }
        .wrapper-benner.layout1 .content-benner,
        .wrapper-benner.layout2 .content-benner {
            top: 20px;
        }
    }
    .bin-woo-slider.slider-layout-3 article{
        width: 100%;
    }
    .products-list{
        .item-product{
            width: 50%;
            margin-bottom: 35px;
            &:nth-child(2n + 1){
                clear: both !important;
            }
        }    
    }
    .products-list .col-sm-6:nth-child(2n + 1),
    .products-list .col-sm-2:nth-child(6n + 1),
    .products-list .col-sm-3:nth-child(4n + 1),
    .products-list .col-sm-4:nth-child(3n + 1) {
        clear: none;
    }
    .bin-woo-slider.slider-layout-2,
    .bin-woo-slider.slider-layout-1{
        .products-list .item-product{
            width: 100%;
        }
    }
    .section2-home-2{
        .vc_column-inner{
            padding: 0 !important;
            img{
                width: 100%;
                height: auto;
            }
        }
        .bin-woo-container-slider.woo-no-slider{
            padding: 0px 15px;
        }
        .vc_col-sm-2{
            width: 100% !important;
        }
    }  
}
/* Max Width 480px  */
@media (max-width: $screen-phone) {
    #bin-topbar .login-top .modal-dialog{
        width: 320px;
    }
    #bin-topbar .login-top .modal-dialog .bin-modal .bin-modal-head {
        padding: 20px 15px 10px 15px;
    } 
    #bin-topbar .login-top .modal-dialog .bin-modal-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    #bin-topbar .login-top .modal-dialog .bin-modal-body > p{
        margin-bottom: 5px;
    }
    #bin-topbar .login-top .modal-dialog .bin-modal .bin-modal-head .modal-title{
        font-size: 24px;
    }
    #bin-topbar .login-top .modal-dialog .bin-modal .bin-modal-head .close {
        top: 0px;
        right: 8px;
    }
    #bin-topbar .login-top .modal-dialog .bin-modal-body input[type="submit"]{
        padding: 9.5px 15px;
    }

    /* Contact Page */
    .header-1 .bingo-menu-wrapper .navbar-toggle{
        margin: auto 0;
        padding: 5px;
        .icon-bar{
            width: 18px;
        }
    }
    #bin-topbar .topbar-menu .widget-title{
        @include rtl-margin-right(5px);
    }
    #bin-main .page-title.bin-title {
        padding: 130px 0 25px 0;
    }
    #bin-main .page-title.bin-title{
        padding: 10px 0;
    }
    .bin-header .header-content .binAccount .menu{
        right: -43px;        
    }
    #bin-main .page-title h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .bin-breadcrumb{
        font-size: 11px;
        a {
            font-size: 11px;
        }
    }
    .bin-breadcrumb .delimiter{
        margin-bottom: -1px;
    }
    #bin-footer.footer-1 .section-footer1-1 .menu li a {
        margin: 0 10px;
    }

    /* About Us */
    .testimonial-description{
        padding: 0;
    }
    .bin-testimonial{
        .testimonial-info,
        .testimonial-description{
            display: inline-block;
            width: 100%;
        }
    }
    .testimonial-description{
        margin-bottom: 8px;
        margin-top: 15px;
    }
    .bin-testimonial .testimonial-item > img{
        margin: 0 auto;
        float: none;
    }
    .bin-header #cart .cart-popup{
        width: 320px;
        @include rtl-right(-15px);
    }
    .page-template-about-page .bin-main{
        overflow: hidden;
    }
    .custom-list h4{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .custom-list p{
        margin-bottom: 1em;
    }
    .bin-main .about-section-2{
        margin-bottom: 0 !important;
    }
    .bin-testimonial .owl-carousel .owl-dots{
        text-align: center;
        margin: 0;
        margin-top: 15px;
    }

    /* Post Categories */
    .navigation.paging-navigation .page-numbers{
        padding: 0px 15px;
    }
    .navigation.paging-navigation .page-numbers.next::after{
        @include rtl-padding-left(15px);
        vertical-align: top;
    }
    .navigation.paging-navigation .page-numbers.prev::before{
        @include rtl-padding-right(15px);
        vertical-align: top;        
    }
    
    /* Post Page */
    .bin-header .header-content > .row .bingoHeaderMiddle{
        @include rtl-padding-right(0);
        margin: auto 0;
    }
    .bin-header .header-content > .row .bingoHeaderLeft{
        padding: 0;
    }
    .bin-header .header-content > .row .bingoHeaderRight{
        @include rtl-padding-left(0);       
    }
    .bin-header .header-content .search-box .search-toggle i{
        font-size: 16px;
        width: 30px;
        height: 50px;
        line-height: 50px;
    }
    .bin-header .header-content .binAccount > .bin-icon i{
        width: 30px;
        height: 32px;
        line-height: 32px;
    }
    .bin-header .header-content .binAccount > .bin-icon{
        font-size: 18px;
    }
    .bin-header .header-content .bingoCartTop{
        @include rtl-margin-left(10px);
    }
    .bin-header #cart .icon-shop{
        font-size: 16px;
    }

    /* Single Post */
    .post-single .top-single-post .entry-title{
        font-size: 18px;
    }
    .post-single .comment-respond .form-submit input{
        line-height: 45px;
        padding: 0px 25px;
    }
    /* Checkout */
    .woocommerce-checkout{
        .form-row.form-row-last,
        .form-row.form-row-first{
            width: 100%;
        }
    }

    /* Page 404 */
    .error404 .content-404 h3{
        font-size: 14px;
    }
    .error404 #bin-main .page-header .page-title{
        margin-bottom: 15px;
    }
    .error404 .page-404 .content-404 .btn-404 a {
        padding: 10px 20px;
    }

    /* Single Page */
    .woocommerce.single-product .BoxInfo .single_add_to_cart_button {
        padding: 0px 8px;
    }
    .woocommerce.single-product .BoxInfo .compare,
    .woocommerce.single-product .BoxInfo .single_add_to_cart_button {
        @include rtl-margin-right(8px);
    }
    .single-product .BoxInfo .product_meta .tagged_as a:first-child {
        @include rtl-padding-left(15px);
    }
    .single-product .BoxInfo .product_meta .posted_in a:first-child {
        @include rtl-padding-left(56px);
    }
    .single-product .BoxInfo .product_meta .sku_wrapper span {
        @include rtl-padding-left(58px);
    }
    .single-product .woocommerce-tabs #reviews #comments ol.commentlist li .comment-text p {
        margin: 0;
    }
    .single-product .woocommerce-tabs .star-rating{
        @include rtl-float-left;
    }
    .home{
        .section7-home-1 .vc_col-sm-8 > div {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
        .bingo-newsletter .content-newsletter input[type="submit"] {
            font-size: 14px;
            padding: 11px 25px 10px 25px;
        } 
        .bingo-newsletter .content-newsletter input[name="your-email"] {
            height: 40px;
            padding: 5px 15px;
        }
        .wrapper-benner.layout1 .content-benner,
        .wrapper-benner.layout2 .content-benner{
            top: 10px;
            .btn-banner{
                line-height: 35px;
                padding: 0px 25px;
                margin-top: 7px;                
            }    
        }
    }
    .page-id-28 .page-wrapper .header-1{
        position: static;
    }

   /*  Home 2 */
   .bin-main{
        .bin-woo-slider.slider-layout-2 .product .product-wapper .products-content {
            width: 100%;
            padding-left: 0px;
        }   
        .bin-woo-slider.slider-layout-2 .product .product-wapper .products-thumb {
            width: 100%;
        }
        .bin-main .section5-home-2 .wpb_wrapper > .wpb_content_element {
            margin-bottom: 100px !important;
        }    
        .bin-main .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
            top: -78px;
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown span.text {
            font-size: 14px;
            margin-right: 10px;
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown .product-countdown .countdown-content > span .countdown-amount{
            font-size: 16px;
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown .product-countdown .countdown-content > span{
            margin: 0 10px;
            height: 46px;    
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown .product-countdown .countdown-content .countdown-section::before{
            @include rtl-left(-13px);
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
            right: 9px;
        } 
        .bingo-newsletter-2 .content-newsletter input[type="submit"]{
            margin-top: 15px;
            position: static;
            top: 0;
            left: 0;
        }
        .section2-home-2{
            margin-bottom: 0 !important;
        } 
        .section6-home-2 > .vc_col-sm-6 {
            margin-bottom: 0;
        } 
   }
    .font-size-lg{
        @include font-size(font-size,20px);
    }
    .visual-description{
        display: none;
    }
}
@media (max-width: 479px){
    .bin-woo-tab-cat.layout-2 .top-tab-slider li a{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .section7-home--4{
        margin-top: 0;
    }
    .section5-home--4{
        margin-bottom: 0;
    }
    .section6-home--4,
    .wrapper-benner.layout3{
        display: none;
    }
    .bin-woo-tab-cat.layout-2 .products-list article{
        width: 100%;
        padding: 0;
    }
    .section3-home--4 .vc_column_container > .vc_column-inner{
        padding: 0px 15px;
    }
    .section6-home--3 .vc_column-inner {
        padding: 0;
    }
    .bin-woo-container-slider.bin-woo-container-slider--2 .item-product-cat{
        width: 100%;
    }
    .bin-woo-tab-cat.bin-woo-tab-cat--1 article{
        width: 100%;
    }
    .bin-woo-container-slider.bin-woo-container-slider--1 .item{
        width: 100%;
        padding: 0;
    }
    .bin-woo-slider.slider-layout--4 .p-wrap--first > div{
        padding: 0;
        width: 100%;
    }
    .bin-woo-slider.slider-layout--4 .p-wrap--last .item-product{
        width: 100%;
        padding: 0;
    }
    .bin-recent-post.layout-noslider article.post-list .post-content{
        margin-top: 20px;
    }
    .bin-recent-post.layout-noslider article.post-list .post-thumbnail,
    .bin-recent-post.layout-noslider article.post-list .post-content{
        width: 100%;
    }
    .bin-recent-post.layout-default{
        .post{
            width: 100%;
        }
    }
    div.bin-woo-slider.woo-slider-default{
        article{
            width: 100%;
        }
    }
    .bin-woo-slider.slider-layout-3 article .item-product,
    .bin-woo-slider.slider-layout-2 .products-list .item-product,
    .bin-woo-slider.slider-layout-1 .products-list .item-product{
        padding: 0;
    }
    div.bin-woo-slider.slider-layout-2 .item-product .product-wapper .products-thumb,
    div.bin-woo-slider.slider-layout-2 .item-product .product-wapper .products-content{
        width: 100%;
    }
}
/* Max Width 414px  */
@media (max-width: 414px){
    .bin-header.header-2 .chosen-container {
        padding: 3.5px 0px;
        min-width: 70px;
    }
    .bin-header .header-content .binAccount{
        display: none;
    }
    #bin-topbar{
        min-height: 30px;
    }
    .bin-header .header-content {
        padding: 5px 0 5px 0;
    }
    .bin-main{
        .section2-home-2 > div > .vc_column-inner .left.vc_col-sm-6,
        .section2-home-2 > div > .vc_column-inner .right.vc_col-sm-6 {
            width: 100%;
        }
        .section2-home-2 > .vc_col-sm-2{
            width: 100%;
        }
        .wrapper-benner.layout3 .content-benner > span {
            font-size: 11px;
            line-height: 18px;
        } 
        .wrapper-benner.layout3 .content-benner .btn-banner {
            margin-top: 8px;
        }
        .section7-home-2{
            display: none;
        }               
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown .product-countdown .countdown-content{
            float: none;
        }
        .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown .product-countdown {
            float: none;
        }
    }
    .bin-main .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
        top: -105px;
        @include rtl-right(0);
    }
    .bin-main .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown span.text {
        @include rtl-margin-right(0);
        width: 100%;
        display: inline-block;
        line-height: 35px;
    }
    .bin-main .section5-home-2 .wpb_wrapper > .wpb_content_element {
        margin-bottom: 107px !important;
    } 
    .bin-main .bin-woo-countdown-slider.bin-woo-countdown-default .item-countdown {
        right: 0px;
        width: 100%;
        text-align: center;
    }
    .products-list .item-product {
        width: 100%;
    }
    .bin-woo-slider.slider-layout-3 article .item-product {
        width: 100%;
    }         
}

/* Max Width 320px  */
@media (max-width: 320px){

}