/*
*  Shortcode
*/
.grid-system{
    .cell {
        border: 1px solid $border-color;
        background: darken($border-color, .2);
        text-align: $align-center;
        @include rtl-margin(0, 0px, $padding-large-vertical, 0);
        @include rtl-padding($padding-base-vertical+2, 0, $padding-base-vertical+2, 0);
    }
    > div{
            @include rtl-padding(0, 5px, 0, 5px);
    }
}

// Shortcode table
// -------------------------------------------
.features-btn{
    .table > thead > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > th,
    .table > tbody > tr > td,
    .table > tfoot > tr > th,
    .table > tfoot > tr > td{
        vertical-align: middle;
    }
}

// Shortcode form
// -------------------------------------------
.icon{
    .input-group-addon{
        background: $white;
        .fa,.icon{
            color: $black;
        }
    }
}


// Shortcode icon
// -------------------------------------------
.icons-examples{
    padding-bottom: $theme-padding;
    min-height: 130px;
    .fa{
        @include font-size(font-size,24px);
        line-height: 40px;
        @include size(40px,40px);
        @include rtl-text-align-center;
    }
}
.shortcode_sourcecode{
    margin: 10px 0;
    code{
        white-space: normal;
    }
}

/*  */
/* bin-policy */
.bin-policy{
    position: relative;
    @include box-shadow(3px 4px 0px 0px #dadada);
    .policy-info{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0px 30px;
        @include translate(-50%, -50%);
        .desc-policy{
            float: none;
            display: inline-block;
            color: $text-color;
            strong{
                font-weight: 600;
                color: $black;
                font-family: $font-family-second;
                text-transform: uppercase;
            }
        }
        .title-policy{
            display: inline-block;
            @include rtl-float-right;
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            font-family: inherit;
            line-height: 18px;
            a{
                color: $text-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
}
.theme-color{
    .bin-policy .policy-info{
        .desc-policy{
            color: $white;
            strong{
                color: $theme-color;
            }
        }
        .title-policy{
            a{
                color: $white;
                &:hover{
                    color: $theme-color;
                }
            }
        }    
    }
}

/* Brand Logo */
.bin-brand-container-slider{
    .carousel-control{
        top: 37%;
        border: 0;
        &.owl-prev,
        &.owl-next{
            width: auto;
            height: auto;
            margin: 0;
            font-size: 20px;
            color: #acacac;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                cursor: pointer;
                color: $theme-color;
            }
        }
        &.left{
            left: -15px;
        }
        &.right{
            right: -15px;
        }
    }
    .item-brand-cat{
        .item-image{
            text-align: center;
            opacity: 0.5;
            @include transition(all 0.3s ease-in-out);
            a{
                display: block;
                img{

                }
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}

/* bin-recent-post */
.title-block-2{
    h2{
        margin: 0;
        position: relative;
        font-size: 32px;
        text-transform: capitalize;
        line-height: 42px;
        z-index: 1;
        padding-top: 12px;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            @include square(60px);
            display: inline-block;
            border: 4px solid $theme-color;
        }
    }
    &.title-block-2--center{
        h2{
            text-align: center;
            &::before{
                left: 50%;
                margin-left: -30px;
            }
        }
    }
    &.title-block-2--left{
        h2{
            @include rtl-text-align-left();
            @include rtl-padding-left(21px);
        }
    }
    &.title-block-2--right{
        h2{
            @include rtl-text-align-right();
            @include rtl-padding-right(21px);
            &::before{
                right: 0;
                left: auto;
            }
        }
    }
}
.bin-recent-post{
    article{
        .post-thumbnail{
            position: relative;
            display: block;
            &::before{
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                content: "";
                width: 100%;
                height: 100%;
                z-index: 1;
                -webkit-border: 0px solid rgba(255,255,255,0.5);
                -moz-border: 0px solid rgba(255,255,255,0.5);
                -ms-border: 0px solid rgba(255,255,255,0.5);
                -o-border: 0px solid rgba(255,255,255,0.5);
                border: 0px solid rgba(255,255,255,0.5);
                opacity: 0;
                -webkit-transition: all 350ms ease;
                -moz-transition: all 350ms ease;
                transition: all 350ms ease;                
            }
        }
        &:hover{
            .post-thumbnail::before{
                opacity: 1;
                -webkit-border: 15px solid rgba(255,255,255,0.5);
                -moz-border: 15px solid rgba(255,255,255,0.5);
                -ms-border: 15px solid rgba(255,255,255,0.5);
                -o-border: 15px solid rgba(255,255,255,0.5);
                border: 15px solid rgba(255,255,255,0.5);
            }
        }
    }
    &.layout-noslider{
        article.post-list{
            display: inline;
            .post-thumbnail{
                width: 46%;
                @include rtl-float-left();
            }
            .post-content{
                @include rtl-padding-left(70px);
                margin-bottom: 60px;
                width: 54%;
                @include rtl-float-left();
                .byline{
                    display: none;
                }
                time{
                    font-size: 14px;
                    color: #acacac;
                    line-height: 32px;
                }
                .entry-title{
                    margin-bottom: 0;
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 14px;
                        @include rtl-right(calc(100% + 23px));
                        @include size(30px, 7px);
                        border-top: 1px solid $text-color;
                        border-bottom: 1px solid $text-color;
                    }
                    a{
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 23px;
                        display: inline-block;
                    }
                }
                .post-excerpt{
                    color: #707070;
                    line-height: 24px;
                }
            }
        }
        article.post-list:nth-child(2n){
            clear: both;
            display: inline-block;
            .entry-title::before{
                left: calc(100% + 23px);
                right: auto;
            }
            .post-content{
                float: left;
                padding-left: 0;
                padding-right: 70px;
                text-align: right;
                margin-top: 40px;
            }
            .post-thumbnail{
                float: right;
            }
        }
    }
    &.layout-3{
        article{
            .post-content{
                padding-top: 23px;
                .entry-date{
                    font-family: $font-family-second;
                    color: $text-color-second;
                }
                .byline{
                    display: none;
                    float: right;
                    font-family: $font-family-second;               
                }
                .entry-title{
                    line-height: 24px;
                    margin: 3px 0;
                    a{
                        font-size: 18px;
                        color: $text-color;
                        font-weight: 400;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                .post-excerpt{
                    line-height: 24px;
                    display: none;
                }
                .btn-read-more{
                    @include rtl-text-align-right();
                    display: none;
                }
            }
        }
        .carousel-control{
            top: 50%;
            margin-top: -30px;
            border: 0;
            opacity: 0;
            visibility: hidden;
            &:hover{
                cursor: pointer;
            }
        }
        &:hover{
            .carousel-control{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* .bin-brand-container-slider1 */
.bin-brand-container-slider1{
    background: $white;
    .slider{
        padding: 23px 70px;
    }
    .carousel-control{
        border: 0;
        font-size: 18px;
        top: 50%;
        margin-top: -6px;
        color: #231f20;
        &:hover{
            cursor: pointer;
        }
        &.left{
            left: 19px;
        }
        &.right{
            left: auto;
            right: 19px;
        }
    }
}

/* .bin-woo-container-slider */
.bin-woo-container-slider{
    &.bin-woo-container-slider--1{
        .title-block-2{
            margin-bottom: 65px;
        }
        .item{
            padding: 0px 26px;
        }
        a{
            display: block;
            position: relative;
            overflow: hidden;
            @include transition(all 0.8s ease-in-out);
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                height: 0;
                width: 0;
                background: rgba($theme-color, 0.75);
                opacity: 0;
                visibility: hidden;
                @include rotate(360deg);
                @include transition(all 0.8s ease-in-out);
            }
            &:hover::before{
                top: 0;
                left: 0;    
                opacity: 1;
                visibility: visible;
                width: 100%;
                height: 100%;
                @include rotate(0deg);
            }
            img{
                width: 100%;
            }
        }
    }
}

/*.bin-woo-slider  slider-layout--4*/
.bin-woo-slider{
    &.slider-layout--4{
        .p-wrap--last{
            .product-thumb-hover{
                padding: 1px 65px;
                background: $white;
            }            
        }
        .product-thumb-hover{
            padding: 1px 35px;
            background: $white;
        }
        .title-block-2{
            margin-top: 15px;
        }
        .view-all{
            position: absolute;
            bottom: 0;
            @include rtl-right(15px);
            font-weight: 700;
            font-family: $font-family-second;
            @include square(70px);
            border: 1px solid #707070;
            text-align: center;
            padding: 14px 15px;
            line-height: 21px;
            text-transform: uppercase;
            clear: both;
            &:hover{
                border-color: $theme-color;
            }
        }
        .wrap-title{
            padding: 0px 15px;
            position: relative;
        }
        .products-list.grid .product-wapper .products-content{
            background: $white;
            padding: 15px 20px 0px 20px;
            display: inline-block;
            width: 100%;
        }
        .products-list.grid .p-wrap--first .wrap-title{
            height: 363px;
        }
        .products-list.grid .p-wrap--last .product-wapper .products-content{
            padding-top: 130px;
        }
        .products-list.grid .product-wapper .products-content .price{
            padding-bottom: 0;
        }
        .p-wrap--last,
        .p-wrap--first{
            width: 50%;
            @include rtl-float-left();
        }
        .p-wrap--first{
            >div{
                width: 50%;
                @include rtl-float-left();
            }
        }
    }
}
@media (max-width: 1023px){
    .bin-woo-slider.slider-layout--4 .products-list.grid .p-wrap--first .wrap-title{
        height: auto;
    }
    .bin-woo-slider.slider-layout--4 .products-list.grid .p-wrap--last .product-wapper .products-content{
        padding-top: 15px;
    }
}
/* .bin-policy bin-policy--2 */
.bin-policy{
    &.bin-policy--2{
        padding-top: 111px;
        padding-bottom: 147px;
        box-shadow: none;
        .policy-info{
            position: static;
            @include translate(0, 0);
            padding: 0;
            top: auto;
            left: auto;
            .title-policy{
                color: $white;
                display: inline-block;
                float: none;
                width: 100%;
                font-size: 52px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 28px;
                padding-bottom: 28px;
                position: relative;
                line-height: 100%;
                font-family: $font-family-second;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -25px;
                    @include size(50px, 1px);
                    background: $white;
                    display: inline-block;
                }
            }
        }
        .desc-policy{
            font-size: 16px;
            color: $white;
            line-height: 28px;
        }
        .bin-policy-link{
            margin-top: 45px;
            display: inline-block;
            font-size: 18px;
            font-family: $font-family-second;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            border: 1px solid $white;
            border-radius: 30px;
            line-height: 58px;
            padding: 0px 38px;
            &:hover{
                border-color: $theme-color;
                color: $theme-color;
            }
        }
    }
}

/************************************************************************************************
    WWIDGET BINGO PRODUC TAB CATRGORY 
*************************************************************************************************/
/* bin-woo-tab-cat bin-woo-tab-cat--1 */
@media (min-width: 1200px){
    .bin-woo-tab-cat{
        &.bin-woo-tab-cat--1{
            article.col-lg--5{
                width: calc(100% / 5);
            }
            article.col-lg-6:nth-child(2n + 1),
            article.col-lg--5:nth-child(5n + 1),
            article.col-lg-4:nth-child(3n + 1),
            article.col-lg-3:nth-child(4n + 1),
            article.col-lg-2:nth-child(6n + 1){
                clear: both;
            }           
        }
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .bin-woo-tab-cat{
        &.bin-woo-tab-cat--1{
            article.col-md-6:nth-child(2n + 1),
            article.col-md--5:nth-child(5n + 1),
            article.col-md-4:nth-child(3n + 1),
            article.col-md-3:nth-child(4n + 1),
            article.col-md-2:nth-child(6n + 1){
                clear: both;
            }      
        }
    }    
}
@media (max-width: 991px) and (min-width: 768px){
    .bin-woo-tab-cat{
        &.bin-woo-tab-cat--1{
            article.col-sm-6:nth-child(2n + 1),
            article.col-sm--5:nth-child(5n + 1),
            article.col-sm-4:nth-child(3n + 1),
            article.col-sm-3:nth-child(4n + 1),
            article.col-sm-2:nth-child(6n + 1){
                clear: both;
            }   
        }
    }      
}
.bin-woo-tab-cat {
    .nav-tabs{
        margin-bottom: 30px;
        li{
            > a{
                padding: 10px 25px;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    width: 0px;
                    height: 2px;
                    background-color: $theme-color;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(all 0.3s ease-in-out);
                }
            }
        }
        li.active,
        li:hover{
            >a{
                &:after {
                    opacity: 1;
                    visibility: visible;
                    margin-left: -10px;
                    width: 20px;
                }
            }
        }
    }
    .tab-pane {
        &.active {
            overflow: unset;
        }
        .woo-tab-container-slider {
            margin-left: -25px;
            margin-right: -25px;
            overflow: hidden;
            .resp-slider-container {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .owl-stage-outer {
            overflow: inherit !important;
            padding-top: 12px;
        }
    }
    @include transition(all .3s ease 0s);
    &:hover{
        .owl-buttons {
            .carousel-control {
                opacity: 1;
                &.left {
                    @include rtl-left(-25px);
                }
                &.right {
                    @include rtl-right(-25px);
                }
            }
        }
    }
    .owl-buttons {
        .carousel-control {
            @include transition(all .2s ease 0s);
            opacity: 0;
            width: 40px;
            height: 74px;
            @include border-radius(0);
            border-color: transparent;
            background: #fff;
            color: #ccc;
            top: 50%;
            margin-top: -37px;
            cursor: pointer;
            z-index: 2;
            &:hover {
                background: $theme-color!important;
                color: #fff;
            }
            &.left {
                @include rtl-left(-45px);
            }
            &.right {
                @include rtl-right(-45px);
            }
            &.disabled {
                display: none;
            }
        }
    }
    &.layout-default {
        .nav-tabs {
            margin-bottom: 52px;
            li {
                a {
                    padding: 12px 27px;
                    position: relative;
                }
                &.active, &:hover {
                    a {
                        &:before {
                            content: "";
                            position: absolute;
                            width: 36px;
                            height: 2px;
                            bottom: 0;
                            left: 50%;
                            margin-left: -18px;
                            background-color: $theme-color-default;
                        }
                    }
                }
            }
        }
    }
}
.bin-woo-tab-cat{
    &.bin-woo-tab-cat--1{
        .tab-pane .woo-tab-container-slider{
            margin-left: -30px;
            margin-right: -30px;
            overflow: visible;
        }
        .top-tab-slider{
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
            .title-block-2{
                display: inline-block;
                @include rtl-float-left();
            }
            .nav-tabs{
                margin-bottom: 0;
                @include rtl-float-right();
                padding: 26px 0 0 0;
                margin: 0;
                li{
                    margin: 0px 11px;
                    &:last-child(){
                        @include rtl-margin-right(0);
                    }
                    &.active,
                    &:hover{
                        a{
                            color: $theme-color;
                            background: #111;
                        }
                    }
                    a{
                        border: 1px solid #111111;
                        padding: 0px 20px;
                        line-height: 48px;
                        font-weight: 700;
                        font-family: $font-family-second;
                        color: #111;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.layout-2{
        .top-tab-slider{
            li{
                a{
                    padding: 3px 12px;
                    color: $text-color;
                    font-size: 12px;
                    font-family: $font-family-second;
                }
            }
        }
        .tab-pane .woo-tab-container-slider{
            overflow: visible;
        }
    }
}

/* .bin-woo-container-slider */
.bin-woo-container-slider{
    &.bin-woo-container-slider--2{
        .wrap-bg{
            display: table;
            width: 100%;
            background: #1b1b1b;
            margin-bottom: 18px;
            border: 2px solid transparent;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                border-color: $theme-color;
                .item-title a{
                    color: $theme-color;
                }
            }
            .item-image{
                width: 100px;
                display: table-cell;
                text-align: center;
                padding: 24px 0px;
            }
            .item-title{
                display: table-cell;
                vertical-align: middle;
                @include rtl-text-align-left();
                a{
                    color: #acacac;
                    line-height: 42px;
                }
            }
        }
    }
    &.bin-woo-container-slider--4{
        .wrap-bg{
            margin-bottom: 30px;
            text-align: center;
            border: 4px solid #ebebeb;
            padding: 30px 15px;
            padding-bottom: 20px;
            background: $white;
            @include transition(all 0.5s ease-in-out);
            .item-title{
                a{
                    font-family: $font-family-second;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-top: 27px;
                    display: inline-block;
                    line-height: 21px;
                }
            }
            .item-count{
                margin-top: 6px;
                font-size: 13px;
                color: #898989;
            }
            &:hover{
                border-color: $white;
                @include box-shadow(0px 7px 20px 0px rgba($black, 0.1));
            }
        }
    }
}

/* bin-instagram */
.bin-instagram{
    &.layout-1{
        .content_instagram.row{
            margin-right: -5px;
            margin-left: -5px;
        }
        .image-instagram{
            padding: 0px 5px;
        }
        .instagram{
            position: relative;
            margin-bottom: 10px;
            display: block;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: inline-block;
                width: 100%;
                height: 100%;
                @include rotateX(90deg);
                background: rgba($theme-color, 0.75);
                @include transition(all 0.4s ease-in-out);
            }
            img{
                width: 100%;
            }
            span{
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 24px;
                margin-top: -16.5px;
                margin-left: -10.5px;
                color: $white;
                opacity: 0;
                visibility: hidden;
                @include transition(all 0.5s ease-in-out);
            }
            &:hover{
                &::before{
                    @include rotateX(0deg);
                }
                span{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}








