/* Revolution Slider ---------------------------------------------------------*/
.bin-slideshow {
	.wpb_row {
		margin-bottom: 0;
	}
}
.slide-full{
	margin-left:  (- $grid-gutter-width + 10);
	margin-right:  (- $grid-gutter-width + 10);
}
.btn-slider{
	font-family: $font-family-second !important;
}
.text-1-1,
.text-1{
	font-family: $font-family-second !important;
}
.text-2{
	font-family: $font-family-second !important;
}
.text-3-3,
.text-3{
	font-family: $font-family-second !important;
}
.text-2-2{
	font-family: $font-family-second !important;
}
.section1-home--3{
	.tparrows.tp-leftarrow:before{
		content: "\eb22";
	    font-family: 'IcoFont'!important;
	}
	.tparrows.tp-rightarrow:before{
	    content: "\eb23";
	    font-family: 'IcoFont'!important;		
	}
	.tparrows{
		background: transparent;
		width: auto;
		height: auto;
		&::before{
			font-size: 100px;
			color: rgba(#231f20, 0.2);
			@include transition(all 0.3s ease-in-out);
		}
		&:hover::before{
			color: #231f20;

		}
	}
	.text-3-3{
		color: #111 !important;
		border: 1px solid #111;
		line-height: 32px !important;
		@include transition(all 0.3s ease-in-out);
		&:hover{
			background: #111 !important;
			color: $white !important;
		}
	}
}
.section1-home--4{
	.text-1-3,
	.text-3-3{
		@includer transition(all 0.3s ease-in-out);
	}
	.text-1-3:hover,
	.text-3-3:hover{
		background: $theme-color !important;
		border-color: $theme-color !important;
		color: $white !important;
	}
}
@media (max-width: 480px){
	.text-1-3{
		font-size: 12px !important;
	    padding: 5px 20px !important;
	    -webkit-transform: translateY(-10px) !important;
	    -ms-transform: translateY(-10px) !important;
	    -o-transform: translateY(-10px) !important;
	    transform: translateY(-10px) !important;		
	}
	.text-3-3{
		font-size: 12px !important;
	    padding: 5px 20px !important;
	    -webkit-transform: translateY(20px) !important;
	    -ms-transform: translateY(20px) !important;
	    -o-transform: translateY(20px) !important;
	    transform: translateY(20px) !important;
	}
	.section1-home--3{
		.text-3-3{
		    line-height: 20px !important;
		    -webkit-transform: translateY(0px) !important;
		    -ms-transform: translateY(0px) !important;
		    -o-transform: translateY(0px) !important;
		    transform: translateY(0px) !important;
		}		
	}
	.text-1-2,
	.text-2-2{
		font-size: 12px !important;
	}
}
@media (max-width: 414px){
	.text-1-1{
		font-size: 14px !important;
	    height: 20px !important;
	    line-height: 20px !important;		
	}
	.text-1-3{
		font-size: 10px !important;
	    padding: 5px 20px !important;
	    -webkit-transform: translateY(-10px) !important;
	    -ms-transform: translateY(-10px) !important;
	    -o-transform: translateY(-10px) !important;
	    transform: translateY(-10px) !important;		
	}
	.text-3-3{
		font-size: 10px !important;
	    padding: 5px 20px !important;
	    -webkit-transform: translateY(20px) !important;
	    -ms-transform: translateY(20px) !important;
	    -o-transform: translateY(20px) !important;
	    transform: translateY(20px) !important;
	}
	.text-1-2,
	.text-2-2{
		font-size: 10px !important;
	    height: 20px !important;
	    line-height: 20px !important;		
	}	
	.text-2{
		margin-top: 20px !important;
		font-size: 14px	 !important;
		line-height: 100% !important;
	}
	.text-1{
		line-height: 100% !important;
		font-size: 12px !important;
	}
	.text-3{
		display: none !important;
	}
}
.btn-slider1{
	font-family: $font-family-second !important;
	color: $white !important;
	border: 2px solid $white !important;
	background: transparent !important;
	padding: 0px 33px !important;
	height: 60px !important;
	line-height: 56px !important;
	text-transform: uppercase;
	@include transition(all 0.5s ease-in-out !important);
	&:hover{
		background: $theme-color !important;
		border-color: $theme-color !important;
	}
}

/*  */
/* Slider 1 */
.slider-home-1{
	.tp-bgimg::before {
	    content: "";
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    background: rgba(0, 0, 0, 0.75);
	}
	.tparrows{
		background: transparent;
	    &:hover{
	    	&::before{
		    	color: $theme-color;
	    	}
	    }
		&.tp-leftarrow{
			&::before{
			    content: "\f053";
			    font-family: FontAwesome;
			    font-size: 32px;
			    @include transition(all .3s ease);
			}
		}
		&.tp-rightarrow{
			&::before{
				content: "\f054";
				font-family: FontAwesome;
				font-size: 32px;
				@include transition(all .3s ease);
			}
		}
	}
}
.slider-home-2{
	.text-1{
		color: $white !important;
	}
	.text-2{
		color: $white!important;
	}
	.text-3{
		color: $white !important;
	}	
	.wpb_content_element{
		margin-bottom: 0;
	}
	.tparrows{
		background: transparent;
	    &:hover{
	    	&::before{
		    	color: $theme-color;
	    	}
	    }
		&.tp-leftarrow{
			&::before{
			    content: "\f053";
			    font-family: FontAwesome;
			    font-size: 32px;
			    @include transition(all .3s ease);
			}
		}
		&.tp-rightarrow{
			&::before{
				content: "\f054";
				font-family: FontAwesome;
				font-size: 32px;
				@include transition(all .3s ease);
			}
		}
	}
}
