/* Visual Composer  */

/* Heading , title, and description
// -------------------------------------------*/
.visual-description{
    display: block;
    line-height: 1.66667;
    margin: $visual-description-margin;
    color: $visual-description-text-color;
    font-family: $visual-description-font-family;
    text-transform: $visual-description-transform;
    font-weight: $visual-description-font-weight;
    @include font-size(font-size,$visual-description-font-size);
}

.image-icon{
    @include square($image-icon-size);
}

/* Accordion
// -------------------------------------------*/
.#{$vc-prefix}accordion{
    .#{$vc-prefix}accordion_wrapper{
        .#{$vc-prefix}accordion_header{
            &.panel-title{
                cursor: pointer;
                letter-spacing: 0px;
                text-transform: uppercase;
                background: $accordion-title-bg;
                margin: $accordion-title-margin;
                padding: $accordion-title-padding;
                font-weight: $accordion-title-font-weight;
                font-family: $accordion-title-font-family;
                line-height: $accordion-title-line-height;
                color: $accordion-title-color;
                @include border-top-radius(4px);
                @include font-size(font-size,$accordion-title-font-size);
                @include state-hover(0.3s,46px,$accordion-title-hover-bg);
                a{
                    color: inherit;
                    display: inline;
                    padding: 0;
                    border: 0;
                    @include transition(none);
                }
                .ui-accordion-header-icon{
                    display: table;
                    text-align: center;
                    background: none transparent;
                    top: 1px;
                    @include square(43px);
                    @include rtl-right(1px);
                    &:before{
                        display: table-cell;
                        vertical-align: middle;
                        content: "\f067";
                        font-family: $theme-font-icon-name;
                        color: $accordion-icon-color;
                        @include font-size(font-size,$accordion-icon-font-size);
                    }
                }
                &:hover{
                    color: $accordion-title-hover-color;
                    .ui-accordion-header-icon{
                        &:before{
                            color: $accordion-icon-active-color;
                        }
                    }
                }
            }
            &.ui-accordion-header-active{
                background: $accordion-title-active-bg;
                color: $accordion-title-active-color;
                .ui-accordion-header-icon{
                    &:before{
                        color: $accordion-icon-active-color;
                    }
                }
            }
            &.ui-corner-top{
                .ui-accordion-header-icon{
                    &:before{
                        content: "\f068";
                    }
                }
            }
        }
        .#{$vc-prefix}accordion_section{
            @include border-radius(4px);
            margin: 0 0 5px 0;
        }
        .#{$vc-prefix}accordion_content{
            .#{$vc-prefix}content_element{
                padding: $accordion-content-padding;
                margin: $accordion-content-margin;
            }
        }
    }
}

/* toggle
// -------------------------------------------*/
.wpb_toggle{
    &.panel-heading{
        margin: 0;
        background-position: 20px center;
        @include rtl-padding-left(50px);
    }
}

.wpb_toggle_content{
    &.panel-body{
        margin-top: 0;
    }
}

.last_toggle_el_margin{
    margin-bottom: 0 !important;
}

.wpb-container.no-margin{
    > .wpb-inner{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.wpb-container .round{
    @include border-radius(4px);
    overflow: hidden;
}

.wpb-container.parallax{
    background-size: cover;
    -webkit-background-size: cover;
    -ms-background-size:cover;
}

/* Separator
// -------------------------------------------*/
.widget-text-heading{
    &.hidden-line{
        .widget-title{
            padding: 0;
            margin: 0;
            &::after{
                display: $block-module-heading-show-separator;
            }
        }
    }
}

.widget-text-separator{
    &.vc_sep_color_grey{
        .vc_sep_holder{
            .vc_sep_line{
                border-color: $separator-grey-line-border-color;
            }
        }
    }
}

/* Container, Box, layout
// -------------------------------------------*/
.wpb-container{
    background: $box-container-bg;
    .wpb-inner{
        margin-bottom: $box-container-margin;
    }
    .block-skills-info-box{
        .wpb_wrapper{
            @include rtl-margin-right(-1px);
            background: $theme-color;
        }
    }
    .block-skills-content,
    .block-skills-progress-bar{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .block-services{
        .wpb-container{
            padding: 112px 30px;
            background: $white;
            margin: 0 0 0 -30px;
        }
    }
    // &:last-child{
    //     .wpb-inner{
    //         margin-bottom: 0;
    //     }
    // }
    &.wpb-highlighted{
        background: $box-highlighted-bg;
        margin-bottom: $box-highlighted-margin;
        .wpb-container{
            background: $box-highlighted-container-bg;
        }
    }
    &:last-child{
        .wpb-inner{
            border: 0px;
        }
    }
    &.counter-style-2{
        .parallax-inner{
            padding: 0 80px;
            background: none;
        }
    }
}
.page-template-homepage-2 {
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
        margin-bottom: 30px;
    }
}
/* Image Carousel */
.wpb_images_carousel {
    .vc_carousel-inner {
        text-align: center;
        .vc_item {
            @include opacity(0.5);
            &.vc_active, &:hover {
                @include opacity(1);
            }
        }
    }
    .vc_carousel-control {
        width: 40px !important;
        height: 74px !important;
        margin-top: -37px !important;
        @include text-shadow(none !important);
        &.vc_right {
            @include rtl-right(-40px !important);
        }
        &.vc_left {
            @include rtl-left(-40px !important);
        }
    }
    &.layout-2 {
        .vc_carousel-control {
            border: 3px solid $border-color;
            &:hover {
                @include transition(all 0.5s ease);
                border-color: $theme-color;
                background: $theme-color;
                color: #fff;
            }
        }
    }
}
/* Call action */
.vc_general.vc_cta3.vc_cta3-style-classic, .vc_general.vc_cta3.vc_cta3-style-custom {
    padding: 45px 20px;
    border-color: transparent;
    background-color: #f5f5f5;
    .vc_cta3-content-header h4 {
        font-family: $font-family-second;
        font-size: 16px;
        text-transform: uppercase;
    }
    .vc_cta3_content-container {
        vertical-align: middle;
        @include rtl-padding-left(25px);
    }
    &:hover {
        background-color: #fff;
        @include box-shadow(0 0 25px rgba(#000,0.1));
        cursor: pointer;
    }
}
/* Slider Revolution
// -------------------------------------------*/
.#{$vc-prefix}revslider_element{
    @include box-shadow(6px 6px 6px rgba($black, 0.9) inset);
}

/* Reassuarence
// -------------------------------------------*/
.#{$app-prefix}-reassuarence{
    .no-heading-style{
        margin-top: 15px;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .widget-content{
        font-style: italic;
    }
    &.reassuarence-special{
        .widget-content{
            font-style: normal;
        }
    }
    &.no-heading-style{
        .reassuarence-icon{
            margin: $reassuarence-icon-margin;
        }
        .widget-title{
            margin: $reassuarence-margin;
            padding: $reassuarence-padding;
            &:after{
                display: none;
            }
        }
    }
}

/* Inforbox
// -------------------------------------------*/
.#{$app-prefix}-inforbox{
    margin: $inforbox-margin;
    padding-top: $inforbox-padding-top;
    padding-bottom: $inforbox-padding-horizontal;
    min-height: $inforbox-size;
    @include rtl-text-align-right();
    &.dark{
        .inforbox-heading{
            border-color: darken($border-color, 8%);
        }
    }
    &.inforbox-latest-project{
        min-height: 670px;
    }
    .inforbox-heading{
        border: 0;
        text-transform: $inforbox-title-transform;
        padding-bottom: $inforbox-title-padding-bottom;
        font-family: $inforbox-title-font-family;
        line-height: $inforbox-title-line-height;
        margin-bottom: $inforbox-title-margin-bottom;
        letter-spacing: $inforbox-title-letter-spacing;
        @include font-size(font-size,$inforbox-title-font-size);
        span{
            padding-bottom: 15px;
            position: relative;
            border-bottom: $inforbox-title-border;
            display: block;
            @include rtl-margin-right($inforbox-padding-horizontal);
            &::after{
                content: "";
                bottom: 0px;
                position: absolute;
                @include size(30px,1px);
                @include rtl-right(0);
                background: $theme-color;
            }
        }
        &::after{
            display: none;
        }
        &.separator_align_left{
            &::after{
                right: auto;
                @include rtl-left(0);
            }
            @include rtl-padding-left($inforbox-padding-horizontal);
        }
        &.separator_align_right{
            &::after{
                @include rtl-right(0);
                left: auto;
            }
        }
    }
    .inforbox-content{
        color: $inforbox-content-color;
        font-weight: $inforbox-content-font-weight;
        padding: 0 $inforbox-padding-horizontal;
    }
}


/* Shop By Category Filter
// -------------------------------------------*/
.#{$app-prefix}-category-filter{
    border: $category-filter-border;
    .category-filter-image{
        display: block;
        @include rtl-text-align-left;
        @include rtl-margin-right(15px);
        @include square($category-filter-image-size);
    }
    .category-filter-content{
        margin-top: $category-filter-title-margin;
        @include rtl-text-align-left;
        @include rtl-margin-left($category-filter-content-margin-horizontal);
    }
    .category-filter-title{
        margin: $category-filter-title-margin;
        line-height: $category-filter-title-line-height;
        @include font-size(font-size, $category-filter-title-font-size);
        font-weight: $category-filter-content-font-weight;
        text-transform: uppercase;
        padding: 5px 0;
    }
    .category-filter-list{
        li{
            line-height: 1.8;
            font-weight: $category-filter-item-font-weight;
            a{
                color: $category-filter-item-link-color;
                @include font-size(font-size,$category-filter-item-font-size);
                text-transform: uppercase;
                &:hover{
                    color: $category-filter-item-link-hover-color
                }
            }
        }
    }
    .category-filter-link{
        .btn{
            padding: 0;
            margin-bottom: 5px;
            text-transform: none;
            color: $category-filter-btn-color;
            font-family: $font-family-base;
            position: relative;
            @include rtl-padding-right(18px);
            &:hover{
                text-decoration: none;
                color: darken($red, .5);
            }
            &:after{
                position: absolute;
                @include rtl-right(0);
                content: "\2192";
                @include font-size(font-size,$font-size-base);
                top: -1px;
            }
        }
    }
}

/* Counter
// -------------------------------------------*/
.#{$app-prefix}-counter{
    padding: $counter-container-padding;
    .counter-icon-wrapper{
        @include rtl-margin-right(25px);
        .fa{
            color: $theme-color;
        }
    }
    .counter-desc-wrapper{
        @include rtl-text-align-left;
    }
    .counter-number{
        color: $counter-number-color;
        @include font-size(font-size,$font-size-lg);
        line-height: 0.895833;
        margin-bottom: $counter-number-margin;
        font-weight: $headings-font-weight;
    }
    .counter-title{
        color: $text-color;
        font-weight: $font-weight-base;
        line-height: 1.66667;
        font-family: $font-family-base;
        @include font-size(font-size,$counter-title-font-size);
    }
    // skin
    &.counter_circle{

    }
    &.counter_vertical{

    }
    &.counter_horizontal{

    }
}

.block-recent-projects{
    .isotope-filter{
        text-align: center;
    }
}

/* VC Pie chart
// -------------------------------------------*/
.block-pie-chart-ourskills{
    background: url('#{$image-theme-path}bg-hight-light.png') no-repeat 0 0 $gray-darker;
}
.vc_pie_chart{
    margin-bottom: 30px !important;
    .vc_pie_wrapper{
        width: $pie-chart-size;
        margin: $pie-chart-wrapper-margin;
    }
    .vc_pie_chart_value{
        line-height: $pie-chart-size;
        color: $black;
        font-size: 25px !important;
        font-size: 2.5rem !important;
        position: relative;
    }
    .vc_pie_chart_value, 
    canvas{
        @include square($pie-chart-size);
    }
    .vc_pie_chart_back{
        width: 155px !important;
        height: 155px !important;
        margin: 5px;
        border-color: #f5f5f5 !important;

    }
    .wpb_pie_chart_heading{
        color: $pie-chart-heading-color;
        text-transform: $pie-chart-heading-transform;
        margin-bottom: 25px;
        font-weight: 400;
    }
    // color
    &[data-pie-color="btn-"]{
        .vc_pie_chart_back{
            border-color: rgba($black, .8);
        }
    }
}


// carousel products
.products{
    .carousel-control{
        top: $product-carousel-position-top;
    }
}


/* Text Block
// -------------------------------------------*/
.block-about{
    .block-about-image{
        bottom: 0;
        position: absolute;
        @include rtl-right(0);
    }
    .text-hightlight{
        @include font-size(font-size,16px);
        font-weight: 500;
        margin: 0px 0 20px 0;
    }
    .#{$vc-prefix}text_column{
        padding: 100px 0;
    }
}

.block-callout{
    background: url('#{$image-theme-path}bg-counter.png') no-repeat 0 0 $callout-bg;
}

.inline-onefield{
    > .wpb-inner{
        background: url('#{$image-theme-path}bg-counter.png') no-repeat 0 0 $callout-bg;
        .callout{
            padding: 45px 40px;
        }
    }
}

.#{$vc-prefix}text_column{
    padding: $text-block-padding;
    &.callout{
        @include clearfix();
        padding: $callout-padding;
        h2{
            font-family: $callout-title-font-family;
            color: $callout-title-color;
            margin-bottom: 10px;
            margin-top: 10px;
            @include font-size(font-size,36px);
        }
        .text-uppercase{
            color: $callout-title-color;
            font-weight: $font-weight-base;
            @include font-size(font-size,$font-size-base);
        }
        .btn{
            margin-top: $callout-btn-margin-vertical;
            &:hover{
                border: 1px solid $white;
                background: transparent;
            }
        }
    }
}

.block-intro{
    .lead{
        font-weight: 500;
    }
}

/* Single Image
// -------------------------------------------*/
.#{$vc-prefix}single_image{
    .#{$vc-prefix}wrapper{
        > a{
            @extend .image-plus-1;
            display: block;
        }
    }
}

/* Progress Bar
// -------------------------------------------*/
.#{$app-prefix}-progress-bar{
    &.vc_progress_bar{
        margin-bottom: 57px;
        margin-top: 40px;
        .vc_single_bar{
            overflow: visible;
            background: #f5f5f5;
            margin-bottom: 30px;
            @include border-radius(4px);
            @include box-shadow(none);
            height: 20px;
            .vc_label{
                top: -24px;
                display: table;
                @include rtl-text-align-left;
                margin: $progress-bar-label-margin;
                padding: $progress-bar-label-padding;
                text-shadow: none!important;
            }
            .vc_label_title,
            .vc_label_units{
                display: table-cell;
                vertical-align: bottom;
                margin: 0px;
                line-height: normal;
                @include rtl-padding(0, 5px, 0, 0);
            }
            .vc_label_units{
                font-weight: 800;
                color: $theme-color;
                @include font-size(font-size,16px);
            }
            .vc_bar{
                &.animated{

                }
            }
            &.bar_red{
                .vc_bar{
                    background: $red;
                }
            }
            &.bar_orange{
                .vc_bar{
                    background: $orange;
                }
            }
            &.bar_green{
                .vc_bar{
                    background: $green;
                }
            }
            &.bar_blue{
                .vc_bar{
                    background: $blue;
                }
            }
            &.bar_turquoise{
                .vc_bar{
                    background: $turquoise;
                }
            }
            .vc_bar.progress-bar{
                height: 20px;
            }
        }
    }
}

/* Block Our Skill
// -------------------------------------------*/
.block-our-skills{
    .wpb-inner{
        background: $theme-color;
    }
}

.wpb-inner-highlighted{
    @include clearfix();
    .#{$vc-prefix}single_image{
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 999;
    }
}

/*-------------------------------------------
    Testimonial
-------------------------------------------*/
.#{$app-prefix}-testimonial{
    
}

.parallax{
    background-position   : 50% 0;
    background-attachment : fixed!important;
    background-repeat     : no-repeat!important;
    background-color      : $parallax-bg;
    .#{$block-heading-selector}{
        color: $parallax-block-heading-color;
    }
    .#{$vc-prefix}text_column{
        padding: $info-text-content-padding;
        .text-muted{
            color: $info-text1-color;
            text-transform: none;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: $font-weight-base;
            padding: $info-text1-padding;
            @include font-size(font-size,$info-text1-font-size);
        }
        .text-lead{
            @include font-size(font-size,$info-text2-font-size);
            color: $info-text2-color;
            padding: $info-text2-padding;
            margin-bottom: $info-text2-margin;
            text-transform: uppercase;
            line-height: 0.416667;
            font-weight: $headings-font-weight;
            border: $info-text2-border;
            @include inline-block();
        }
        .white{
            color: $white;
        }
        .text-success{
            position: relative;
            padding: 0 0 20px 0;
            &:before{
                position: absolute;
                content: "";
                display: block;
                background: $white;
                margin: 0 auto;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                @include size(367px,2px);
            }
        }
        .text-uppercase{
            color: $white;
            @include font-size(font-size,12px);
            padding: 5px 0;
        }
    }
}

/*------------------------------------*\
    Portfolio
\*------------------------------------*/

.#{$app-prefix}-portfolio{
    .#{$app-prefix}-portfolio-filters{
        @include inline-block();
        margin-bottom: ($theme-margin);
        margin-top: $portfolio-filters-margin-top;
        .active{

        }
        li{
            margin: 0 4px;
        }
    }
    img{
        width: 100%;
        height: auto;
    }

    &.portfolio-latest-project{
        padding: 110px 40px 80px 40px;
        .isotope{
            margin-left: (-$grid-gutter-width/2);
            margin-right: (-$grid-gutter-width/2);
        }
        .view-more{
            display: none;
        }
        .row > [class*="col-"]{
            padding-left: ($grid-gutter-width/2);
            padding-right: ($grid-gutter-width/2);
        }
        .entry-title{
            margin-top: $theme-margin;
            @include font-size(font-size,$font-size-base);
            &:before,&:after{
                display: none;
            }
        }
        .entry-description{
            display: none;
        }
        .btn-outline-inverse{
            @include square(40px);
            background: $btn-outline-bg;
            &:hover{
                background: $btn-outline-bg;
                @include box-shadow(none);
            }
        }
        .entry-title-bottom{
            display: none;
        }
    }
}

.isotope{
    margin: 0;
    @include transition-property(opacity);
    .isotope-item {
        z-index: 2;
    } 
}
.isotope-hidden{
    .isotope-item {
        pointer-events: none;
        z-index: 1;
    }
}

/*------------------------------------*\
    Pricing Table
\*------------------------------------*/
.#{$app-prefix}-pricing-table{
    border: 0px;
    margin: $theme-margin 0 !important;
    @include translateY(0);
    @include transition(all .4s ease-in-out);
    .plain-info{
        p{
            margin-bottom: 0;
        }
    }
    .plan-title{
        color: $white;
        position: relative;
        padding-bottom: 20px;
        &:after{
            content: "";
            background: $white;
            position: absolute;
            top: auto;
            bottom: 0;
            left:0;
            right: 0;
            margin: auto;
            @include size(30px,1px);
        }
    }
    .plan-link{
        line-height: 2.5;
        @include border-radius(0);
        @include font-size(font-size,12px);
        &:hover{
            background: $btn-outline-bg;
            @include box-shadow(none);
            border: 0px;
        }
    }
    .plan-price{
        text-transform: uppercase;
    }
    .plan-figure{
        @include font-size(font-size,72px);
        font-weight: $headings-font-weight;
    }
    .plan-currency{
        @include font-size(font-size,40px);
        font-weight: $headings-font-weight;
    }
    .plan-period{
        @include font-size(font-size,12px);
    }
    .pricing-body{
        @include border(0px 1px 0px 1px, $border-color, solid);
    }
    .pricing-header,
    .pricing-footer{
        border: 0px;
    }

    ul,ol{
        @include clear-list();
        li{
            padding: 12px;
            border-bottom: 1px solid $border-color;
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
    // Skin Hightlighted
    &.featured-plan{
        margin: 0 !important;
        .pricing-header{
            background: $theme-color;
            padding-top: 35px;
            padding-bottom: 35px;
        }
        .plan-link{
            background: $theme-color;
            padding-top: $theme-margin;
            padding-bottom: $theme-margin;
        }
    }
    // state hover
    &:hover{
        @include translateY(-2%);
    }
}


/*------------------------------------*\
    Our Team Grid - List Style
\*------------------------------------*/
.#{$app-prefix}-our-team{
    overflow: hidden;
    &:hover{
        .team-member-social{
            visibility: visible;
            @include opacity(1);
            @include animation(fadeInUp .4s);
        }
        .team-member-body-content{
            @include translateY(-55px);
            margin-top: 0;
        }
    }
}
.team-member-body{
    z-index: 1;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    position: relative;
    background: transparent;
}
.team-member-body-content{
    background: $white;
    padding: 0px 0px 18px 0px;
    margin: 1px -1px 0;
    position: relative;
    @include translateY(0px);
    @include transition(all .3s ease-out);
    @include border(0px 1px 0px 1px, $border-color, solid);
}

.team-member-image{
    margin: -1px;
}
.team-member-content-inner{
    padding: 17px 0 0;
    margin: 0 30px;
    top: -30px;
    position: relative;
    @include rtl-left(0);
    background: $white;
}
.team-member-name{
    text-transform: none;
    @include font-size(font-size,18px);
}
.team-member-position{
    @include font-size(font-size,12px);
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    &::after{
        content: '';
        @include vertical-center(30px,1px);
        top: auto;
        background: $gray-darker;
    }
}
.team-member-position,
.team-member-name{
    font-weight: $font-weight-base;
    margin-top: 0;
    font-family: $font-family-base;
}
.team-member-social{
    margin: 0;
    bottom: 0;
    padding: 0px 12px;
    position: absolute;
    @include opacity(0);
    visibility: hidden;
    @include rtl-left(0);
    @include size(percentage(1), 49px);
    border-top: 1px solid $border-color;
    li{
        padding: 7px 0 0 0;
    }
    .fa{
        color: $team-social-icon-color;
        @include font-size(font-size,$team-social-icon-font-size);
        @include square(35px);
        display: table;
        padding: 3px;
        text-align: center;
        border: 1px solid transparent;
        @include border-radius(percentage(1));
        &:before{
            @include scale(1);
            @include border-radius(percentage(1));
            vertical-align: middle;
            display: table-cell;
            background: transparent;
            @include transition(all .2s ease 0s);
        }
        &:hover{
            color: $team-social-icon-hover-color;
            background: $white;
            border-color: $theme-color;
            @include transition(all .1s ease 0s);
            &:before{
                @include scale(1.1);
                background: $theme-color;
            }
        }
    }
}


/*------------------------------------*\
    Brand Logo
\*------------------------------------*/
.widget-brand-logo{
    .widget-title{
    }
    .carousel-control{
        top: 0px;
        display: table;
        border: 0px;
        text-align: center;
        @include size(40px, 65px);
        @include border-radius(0);
       i{
            @include size(12px, 12px); 
        }
        .conner{
            display: table-cell;
            vertical-align: middle;
        }
        &.left{
            @include rtl-left(0px);
        }
        &.right{
            @include rtl-right(0px);
        }
        &:hover{
            color: $theme-color;
        }
    }
    .widget-brands-inner{
        padding: 0 40px;
        position: relative;
    }
    &.brand-customer{
        .widget-brands-inner,.carousel-control{
            border: 0px;
        }
        .carousel-controls{
            display: none;
        }
    }
}

/*------------------------------------*\
    Split layout Blog
\*------------------------------------*/
.split-layout{
    overflow: hidden;
    color: $white;
    .post{
        position: relative;
    }
    .entry-meta{
        color: $light-gray;
        a{
            color: $light-gray;
            &:hover{
                color: $theme-color;
            }
        }
        &:after{
            background: $white;
            @include center-block();
        }
    }
    .entry-image{
        &:before{
            content: "";
            z-index: 1;
            @include vertical-center(100%,100%);
            background: rgba($black,.3);
        }
    }
    .post-categories{
        li{
            display: none;
            &:first-child{
                display: block;
            }
        }
    }
    .entry-content{
        text-align: center;
        position: absolute;
        bottom: 0;
        top: auto;
        @include rtl-left(0);
        padding: $theme-padding;
        overflow: hidden;
    }
    .entry-title{
        line-height: 1.4;
        text-transform: none;
        @include font-size(font-size,$font-size-base);
        a{
            color: $white;
            z-index: 1;
            position: relative;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .entry-description{
        display: none;
    }
    .main-posts{
        .post{
            height: $split-layout-main-post-size;
        }
        .entry-title{
            @include font-size(font-size,$split-layout-main-post-font-size);
            line-height: $split-layout-main-post-line-height;
        }
        .entry-content{
            overflow: hidden;
            @include rtl-padding-left(35px);
        }
    }
    .secondary-posts{
        .post{
            @include square($split-layout-second-post-size);
        }
    }
}

.vc_gitem-post-data-source-post_date {
    text-transform: uppercase;
}
//List Post
.list-post {
    .vc_gitem-post-data-source-post_date {
        font-size: 14px;
    }
    .vc_gitem-post-data-source-post_title a {
        color: #252525;
        &:hover {
            color: $theme-color;
        }
    }
    border-bottom: 1px solid $border-color;
}
.grid-post {
   .vc_gitem-post-data-source-post_title a {
        color: #252525;
        font-size: 28px;
        &:hover {
            color: $theme-color;
        }
    }
    .vc_btn3-block {
        padding-left: 0;
        padding-right: 0;
        background: #fff;
        border: none !important;
    }
    .vc_gitem-col {
        border: 1px solid #ebebeb;
        margin-top: 164px;
    }
    .wpb_single_image {
        margin-top: -164px;
    }
}

/*---Tabs css ---*/
.wpb_tabs {
    .nav {
        margin-bottom: $font-size-base + 12;
        > li {
            float: none;
            display: inline-block;
            &:before{
                content: "\f111";
                font-family: $theme-font-icon-name;
                font-size: 5px;
                color: #757575;
                position: absolute;
                top: 18px;
                @include rtl-left(-2px);
            }
            &:first-child{
                &:before{
                    content: "";
                }
            }
            > a {
                font-family: $font-family-base;
                text-transform: uppercase;
                font-weight: 300;
                font-size: $font-size-base + 4;
                letter-spacing: 3px;
                color: #2a2a2a;
                &:before{
                    content: "";
                    height: 1px;
                    width: 0;
                    bottom: 0px;
                    @include rtl-left(50%);
                    @include rtl-margin-left(-20%);
                    @include transition(all 0.35s ease 0s);
                    background-color: $nocolor;
                    position: absolute;
                }
            }
            &:hover{
                a:before{
                    width: 40%;
                    background-color: #2a2a2a;
                }
            }
            &.ui-tabs-active {
                > a {
                    font-weight: 700;
                    &:before{
                        width: 40%;
                        background-color: #2a2a2a;
                    }
                }
            }
        }
    }
}
.wpb_tour_tabs_wrapper{
    .wpb_tour_next_prev_nav{
        border-left: 2px solid $black;
    }
    .wpb_tabs_nav > li > a{
        font-weight: 400;
        text-transform: uppercase;
    }
}

.custom-list{
    h4{
        margin-bottom: 1.8em;
        margin-top: 0;
    }
    p{
        margin-bottom: 2em;
    }
    ul {
        padding: 0;
        list-style: none;
        margin-top: 15px;
        li {
            line-height: 26px;
            &:before {
                content: "\f0e4";
                font-family: $theme-font-icon-name2;
                display: inline-block;
                @include rtl-margin-right(10px);
                font-size: 12px;
            }
        }
    }
}

/*  */
/* Contact page */
.contact-1{
    @include transition(all 0.3s ease-in-out);
    &:hover{
        @include box-shadow(0 8px 10px 1px rgba(112, 112, 112, 0.1));
        figure{
            background: $theme-color;
            &::before{
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
                transform: scale(1.3);
                opacity: 0;
                box-shadow: 0 0 0 1px $theme-border-color;                
            }
            &::after{
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                opacity: 1;
                background: $theme-border-color;
            }
        }        
    }
}
.icon-ct{
    padding: 5px;
    figure{
        @include square(104px);
        border-radius: 50%;
        @include transition(all 0.3s ease-in-out);
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            padding: 2px;
            opacity: 1;
            -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
            -moz-transition: -moz-transform 0.5s, opacity 0.3s;
            transition: transform 0.5s, opacity 0.3s;
            box-shadow: 0 0 0 1px $theme-border-color;
        }
        &::after{
            content: "";
            box-shadow: 0 0 0 1px $theme-border-color;
            position: absolute;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            padding: 2px;
            z-index: -1;
            background: #ffffff;
            -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
            -moz-transition: -moz-transform 0.5s, opacity 0.3s;
            transition: transform 0.5s, opacity 0.3s;
            opacity: 0;
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
    div{
        vertical-align: middle !important;
        line-height: 102px;
        img{
            vertical-align: middle;
        }
    }
}
.wrapper-form{
    margin-bottom: 90px;
    position: relative;
    input{
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid $theme-border-color;
        padding: 14.5px 15px;
        @include rtl-text-align-left();
        @include transition(all 0.3s ease-in-out);
        &:hover{
            border-color: $theme-color;
        }
    }
    textarea{
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid $theme-border-color;
        padding: 14.5px 15px;
        @include rtl-text-align-left();
        @include transition(all 0.3s ease-in-out);
        &:hover{
            border-color: $theme-color;
        }
    }
    input[type="submit"]{
        border: 0;
        margin-bottom: 0;
        line-height: 56px;
        height: 58px;
        padding: 0 45px;
        background: $text-color;
        font-family: $font-family-second;
        color: $white;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            background: $theme-color;
            @include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
        }  
    }
    .ajax-loader{
        position: absolute;
        bottom: -25px;
        margin-left: 0;
        @include rtl-left(calc(50% - 8px));
    }
}
.wpcf7-response-output{
    position: absolute;
    bottom: 10px;
    left: 50%;
    @include translateX(-50%);
}


/*  */
/* Home 1 */
.rtl{
    &.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon{
        right: 0;
    }  
}
.section9-home-1{
    .vc_tta .vc_tta-controls-icon-plus{
        @include square(10px !important);
    }
    .vc_tta-container,
    .title-block{
        h2{
            color: $white;
            margin-bottom: 52px;
        }
    }
    .left-box{
        .vc_tta-panel-heading{
            border-radius: 0 !important;
            border: 0 !important;
            margin-top: 0 !important;
            &:hover{
                background: transparent !important;
            }
            .vc_tta-panel-title{
                a{
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }         
        }
        .vc_tta-panel-body{
            border: 0 !important;
            border-top: 1px solid #363636 !important;
            margin-top: 12px;
            color: #959595;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .vc_tta-controls-icon{
            left: 0 !important;
        }
        .vc_tta-panel{
            border: 1px dashed #636363;
            padding: 9px 15px;
            margin-bottom: 18px;
            background: #363636;
            @include transition(all 0.3s ease-in-out);
            h4{
                font-family: inherit;
                @include rtl-text-align-left();
                a{
                    font-size: 14px;
                    font-family: inherit;
                    line-height: 21px;
                    font-weight: normal;
                    @include rtl-padding(0, 0, 0,25px);
                    @include rtl-padding-left(25px !important);
                    *{
                        color: $white;
                    }
                }
            }
            .vc_tta-panel-body{
                padding: 10px 0px !important;
                p{
                    line-height: 23px;
                }
            }
            &.vc_active{
                background: transparent;
                .vc_tta-panel-body{
                    padding-bottom: 0 !important;
                }
            }
        }
    }
}
.section7-home-1{
    position: relative;
    &::before{
        content: "" !important;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block !important;
        background: rgba($black, 0.45);
        border: 10px solid #1b1b1a;
    }
}
.section5-home-1{
    .productListBanner{
        img{
            width: 100%;
            height: auto;
        }
    }
}
.section4-home-1{
    .products-list.grid .product-wapper .products-content{
        padding: 15px 10px 0px 10px;
    }
    .products-list.grid .product-wapper .products-content h3 a{
        font-size: 14px;
    }
    .vgwc-featured,
    .onsale{
        padding: 4px 10px;
        font-size: 11px;        
    }
}
.section9-home-1{
    .bin-recent-post.layout-default .carousel-control{
        color: $white;
        &:hover{
            color: $theme-color;
        }
    }
}
.section6-home-1{
    .products-list.grid .product-wapper .products-content h3 a{
        font-size: 14px;
    }
    .bin-woo-slider .owl-buttons .carousel-control{
        top: -57px;
    }
}
.section8-home-1{
    .bin-woo-slider .title-block h2{
        margin-bottom: 39px;
    }
    .products-list.grid .product-wapper .products-content h3 a{
        font-size: 14px;
    }
}



/*  */
/* Home 2 */
.bin-main .section2-home-2{
    padding: 30px 15px 0px 15px;
    background: $white;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -31px;
    display: inline-block;
    position: relative;
}
.heading-box{
    @include rtl-text-align-left();
    h2{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: $text-color;
        margin-top: 0;
        margin-bottom: 18px;
        span{
            color: $theme-color
        }
    }
    p{
        color: #464646;
    }
}

.section9-home-2{
    border-top: 1px solid $theme-border-color;
    padding: 29px 0;
}
.section6-home-2{
    .wpb_content_element{
        margin-bottom: 0;
    }
}
.section5-home-2{
    .heading-box h2,
    .heading-box p{
        color: $white;
    }
    div.wpcf7-validation-errors{
        color: $white;
        border-color: $theme-color;
    }
    div.wpcf7-mail-sent-ok{
        color: $white;
        border-color: $theme-color;
    }
}
.bin-main{
    .section4-home-2{
        margin-bottom: 26px !important;
    }    
}
.section4-home-2{
    margin-bottom: 26px !important;
    .bin-woo-slider .owl-buttons .carousel-control{
        display: none;
        top: -104px !important;
        width: auto !important;
        height: auto !important;
    }
    .heading-box{
        text-align: center !important;
        h2{
            margin-bottom: 20px;
        }
    }
    .bin-woo-slider{
        &.woo-slider-default{
            article{
                padding-bottom: 15px;
            }  
            .products-list.grid .product-wapper{
                margin: 0;
                padding: 0;
                border: 15px solid transparent;
                @include transition(all .5s ease-in-out);
                &:hover{
                    margin: 0;
                    padding: 0;
                    border-color: $white;
                }
            }
        }
    }    
}
.section5-home-2{
    .bin-woo-countdown-slider{
        margin-bottom: 58px;
        article{
            padding-bottom: 15px;
        }        
    }
    .wpb_wrapper{
        >.wpb_content_element{
            margin-bottom: 46px !important;
        }
    }
    .wpcf7-validation-errors{
        color: $white;
    }
    span.wpcf7-not-valid-tip{
        color: $white;
        margin-top: 10px;
    }
}
.section8-home-2{
    .wpb_wrapper{
        >.wpb_content_element{
            margin-bottom: 53px !important;
        }
    }
    .heading-box{
        text-align: center !important;
    }
}
.section6-home-2{
    .heading-box h2{
        margin-bottom: 42px;
    }
}
.about-section-3{
    .owl-buttons.disabled{
        display: none;
    }
}
.section4-home-2{
    .wpb_wrapper >.wpb_content_element{
        margin-bottom: 50px;
    }
}
.about-section-4{
    .title-block h2{
        @include rtl-padding-left(0);
        text-align: center !important;
        margin-bottom: 50px;
        &::before{
            display: none;
        }
    }
}

.section8-home-1,
.section6-home-1,
.section4-home-1{
    .products-list.grid .product-wapper{
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: 15px 0;
        padding: 0;
        &:hover{
            border-color: $white;
            margin: 0;
            padding: 15px 0;
        }        
    }
}

/* Home 3 */
.section8-home--3{
    margin-top: 89px;
    margin-bottom: 12px;
}
.section7-home--3{
    margin-top: 90px;
}
.section6-home--3{
    padding: 0px 60px;
}
.section5-home--3{
    margin-top: 40px;
    margin-bottom: 74px;
}
.section4-home--3{
    background-attachment: fixed;
}
.section3-home--3{
    padding-top: 55px;
    padding-bottom: 58px;
}
.section2-home--3{
    padding: 55px 0 72px 0;
    .title-block-2 h2{
        color: $white;
    }
}
.section1-home--3{
    .wpb_content_element{
        margin-bottom: 0;
    }
}

/* Home 4 */
.heading-box.heading-box--2{
    h2{
        margin-bottom: 40px;
    }
}
.section7-home--4{
    margin-top: 65px;
    margin-bottom: 45px;
    .wpb_content_element{
        margin-bottom: 0;
    }
}
.section5-home--4{
    margin-top: 65px;
    margin-bottom: 40px;
    .heading-box.heading-box--2{
        text-align: center;
        h2{
            margin-bottom: 27px;
        }
    }
    .wpb_content_element{
        margin-bottom: 0;
    }
}
.section3-home--4{
    margin-top: 35px;
    margin-bottom: 40px;
    .heading-box{
        text-align: center;
        h2{
            margin-bottom: 27px;
        }
    }
    .wpb_content_element{
        margin-bottom: 0;
    }  
}
.section1-home--4{
    .wpb_content_element{
        margin-bottom: 0;
    }     
}
.section2-home--4{
    margin-top: 30px;
}