.title-block{
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-family-second;
        font-weight: 700;
        font-size: 24px;
        color: #252525;
    }
    .title-description {
        text-align: center;
    }
} 


/* Block default ------------------------------------------------------------------------*/
.#{$block-selector} {
    margin-bottom: 35px;
    border: 0px solid $block-module-border-color;
    position: relative;
    padding: $block-module-padding;
    .#{$block-heading-selector}{
        
        &.separator_align_center{
            .widget-arrow{
                margin: 0 auto;
                @include rtl-left(0);
                @include rtl-right(0);
            }
        }
        // Align  right
        &.separator_align_right{
            .widget-arrow{
                &:before{
                    @include rtl-left(auto);
                    @include rtl-right(47px);
                }
                &:after{
                    @include rtl-left(47px);
                }
                @include rtl-left(auto);
                @include rtl-right(70px);
            }
        }
        // Align  left
        &.separator_align_left{
            .widget-arrow{
                &:before{
                    @include rtl-left(-70px);
                }
                &:after{
                    @include rtl-left(47px);
                }
                @include rtl-left(74px);
            }
        }

    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }

    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
}
 
  
/* Contextual variations ------------------------------------------------------------*/
.#{$block-prefix}-theme {
  @include block-variant($panel-default-border, $white, $theme-color, $panel-default-border);
}
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.#{$block-prefix}-highlighted {
    margin: $block-sidebar-hightlight-margin;
    .#{$block-heading-selector}{
        margin: $block-sidebar-heading-hightlight-margin;
        color: $block-sidebar-heading-hightlight-color;
        padding: $block-sidebar-heading-hightlight-padding;
        @include rtl-padding-right(0);
        background: $block-sidebar-heading-hightlight-bg;
        font-weight: $block-sidebar-heading-hightlight-font-weight;
        font-size: $block-sidebar-heading-hightlight-font-size;
        font-family: $font-family-second;
        border: none!important;
        text-transform: uppercase;
        overflow: hidden;
        > span{
            position: relative;
            padding: 0 15px;
            &:after, &:before{
                content: "";
                position: absolute;
                top: 50%;
                height: 1px;
                width: 1000px;
                background: $border-color;
            }
            &:after{
                @include rtl-left(100%); 
            }
            &:before{
                 @include rtl-right(100%);
            }
            > span{ 
                position: relative;
                padding: 7px 15px;
                &:after, &:before{
                    content: ""; 
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: $theme-color;
                    @include rotate(-45deg);
                }
                &:after{
                    left: 100%;
                }
                &:before{
                    right: 100%;
                }
            }
        }
    } 
    .#{$block-content-selector} {
        padding: $block-sidebar-hightlight-content-padding;
        background: $block-sidebar-hightlight-content-bg;
        > div {
            background: $block-sidebar-hightlight-content-bg;
            > ul > li{
                border: none;
                > a{
                    padding: $block-sidebar-list-hightlight-padding;
                    border-top: $block-sidebar-hightlight-border;
                    color: $block-sidebar-hightlight-content-color;
                    margin: 0;
                    &:hover{
                       border-top: $block-sidebar-hightlight-border; 
                    }
                }
                &:first-child a{
                    border-top: none;
                }
            }
        }
    }      
}

.special-product{
    .bin-woo-slider.no-title{ position: relative; z-index: 10; }
}
.banner-wrapper{
    .productListTitle{
        padding-top: 0px;
        padding-bottom: 0px;    
    }
}
.productListTitle {
    padding-top: 32px;
    padding-bottom: 20px;
     .bingoHomeTitle {
        padding-bottom: 10px;
        @include rtl-text-align-left();
        @include rtl-float-left();
    }
}
.bingoHomeTitle {
    position: relative;
    font-family: Quantico;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    span {
        display: block;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        color: #898989;
        text-transform: none;
        line-height: 22px;
        padding-top: 5px;
    }
}
.productListTitle .btnBingoOne {
    float: right;
    font-weight: bold;
    border: 3px solid #252525;
    color: #252525;
    background-color: transparent;
    margin-top: 8px;
}
.btnBingoOne {
    font-family: Quantico;
    font-size: 18px;
    padding: 10px 22px;
    text-transform: uppercase;
    background-color: #cb2e41;
    border-color: #cb2e41;
    color: #ffffff;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    &:hover {
        color: white;
        background-color: #cb2d41;
        border-color: #cb2d41;
    } 
}

/* Block inline style -----------------------------------------------------------*/
.#{$block-prefix}-inline{
    .icon{
        @include font-size(font-size, 35px);
    }
    .explain{
        @include font-size(font-size, 11px);
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;
        text-transform: $block-module-heading-transform;
        font-weight: $headings-font-weight;
        @include font-size(font-size,$block-module-heading-font-size);
    }
    .input-group{
        width: 98%
    }
}

/* Twitter -----------------------------------------------------------------------*/
.bin-twitter-slider {
    a {
        color: $theme-color-default;
    }
}

/* Testimonial -----------------------------------------------------------------*/
.bin-twitter-slider, .block-contact-store {
    text-align: center;
    .title-block {
        margin-bottom: 35px;
        padding-bottom: 0;
        &:after {
            display: none;
        }
    }
    .block-content {
        padding: 0 60px;
    }
}

.bin-testimonial {
    border: 2px solid #ebebeb;
    text-align: left;
    padding: 30px 35px;
    .testimonial-title {
        margin: 0 0 30px;
        h2 {
            text-transform: uppercase;
            font-size: 18px;
            margin: 0;
            @include rtl-text-align-left();
        }
    }
    .owl-stage-outer{
        .owl-item{
            /* @include rtl-margin-right(30px !important); */
            @include rtl-text-align-left();
        }
    }
    .testimonial-item {
        padding: 0 15px;
        > img {
            width: 92px !important;
            height: auto;
            @include rtl-float-left();
            @include rtl-margin-right(30px);
        }
    }
    .owl-carousel .owl-dots {
        display: block;
        margin-top: 15px;
        @include rtl-text-align-left();
        @include rtl-margin-left(134px);
        > div {
            display: inline-block;
            vertical-align: middle;
            width: 7px;
            height: 7px;
            border-radius: 4px;
            background-color: $text-color;
            @include rtl-margin-right(7px !important);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            span {
                display: none;
            }
            &.active {
                width: 25px;
            }
        }
    }
    &.layout-1{
        padding: 0;
        border: 0;
        .testimonial-title{
            margin-bottom: 54px;
            h2{
                font-size: 24px;
                position: relative;
                @include rtl-padding-left(18px);
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 4px;
                    @include rtl-left(0);
                    @include size(5px, 18px);
                    background: $theme-color;
                }
            }
        }
        .testimonial-item{
            padding: 0;
            position: relative;
            .img-thumnail{
                @include size(100px, 100px);
                position: absolute;
                top: 0;
                @include rtl-left(0);
            }
            .testimonial-description{
                @include rtl-padding-left(130px);
                margin-bottom: 30px;
                >p{
                    font-size: 16px;
                    color: $theme-color-second;
                    line-height: 28px;
                }
            }
            .testimonial-customer-name{
                font-family: $font-family-second;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 20px;
            }
            .testimonial-customer-position{
                p{
                    color: $theme-color;
                    margin-bottom: 15px;
                }
            }
        }
        .owl-carousel .owl-dots{
            .owl-dot{
                width: 10px;
                height: 10px;
                border: 1px solid $theme-border-color;
                border-radius: 0;
                background: $white;
                @include rtl-margin-right(11px);
                @include transition(all 0.3s ease-in-out);
                &.active{
                    border: $theme-color;
                    background: $theme-color;
                }
            }
        }
    }
}

.testimonial-description {
    line-height: 24px;
    margin-bottom: 15px;
}
.testimonial-info {
    > * {
        display: inline-block;
    }
    .testimonial-customer-name {
        font-family: inherit;
        margin: 0;
        color: $text-color;
    }
    .testimonial-customer-position {
        color: #707070;
        p {
            display: inline;
            color: #707070;
        }
    }
}

/* // Block Our Team */
.bin-ourteam {
    .title-block {
        margin-bottom: 35px;
    }
    .ourteam-item {
        box-shadow: 1px 1px 2px #e5e5e5;
        margin: 0 2px;
    }
    .ourteam-info {
        text-align: center;
        padding: 20px 0;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        .ourteam-customer-name {
            color: $text-color;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 10px;
            font-size: 14px;
            display: block;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .socials {
        margin-top: 22px;
        ul {
            @include clear-list();
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 0 8px;
                a {
                    color: #707070;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }   
    }
    .carousel-control {
        top: 50%;
        left: -23px;
        @include transform(translateY(-50%));
        display: block;
        cursor: pointer;
        @include size(47px, 47px);
        font-size: 24px;
        border: 2px solid #e1e1e1;
        @include transition(all 0.3s);
        color: #b7b7b7;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s ease-in-out);
        &.right {
            left :auto;
            right: -23px;
        }
        &:hover,
        &:focus {
            background: $theme-color !important;
            border-color: $theme-color;
            i{
                color: $white;
            }
        }
        i {
            line-height: 43px;
            display: inline !important;
        }
    }
    &:hover{
        .carousel-control {
            opacity: 1;
            visibility: visible;
        }
    }
}


/* Block style in footer ------------------------------------------------------------*/
.#{$app-prefix}-footer{
    .#{$block-selector} {
        border:none;
        padding: 0;
        background: $nocolor;
        margin: $footer-column-margin;
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            padding: $footer-heading-padding;
            font-size: $footer-heading-font-size;
            @include rtl-text-align-left();
            border: none; 
            > span{
                position: relative; 
                padding: 0 10px;
                &:after, &:before{
                    content: "";
                    height: 0;
                    width: 0;
                    background: none;
                }
               
                > span{ 
                    position: relative;
                    padding: 0 10px;
                    &:after, &:before{
                       content: "";
                        height: 0;
                        width: 0;
                        background: none;
                    }
                }
            }   
        }
        .#{$block-content-selector}{
            border:none;
            padding: 0
        }
    }
}

/************************************************************************************************
    WIDGET IMAGE
*************************************************************************************************/ 
.block-special{
    .productListTitle{
        .content-title{
            @include rtl-text-align-left();
            @include rtl-float-left();
            position: relative;
            font-size: 24px;
            font-weight: bold;
            margin: 0px;
            padding: 10px 0px;
            text-align: center;
            text-transform: uppercase;
            span {
                display: block;
                font-family: Work Sans;
                font-size: 14px;
                font-weight: 400;
                color: #898989;
                text-transform: none;
                line-height: 22px;
                padding-top: 5px;
                @include rtl-text-align-left();
            }
        }
        .btn-shop{
            @include rtl-float-right(); 
            font-weight: bold;
            border: 3px solid #252525;
            color: #252525;
            background-color: transparent;
            margin-top: 8px;
            font-size: 18px;
            padding: 10px 22px;
            @include rtl-margin-right(5px);
            text-transform: uppercase;
            &:hover{ background: $theme-color; border-color: $theme-color; color: #fff; }
        }
    }
}
.bin-main .widget{
    display: inline-block;
    width: 100%;
    .widget_search{
        .container{
            width: auto;
        }
    }
    select{
       width: 100%;
    }
    .screen-reader-text{
        display: none;
    } 
    &.widget_text{
        select{
            width: 100%;
        }        
    }
    &.widget_nav_menu,
    &.widget_meta{
        label{
            display: none;
        }
        select{
            width: 100%;
        }
        ul{
            padding-left: 15px;
            padding-right: 15px;            
            li{
                a{
                    display: block;
                    line-height: 23px;
                }
            }            
        }
    }
    &.widget_archive{
        label{
            display: none;
        }
        select{
            width: 100%;
        }
        ul{         
            li{
                display: inline-block;
                width: 100%;
                @include rtl-text-align-right;
                line-height: 23px;
                padding-bottom: 10px;
                a{
                    display: block;
                    @include rtl-float-left;
                    line-height: 23px;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }            
        }
    }    
    ul{
        padding-left: 0;
        padding-right: 0;
        &.bin-policies{
            list-style: none;
        }
    }
}