/************************************************************************************************
    TOP BANNER LISTING
************************************************************************************************ */
.bin_widget_image{
    margin-bottom: 40px;
    .container-banner{
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .boxContent {
            max-width: 640px;
            padding: 30px;
            text-align: center;
            color: white;
             .boxSubTitle {
                margin: 0px;
                padding: 10px 0;
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .boxTitle {
                margin: 0px;
                padding: 10px 0;
                font-size: 42px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
            }
            .btn {
                font-size: 16px;
                font-weight: bold;
                margin: 20px 0 0;
                padding: 5px 20px;
                height: 42px;
                border: 1px solid white;
                background-color: transparent;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                @include transition(opacity 0.3s ease-in-out 0.3s);
                &:hover {
                    border-color: $theme-color; 
                    background-color: $theme-color;
                }
            } 
        }
    }
}
/************************************************************************************************
    WIDGET RENCENT POST
*************************************************************************************************/
.widget.widget_recent-post{
    margin-bottom: 30px;
    .block_content{
        margin-top: 40px; 
        .post{ 
            margin-top: 25px; 
            .post-img{
                @include rtl-float-left();
                img{ width: 70px; height: 70px; }
            }
            .post-content{
                @include rtl-margin-left(90px);
            }
        }
    }
}

/************************************************************************************************
    WIDGET TAG
*************************************************************************************************/
.widget.widget_tag_cloud{
    .tagcloud{
        margin-top: 20px;
    }
}
/*
    widget styles
*------------------------------------
*/
.title_block {
    h4 {
        font-size: $font-size-base + 4;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        line-height: 100%;
        letter-spacing: 2px;
        padding-bottom: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &:before,&:after{
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            @include rtl-left(50%);
        }
        &:before{
            width: 20%;
            @include rtl-margin-left(-10%);
            background-color: $border-color;
        }
        &:after{
            width: 10%;
            @include rtl-margin-left(-5%);
            background-color: #616161;
            z-index: 1;
        }
    }
}
.title-block {
    .page-template-homepage-2 & {
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
        &:after {
            display: none;
        }
    }
}
    

/*
    Widget Genaral
*------------------------------------
*/
.widget{
    label{  
        font-weight: $font-weight-base;
    }
    // widget image
    .widget_sp_image-image-link{
        display: block;
        overflow: hidden;
        position: relative;
        img{
            @include img-responsive();
            @include transition(all 0.35s);
            @extend .filter-grayscale;
        }
    }
    // widget post
    .post-widget{
        .image{
            @include size(70px,70px);
            margin: 0;
            @include rtl-margin-right(10px);
            img{
                @include size(percentage(1),percentage(1));
            }
        }
    }
    // widget archive
    &.widget_archive{
        ul{
            li{
                .children{
                    padding-top: 13px;
                    margin-top: 13px;
                    border-top: 1px dashed $theme-border-color;
                    >li{
                        @include rtl-padding-left(15px);
                    }
                }
            }
        }
    }
    // widget categories
    &.widget_categories{
        ul{
            li{
                .children{
                    padding-top: 13px;
                    margin-top: 13px;
                    border-top: 1px dashed $theme-border-color;
                    padding-left: 0;
                    >li{
                        @include rtl-padding-left(15px);
                    }
                }
            }
        }
    }
    // widget page
    &.widget_pages{
        ul{
            li{
                .children{
                    padding-top: 13px;
                    margin-top: 13px;
                    border-top: 1px dashed $theme-border-color;
                    >li{
                        @include rtl-padding-left(15px);
                    }
                }
            }
        }
    }
    // widget meta
    &.widget_meta{
        ul{
            li{
                .children{
                    padding-top: 13px;
                    margin-top: 13px;
                    border-top: 1px dashed $theme-border-color;
                    >li{
                        @include rtl-padding-left(15px);
                    }
                }
            }
        }
    }
    // widget nav menu
    &.widget_nav_menu{
        ul{
            li{
                .children{
                    padding-top: 13px;
                    margin-top: 13px;
                    border-top: 1px dashed $theme-border-color;
                    >li{
                        @include rtl-padding-left(15px);
                    }
                }
            }
        }
    }
    &.widget_rss{
       // @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
        }
    }
    // widget recent entries
    &.widget_recent_entries{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget recent comments
    &.widget_recent_comments{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget rss
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
            &:before{
                display: none;
            }
        }
    }
}

/*
    Widget Product Category
*------------------------------------
*/
.widget_categories{
    ul{
        li{
            .children{
                padding-top: 13px;
                margin-top: 13px;
                border-top: 1px dashed $theme-border-color;
                >li{
                    @include rtl-padding-left(15px);
                }
            }
        }
    }
}
.widget_product_categories {
    @include lists-style();
}

/*
    Widget Contact Us
*------------------------------------
*/
.contact{
    margin: 0;
    padding: 0;
	@include clearfix();
	dt{
		@include rtl-float-left();
		@include size(30px,auto);
	}
	dd{
		overflow: hidden;
		margin-bottom: 5px;
	}
    .contact-icon{
        display: block;
        text-align: center;
        background: $contact-icon-bg;
        @include rtl-float-left();
        @include square($contact-icon-size);
        @include border-radius($contact-icon-border-radius);
        .fa{
            color: $contact-icon-color;
            @include font-size(font-size,$font-size-base);
            @include rtl-margin(0, 0, 0, 4px);
        }
    }
}
/*
    Widget About Us
*------------------------------------
*/
.about-us {
    text-align: center;
    line-height: 24px;
}

/*
    Widget Newsletter
*------------------------------------
*/
.bingo-newsletter {
    text-align: center;
    .title-newsletter{
        h3{
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 21px;
            line-height: 100%;
            color: $white;
            font-weight: 600;      
        }
    }
    .desc-newsletter{
        color: $white;
        margin-bottom: 33px;
    }
    .content-newsletter{
        input[name="your-email"]{
            height: 60px;
            width: 100%;
            border: 0;
            padding: 15px;
            @include placeholder($text-color);
        }
        input[type="submit"]{
            margin-top: 21px;
            @include input-button;
            padding: 19px 40px 17px 40px;
            color: $text-color;
            font-size: 18px;
            font-weight: 600;
            font-family: $font-family-second;
            &:hover{
                color: $white;
                @include box-shadow(none);
            }
        }
        .ajax-loader{
            display: none;
        }
    }
}
.rtl{
    .bingo-newsletter-2 .content-newsletter input[type="email"]{
        text-align: right;
    }
}
.bingo-newsletter-2{
    .heading-box{
        h2{
            color: $white;
        }
        p{
            color: #959595;
        }
    }
    .content-newsletter{
        margin-top: 54px;
        margin-bottom: 81px;
        position: relative;
        input[type="email"]{
            height: 77px;
            padding: 10px 25px;
            border: 3px dashed $theme-color;
            background: transparent;
            display: inline-block;
            width: 100%;
            font-size: 16px;
            color: $white;
            @include placeholder(#959595);
        }
        input[type="submit"]{
            position: absolute;
            @include rtl-right(9px);
            top: 9px;
            font-size: 18px;
            font-weight: 600;
            font-family: $font-family-second;
            text-transform: uppercase;
            background: $theme-color url(#{$image-theme-path}icon/plance.png) no-repeat center;
            background-position-x: 140px;
            background-size: 30px;              
            color: $text-color;
            border: 0;
            padding: 0px 60px 0px 20px;
            line-height: 60px;
            height: 60px;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                color: $white;
                background: $theme-color url(#{$image-theme-path}icon/plance-white.png) no-repeat center;
                background-position-x: 140px;
                background-size: 20px;              
            }
        }
    }
}

/* Tabs Category */
.bin-tabs-category {
    .top-tab-slider {
        text-align: center;
    }
}

/* Owl carousel post */
.rtl{
    .bin-recent-post.layout-default .carousel-control.left{
        right: auto;
        left: 0;
    }
    .bin-recent-post.layout-default .carousel-control.right{
        right: auto;
        left: 25px;
    }
}
.bin-recent-post {
    &.layout-default{
        .owl-carousel .owl-stage-outer{
            @include rtl-margin-right(1px);
        }
        .carousel-control{
            border: 0;
            font-size: 20px;
            width: auto;
            height: auto;
            top: -72px;
            &.left{
                left: auto;
                right: 25px;
            }
            &.right{
                right: -5px;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .post{
            position: relative;
            &:hover{
                .entry-title{
                    background: rgba($theme-color, 0.7);
                    a{
                        color: $text-color;
                        &:hover{
                            color: $white;
                        }
                    }
                }
                .post-thumbnail{
                    img{
                        opacity: 0.7;
                    }
                }
            }
        }
        a.post-thumbnail{ 
            img{
                @include transition(all 0.3s ease-in-out);
            }
        }
        .post-content{
            time{
                position: absolute;
                top: 0;
                @include rtl-left(0);
                background: rgba($theme-color, 0.75);
                font-family: $font-family-second;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                text-transform: capitalize;
                padding: 11px 6.5px;
                color: #111111; 
                span{
                    width: 100%;
                    display: inline-block;
                    font-size: 16px;
                    line-height: 100%;
                }
            }
            .byline{
                display: none;
            }
            .entry-title{
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba($black, 0.7);
                margin: 0; 
                width: 100%;
                display: block; 
                line-height: 21px;  
                font-weight: normal;
                padding: 14px 20px;
                font-size: 14px;
                font-family: inherit;
                @include transition(all .5s ease-in-out);
                a{
                    color: $white;
                    margin-bottom: 0;
                }
            }
        }
    }
    &.layout-2{
        .carousel-control{
            top: 45%;
            border: 0;
            font-size: 23px;
            &:hover{
                cursor: pointer;
            }
            &.left{
                left: -30px;
            }
            &.right{
                right: -30px;
            }
        }
        .post{
            border: 1px solid $theme-border-color;
            padding: 15px;
        }
        .post-content{
            padding-top: 22px;
            time{
                position: relative;           
                background: transparent;
                padding: 0;
                display: block;
                @include rtl-text-align-left();
                top: auto;
                left: auto;
                font-weight: normal;
                color: #959595;
                text-transform: capitalize;
                line-height: 40px;
                span{
                    top: auto;
                    left: auto;                   
                    width: auto;
                    font-size: 32px;
                    font-weight: bold;
                    color: $theme-color;
                    @include rtl-padding-right(5px);
                    @include rtl-float-left;
                    line-height: 30px;
                    vertical-align: text-top;
                    font-family: $font-family-second;
                }
            }
            .entry-title{
                position: relative;
                padding: 0;
                background: transparent;
                a{
                    color: $text-color;
                    font-size: 18px;
                    font-family: $font-family-second;
                    line-height: 27px;
                    margin-top: 7px;
                    margin-bottom: 12px;
                    display: block;
                    font-weight: 400;
                    &:hover{
                        color: $theme-color
                    }
                }
            }
            .post-excerpt{
                color: #959595;
                line-height: 24px;
            }
            .btn-read-more{
                a{
                    display: inline-block;
                    border: 2px solid $theme-color;
                    padding: 14.5px 28px;
                    margin-top: 12px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    color: $theme-color;
                    font-family: $font-family-second;
                    &:hover{
                        background: $theme-color;
                        color: $white;
                    }
                }
            }
        }
    }
}


/*
    Widget Sidebar
*------------------------------------
*/
.#{$app-prefix}-sidebar{
    margin-bottom: 35px;
    #text-5{padding: 0!important;}
    #text-4{margin-top: 30px;}
    &.sidebar-product{
        ul.product-categories >li >a{
            @include rtl-padding-left(30px);
            &::before{
                background: $text-color-third !important;
                width: 5px !important;
                height: 5px !important;
            }
            &:hover{
                &::before{
                    background: $theme-color !important;                
                }
            }
        }
        .widget_price_filter{
            .widget-title{
                margin-top: 0;
            }
        }
    }
    .widget{
        &.widget_product_categories{
            li a{
                position: relative;
                @include transition(all .3s ease 0s);
                @include before-link();
                &:hover{    
                   @include rtl-padding-left(13px);
                   &:before{ background: $theme-color; } 
                }
            }
        }
        &.widget_layered_nav, &.widget_archive, &.widget_categories, &.widget_product_categories, &.widget_price_filter, &.bin_brand{
            .widgettitle, .widget-title, .title_brand h2{
                color: $text-color;
                font-weight: bold;
                font-size: 18px;
                border-bottom: 1px solid $theme-border-color; 
                font-family: $font-family-second;
                @include rtl-padding-right(0);
                text-transform: uppercase;
                margin-bottom: 25px;
                padding-bottom: 15px;
				margin-top: 0;
            }
            ul, .product-categories{
                background: $block-sidebar-hightlight-content-bg;
                padding: 0;
                border: none;
                li{
                    padding: 13px 0;
                    font-weight: 400;
                    //background: url(#{$image-theme-skin}list-style.png) no-repeat 15px 25px $nocolor;
                    //@include rtl-background-position-percent(25px, 8%);
                    list-style: none;
                    font-size: 14px;
                    color: $block-sidebar-hightlight-content-color;
                    border-bottom: 1px dashed $theme-border-color;
                    &:last-child{
                        border: none;
                    }
                    &:first-child{
                        padding-top: 0;
                    }
                    .count{
                        color: $block-sidebar-hightlight-content-color;
                    }
                    a{
                        color: #707070;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        &.widget_search{
            border: 1px solid $border-color;
            margin-top: 20px;
        }
        &.widget_layered_nav{
            .count{ display: none; }
            li.wc-layered-nav-term{
                padding: 4
            }
        }
    }
    .widget.widget_text{padding: 0!important;}
    select,table{
    	width: 100%;
    }
    .post-widget,
    .comment-widget{
        .blog-title,h6{
            margin: 0 0 5px;
            line-height: $widget-sidebar-entry-title-line-height;
            font-weight: $widget-sidebar-entry-title-font-weight;
            @include font-size(font-size,$widget-sidebar-entry-title-font-size);
        }
        p{
            @include font-size(font-size,$widget-post-meta-font-size);
        }
        .post-date{
            margin: 0;
            line-height: 18px;
        }
    }
    .wcc_block {
        ul.mtree {
            padding: 0;
            a {display: inline;}
            li {
                list-style: square inside;
                font-size: $font-size-base - 4;
                text-transform: uppercase;
                margin-bottom: 22px;
                &.current-cat {
                    a {
                        text-decoration: inherit;
                        color: #2a2a2a;
                    }
                }
            }
        }
    }
    .widget_text {
        margin-bottom: 0;
        .widget-title {
            font-size: 24px;  
            padding: 20px;
            margin-bottom: 0;
            margin-top: 0;
            background: #252525;
            color: #fff;
            text-transform: uppercase;
        }
    }
}

.template-news{
    .#{$app-prefix}-sidebar{
        .post-widget,
        .comment-widget{
            .blog-title,h6{
                text-transform: none;
                font-weight: 600;
                @include font-size(font-size,12px);
            }
        }
    }
}


.flickr-gallery{
	img{
        padding: 0;
        margin: 4px;
        @include size(60px,60px);
        @include rtl-float-left();
	}
}

/*
    Blog Sidebar
*------------------------------------
*/
.widget{
    &.widget_categories, &.widget_archive, &.widget_tag_cloud, &.widget_recent-post{
        @extend %clear-box !optional;
        .widgettitle, .widget-title{
            color: $block-sidebar-heading-color;
            padding: 20px 0;
            background: $block-sidebar-heading-hightlight-bg;
            font-weight: $block-sidebar-heading-font-weight;
            font-size: $block-sidebar-heading-font-size;
            border-bottom: 1px solid #cccccc;
            @include rtl-padding-right(0);
            position: relative;
            margin-bottom: 10px;
        }
    }
    &.widget_pages,
    &.widget_categories{
        ul{
            li{
                padding: 13px 0;
                font-weight: 400;
                list-style: none;
                font-size: 14px;
                color: #666666;
                border-bottom: 1px dashed $theme-border-color;
                &:first-child{
                    padding-top: 0;
                }
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                >a{
                    position: relative;
                    @include rtl-padding-left(30px);
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        @include rtl-left(0);
                        margin-top: -2px;
                        width: 5px;
                        height: 5px;
                        background-color: $text-color-third;
                        @include transition(all 0.35s ease);                
                    }
                    &:hover{
                        &::before{
                            background: $theme-color;
                        }
                    }
                }
            }
        }
    }
}
#bin-main{
    .col-sm-3{
        .bin-recent-post{
            background: transparent;
            .title-block{
                h2{
                    color: $text-color;
                    padding-bottom: 15px;
                    font-weight: bold;
                    font-size: 18px;
                    padding-top: 20px;
                    border-bottom: 1px solid #cccccc;
                    @include rtl-padding-right(0);
                    position: relative;
                    margin-bottom: 25px;
                    @include rtl-text-align-left(); 
                    margin-top: 0; 
                    padding-top: 0;
                    @include rtl-padding-left(0);
                    @include rtl-border-left(0);
                    &::before{
                        display: none !important;
                    }                
                }
            }
        }
    }
} 

/*
    Tags Widget
*------------------------------------
*/
.tagcloud{
    a{
        position: relative;
        z-index: 1;
        color: $text-color-third;
        border: 1px solid $theme-border-color;
        text-transform: capitalize;
        line-height: 35px;
        padding: 0 21px;
        font-size: 14px !important;
        display: inline-block;
        @include rtl-float-left();
        margin: 0px 7px 7px 0;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            z-index: -1;
            height: 100%;
            @include rtl-left(0);
            background-color: $widget-tag-bg-hover;
            @include transition(all .3s linear);
        }
        &:hover{
            color: $white;
            border-color: $theme-color;
            &:after{
                width: 100%;
            }
        }
    }
}

/*
    Widget Newsletter
*------------------------------------
*/
.widget_mc4wp_widget{
	form{
		margin: 0;
	}
}

/*
    widget categories
*------------------------------------
*/



/*
    Widget Footer
*------------------------------------
*/



/*
    Widget Brands
*------------------------------------
*/
.brands {
    .vc_item {
        @include opacity(0.5);
        &.vc_active, &:hover {
            @include opacity(1);
        }
    }
}


/*
    Social
*------------------------------------
*/
.list-social {
    margin: 0;
    line-height: 0;
    text-align: center;
    li{
        display: inline-block;
        margin-bottom: 0 !important;
        a{
            @include border-radius(50%);
            text-align: center;
            margin: 0 18px 0 0;
            @include square(32px);
            overflow: hidden;
            display: block;
            padding: 6px;
            color: #000;
            background: #fff;
            > *{
                display: block;
                color: $black;
                @include font-size(font-size, 18px);
            }
            .fa,[class^="icon-"], [class*=" icon-"]{
                z-index: 1;
                position: relative;
            }
            &:hover{
                > *{
                    color: $social-hover-color;
                }
                background: $theme-color;               
                &.dribbble{
                    background: #F26798;
                }
                &.facebook{
                    background: #3b589e;
                }
                &.google-plus{
                    background: #d44132;
                }
                &.skype{
                    background: #00A8E6;
                }
                &.tumblr{
                    background: #465a74;
                }
                &.twitter{
                    background: #40BBF7;
                }
                &.youtube{
                    background: #F04E43; 
                }
                &.pinterest{

                }
                &.linkedin{
                    background: #F8659C;
                }
            }
        }
        &:last-child{
            a{
                margin: 0;
            }
        }
    }
}

/*
    Widget video
*------------------------------------
*/
.wpb_video_widget{
    .video-description{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 30px;
        font-size: 12px;
        color: $black;
    }
    .wpb_wrapper .wpb_video_wrapper{
        padding-top: 60.7%!important;
    }
} 
 
//Widget default
#recentcomments{
    > li{
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:first-child{
            border-top: 0;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
}
//Widget Text block
.block-text-1,.block-text-2,.block-text-3{
    padding: 40px 0;
    h3 {
        position: relative;
        padding-bottom: 20px;
        margin-top: 0;
        &:before{
            content: "";width:30%;height: 1px;background-color: $border-color;
            position: absolute;
            bottom: 0;
            @include rtl-left(50%);
            @include translateX(-50%);
        }
    }
}
.block-text-1{
    background-color: #fdf7ef;
}
.block-text-2{
    background-color: #e0f3d7;
}
.block-text-3{
    background-color: #d3e6eb;
}
//testimonial
.testimonial-description {
    position: relative;
    padding: 0 50px;
    p{
        &:before{
            content: "";
            //position: absolute;
            @include size(50px,20px);
            background: url(../../../images/quote.png) no-repeat scroll center center transparent;
            /* left: 0;
            top: 0; */
            @include rotate(180deg);
            display: inline-block;
            float: left;
            margin-left: -30px;
            margin-top: -5px;
        }
        &:after{
            content: "";
            //position: absolute;
            @include size(50px,20px);
            background: url(../../../images/quote.png) no-repeat scroll center center transparent;
            //right: 0;
            //bottom: 0;
            display: inline-block;
            float: right;
            margin-right: -30px;
            margin-top: 5px;
        }
    }
}
.testimonial-customer-position {
    color: #acacac;
}

//Block contact information
#block_contact_infos {
    p {margin-bottom: 0;}
    .ct-adress {
        @include rtl-padding-left(30px);
        margin-bottom: 10px;
        &:before{
            content: "\f041";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 17px;
        }
    }
    .ct-phone {
        @include rtl-padding-left(30px);
        margin-bottom: 10px;
        &:before{
            content: "\f10b";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 21px;
        }
    }
    .ct-email {
        @include rtl-padding-left(30px);
        &:before{
            content: "\f0e0";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 13px;
        }
    }
}
// Contact form block
.bingo-get-in-touch {
    .wpcf7-form {
        p {
            margin-bottom: 17px;
            &:last-child {
                @include rtl-text-align-right();
            }
        }
        .wpcf7-form-control-wrap {
            input,textarea {
                max-width: 100%;
                border: none;
                border-bottom: 1px solid #252525;
                padding: 8px 0;
                background: transparent;
                appearance:         none;
                -webkit-appearance: none;
                -moz-appearance:    none;
            }
            textarea {
                height: 36px;
            }
        }
        input.wpcf7-submit {
            padding: 13px 19px;
            text-transform: uppercase;
            font-family: $font-family-second;
            font-weight: 700;
            font-size: 16px;
            background: #252525;
            color: #fff;
            border: none;
            &:hover {
                background: $theme-color-default;
            }
        }
        img.ajax-loader {
            position: absolute;
            @include rtl-right(48px);
        }
        .wpcf7-response-output {

        }
    }  
}

// Form mail
.mc4wp-form {
    .btn {
        line-height: 20px;
    }
}

/************************************************************************************************
    WIDGET TITLE 
*************************************************************************************************/
#bin-main .widget{
    .widget-title{
        color: $text-color;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 1px solid $theme-border-color;
        font-family: $font-family-second;
        padding-right: 0;
        text-transform: uppercase;
        margin-bottom: 25px;
        padding-bottom: 15px;
        margin-top: 0;            
    }
}
/************************************************************************************************
    WIDGET SEARCH 
*************************************************************************************************/
#bin-main .widget.widget_search{
    >.widget-title{
        border-bottom: 0;
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    .container{
        padding: 0;
    }
    .form-content{
        position: relative;
        &::before{
            content: "";
            width: 0;
            height: 0;
            background: $theme-color;
            position: absolute;
            bottom: 0;
            @include rtl-left(0);
            @include transition(all .8s ease-in-out);
        }
        &:hover{
            &::before{
                width: 100%;
                height: 1px;
            }
        }
        input[type="text"]{
            width: 100%;
            border: 0;
            line-height: 40px;
            border-bottom: 1px solid $theme-border-color;
            background: transparent;
            color: #acacac;
            padding: 0;
            &:focus{
                color: $text-color;
            }
        }
        #searchsubmit{
            font-size: 14px;
            color: #acacac;
            top: 13px;
            margin: 0;
            padding: 0;
            @include rtl-right(0);
            &:hover{
                color: $theme-color;
            }
        }
    }
}
/************************************************************************************************
    WIDGET BEST SELLER 
*************************************************************************************************/
.bin_best_seller{
    .content-best-seller{ 
        .post-item{ margin-bottom: 25px; }
        .item-img{  
            @include rtl-float-left(); 
            img{ width: 70px; height: 83px; }
        }
        .item-content{  
            @include rtl-margin-left(90px); 
            .woocommerce-product-rating{
                display: none;
            }
            h4{  
                font-size: 14px;
                font-weight: normal;
                margin-top: 0;
                font-family: inherit;
                a{
                    line-height: 21px;
                    color: #464646;
                    font-family: inherit;
                    &:hover{
                        color: $theme-color;
                    }                 
                }
            }
            >p >del{
                padding: 0px 9px;
                span{
                    text-decoration: line-through;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $font-family-second;
                    color: #959595;
                    line-height: 23px;
                    span{
                        color: #959595;
                    }
                }
            }
            span{
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                font-family: $font-family-second;
                color: $theme-color;
                line-height: 23px;                              
                span{
                    font-size: 16px;
                    font-weight: 600;
                    font-family: $font-family-second;
                    color: $theme-color;
                    line-height: 23px;
                }                
            }
            >p >ins{
                text-decoration: none;
                @include rtl-float-left();
                span{
                    font-size: 16px;
                    font-weight: 600;
                    font-family: $font-family-second;
                    color: $theme-color;
                    line-height: 23px;
                }
            }
            .review{ display: none; }
        }
    }
}

.bin-policies{
    li{
        border: 1px dashed $theme-color;
        margin-bottom: 10px;
        padding: 23px 27px;
        font-size: 14px;
        font-family: $font-family-second;
        font-weight: bold;
        color: $theme-color;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @include transition(all 0.5s ease-in-out);
        i{
            position: absolute;
            top: calc(50% - 14px);
            @include rtl-left(27px);
            font-size: 28px;
        }
        &:hover{
            @include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
        }
    }
}

/*  */
/* Banner effect */
.rtl{
    .wrapper-benner.layout2{
        text-align: left;
    }
}
.wrapper-benner{
    position: relative;
    display: block;
    &.default{
        .link-banner{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &.layout1{
        .content-benner{
            position: absolute;
            right: 40px;
            top: calc(50% - 125px);
            z-index: 2;
            display: inline-block;
            max-width: 365px;
            width: 100%;
            .title-banner{
                h2{
                    text-transform: uppercase;
                    color: $theme-color;
                    font-size: 38px;
                    font-weight: bold;
                }
            }
            >span{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: $white;
            }
            .number-banner{
                font-size: 72px;
                color: $theme-color;
                font-weight: bold;
                font-family: $font-family-second;
                line-height: 100%;
                em{
                    font-size: 24px;
                    vertical-align: text-top;
                }
            }
            .btn-banner{
                border: 2px solid $theme-color;
                text-transform: uppercase;
                font-size: 18px;
                font-family: $font-family-second;
                line-height: 56px;
                padding: 0px 30px;
                display: inline-block;
                font-weight: 600;
                color: $theme-color;
                margin-top: 29px;
                &:hover{
                    background: $theme-color;
                    color: $white;
                }
            }
        }
    }
    &.layout2{
        .content-benner{
            position: absolute;
            left: 40px;
            top: calc(50% - 125px);
            z-index: 2;
            display: inline-block;
            max-width: 365px;
            width: 100%;
            .title-banner{
                h2{
                    text-transform: uppercase;
                    color: $text-color;
                    font-size: 38px;
                    font-weight: bold;
                }
            }
            >span{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: $text-color-second;
            }
            .number-banner{
                font-size: 72px;
                color: $text-color;
                font-weight: bold;
                font-family: $font-family-second;
                line-height: 100%;
                em{
                    font-size: 24px;
                    vertical-align: text-top;
                }
            }
            .btn-banner{
                border: 2px solid $text-color;
                text-transform: uppercase;
                font-size: 18px;
                font-family: $font-family-second;
                line-height: 56px;
                padding: 0px 30px;
                display: inline-block;
                font-weight: 600;
                color: $text-color;
                margin-top: 35px;
                &:hover{
                    background: $text-color;
                    color: $white;
                }
            }
        }        
    }
    &.default{
        .content-benner{
            position: absolute;
            @include rtl-left(35px);
            top: 85px;
            z-index: 2;
            display: inline-block;
            .title-banner{
                h2{
                    text-transform: uppercase;
                    color: $text-color;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            >span{
                display: inline-block;
                width: 100%;
                font-size: 16px;
                color: $text-color-second;
            }
            .number-banner{
                font-size: 72px;
                color: $text-color;
                font-weight: bold;
                font-family: $font-family-second;
                line-height: 100%;
                em{
                    font-size: 24px;
                    vertical-align: text-top;
                }
            }
            .btn-banner{
                text-transform: uppercase;
                font-size: 18px;
                font-family: $font-family-second;
                line-height: 50px;
                padding: 0px 20px;
                display: inline-block;
                font-weight: 600;
                color: $theme-color;
                margin-top: 30px;
                background: $text-color;
                &:hover{
                    background: $theme-color;
                    color: $white;
                }
            }
        } 
    }
    &.layout3{
        .content-benner{
            position: absolute;
            left: 94px;
            top: 87px;
            z-index: 2;
            max-width: 420px;
            height: auto;
            display: inline-block;
            .title-banner{
                h2{
                    text-transform: capitalize;
                    color: $theme-color;
                    font-size: 52px;
                    font-weight: 400;
                    margin-bottom: 25px;
                }
            }
            >span{
                display: inline-block;
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                color: #464646;
            }
            .number-banner{
                font-size: 72px;
                color: $text-color;
                font-weight: bold;
                font-family: $font-family-second;
                line-height: 100%;
                em{
                    font-size: 24px;
                    vertical-align: text-top;
                }
            }
            .btn-banner{
                text-transform: uppercase;
                font-size: 18px;
                font-family: $font-family-second;
                line-height: 56px;
                height: 58px;
                padding: 0px 26px;
                display: inline-block;
                font-weight: bold;
                color: $text-color;
                margin-top: 36px;
                border: 2px solid $text-color !important;
                &:hover{
                    background: $text-color;
                    color: $white;
                }
                &:focus{
                    outline: none;
                }
            }
        } 
    }    
}
