/*Font WooCommerce*/

@font-face {
    font-family: 'star';
    src:url('#{$woo-font-path}star.eot');
    src:url('#{$woo-font-path}star.eot?#iefix') format('embedded-opentype'),
        url('#{$woo-font-path}star.svg#star') format('svg'),
        url('#{$woo-font-path}star.woff') format('woff'),
        url('#{$woo-font-path}star.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wow';
    src:url('#{$woo-font-path}WooCommerce.eot');
    src:url('#{$woo-font-path}WooCommerce.eot?#iefix') format('embedded-opentype'),
        url('#{$woo-font-path}WooCommerce.svg#WooCommerce') format('svg'),
        url('#{$woo-font-path}WooCommerce.woff') format('woff'),
        url('#{$woo-font-path}WooCommerce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* End
------------------------------------------------*/
.clear-all{
    @extend .btn, .btn-link;
    &:hover{
        text-decoration: none !important;
    }  
}
/*Messenger
-------------------------------------------------
*/
#yith-wcwl-popup-message{
	border: 1px solid $theme-color;
    background: #fff;
    font-weight: 600;
    padding: 15px 20px;
    font-size: 23px;
    line-height: 60px;
    min-width: 250px;
    min-height: 100px;
    color: $text-color;
    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
}
.woocommerce-error,
.alert-success, .woocommerce-message {
    background-color: $theme-color;
    border-color: $theme-color;
    color: $white;
    list-style: none;
    .wc-forward{
    	background: $theme-color;
	    color: #fff;
	    padding: 8px 12px;
	    border-radius: 3px;
	    @include rtl-margin-right(15px);
	    &:hover{
	    	@include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
	    }
    }
}
.woocommerce-orders .woocommerce-message{
	color: #252525;
} 
.woocommerce-message {
    @include rtl-text-align-left();
}
.alert, .woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 12.5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* 
	End
*------------------------------------------------
*/
.category-image{
    img{
        @extend .filter-grayscale;
    }
}

p.demo_store {
	top: 0;
	position:fixed;
	@include rtl-left(0);
	@include rtl-right(0);
	@include size(percentage(1),auto);
	@include rtl-text-align-center();
    @include font-size(font-size,$font-size-md);
	padding: .5em 0;
	z-index: 99998;
	border: 1px solid darken($border-color, 10);
	@include box-shadow(0, 0, 0, 3px, rgba($white,0.2));
}

/*
    Utilities
*---------------------------------------------------------------------------
*/
.wc-forward, .wc-forward a {
	&:after {
		content: "\f061";
		font-family: $theme-font-icon-name;
		@include rtl-margin(0, 0, 0, 5px);
		font-size: 12px;
	}
}
.wc-backward, .wc-backward a {
	&:before {
		content: "\f060";
		font-family: $theme-font-icon-name;
		@include rtl-margin(0, 5px, 0, 0);
	}
}

/*
    woocommerce tabs
*---------------------------------------------------------------------------
*/
.woocommerce-tabs{
    padding: $woocommerce-tabs-padding;
    margin: $woocommerce-tabs-margin;
    table{
        margin: 0;
    }
    .tab-title{
    	font-size: 14px;
    	text-transform: uppercase;
    	font-weight: 400;
    	margin: 20px 0 25px; 
    }
	.star-rating {
		@include size(90px,20px);
		@include rtl-float-right();
		overflow: hidden;
		position: relative;
		font-size: 13px;
		font-family: $theme-font-icon-name;
		&:before {
            top: 0;
			content: "\f006\f006\f006\f006\f006";
			color: #252525;
			@include rtl-float-left();
			@include rtl-left(0);
			position: absolute;
		}
		span {
			overflow: hidden;
			@include rtl-float-left();
			@include rtl-left(0);
			top: 0;
			position: absolute;
			padding-top: 1.5em;
			&:before {
				content: "\f005\f005\f005\f005\f005";
				top: 0;
				color: $theme-color;
				position: absolute;
				@include rtl-left(0);
			}
		}
	}
	#reviews {
		h2 small {
			@include rtl-float-right();
			line-height: 21px;
			margin: 10px 0 0 0;
			a {
				text-decoration:none;
			}
		}
		#comment {
			height: 75px;
            width: 100%;
		}
		#comments {
			> h2{
				@extend .tab-title;
			}
			.add_review {
				@include clearfix();
			}
			ol.commentlist {
				@include clearfix();
				@include clear-list;
				margin: 0;
				width: 100%;
				background:none;
				list-style: none;
				li {
					padding: 0;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					border: 0;
					img.avatar {
						padding: 3px;
						background: $white;
						border: 1px solid $border-color;
						margin-bottom: 10px;
						position: absolute;
						top: 0;
						@include rtl-left(0);
					}
					.comment-text {
						border: 1px solid $border-color;
						@include border-radius(4px);
						padding: 1em 1em 0;
						@include clearfix();
						@include rtl-margin-left(70px);
						position: relative;
						&::before{
							content: "";
							@include size(10px,10px);
							position: absolute;
							top: 25px;
							background: $white;
							border-left: 1px solid #ebebeb;
							border-bottom: 1px solid #ebebeb;
							@include rtl-left(-6px);
							@include rotate(45deg);
						}
						p {
							margin: 0 0 1em;
						}
					}
				}
				ul.children {
					list-style: none;
					@include rtl-margin(20px, 0, 0, 50px);
					.star-rating {
						display: none;
					}
				}
				#respond {
					border: 1px solid $border-color;
					@include border-radius(4px);
					@include rtl-padding(1em, 1em, 0, 0);
					@include rtl-margin(20px, 0, 0, 50px);
				}
                .comment-image{
                    img{
                        @include square(percentage(1));
                    }
                    display: block;
                    @include  square($block-sidebar-widget-product-list-size);
                }
			}
			.commentlist > li:before {
				content: "";
			}
		}
	}
}
#respond {
	line-height: 1.4em;
	.comments {
		margin-bottom: 15px;
	}
	.logged-in-as{
		padding: 10px 0;
	}
	#reply-title{
	    font-size: 14px;
	    border-bottom: 1px solid $theme-border-color;
	    padding-bottom: 15px;
	    text-transform: uppercase;
	    &.comment-reply-title{
	    	font-size: 18px;
	    	font-weight: 400;
	    	font-style: normal;
	    	small{
	    		font-size: 18px;
	    		font-style: italic;
	    	}
	    }
	}
	.comment-form {
		input {
			@include rtl-left(auto);
		}
		input[type="text"]{
			max-width: 450px;
			width: 100%;
			height: 40px;
			margin-bottom: 5px;
		}
		label {
			font-weight: 400;
			color: $text-color;
			width: 100%;
			margin-bottom: 10px;
		}
	}
	textarea {
		@include box-sizing(border-box);
	}
	p.stars {
		position: relative;
		padding: 5px 0;
		a {
			@include inline-block();
			text-indent: -9999px;
			line-height: 100%;
			position: relative;
			@include rtl-margin-right(10px);
			&:last-child {
				@include rtl-margin-right(0);
			}
			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				&:after {
					top: 0;
					font-family: $theme-font-icon-name;
					font-size: 13px;
					font-weight: unset;
					text-indent: 0;
					position: absolute;
					@include rtl-left(0);
				}
			}

			&.star-1 {
				width: 13px;
				&:after {
					content: "\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005";
				}
			}

			&.star-2 {
				width: 26px;
				&:after {
					content: "\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005";
				}
			}

			&.star-3 {
				width: 39px;
				&:after {
					content: "\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005";
				}
			}

			&.star-4 {
				width: 52px;
				&:after {
					content: "\f006\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005\f005";
				}
			}

			&.star-5 {
				width: 65px;
				border: 0;
				&:after {
					content: "\f006\f006\f006\f006\f006";
				}
				&:hover:after,
				&.active:after {
					content: "\f005\f005\f005\f005\f005";
				}
			}
		}
	}
}
#tab-additional_information{
	h2{
		font-size: 16px;
		font-weight: 400;
		margin: 15px 0;
	}
}

/*
    Quantity inputs
*---------------------------------------------------------------------------
*/
.quantity {
	width    : auto;
	position : relative;
	margin   : 0 auto;
	overflow : hidden;
	zoom     : 1;
	display: inline-flex;
	input.qty {
		float: left;
		@include size(45px, 38px);
		text-align: center;
		@include border-right-radius(0);
		@include border-left-radius(0);
		padding         : 0;
		font-weight     : bold;
		-moz-appearance : textfield;
		&:focus{
			@include form-control-focus();
		}
	}
	.plus, .minus {
		background  	: $white;
		float   		: left;
		display         : block;
		padding         : 0;
		margin          : 0;
		vertical-align  : text-top;
		text-decoration : none;
		overflow        : visible;
		text-decoration : none;
		cursor          : pointer;
		line-height     : 13px;
		font-size       : 12px;
		color           : $text-color;
		border          : 1px solid $border-color;
		text-align: center;
		@include size(45px , 38px);
	}
	.plus {
		border-left: none;
		top: 0;
		@include border-bottom-radius(0);
		right: 0;
	}
	.minus {
		border-right: none;
		bottom: 0;
		right: 0;
		@include border-top-radius(0);
	}
}

/*
    Forms
*---------------------------------------------------------------------------
*/
.form-row {
	@include clearfix();
    label.hidden {
        visibility:hidden;
    }
    label.inline {
        display: inline;
    }
    label{
    	display: block;
    }
    select {
        cursor: pointer;
    }
    .required {
        color: $red;
        font-weight: $headings-font-weight;
        border: 0;
    }
    .input-text{
    	width: 100%;
    }
    &.form-row-first{
    	width: 47%;
    	@include rtl-float-left();
    }
    &.form-row-last{
    	width: 47%;
    	@include rtl-float-right();
    }
    &.form-row-wide{
    	clear: both;
    }
}

ul.tabs {
	list-style:none;
	padding: 0 0 0 1em;
	margin: 0 0 1.618em;
	overflow:hidden;
	position: relative;
	li {
		@include inline-block();
		position: relative;
		z-index: 0;
		margin: 0 -5px;
		padding: 0 1em;
		border: 1px solid darken( $border-color, 10 );
		@include box-shadow(0 3px 3px rgba($black, 0.2), inset 0 1px 0 rgba($white,0.6));
		a {
			@include inline-block();
			padding: .5em 0;
			font-weight: $headings-font-weight;
			color: $border-color;
			text-decoration: none;
			&:hover {
				text-decoration:none;
				color: lighten( $border-color, 10 );
			}
		}
		&.active {
			background: $border-color;
			z-index: 2;
			border-bottom-color: $border-color;
			a {
				color: inherit;
				text-shadow: inherit;
			}
			&:before {
				@include box-shadow(2px 2px 0 $border-color);
			}
			&:after {
				@include box-shadow(-2px 2px 0 $border-color);
			}
		}
		&:before, &:after {
			border: 1px solid darken($border-color, 10);
			position:absolute;
			bottom: -1px;
			content: "";
			@include size(5px,5px);
		}
		&:before {
			border-width: 0 1px 1px 0;
			@include rtl-left(-6px);
			@include border-right-radius(4px);
			@include box-shadow(2px 2px 0 darken( $border-color, 10 ));
		}
		&:after {
			border-width: 0 0 1px 1px;
			@include rtl-right(-6px);
			@include border-left-radius(4px);
			@include box-shadow(-2px 2px 0 darken( $border-color, 10 ));
		}
	}
	&:before {
		position:absolute;
		content: "";
		width: percentage(1);
		bottom: 0;
		z-index: 1;
		@include rtl-left(0);
		border-bottom: 1px solid darken( $border-color, 10 );
	}
}

.product-quantity{
	.input-text{
		@include input-size('.input-sm', $input-height-small, $padding-base-vertical, $padding-base-vertical, $font-size-small, $line-height-small, 0);
	}
}

.i-am-new{
    li{
        background-image: none !important;
        background-color: $white !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        .noty_message{
            padding: 20px 0 !important;
        }
    }
}

/*
    Sale Label
*---------------------------------------------------------------------------
*/
.onsale{
	top: 5px;
	@include rtl-right(5px);
	@include rtl-float-right();
	z-index: 3 !important;
	text-align: $sale-label-align;
	color: $white;
	background: $theme-color;
	font-size: 12px;
	font-weight: 600;
	font-family: $font-family-second;
	padding: 7px 12px;
	@include border-radius(3px);
	text-transform: $sale-label-transform;
	position: absolute;
}
.vgwc-featured{
	top: 5px;
	@include rtl-left(5px);
	@include rtl-float-right();
	z-index: 3 !important;
	text-align: $sale-label-align;
	color: $white;
	background: $theme-color;
	font-size: 12px;
	font-weight: 600;
	font-family: $font-family-second;
	padding: 7px 12px;
	@include border-radius(3px);
	text-transform: $sale-label-transform;
	position: absolute;	
}

/*
    Star rating
*---------------------------------------------------------------------------
*/
.rating{
    display: inline-block;
    width: 100%;
    &.none{
    	display: none;
    }
}
.woocommerce-product-rating{
	.star-rating {
    	margin: 9px 0;			
	}
}
.star-rating {
    display: inline-block;	
    margin: 6px 0;
	overflow: hidden;
	position: relative;
	@include size(6.77em, 1.2em);
	line-height: 1.2em;
	font-family: $theme-font-icon-name;
    font-size: 7px;
    width: 100%;
    @include rtl-float-left();
	&:before {
		content: "\f006\f006\f006\f006\f006";
		color: $star-rating-color;
		@include rtl-float-left();
		top: 0;
		@include rtl-left(2px);
		position: absolute;
		letter-spacing: 3px;
	}
	span {
		overflow: hidden;
		@include rtl-float-left();
		top: 0;
		@include rtl-left(0);
		position: absolute;
		padding-top: 1.5em;
	}
	span:before {
		content: "\f005\f005\f005\f005\f005";
		top: 0;
		position: absolute;
		@include rtl-left(2px);
		color: $star-rating-active-color;
		letter-spacing: 3px;
	}
}

/*
    Mini cart
*---------------------------------------------------------------------------
*/
.rtl #cart .cart-popup{
	right: auto;
	left: 0;
}
#cart{
    position: relative;
    cursor: pointer;
    .cart-icon {
        display: inline-block;
        width: 100%;
    }
    .plus,
    .minus{
    	display: none;
    }
    .icon-shop{
    	color: $white;
    	font-size: 20px;
    	&:hover{
    		color: $theme-color;
    	}
    }
    .mini-cart-items {
        position: absolute;
        bottom: 9px;
        @include rtl-right(-10px);
        font-size: 9px;
        text-align: center;
        background: $theme-color;
        color: $text-color;
        line-height: 18px;
        font-weight: 400;
        font-family: $font-family-second;
        border-radius: 50%;
        @include square(18px);
    }
    .cart-popup {
    	display: none;
		width: 360px;
		padding: 20px 17px;
		border-top: 3px solid $theme-color;
		background: #fbfbfb;
		position: absolute;
		z-index: 10001;
		@include rtl-right(0);
		top: 32px;
		@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.05));
		.cart_list {
			list-style: none;
		}
		.mini_cart_item {
			position: relative;
			margin-bottom: 17px;
			overflow: hidden;
			border: 2px solid transparent;
			@include transition(all .3s ease-in-out);
			.remove{
				color: $text-color;
				font-size: 18px;
				&:hover{
					color: $theme-color;
				}
			}
			&:hover{
				background: #f9f9f9;
				border-color: $theme-color;
			}
		}
		.product-image {
			display: inline-block;
			width: 78px;
			@include rtl-float-left();
			@include rtl-margin-right(15px);
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.product-name {
			text-transform: uppercase;
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 5px;
			font-weight: 700;
			font-size: 13px;
			width: 173px;
		}
		.quantity {
			font-family: $font-family-second;
			font-weight: 700;
			width: 173px;
			display: inline-block;
			color: #363636;
		}
		.remove {
			position: absolute;
			@include rtl-right(5px);
			top: 50%;
			margin-top: -10px;
		}
		.total {
			font-family: $font-family-second;
			text-transform: uppercase;
			color: #fff;
		}
		.buttons {
			display: inline-block;
			width: 100%;
			.view-cart{
				line-height: 41px;
				display: block;
				@include rtl-float-left();
			}
			.button {
				padding: 10.5px 17px;
				text-transform: uppercase;
				color: $white;
				font-family: $font-family-second;
				font-size: 12px;
				font-weight: 600;
				display: inline-block;
				@include rtl-float-left();
				&.checkout{
					@include rtl-float-right();
					background: $theme-color;
				}
			}
		}
		.empty {
			color: $text-color-third;
		}
    }
}


/*
    Cart
*---------------------------------------------------------------------------
*/
.cart_list{
	> div{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
		margin: 10px 0;
		padding: 10px 0;
	}
    .image{
        @include size(70px,70px);
    }
    .cart-item{
    	line-height: 1.1;
    	margin: 0;
    	font-size: $font-size-base!important;
    	.amount{
    		font-size: $font-size-base!important;
    	}
    }
    .cart-main-content{
        @include rtl-text-align-left();
        position: relative;
        .remove{
            position: absolute;
            @include rtl-right(0);
            top: auto;
            @include font-size(font-size,25px);
            bottom: 10px;
            height: 20px;
        }
    }
    + .total{
        @include rtl-text-align-right();
        margin-top: 10px;
        .amount{
    		font-size: $font-size-base!important;
    	}
    }
}


/** Plugins  add to wishlist, compare **/
.place-order{
	padding: $theme-margin;
}

.yith-wcwl-add-button > a i, .wishlist_table .add_to_cart.button i{
	margin: 0!important;
}

.yith-wcwl-share{
    ul{
        @include clear-list;
    }
}

ul {
    &.yith_magnifier_gallery{
        li{
            a{
                margin-top: 16px;
            }
        }
    }
    &.display,&#shipping_method,&.payment_methods{
        @include clear-list;
    }
    &.payment_methods{
        li{
            margin-bottom: $theme-margin;
            label{
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    &.products-list{
        margin-bottom: $theme-margin / 2;
        padding-left: 0;
    }
    &.page-numbers{
        margin: 0;
        @include rtl-float-left();
        li{
            > *{
                margin: 0;
            }
        }
    }
}

//Shop filter
.woocommerce {
	.widget_price_filter {
		overflow: hidden;
		.ui-slider .ui-slider-handle {
			@include square(6px);
			@include border-radius(0);
			background: $theme-color;
			top: -2px;
		}
		.ui-slider .ui-slider-range {
			background: $theme-color;
		}
		.price_slider_wrapper .ui-widget-content {
			@include border-radius(0);
			background: $theme-border-color;
			margin: 30px 0 28px;
			width: calc(100% - 6px);
		}
		.ui-slider-horizontal {
			height: 2px;
		}
		//button
		#respond input#submit, a.button, button.button, input.button {
			@include border-radius(0);
			background: $theme-color;
			color: $white;
			text-transform: uppercase;
			padding: 3.5px 26px;
			font-family: $font-family-second;
			font-weight: bold;
			@include rtl-float-right();
			@include transition(all 0.3s ease-in-out);
			border: 0;
			&:hover,
			&:focus{
				outline: 0;
				@include box-shadow(0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3));
			}
		}
		.price_slider_amount {
			margin-bottom: 34px;
			.price_label {
				@include rtl-text-align-left();
				color: #636363;
				line-height: 40px;
				span {
					font-size: 14px;
					display: inline-block;
					line-height: 100%;
					color: $theme-color;
				}
			}
		}
	}
	.widget_layered_nav ul {
		overflow: hidden;
		margin-top: 25px!important;
		li {
			display: inline-block;
			background: #fff;
			border: 0 !important;
			@include rtl-float-left();
			@include rtl-margin-left(14px);
			margin-bottom: 13px;
			padding: 0px!important;
			&:first-child,
			&:nth-child(6n + 1) {
				@include rtl-margin-left(0);
			}
			.count{ display: none; }
			&.chosen, &:hover {
				border-color: $theme-color;
				background-color: $theme-color;
				a {
					color: #fff;
					border-color: $theme-color;
					@include box-shadow(0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.22));
				}
			}
			a {
				display: inline-block;
				vertical-align: top;
				overflow: hidden;
				@include square(33px);
				text-align: center;
				line-height: 26px;
				font-size: 16px;
				padding: 0;
				border: 1px solid transparent;
				@include transition(all 0.3s ease-in-out);
				&:before {display: none;}
				&:hover{
					color: #fff!important;
				}
			}
			&:hover{
				background: $theme-color;
				color: #fff!important;
			}
		}
		[class*="color"] {
			a {
				text-indent: -999px;
			}
			&.chosen, &:hover {
				border-color: $theme-color;
				background-color: #fff;
			}
		}
		.color.black {
			a {background-color: #000;}
		}
		.color.white {
			a {background-color: #fff;}
		}
		.color.blue {
			a {background-color: #6dcff6;}
		}
		.color.orange {
			a {background-color: #f26522;}
		}
		.color.brown {
			a {background-color: #603913;}
		}
		.color.purple {
			a {background-color: #9e005d;}
		}
		.color.dark-blue {
			a {background-color: #003471;}
		}
		.color.pink {
			a {background-color: #f06eaa;}
		}
		.color.dark-pink {
			a {background-color: #ec008c;}
		}
		.color.red {
			a {background-color: #ed1c24;}
		}
		.color.yellow {
			a {background-color: #FFFF00;}
		}
	}
}

/* // content_sortPagiBar */
.content_sortPagiBar {
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	.woocommerce-message{
		display: none;
	}
	&.top {
		margin-bottom: 58px;
		padding-bottom: 12px;
		border-bottom: 1px solid #e1e1e1;
	}
	&.bottom {
		margin-top: 42px;
		padding-top: 27px;
		border-top: 1px solid #e1e1e1;
		margin-bottom: 50px;
		clear: both;
		text-align: center;
		position: relative;
		font-family: $font-family-second;
	}
	.display {
		@include rtl-float-left();
		margin-right: 21px;
		li {
			@include rtl-float-left();
			&:first-child{
				@include rtl-margin-left(0);
			}
			&:last-child{
				a{
					@include rtl-border-right(0);
				}
			}
			a {
				display: inline-block;
				vertical-align: middle;
				font-size: 21px;
				color: #acacac;
				padding-right: 23px;
				line-height: 100%;
				@include rtl-border-right(1px solid #e2e2e2);
				&.active, &:hover {
					color: $theme-color;
				}
			}
			&:last-child{
				padding-left: 23px;
			}
		}
	}
	.woocommerce-ordering {
		@include rtl-float-right();
		margin-bottom: 0;
		.orderby {
			border: 0;
			padding: 0;
			font-size: 16px;
			color: $text-color;
			font-weight: 400;
			line-height: 22px;
			background: transparent;
			text-transform: none !important;
			&:focus{
				outline: none;
			}
		}
	}
	.woocommerce-pagination {
		overflow: hidden;
		display: inline-flex;
		width: 100%;
		.current {
			color: $theme-color !important;
			background: transparent !important;
		}
		ul.page-numbers {
			vertical-align: top;
			margin: 0 auto !important;
			border: none !important;
			float: none;
			li {
				display: inline-block;
				@include rtl-float-left();
				a.prev.page-numbers{
					position: absolute;
					top: 27px;
					border: 0;
					padding: 0;
					font-size: 14px;
					@include rtl-padding-left(51px);
					@include rtl-left(0);					
					@include square(auto);
					>i{
						font-size: 12px;
						line-height: 13px;
						position: absolute;
						@include rtl-left(0);
						top: 0;
					}
				}
				&:first-child{
					span.current{
						border-left: 1px solid #ebebeb;
					}
				}
				a.next.page-numbers{
					position: absolute;
					top: 31px;
					border: 0;
					padding: 0;
					font-size: 14px;
					@include rtl-padding-right(51px);
					@include rtl-right(0);
					@include square(auto);
					>i{
						font-size: 12px;
						line-height: 13px;
						position: absolute;
						@include rtl-right(0);
						top: 0;						
					}
				}
				a, span{
					padding: 0 27px;
					display: inline-block;
					border: 0;
					width: auto;
					height: auto;
					border-right: 1px solid #ebebeb;
					line-height: 13px;
					background: transparent;
					text-align: center;
					font-weight: bold;
					color: $text-color;
					i {
						font-size: 10px;
						@include transition(all 0.3s ease-in-out);
					}
					&:focus,
					&:hover{
						outline: none;
						background: transparent !important;
						color: $theme-color !important;	
						i{
							color: $theme-color;
						}				
					}
				}
			}
		}
	}
	.woocommerce-result-count {
		font-size: 16px;
		background: transparent;
		margin-bottom: 0 !important;
		color: #636363;
		display: inline-block;
		float: left;
		font-weight: 400;
		line-height: 22px;
		text-transform: none;
	}
}

/* Carousel */

.section8-home-1 .bin-woo-slider.woo-slider-default,
.bin-woo-slider.slider-layout-2,
.bin-woo-slider.slider-layout-1{
	margin-left: 0;
	margin-right: 0;
}
.bin-woo-slider.woo-slider-default,
.bin-woo-countdown-slider{
    margin-left: -15px;
    margin-right: -15px;
}
.owl-buttons.disabled{
    display: block;
}
.products-list.grid .product-wapper .products-content .price{
	color: $theme-color;
	>span{
		&:nth-child(1){
			padding-right: 5px;
		}
		&:nth-child(2){
			padding-left: 5px;
		}
	}
}