/* Woocommerce Product Detail --------------------------------------*/
.margin-22 {
    margin-bottom: 22px !important;
}
/* Price */
.price {
    line-height: 14px;
    font-size: $product-price-font-size;
    font-weight: $product-price-font-weight;
    color: $product-price-color;
    ins {
        text-decoration: none;
    }
    del {
        span {
            text-decoration: line-through;
            font-weight: 400;
        }
    }
}

/* Product name */
.product-name a {
    @include font-size(font-size, $product-name-font-size);
    line-height: $product-name-line-height;
    font-weight: $product-name-font-weight;
}
.contents-detail .images .woocommerce-main-image {
    img{
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .owl-buttons{
        .carousel-control{
            background: #fff;
        }
    }
}
/* Product item container */
.product-container {
    margin-bottom: 37px;
    padding-bottom: 0;
    .product-wapper {
        margin-top: 0; 
        padding: 20px;
        background: #fff;
        border: 1px solid #fff;
        @include transition(all 0.25s ease-in-out 0.2s);
        &:hover{
            border-color: #ebebeb;
            .product-image-wrapper .hover-image{ @include opacity-s(); }
            .product-image-wrapper .quickview{ @include opacity-s(); bottom: 0; z-index: 2; }
            .product-details{
                .yith-wcwl-add-to-wishlist,
                .compare,
                .add_to_cart_button{ @include opacity-s(); }
                .product-button{z-index: 3;}
                .price{@include rtl-text-align-right(); z-index: 2; position: relative; top: -10px;.woocs_price_code del{display: none;}}
                &:before { content: ""; background: #fff; width: 100%; height: 100%; left: 0; right: 0; position: absolute;z-index: 1;};
            }
        }
    }
    .product-image-wrapper {
        position: relative;
        .hover-image{ position: absolute; top: 0px; @include rtl-left(0); width: 100%; height: 100%;  background-color: white; z-index: 1;  visibility: hidden; opacity: 0; @include transition(all .3s ease 0s);  }
        .wp-post-image{display: block; max-width: 100%; height: auto;}
       
        .quickview{
            position: absolute;
            background-image: url(../../../images/icon/icon-shop.png); 
            background-position: -2px 160px;
            text-indent: -9999px;
            display: block;
            bottom: 25px;
            @include transition(all .3s ease 0s);   
            @include opacity-h();
            @include rtl-left(50%);
            @include rtl-margin-left(-20px);
            @include btn-bt();
            &:hover{ background-position: -38px 160px}
        }
    }
    .product-details{
        text-align: center; position: relative;
        .product-name a{ 
            margin: 9.5px 0;font-size: 14px; font-weight: 400; line-height: 22px; padding: 5px 0; display: block; color: #707070; text-decoration: none;
            &:hover{ color: $theme-color; }
        }
        .rating{display: none;}
        .price {line-height: 100%;del{line-height: 100%;}}
        .product-button{
            position: absolute;
            bottom: 0;
            @include rtl-left(0);
        }
        .cart-button{ display: inline-block; }
        .add_to_cart_button{
            background-image: url(../../../images/icon/icon-shop.png); 
            background-position: -2px 118px;
            text-indent: -9999px;
            display: inline-block;
            border: 1px solid #ebebeb;
            @include opacity-h();
            @include transition(opacity 0.1s ease-in-out 0.1s);
            @include rtl-margin-right(-1px);
            @include btn-bt();
            &:hover{ background-position: -42px 118px;border-color: $theme-color;}
        }
        .compare{
            background-image: url(../../../images/icon/icon-shop.png); 
            background-position: -2px 42px;
            text-indent: -9999px;
            display: inline-block;
            border: 1px solid #ebebeb;
            @include opacity-h();
            @include transition(opacity 0.2s ease-in-out 0.2s);
            @include btn-bt();
            @include rtl-margin-left(-6px);
            &:hover{ background-position: -42px 42px;border-color: $theme-color;}

        }
        .yith-wcwl-add-to-wishlist{
            background-image: url(../../../images/icon/icon-shop.png); 
            background-position: -2px 80px;
            text-indent: -9999px;
            margin-top: 0;
            @include rtl-margin-left(-5px);
            display: inline-block;
            border: 1px solid #ebebeb;
            @include opacity-h();
            @include transition(opacity 0.2s ease-in-out 0.3s);
            @include btn-bt();
            &:hover{ background-position: -42px 80px;border-color: $theme-color;}
        }
        .clear {display: none;}
    }
}

.no-sidebar-left,
.no-sidebar-right{
    // 4 Product
    .col-lg-3,
    .col-md-3{
        .product-grid{

        }
    }
    // 6 Product
    .col-lg-2,
    .col-md-2{
        .product-grid{
            .onsale,
            .button-groups,
            .category,
            .price,
            .rating {
                @extend .hidden;
            }
        }
    }
}
.products{
    .col-lg-6.col-md-2{
        &:nth-child(2n+1){
            clear: both;
        }          
    }
    .col-lg-2.col-md-2{
        &:nth-child(6n+1){
            clear: both;
        }  
    }
    .col-lg-3.col-md-4{
        &:nth-child(4n+1){
            clear: both;
        }        
    }
    .col-md-4.col-lg-6{
        &:nth-child(2n+1){
            clear: both;
        }
    }
    .col-lg-4.col-md-4{
        &:nth-child(3n+1){
            clear: both;
        }        
    }
    &.products-list{
        >li{
            padding: 0;
        }
    }
   
    /*  Product List ------------------------------------*/
    .product-list{
        border: 1px solid $border-color;
        margin-bottom: 20px;
        background: $white;
        img{
            height: auto;
        }

        .button-groups{
            @include rtl-text-align-right;
            > div, a{
                margin-top: 0;
                padding: 0;
                margin-top: 0;
                margin-bottom: $padding-large-vertical;
                display: block;
                border: none;
            }
            a{
                width: auto;
                height: auto;
                text-transform: capitalize;
                &:focus, &:active, &:hover{
                    background: $nocolor!important;
                    color: $theme-color;
                }
            }
            .yith-compare{
                margin-bottom: 0;
            }
            .button{
                display: block;
                text-transform: uppercase;
            }
            .fa,.icon{
                margin-right: 6px!important;
                @include font-size(font-size,$product-icon-font-size);
            }
            .feedback{
                @extend .hidden;
            }
            .yith-wcwl-add-to-wishlist{
                position: relative;
                .ajax-loading{
                    position: absolute;
                    top: 5px;
                    @include rtl-left(20px);
                }
            }
            .compare{
                &.added{
                    position: relative !important;
                    &:before{
                        position: absolute;
                        top: -4px;
                        content: "32";
                        display: block;
                        @include square(30px);
                        @include rtl-left(-35px);
                    }
                }
            }
        }
        .rating{
            margin-bottom: $padding-large-vertical;
            @include clearfix();
            .star-rating{
                @include rtl-float-right;
            }
        }

        .price{
            margin-bottom: 10px;
            @include rtl-text-align-right;
            ins{
                @include rtl-text-align-right;
            }
            > *{
                width: inherit;
            }
        }
        .description{
            text-align: justify;
        }
        .product-assets{
            .name{
                display: none;
            }
            @include rtl-margin(20px, 20px, 0, 0);
            text-align: right;
            a{
                background: none!important;
                text-align: right;
                color: $text-color;
                font-size: $font-size-base;
                font-weight: 300;
                &:hover, &:focus, &:active{
                    background: none!important;
                    color: $theme-color;

                }
            }
            .btn-cart, .btn-cart a{
                background: none;
                &:after, &:before{
                    content: none!important;
                }    
            }
        }  
    }
}

/* Product Info ---------------------------------------------*/
.product-info{
    padding-bottom: 30px;
    .product-title{
        @include font-size(font-size,$single-product-title-font-size);
        line-height: $single-product-title-line-height;
        font-weight: $single-product-title-font-weight;
        margin: $single-product-title-margin;
        text-transform: $single-product-title-transform;
    }
    .woocommerce-main-image{
        margin-bottom: 5px;
        width: percentage(1);
        display: block;
        border: 1px solid $border-color;
    }
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);
        .product_meta{
            clear: both;
            color: $black;
            margin-top: 0;
            padding: 10px 0 5px;
            a{
                color: #a0a0a0;
                &:hover{
                    color: $theme-color;
                    text-decoration: none;
                }
            }
            > div{
                margin-bottom:  $theme-margin / 2;
            }
        }
    }
    .single-product-description{
        margin-bottom: 22px;
    }
    .yith_magnifier_gallery{
        li{
            margin-top: 0;
            @include rtl-margin(0, 5px, 0, 0);
            @include size($product-thumbnail-gallery-size, auto);
            border: 1px solid $border-color;
            a{
                display: inline;
                img{
                    height: auto;
                    @include opacity(0.6);
                    @include transition(opacity 0.35s);
                    &:hover{
                        @include opacity(1);
                    }
                }
            }
            &:last-child{
                @include rtl-margin-right(0);
            }
        }
    }
    .out-of-stock{
        display: none;
    }
    .label{
        color: $black;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        font-size: $font-size-base;
        @include rtl-text-align-right();
    }
    .addthis{
        @include rtl-clear-left();
        overflow: hidden;
        padding: $theme-padding 0;
        min-height: 60px;
        border-top: 1px solid $border-color;
        margin-top: 10px;
    }
    .rating{
        @include clearfix();
        margin-bottom: $theme-margin;
        > *{
            @include rtl-float-left();
        }
        .star-rating{
            margin-top:  $theme-margin / 2;
            @include rtl-margin-right(10px);
        }
    } 
    .cart{
        @include rtl-float-left();
        >div{
            @include rtl-float-left();
        }
        .cart-number{
            padding: 0 0 $theme-padding 0;
            @include clearfix();
            > *{
                @include rtl-float-left();
            }
        }
        .qty{
            width: 60px;
            padding: 0;
            text-align: center;
            color: $black;
            font-weight: 400;
        }
        .button{
            margin-bottom: 10px;
            .fa,[class^="icon-"], [class*=" icon-"]{
                @extend .hidden;
            }
        }
        .add-cart{

            margin-left: 10px;
        }
        >a.add_to_cart_button, .add-cart button{
            @include transition(all 0.35s);
            text-transform: uppercase;
            @include font-size(font-size, 11px);
            position: relative;
            height: 38px;
            line-height: 36px;
            padding: 0 35px;
            display: block;
            font-weight: $headings-font-weight;
            @include border-radius(4px);
            @extend .btn-link;
            border: 1px solid $black;
            background: $black;
            color: $white; 
            &:active, &:focus, &:hover{
                border-color: $theme-color;
                background: $theme-color;  
                color: $white; 
                text-decoration: none;
            }
            
        }
        > a.single_add_to_cart_button{
            @include rtl-float-left();
            display: inline-block;
        } 
    }
    .table-product-group{
        width: 100%;
        clear: both;
        td{
            vertical-align: middle;
        }
        .add_cart{
            margin-left: 0;
        }
        .price{
            padding: 5px;
        }
        .cart-number{
            padding: 0;
        }
        .label label{
            font-weight: 300;
        }
        .price{
            display: inline-block!important;
            border: none;
            line-height: 50px;
            del{
                float: right;
                margin-top: 5px;
            }
            ins{
                float: left;
                margin-right: 5px;
            }
        }
    }
    .button-action{
        color: #aaaaaa;
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(font-size, 11px);
        position: relative;
        height: 38px;
        line-height: 36px;
        padding: 0 35px;
        display: inline-block;
        font-weight: $headings-font-weight;
        @include border-radius(4px);
        @extend .btn-link;
        border: 1px solid $border-color;
        &:focus, &:hover{
            border-color: $theme-color;
            background: $theme-color;  
            color: $white; 
            text-decoration: none;
        }
    }
    .yith-wcwl-add-to-wishlist{
        @include rtl-float-left();
        > *{
            display: none;
            line-height: 0;
        }
        .fa,
        .icon{
            display: none;
        }
        a{
           @extend .button-action;
        }
        .ajax-loading{
            margin: 0;
            position: absolute;
            top: 10px;
            @include rtl-left(-10px);
        }
        .feedback{
            @include hide-text();
        }
    }
    .compare{
        @include rtl-margin-left(10px);
        @include rtl-float-left();
        @extend .button-action;
    }
    .clear{
        display: none;
    }
    .price{
        display: table;
        color: $single-new-price-color;
        font-weight: $single-new-price-font-weight;
        @include font-size(font-size,$single-new-price-font-size);
        padding: 5px 0 10px;
        line-height: 30px;
        > *{
            display: table-cell;
            vertical-align: middle;
        }
        del{
            padding-top: 10px;
            line-height: 20px;
            span{
                color: $black;
                @include rtl-margin-right(10px);
            }
        }
    }
    .onsale{
        @include rtl-left(32px);
    }
    .yith_magnifier_zoom_wrap{
        z-index: 9;
    }
}
    
/* Product Category and Subcategories ------------------------*/
    .product-category{
        .product-category-content{
            position: relative;
            overflow: hidden;
            min-height: $product-category-content-height;
            margin: $product-category-content-margin;
        }
        .product-category-image{
            display: block;
            img{
                @include img-responsive();
            }
        }
        .product-category-title{
            text-transform: none;
            position: absolute;
            text-align: center;
            bottom: 0;
            @include rtl-left(0);
            width: 100%;
            font-weight: $product-category-title-font-weight;
            @include font-size(font-size,$product-category-title-font-size);
            color: $product-category-title-color;
            margin: $product-category-title-margin;
            padding: $product-category-title-padding;
            background: rgba($product-category-title-bg, .3);
            .count{
                background: transparent;
                color: $product-category-title-color;
            }
        }
    }



/* Bingo Product Tab---------------------------------------------*/
    .bin-woo-tab {
        .product-container .product-wapper {
            border: 1px solid #ebebeb;
        }
        .owl-buttons {
            .carousel-control {
                width: 40px;
                height: 74px;
                @include border-radius(0);
                border: 1px solid $border-color;
                background-color: #fff;
                color: #ccc;
                top: 50%;
                margin-top: -37px;
                cursor: pointer;
                &:hover {
                    background-color: $theme-color-default;
                    color: #fff;
                }
                &.left {
                    @include rtl-left(-39px);
                }
                &.right {
                    @include rtl-right(-39px);
                }
                &.disabled {
                    display: none;
                }
            }
        }
        &.layout-default {
            .product-container{
                .product-wapper{
                    @include transition(border-color 0.15s ease-in-out 0.1s);
                }
                &:hover .product-wapper {
                    border-color: $theme-color;
                }
            }
            .top-tab-slider {
                text-align: center;
            }
            .nav-tabs {
                padding-bottom: 54px;
                vertical-align: top;
                margin-bottom: 55px;
                li {
                    a {
                        font-family: $font-family-second;
                        font-size: 24px;
                        font-weight: 700;
                        color: #252525;
                    }
                    &.active, &:hover {
                        a {
                            color: $theme-color-default;
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                }
                &:after {
                    content: "";
                    @include size(15px, 29px);
                    background: url(../../../images/after-nav-tab-slider.png);
                    position: absolute;
                    bottom: 0;
                    @include rtl-left(50%);
                    @include rtl-margin-left(-8px);
                }
            }
            .tab-pane {
                margin-left: -25px;
                margin-right: -25px;
                .woo-tab-container-slider {
                    padding-left: 25px;
                    padding-right: 25px;
                }
                .owl-stage-outer {
                    overflow: inherit !important;
                    padding-top: 12px;
                }
            }
        }
        &.layout-2 {
            .product-container {
                .product-wapper {
                    margin-top: 24px;
                    padding: 20px 15px;
                    .product-image-wrapper {
                        margin-top: -44px;
                    }
                }
                &:hover {
                    margin-top: 0;
                    padding-bottom: 0;
                    .product-wapper { 
                        .product-details {
                            .product-name {
                                @include transition(none);
                                margin-bottom: 12px;
                                @include opacity(1);
                            }
                            .price {
                                position: relative;
                                @include transition(none);
                                top: inherit;
                                right: inherit;
                            }
                        }

                    }
                }
            }
            .top-tab-slider {
                @include rtl-text-align-left();
                margin-bottom: 40px;
            }
            .tab-pane {
                &.active {
                    overflow: unset;
                }
                .woo-tab-container-slider {
                    margin-left: -40px;
                    margin-right: -40px;
                    overflow: hidden;
                    .resp-slider-container {
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                }
                .owl-stage-outer {
                    overflow: inherit !important;
                    padding-top: 12px;
                    .owl-item {
                        @include opacity(0);
                        &.active {
                           @include opacity(1); 
                        }
                    }
                }
            }
            .nav-tabs {
                margin-bottom: 0;
                padding: 0;
                li {
                    a {
                        font-family: $font-family-second;
                        font-size: 24px;
                        line-height: 100%;
                        color: #252525;
                        font-weight: 700;
                    }
                    &.active, &:hover {
                        a {
                            color: $theme-color;
                            &:before {
                                content: "";
                                position: absolute;
                                width: 89px;
                                height: 57px;
                                border: 2px solid $theme-color;
                                top: 50%;
                                margin-top: -29px;
                                @include rtl-left(0);
                            }
                            &:after {
                                content: "";
                                width: 18px;
                                height: 2px;
                                background: $theme-color;
                                position: absolute;
                                @include rtl-left(0);
                                top: 50%;
                                margin-top: -1px;
                            }
                        }
                        &:before {
                            content: "";
                            width: 2px;
                            height: 100%;
                            background: #fff;
                            position: absolute;
                            top: 0;
                            @include rtl-left(0);
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
   
/*  Bingo Product Slider ---------------------------------------------*/
    .rtl{
        .bin-woo-slider .owl-buttons .carousel-control.left{
            left: 11px;
            right: auto;
        }
        .bin-woo-slider .owl-buttons .carousel-control.right{
            left: 36px;
            right: auto;            
        }
    }
    .col-static {
        position: static !important;
        &:before,&:after {
            content: "";
            width: 83px;
            height: 100%;
            background: #fff;
            z-index: 2;
            position: absolute;
            top: 0;
        }
        &:before {
            @include rtl-left(0);
        }
        &:after {
            @include rtl-right(0);
        }
    }
    .bin-woo-slider {
        .owl-buttons {
            .carousel-control {
                top: -56px; 
                margin-top: 0;
                cursor: pointer;
                border: 0;
                background-color: $white;
                width: auto;
                height: auto;
                >i{
                    font-size: 20px;
                    color: $text-color;
                }
                &.left {
                    right: 44px;
                    left: auto;
                }
                &.right {
                    right: 13px;
                }
                &.disabled {
                    display: none;
                }
                &:hover {
                    >i{
                        color: $theme-color;
                    }
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
        .product-container {
            margin-bottom: 0px;
            padding-bottom: 3px;
        }
        &.no-title {
            .owl-buttons {
                .carousel-control {
                    top: -25px;
                    cursor: pointer;
                    &.left {
                        @include rtl-right(34px);
                        @include rtl-left(auto);
                    }
                    &.right {
                        @include rtl-right(-5px);
                    }
                    &.disabled {
                        display: none;
                    }
                }
            }
        }
        
        &.special {
            .owl-carousel .owl-stage-outer {
                overflow: inherit;
                .owl-item:not(.active) {
                    @include opacity(0.2);
                }
            }
            .block-title {
                font-family: $font-family-second;
                font-size: 24px;
                color: #252525;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                word-wrap: break-word;
                padding: 0px 5px;
                width: 47px;
                border: 3px solid #252525;
                display: inline-block;
                position: absolute;
                top: 60px;
                z-index: 3;
                @include rtl-left(14px);
            }
            .product-container {
                margin-bottom: 35px;
                .product-wapper {
                    padding: 25px 20px;
                    border: 1px solid $border-color;
                    @include rtl-margin-right(-1px);
                }
                &:hover {
                    padding-bottom: 0;
                    .product-wapper {
                        margin-top: 0;
                    }
                }
            }
        }
    }

/************************************************************************************************
    RELATE PROCDUCT  
*************************************************************************************************/
.upsells,
.related{
    margin-bottom: 35px;
    padding: 0px 15px;
    .product-container{ margin: 0; }
    .title-block{
        h2{
            margin-bottom: 50px;
            margin-top: 0;
            @include rtl-padding-left(0);
            text-align: center;
            &::before{
                display: none;
            }
        }
    }
    .products-list li{
        padding-bottom: 15px;
    }
    .products-list li .products-thumb .woocommerce-LoopProduct-link{
        border-radius: 10px 10px 0 0;
        z-index: 1;
        display: block;
        overflow: hidden;
        position: relative;
    }
    .owl-buttons{
        .carousel-control{
            top: 50%;
            margin-top: -37px;
            background: #fff;
            border: none;
            opacity: 0;
            cursor: pointer;
            font-size: 22px;
            @include transition(all .3s ease 0s);
            &:hover{background: $theme-color; color: #fff;}
            &.owl-prev{
                left: 15px;
            }
            &.owl-next{
                right: 15px;
            }
        }
    }
    &:hover{
        .carousel-control{
            opacity: 1;
            &.owl-prev{
                left: -15px;
            }
            &.owl-next{
                right: -15px;
            }
        }
    }
}
.related{
    .product-button{
        display: block;
        @include rtl-float-left();
        .button{
            font-size: 0;
            &::before{
            content: "\f07a";
            font-size: 18px;
            color: #e1e1e1;
            width: 20px;
            height: 25px;
            @include rtl-margin-right(18px);
            font-family: "FontAwesome";
            text-indent: 0;
            float: left;
            background: transparent;
            @include transition(all 0.3s ease-in-out);             
            }
            &:before{
                color: $theme-color;
            }
        }       
    }    
}

/************************************************************************************************
    DETAIL ZOOM PRODUCT
*************************************************************************************************/

/************************************************************************************************
    QUICK VIEW PRODUCT
*************************************************************************************************/
.fancybox-overlay-fixed{
    z-index: 9999;
}
.quickview-container{
    .slider_img_productd{
        border: 1px solid $theme-border-color;
        .onsale{
            @include rtl-right(20px);
        }
        .img-thumbnail{
            width: 100%;
        }
        .item{
            img{
                width: 100%;
            }
        }
        .carousel-indicators{
            li{
                margin-left: 3px;
                margin-right: 3px;
                border-color: $theme-color;
                &.active{
                    background: $theme-color;
                }
            }
        }
        .carousel-control{
            border: 0;
            font-size: 23px;
            top: 43%;
            &.left{
                span{
                    &::before{
                        content: "\f053";
                    }
                }
            }
            &.right{
                span{
                    &::before{
                        content: "\f054";
                    }
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .woocommerce-message{
        display: none;
    }
    .product_detail{
        overflow: hidden;
        display: block;
        padding: 15px 0 35px;
        background: $white;
    }
    .product_title{
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 32px;
        color: $text-color;      
    }
    .star-rating{
        margin-top: 12px;
    }
    .woocommerce-review-link{
        display: none;
    }
    .prices{
        display: inline-block;
        width: 100%;
    }
    .price{
        margin: 10px 0;
        color: $theme-color;
        font-size: 23px;
        line-height: 100%;
        span{
            font-size: 23px;
        }
        del{
            padding: 0px 10px;
            span{
                font-size: 16px;
                color: #b7b7b7;
            }
        }
        ins{
            @include rtl-float-left();
            span{
                font-size: 23px;
                font-weight: bold;
                color: $theme-color;
            }
        }
        .woocs_price_code{
            >span:nth-child(1){
                padding-right: 10px;
            }
            >span:nth-child(2){
                padding-left: 10px;
            }
        }
    }
    td{
        width: 100%;
        text-align: center;
    }
    .group_tables{
        .price span {
            font-size: 14px;
        }
        .price del span{
            font-size: 12px;
        }
        td.label{
            label{
                font-weight: 400;
                font-size: 13px;
                margin-bottom: 0;
            }
        }
    }
    div[itemprop="description"]{
        margin-bottom: 20px;
        p{
            line-height: 24px;
            color: #636363;
        }
    }
    .tagged_as,
    .posted_in,
    .sku_wrapper{
        width: 100%;
        padding: 5px 0;
        display: block;
        font-size: 14px;
        color: $text-color;
        a{
            color: #636363;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .quantity{
        display: block;
        @include rtl-margin-right(10px);
        @include rtl-float-left();
        input.qty{
            width: 50px;
            height: 50px;
            font-size: 16px;
        }
    }
    .group_tables{
        .quantity{
            display: block;
            width: 100%;
            text-align: center;
            @include rtl-margin-right(0px);
            @include rtl-float-left();
            input.qty{
                width: 40px;
                height: 40px;
                float: none;
            }
        }        
    }
    .variations_form.cart{
        .stock.out-of-stock{
            line-height: 50px;
            color: $text-color;
            font-size: 17px;
        }
    }
    .cart{
        display: block;
        width: 100%;
        @include rtl-float-left();
        .reset_variations{
            display: none;
        }
        select{
            width: 100%;
            margin: 10px 0;
        }
        td.label{
            float: none;
            display: table-cell;
            font-size: 14px;
            color: $text-color;
            vertical-align: middle;
        }
        button.button{
            height: 50px;
            line-height: 50px;
            background: #f5f5f5;
            color: $theme-color;
            border: 0;
            padding: 0px 22px;
            border-radius: 3px;
            font-size: 18px;
            @include rtl-margin-right(10px);
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background: $theme-color;
                color: $white;
                @include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
            }
        }       
    }
    .yith-wcwl-wishlistexistsbrowse,
    .yith-wcwl-wishlistaddedbrowse{
        display: block;
        @include rtl-float-left();
        margin-top: 0;
        .feedback{
            display: none;
        }
        >a{
            text-indent: -9999px;
            display: block;
            float: left;
            &::before{
                content: "\f004";
                font-size: 18px;
                color: $white;
                @include size(50px, 50px);
                font-family: "FontAwesome";
                @include transition(all 0.3s ease-in-out);
                text-indent: 0;
                float: left;
                text-align: center;
                line-height: 50px;
                background: $theme-color;
                border-radius: 3px;
            }
        }                        
    }
    .yith-wcwl-add-to-wishlist{
        display: block;
        @include rtl-float-left();
        margin-top: 0;
        .add_to_wishlist{
            text-indent: -9999px;
            display: block;
            float: left;
            &::before{
                content: "\f004";
                font-size: 18px;
                color: $theme-color;
                @include size(50px, 50px);
                font-family: "FontAwesome";
                @include transition(all 0.3s ease-in-out);
                text-indent: 0;
                float: left;
                text-align: center;
                line-height: 50px;
                background: #f5f5f5;
                border-radius: 3px;
            }
            &:hover{
                &::before{
                    background: $theme-color;
                    color: $white;
                    @include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
                }
            }
        }
        img{
            display: none !important;
        }
    }
    .product_meta{
        display: block;
        clear: both;
        padding-top: 20px;
    }
    .image-additional{
        margin-top: 15px;
        display: block !important;
    }
    .owl-stage-outer{
        .owl-item{
            a{
                &.active,
                &:hover{
                    border-color: $theme-color;
                }
            }
        }
    } 
    .social-icon{
        padding: 15px 0 0 0;
        display: block;
        overflow: hidden;
        .label-share{
            display: block;
            @include rtl-float-left();
            font-family: $font-family-second;
            text-transform: uppercase;
            color: $text-color;
            @include rtl-padding-right(18px);
            line-height: 24px;
        }
        .social-share{
            a{
                margin: 0 4.5px;
                @include size(24px, 24px);
                @include rtl-float-left();
                border-radius: 50%;
                line-height: 24px;
                text-align: center;
                display: block;
                background: #898989;
                color: $white;
                &:hover{
                    background: $theme-color;
                }
            }
        }
    }      
}

/*  */
/* title-block */
.bin-woo-slider{
    .title-block{
        h2{
            font-size: 24px;
            font-weight: 600;
            color: $text-color;
            line-height: 18px;
            text-transform: uppercase;
            font-family: $font-family-second;
            @include rtl-padding-left(25px);
            margin-bottom: 38px;
            margin-top: 0;
            @include rtl-text-align-left();  
            margin-left: 15px;
            margin-right: 15px;
            &::before{
                top: 1px;
                bottom: 1px;
            }     
        }
    }

}
.vc_tta-container,
.title-block{
    h2{
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: $text-color;
        line-height: 22px;
        text-transform: uppercase;
        font-family: $font-family-second;
        @include rtl-padding-left(28px);
        margin-bottom: 34px;
        margin-top: 0;
        @include rtl-text-align-left();
        &::before{
            content: "";
            position: absolute;
            top: 2px;
            @include rtl-left(0);
            bottom: 2px;
            width: 3px;
            height: auto;
            background: $theme-color;
        }      
    }
}