/************************************************************************************************
    WIDGET WOO SEARCH
*************************************************************************************************/
.woocommerce.widget_product_search{
    .screen-reader-text{ display: none; }
    .woocommerce-product-search{ 
        .search-field{ background: transparent; border: none; }
        .btn-search{ 
            border: none;
            &:before{
                font-family: FontAwesome;
                content: "\f002";
            }
        }
    }
}
/************************************************************************************************
    WIDGET WOO CATEGORIES
*************************************************************************************************/
.woocommerce.widget{
    .widget-title{
        color: $text-color;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid $theme-border-color;
        font-family: $font-family-second;
        padding-right: 0;
        text-transform: uppercase;
        margin-bottom: 25px;
        padding-bottom: 15px;
        margin-top: 0;            
    }
    .product-categories{
        >li{
            padding: 13px 0;
            font-weight: 400;
            list-style: none;
            font-size: 14px;
            color: #666666;
            border-bottom: 1px dashed $theme-border-color;         
            &:first-child{
                padding-top: 0;
            }
            &:last-child{
                border-bottom: 0;
            }
            >a{
                @include rtl-padding-left(30px);
                &::before{
                    background: $text-color-third !important;
                    width: 5px !important;
                    height: 5px !important;                   
                }
                &:hover{
                    @include rtl-padding-left(30px !important);
                    &::before{
                        background: $theme-color !important;
                    }                  
                }
            }
            .children{
                li{
                    border-bottom: 1px dashed $theme-border-color;
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
.woocommerce.widget_product_categories{
    ul.product-categories{
        li{
            padding: 10px 0;
            a{
                position: relative;
                @include transition(all .35s ease 0s);
                @include before-link();
                &:hover {
                    @include rtl-padding-left(14px);
                    &:before{ background: $theme-color; }
                }
            }
        }
    }
}
.widget{
    // widget products
    &.widget-products{
        .tabs-container{
            overflow: hidden;
        }
        .carousel-control{
            @include rtl-left(auto);
            &.prev{
                @include rtl-right(20px);
            }
            &.next{
                @include rtl-right(0px);
            }
        }
    }
    // widget layered nav
    &.widget_layered_nav{
        @include lists-style();
        font-size: $layered-nav-font-size;
        .count{
            @include rtl-float-right();
        }
    }
    // Related
    &.widget-related-products{
         
    }
    .widget-products-carousel{
        position: relative; 
    }
}

/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
.widget_price_filter {
	.price_slider {
		@include rtl-margin(0, 0, 30px ,0);
	}
	.price_slider_amount {
		@include rtl-text-align-right();
		line-height: 2.4em;
        @include font-size(font-size,$font-size-base);
		.button {
			@include rtl-float-left();
		}
	}
	.ui-slider {
		position: relative;
		@include rtl-text-align-left();
	}
	.ui-slider .ui-slider-handle {
		z-index: 2;
		position:absolute;
        outline:none;
        top: -3px;
		@include size(10px,10px);
		@include border-radius(20px);
		cursor: pointer;
		@include gradient-vertical($start-color: darken($theme-color, 5%), $end-color: lighten($theme-color, 10%), $start-percent: 0%, $end-percent: 100%);
	}
	.ui-slider .ui-slider-range {
		position:absolute;
		z-index: 1;
        @include font-size(font-size,$font-size-base);
		display:block;
		border: 0;
		@include box-shadow(0,0,0,1px,rgba($black,0.5));
		@include border-radius(1em);
	}
	.price_slider_wrapper .ui-widget-content {
		@include border-radius(1em);
		background: darken($border-color, 10%);
	}
	.ui-slider-horizontal {
		height: 5px;
	}
	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
		background: $border-color;
	}
	.ui-slider-horizontal .ui-slider-range-min {
		@include rtl-left(-1px);
	}
	.ui-slider-horizontal .ui-slider-range-max {
		@include rtl-right(-1px);
	}
}

/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
.product_list_widget{
    padding: 0;
    .widget-product{
        margin: $widget-product-list-margin;
        padding: $widget-product-list-padding;
        border-bottom: 1px solid $border-color;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            border: 0;
            padding-bottom: 0;
        }
        .review{
            @include rtl-clear-left();
        }
        .price{
            del{
                color: $widget-product-list-price-old-color;
            }    
        }
        .image{
            display: block;
            @include rtl-margin-right(15px);
            @include square($widget-product-list-size);
            border: 1px solid $border-color;
        }
        .rating{
            margin-bottom: $theme-margin - 15;
        }
        .star-rating{
            margin: 0;
        }
        .name{
            @include font-size(font-size, $widget-product-list-font-size);
            font-weight: $widget-product-list-font-weight;
            margin-top: 0;
            text-transform: $widget-product-list-text-transform;
        }
    }
}

/*------------------------------------*\
    Product Special Widget
\*------------------------------------*/
.product_special_widget{
    .widget-product{
        margin: $widget-product-special-margin;
        position: relative;   
        border-bottom: 1px solid $white;
        &:first-child{
            padding: 0;
            .image{ 
                max-width: 60%;
                position: relative;
                margin: 0;
                @include rtl-margin-right(10px);
                .first-order{
                    @include size(32px, 32px);
                    position: absolute;  
                    bottom: 0; 
                    left: 0;
                    background: $theme-color;
                    padding: 5px 11px;
                    z-index: 99;
                    color: $white;
                    font-weight: 900; 
                } 
            }
            .media-body{
                max-width: 40%;
                float: none;
                padding: 0;
            }
        }
        .media-body{ 
             padding: $widget-product-special-padding;
        } 
        .order{
            width: 32px;
            background: #DADADA;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            color: #6A6A6A;
            font-weight: 900;
            padding:0 10px;
            span{
                position: relative;
                top: 50%;
                margin-top: -10px;
                display: block;
            }
        }
        .review{
            @include rtl-clear-left();
        }
        .rating{
            margin-bottom: $theme-margin - 5;
        }
        .star-rating{
            margin: 0;
        }
        .name{
            @include font-size(font-size, $widget-product-special-font-size);
            font-weight: 400;
        }
        .price{
            @include rtl-text-align-left();
            > * {
                color: $black;
            }
        }
        &.last{
            background: #F5F5F5;
        }
    }
}

/*
    Widget Sidebar
*------------------------------------------------------------------------
*/
.#{$app-prefix}-sidebar{
    .product_list_widget{
        .image{
            @include rtl-margin-right(10px);
            @include size($block-sidebar-widget-product-list-size, auto);
        }
    }
}

// best deals
.widget_deals_products{
    overflow: hidden;
    .widget-title{
        margin: 0;
    }
}

.woo-deals{
    .caption{
        border: 1px solid $border-color;
        border-top: none;
        padding: 5px 20px 20px!important;
    }
    .carousel-inner{
        overflow:visible;
    }
    .product-block {
        margin: 0;
        border:none;
        .price > *{
            color: $black;
        }
        .name{
            margin: 0;
            min-height: 0;
            font-weight: 400;
        }
    }
    .description{
        margin-bottom: $theme-padding/2;
        font-size: 13px;
    }
    .pts-countdown{
        padding: $deals-times-padding;
        font-family: $deals-times-font-family;
        font-size: $deals-times-font-size;
    }
    .deals-information{
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
        > *{
            padding-top: 15px;
        }
    }
    .rating > *{
        float: left;
    }
    .countdown-times{
        overflow: hidden;
        @include translate(0px, 0px);
        @include  transition(all 0.4s ease);
        > div{
            float: left;
            text-align: center;
            margin-right: 5%;
            width: 20%;
            > b{
                display: block;
                font-size: 14px;
                font-weight: 900;
                color: $theme-color;
            } 
            &:last-child{
                padding-right: 0;
                float: right;
            }
        }
    }
    .cart{
        left: 0;
        position: absolute;
        right: 0;
        @include opacity(0);
        @include translate(0px, 60px);
        @include  transition(all 0.4s ease);
        visibility: hidden;
        .add_to_cart_button{
            &.added{
                display: none;
            }
            color: #000000;
            background: #fff;
            font-weight: 900;
            &:hover,&:active,&:focus{
                color: #fff;
                background: $theme-color;
            }
        }
        .wc-forward{
            margin: 0 auto;
        }
    }
    &:hover{
        .cart{
            @include translate(0px, 30px);
            visibility: visible;
            @include opacity(1);
        }
    }
}

.widget.product-bottom{
    display: table;
    height: auto;
    width: 100%;
    border: 1px solid $border-color;
    padding: 10px;
}

.vertical-menu{
    .product-block{
        .name a{
            font-size: $product-name-font-size!important;
            line-height: $product-name-line-height!important;
            color:  $product-name-color!important;
            font-weight: $product-name-font-weight!important;
            text-transform: none!important;
            &:hover{
                color: $theme-color;
            }
        } 
    }
}

.widget.product-bottom{
    background: $white;
}

/* ***********************************************************************************************
    WIDGET POLICY  
*************************************************************************************************/
.policy-detail{
    .banner-policy{
        text-transform: uppercase;
        .policy{
            width: 100%;
            padding: 20px 20px 25px;
            background: #252525;
            color: #fff;
            margin-bottom: 10px;
            .fa{
                color: #fff;
                font-size: 25px;
                text-align: center;
                display: inline-block;
                @include rtl-float-left();
                @include rtl-margin-left(10px);
            }
            .banner-cont{
                @include rtl-margin-left(65px);
                h2{font-size: 14px; margin-top: 0; font-weight: bold; color: #fff; margin: 4px 0 0;}
            }
        }
    }
}

/* ***********************************************************************************************
    BANNER DETAIL  
*************************************************************************************************/

.contents-detail{
    .banner-wrapper{margin-top: 30px;}
    .productListBanner{ margin: 0; }
}

/*  */
/* .bin-woo-categories-container */
.left-content-category{
    margin-bottom: 102px;
    .title-block{
        h2{
            line-height: 30px;
            border-left: 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 5px;
                @include rtl-left(0);
                bottom: 6px;
                width: 3px;
                height: auto;
                background-color: $theme-color;
            }
        }
    }
    .count-comment,
    .count-product,
    .count-category{
        width: 100%;
        display: block;
        margin-bottom: 11px;
        border: 1px dashed $theme-border-color;
        padding: 12px 0;
        &:last-child{
            margin-bottom: 0;
        }
        span.number{
            font-size: 32px;
            font-weight: bold;
            color: $theme-color;
            font-family: $font-family-second;
            line-height: 100%;
            padding: 0 24px;
            min-width: 112px;
            display: block;
            @include rtl-float-left;
            @include rtl-text-align-right();
        }
        span{
            line-height: 32px;
            vertical-align: middle;
            color: #464646;
        }
    }
    >a{
        border: 2px solid $text-color;
        font-size: 18px;
        font-weight: 600;
        font-family: $font-family-second;
        color: $text-color;
        padding: 17px 26px;
        display: inline-block;
        margin-top: 23px;
        text-transform: uppercase;
        &:hover{
            background: $theme-color;
            border-color: $theme-color;
            color: $white;
        }
    }
}
/* .woo-no-slider */
.woo-no-slider{
    .item-product-cat{
        position: relative;
        padding: 0;
        margin-bottom: 30px;
        &:hover{
            .item-image{
                a{
                    &::before{
                        width: 100%;
                        height: 100%;
                        right: 0;
                        bottom: 0;
                        @include scale(1);
                    }
                }
            }
        }
        .item-title{
            a{
                position: absolute;
                top: 14px;
                @include rtl-right(16px);
                font-family: $font-family-second;
                font-weight: 600;
                color: $text-color;
                text-transform: uppercase;
                z-index: 3;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .item-image{
            a{
                display: block;
                overflow: hidden;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    right: 50%;
                    bottom: 50%;
                    display: inline-block;
                    z-index: 1;
                    @include scale(0);
                    background: rgba($white, 0.2);
                    @include transition(all 0.3s ease-in-out);
                }
                img{
                    @include scale(1);
                    @include transition(all 0.3s ease-in-out);
                }
            }
        }
        &:hover{
            .item-image{
                a{
                    img{
                        @include scale(1.1);
                    }
                }
            }            
        }
    }
}
/* .bin-woo-categories-container */
.bin-woo-categories-container{
    .content-category{
        .item-product-cat .wrapper{
            position: relative;
            margin-bottom: 30px; 
            .item-title{
                position: absolute;
                @include rtl-left(0);
                @include rtl-right(auto);
                bottom: 0;
                margin: 0;
                padding: 0;
                background-color: rgba($theme-color, 0.75);
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                z-index: 2;
                -webkit-transition: bottom 0.35s ease,width 0.35s ease;
                -o-transition: bottom 0.35s ease,width 0.35s ease;
                transition: bottom 0.35s ease,width 0.35s ease;
                a{
                    font-family: $font-family-second;
                    font-weight: 600;
                    color: $black;
                    display: block;
                    text-transform: uppercase;
                    padding: 5.5px 17px;
                    &:hover{
                        color: $white;
                    }
                }
            }
            .item-image{
                a{
                    position: relative;
                    display: block;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-color: $theme-color;
                        pointer-events: none;
                        @include scale(0);
                        @include transition(all 0.3s ease-in-out);                   
                    }
                }
            }
            &:hover{
                .item-image{
                    a{
                        &::before{
                            opacity: 1;
                            visibility: visible;
                            background: rgba($theme-color, 0.75);
                            @include scale(1);
                        }
                    }
                }
                .item-title{
                    background-color: transparent;
                    bottom: calc(50% - 15px);
                    right: 0;
                    left: 0;
                    text-align: center;
                    font-size: 18px;                  
                }
            }
        }
    }
}
.rtl{
    .bin-woo-slider.slider-layout-2.no-title .carousel-control.left,
    .bin-woo-slider.slider-layout-1.no-title .carousel-control.left{
        right: auto !important;
        left: 11px !important;
    }
    .bin-woo-slider.slider-layout-2.no-title .carousel-control.right,
    .bin-woo-slider.slider-layout-1.no-title .carousel-control.right{
        right: auto !important;
        left: 36px !important;
    }
}
.bin-woo-slider{
    &.slider-layout-1{
        .carousel-control{
            top: -65px !important;
            width: auto !important;
            height: auto !important;
            i{
                padding: 0;
                color: #acacac;
                font-size: 20px;
            }
            &.right{
                right: -3px !important;
            }
            &.left{
                right: 28px !important;
            }
            &:hover{
                i{
                    color: $theme-color;
                }
            }
        } 
        .item-product{
            .product-wapper{
                margin: 0 0 15px 0;
                @include rtl-padding-left(100px);
                position: relative;
                @include border-radius(0);
                border: 0;
                background: transparent;
                .products-thumb{
                    width: 80px;
                    height: auto;
                    position: absolute;
                    top: 0;
                    @include rtl-left(0);
                    z-index: 1;
                    .product-lable,
                    .quickview{
                        display: none;
                    }
                    .onsale,
                    .vgwc-featured{
                        display: none;
                    }
                }
                .products-content{
                    min-height: 95px;
                    padding-top: 0;
                    .add-links-wrap{
                        display: none;
                    }
                    .price{
                        padding-bottom: 0;
                    }
                    h3 a{
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                &:hover{
                    @include box-shadow(none);
                    padding: 0;
                    margin: 0;
                    margin-bottom: 15px;
                    @include rtl-padding-left(100px);
                }
            }
        }
    }
    &.slider-layout-2{
        .carousel-control{
            top: -65px !important;
            width: auto !important;
            height: auto !important;
            i{
                padding: 0;
                color: #acacac;
                font-size: 21px;
            }
            &.right{
                right: -3px !important;
            }
            &.left{
                right: 28px !important;
            }
            &:hover{
                i{
                    color: $theme-color;
                }
            }
        }        
        .item-product{
            .product-wapper{
                background: #f3f3f3;
                margin: 0;
                padding: 11px;
                border: 0;
                @include border-radius(0);
                .products-thumb{
                    width: calc(50% - 30px);
                    display: inline-block;
                    @include rtl-float-left;
                    .wp-post-image{
                        @include border-radius(0);
                    }
                    .quickview{
                        opacity: 1;
                        visibility: visible;
                        z-index: 2;
                        @include rtl-right(15px);                        
                    }
                }
                &:hover{
                    border: 0;
                }
                .products-content{
                    width: calc(50% + 30px);
                    display: inline-block;
                    @include rtl-float-left;
                    @include rtl-padding-left(30px);
                    .item-description{
                        display: none;
                        &.item-description2{
                        	display: block;
                        }
                    }
                    h3{
                        a{
                            margin-bottom: 8px;
                        }
                    }
                    .price{
                        padding-bottom: 14px;
                    }
                    .add-links-wrap{
                        .product-button{
                            @include rtl-float-left;
                            margin-top: 25px;
							>.wowtooltip{
                                display: none !important;
                            }
                            .bin-wishlist-btn{
                                .wowtooltip{
                                    left: 35%;
                                }
                            }
							.yith-wcwl-add-to-wishlist{
                                opacity: 1;
                                height: 40px;
                                width: 40px;
                                line-height: 40px;
                                text-align: center;
                                background: $white;
								.wowtooltip{
									left: -29px;
									@include translateX(0);
								}
                                .add_to_wishlist{
                                    &::before{
                                        height: 40px;
                                        width: 40px;
                                        line-height: 40px;
                                        text-align: center;
                                        background: $white;
                                        @include transition(all 0.3s ease-in-out);
                                    }
                                    &:hover{
                                        &::before{
                                            background: $theme-color;
                                            color: $white;                                           
                                        }
                                    }
                                }
                                .yith-wcwl-wishlistexistsbrowse,
                                .yith-wcwl-wishlistaddedbrowse{
                                    opacity: 1;
                                    margin: 0;
                                    height: 40px;
                                    width: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    background: $theme-color;
                                    color: $white;
                                    a{
                                        &::before{
                                            height: 40px;
                                            width: 40px;
                                            line-height: 40px;
                                            text-align: center;
                                            background: $theme-color;
                                            color: $white;
                                            @include transition(all 0.3s ease-in-out);                                        
                                        }
                                    }                                                                    
                                }
                            }
                            .ajax_add_to_cart,
                            .product_type_grouped,
                            .add_to_cart_button{
                                opacity: 1;
                                text-indent: 0;
                                font-size: 14px;
                                font-family: $font-family-second;
                                background: $theme-color;
                                color: $white;
                                margin: 0;
                                @include rtl-margin-right(10px);
                                @include rtl-float-left;
                                width: auto;
                                height: auto;
                                line-height: 100%;
                                text-transform: uppercase;
                                font-weight: bold;
                                padding: 13px 26px;
                                &:hover{
                                    @include box-shadow(none);
                                }
                                &::before{
                                    display: none;
                                }
                            }
                            .add_to_cart_button{
                                opacity: 1;
                                text-indent: 0;
                                font-size: 14px;
                                font-family: $font-family-second;
                                background: $text-color;
                                color: $white;
                                margin: 0;
                                @include rtl-margin-right(10px);
                                @include rtl-float-left;
                                width: auto;
                                height: auto;
                                line-height: 100%;
                                text-transform: uppercase;
                                font-weight: bold;
                                padding: 13px 26px;

                                &::before{
                                    display: none;
                                }
                                &.added{
                                    background: $theme-color;                                    
                                }
                                &:hover{
                                    background: $theme-color;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    margin: 0;
                    padding: 11px;
                }
            }
        }        
    }
    &.slider-layout-3{
        .products-list.grid .product-wapper{
            padding: 15px;
            border: 0;
            margin: 0 !important;
            &:hover{
                margin: 15px 0;
                padding: 15px;                
            }
        }
    }
}

/* bin-woo-countdown-slider */
.bin-woo-countdown-slider{
    &.bin-woo-countdown-default{
        position: relative;
        .carousel-control{
            border: 0;
            top: 45%;
            font-size: 20px;
            font-weight: bold;
            color: $white;
            &.left{
                left: -15px;
            }
            &.right{
                right: -15px;
            }
            &:hover{
                color: $theme-color;
                cursor: pointer;
            }
        }
        .item-countdown{
            position: absolute;
            top: -103px;
            @include rtl-right(-8px);
            span.text{
                @include rtl-float-left;
                font-size: 18px;
                font-weight: 600;
                color: $theme-color;
                text-transform: uppercase;
                font-family: $font-family-second;
                line-height: 54px;
                @include rtl-margin-right(20px);
            }
            span{
                @include rtl-float-left;
                display: inline-block;                
            }
            .product-countdown{
                @include rtl-float-left;
                .countdown-content{
                    position: relative;
                    span{
                        color: $text-color;
                        text-transform: capitalize;
                        font-weight: normal;
                        font-family: inherit;
                    }
                    .countdown-section{
                        position: relative;
                        &::before{
                            content: ":";
                            position: absolute;
                            @include rtl-left(-20px);
                            top: 7px;
                            display: block;
                            font-size: 23px;
                            color: $theme-color;
                        }
                        &.secs,
                        &.hours,
                        &.mins{
                            width: 50px;
                        }                       
                    }
                    >span{
                        background: $theme-color;
                        color: $text-color;
                        @include border-radius(10px);
                        margin: 0 20px;
                        min-width: 50px;
                        height: 50px;
                        text-align: center;
                        padding: 0px 3px;
                        .countdown-amount{
                            font-size: 24px;
                            font-weight: 600;
                            font-family: $font-family-second;
                            display: inline-block;
                            width: 100%;
                            line-height: 100%;
                            padding-top: 6px;
                            border-bottom: 1px solid $text-color;
                            position: relative;
                            &::before{
                                content: "";
                                position: absolute;
                                bottom: -1px;
                                left: 5px;
                                height: 1px;
                                width: calc(100% - 10px);
                                background: $theme-color;
                            }
                        }
                        .countdown-text{
                            text-align: center;
                            display: inline-block;
                            width: 100%;
                            font-size: 12px;
                            font-family: inherit;                       
                        }
                    }
                }
            }
        }
        .product-wapper{
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            margin: 15px 0;
            padding: 0;
            &:hover{
                border-color: $white;
                margin: 0;
                padding: 15px 0;
            }
            .onsale{
                padding: 4px 10px;
                font-size: 11px;
            }
            .products-thumb{
                background: $white;
                .wp-post-image{
                    border-radius: 0;
                }
            }
            .products-content{
                background: $white;
                padding: 15px 10px 12px 10px;
                h3 a{
                    font-size: 14px;
                }
            } 
        }
    }
}

/* bin-woo-slider */
.bin-woo-slider{
    &.woo-slider-default{
        article{
            padding-bottom: 15px;
        }  
        .products-list.grid .product-wapper{
            // margin: 0;
            // padding: 0;
            // border: 15px solid transparent;
            // @include transition(all .5s ease-in-out);
            // &:hover{
            //     margin: 0;
            //     padding: 0;
            //     border-color: $white;
            // }
        }
    }
}

/* Button Filter */

.filter_clear_all{
    @include input-button;
    padding: 10px 28px;
    font-family: $font-family-second;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
}
