
/* ***********************************************************************************************
    PRODUC LISTING
************************************************************************************************ */
.products-list{
    li{list-style: none;} 
    &.grid{
        >li.product{
            padding: 0;
        }
        .col-lg-3.col-md-4{
            .product-wapper .products-content h3 a{
                font-size: 14px;
            }
        }
        .product-wapper{
            position: relative;
            margin: 15px;
            padding: 0;
            @include border-radius(10px);
            @include transition(all 0.3s ease-in-out);           
            .products-thumb{
                .bin-quickview-btn{
                    position: absolute;
                    @include rtl-right(5px);
                    bottom: 2px;
                    z-index: 3;
                    >div{
                        position: relative;
                    }
                }
            }
            &:hover{
                margin: 0;
                padding: 15px;
                background-color: $white;
                @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.05));
                .products-thumb .hover-image{ @include opacity-s(); }
                .products-thumb .quickview{
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                }
                .products-content{
                    .product_type_grouped{
                        opacity: 1;
                        &::before{
                            color: $theme-color;
                        }
                    }
                    .button,
                    .ajax_add_to_cart,
                    .yith-wcwl-wishlistaddedbrowse,
                    .yith-wcwl-wishlistexistsbrowse,
                    .yith-wcwl-add-to-wishlist,
                    .add_to_cart_button{
                        opacity: 1;
                    }
                }
            }			
            .products-thumb{
                position: relative;
                .hover-image{
                    position: absolute;
                    top: 0px;
                    @include rtl-left(0);
                    width: 100%;
                    height: 100%;
                    background-color: white; z-index: 1;
                    visibility: hidden; opacity: 0;
                    @include transition(all .5s ease 0s);
                }
                .wp-post-image{
                    display: block;
                    max-width: 100%;
                    height: auto;
                    margin: auto;
                    @include transition(all .5s ease 0s);
                }              
                .quickview{
                    display: block;
                    width: 20px;
                    opacity: 0;
                    visibility: hidden;
                    text-indent: -9999px;
                    &::before{
                        content: "\f00e";
                        font-size: 18px;
                        color: $theme-border-color;
                        font-family: "FontAwesome";
                        text-indent: 0;
                        float: left;
                        width: 100%;
                        text-align: center;
                        display: inline-block !important;
                        @include transition(all 0.3s ease-in-out);
                    }
                    &:hover{
                        &::before{
                            color: $theme-color;
                        }
                    }
                }
            }
			
            .products-content{
                @include rtl-text-align-left();
                position: relative;
                padding-top: 15px;
                h3{ 
                    margin: 0;
                    padding: 0;
                    font-family: inherit;
                    font-weight: 400;
                    a{
                        font-size: 16px;
                        line-height: 21px;
                        margin-top: 0;
                        margin-bottom: 9px;
                        display: block;
                        color: $link-color;
                        text-decoration: none;
                        font-family: inherit;                      
                    }
                    &:hover{
                        a{
                            color: $theme-color;
                        }
                    }
                }
                .item-description{ display: none; }
                .price {
                    padding: 0px 0 7.5px 0;
                    line-height: 100%;
                    width: 100%;
                    display: block;
                    &.empty{
                        display: none;
                    }
                    del{
                        line-height: 100%;
                        text-decoration: line-through;
                        padding: 0px 8px;
                        span{
                            font-size: 14px;
                            font-weight: bold;
                            color: #b7b7b7;
                        }
                    }
                    ins{
                        color: $theme-color;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    span{
                        color: $theme-color;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .woocs_price_code{
                        >span:nth-child(1){
                            padding-right: 10px;
                        }
                        >span:nth-child(2){
                            padding-left: 10px;
                        }
                    }
                }
                .product-button{
                    position: relative;
                    display: inline-block;
                    @include rtl-float-right();
                    >div{
                        @include rtl-float-left;
                        position: relative;
                    }
                }
                .add-links-wrap{
                    display: block;
                }
                .added_to_cart{
                    display: none;
                }
                .button,
                .ajax_add_to_cart,
                .product_type_grouped,
                .add_to_cart_button{
                    text-indent: -9999px;
                    display: block;
                    @include rtl-float-left; 
                    width: 20px;
                    height: 25px;
                    line-height: 25px;
                    @include rtl-margin-right(18px); 
                    opacity: 0; 
                    font-size: 0;             
                    @include transition(all 0.3s ease-in-out);
                    &::before{
                        content: "\f07a";
                        font-size: 18px;
                        color: #e1e1e1;
                        width: 20px;
                        height: 25px;                        
                        font-family: "FontAwesome";
                        @include transition(all 0.3s ease-in-out);
                        text-indent: 0;
                        float: left;
                        background: transparent;                     
                    }
                    &.added,
                    &:hover{
                        @include rtl-float-left;                         
                        &::before{
                            color: $theme-color;
                        }
                    }
                }
                .compare{
                    display: none;
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{
                    opacity: 0;
                    margin-top: 0;
                    width: 20px;
                    height: 25px;
                    line-height: 25px;
                    font-size: 0;
                    @include transition(all 0.3s ease-in-out);                                       
                    .feedback{
                        display: none !important;
                    }
                    >a{
                        text-indent: -9999px;
                        display: block;
                        @include rtl-float-right;
                        &::before{
                            content: "\f004";
                            font-size: 18px;
                            color: $theme-color;
                            font-family: "FontAwesome";
                            @include transition(all 0.3s ease-in-out);
                            text-indent: 0;
                            float: left;
                        }                       
                    }                    
                }   
                .yith-wcwl-add-to-wishlist{
                    opacity: 0;
                    margin-top: 0;
                    width: 20px;
                    height: 25px;
                    line-height: 25px;
                    float: left;
                    .yith-wcwl-add-button{
                        >img{
                            display: none !important;
                        }
                    }             
                    @include transition(all 0.3s ease-in-out);                                       
                    .add_to_wishlist{
                        text-indent: -9999px;
                        display: block;
                        font-size: 0;
                        @include rtl-float-left();
                        &::before{
                            content: "\f004";
                            font-size: 18px;
                            color: #e1e1e1;
                            font-family: "FontAwesome";
                            @include transition(all 0.3s ease-in-out);
                            text-indent: 0;
                            float: left;
                        }
                        &:hover{
                            &::before{
                                color: $theme-color
                            }                       
                        }                        
                    }
                }
            }
        }
    }
        &.list{
            .product{
                padding: 0;
                margin-bottom: 15px;
            }
            >div{
                width: 100%;
            }
            .product-wapper{ 
                margin: 15px;
                padding: 0;
                overflow: hidden;
                background: #fff;
                @include transition(all .3s ease-in-out);
                &:hover{
                    padding: 15px;
                    margin: 0;
                    border-radius: 10px;
                }
                .products-thumb{
                    @include rtl-float-left(); width: 250px; position: relative; margin-bottom: 0;
                    .hover-image{ position: absolute; top: 0px; @include rtl-left(0); width: 100%; height: 100%;  background-color: white; z-index: 1;  visibility: hidden; opacity: 0; @include transition(all .3s ease 0s);  }
                    .wp-post-image{display: block; max-width: 100%; height: auto;}
                    .onsale{ @include rtl-left(5px); @include rtl-right(initial); }
                    .bin-quickview-btn{
                        position: absolute;
                        bottom: calc(50% - 25px);
                        @include rtl-right(calc(50% - 25px));
                        >div{
                            position: relative;
                            .wowtooltip{
                                left: 19px;
                            }
                        }                   
                    }
                    .quickview{
                        display: block;
                        opacity: 0;
                        border-radius: 3px;
                        overflow: hidden;
                        visibility: hidden;
                        text-indent: -9999px;
                        @include scale(0);
                        @include transition(all 0.3s ease-in-out);
                        &::before{
                            content: "\f00e";
                            font-size: 18px;
                            color: $theme-color;
                            font-family: "FontAwesome";
                            text-indent: 0;
                            float: left;
                            width: 100%;
                            text-align: center;
                            display: inline-block !important;
                            @include transition(all 0.3s ease-in-out);
                            @include size(50px, 50px);
                            line-height: 50px;
                            text-align: center;
                            background: rgba(#f5f5f5, 0.7);
                        }
                        &:hover{
                            &::before{
                                color: $white;
                                background: $theme-color;
                            }
                        }
                    }
                }
                .products-content{
                    @include rtl-margin-left(280px);
                    .item-description{ line-height: 23px; color: #636363; }
                    font-size: 15px;
                    .add-links-wrap{ margin-top: 25px; }
                    .added_to_cart{
                        display: none;
                    }
                    .product_type_variable{
                        font-size: 18px;
                        text-transform: uppercase;
                        background: $theme-color;
                        color: $white;
                        border-radius: 3px;
                        font-weight: 700;
                        line-height: 28px;
                        padding: 10px 22px;
                        width: auto;
                        height: 50px;
                        font-family: $font-family-second;
                        @include rtl-float-left();
                        @include rtl-margin-right(10px);                       
                    }
                    .product-button{
                        .wowtooltip{
                            display: none;
                        }
                    }
                    .product_type_external,
                    .product_type_grouped,
                    .add_to_cart_button{
                        font-size: 18px;
                        text-transform: uppercase;
                        color: $theme-color;
                        background: #f5f5f5;
                        @include rtl-float-left();
                        border-radius: 3px;
                        font-weight: 600;
                        line-height: 28px;
                        padding: 10px 22px;
                        width: auto;
                        height: 50px;
                        font-family: $font-family-second;
                        @include rtl-margin-right(10px);
                        &.added,
                        &:hover{
                            background: $theme-color;
                            color: $white;
                        }
                    }
                    .compare{
                        text-indent: -9999px;
                        display: block;
                        float: left;
                        &::before{
                            content: "\f079";
                            font-size: 18px;
                            color: $theme-color;
                            @include size(50px, 50px);
                            font-family: "FontAwesome";
                            @include transition(all 0.3s ease-in-out);
                            text-indent: 0;
                            float: left;
                            text-align: center;
                            line-height: 50px;
                            background: #f5f5f5;
                            border-radius: 3px;                                                     
                        }
                        &:hover{
                            &::before{
                                @include box-shadow(0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3));
                                
                            }
                        }
                        &.added,
                        &:hover{
                            &::before{
                                background: $theme-color;
                                color: $white;
                            }
                        }
                    }
                    .clear{ display: none; }
                    .yith-wcwl-wishlistexistsbrowse,
                    .yith-wcwl-wishlistaddedbrowse{
                        display: block;
                        @include rtl-float-left();
                        margin-top: 0;
                        .feedback{
                            display: none;
                        }
                        >a{
                            text-indent: -9999px;
                            display: block;
                            float: left;
                            &::before{
                                content: "\f004";
                                font-size: 18px;
                                color: $white;
                                @include size(50px, 50px);
                                font-family: "FontAwesome";
                                @include transition(all 0.3s ease-in-out);
                                text-indent: 0;
                                float: left;
                                text-align: center;
                                line-height: 50px;
                                background: $theme-color;
                                border-radius: 3px;
                            }
                        }                        
                    }                
                    .yith-wcwl-add-to-wishlist{
                        display: block;
                        @include rtl-float-left();
                        @include rtl-margin-right(10px);
                        margin-top: 0;
                        .add_to_wishlist{
                            text-indent: -9999px;
                            display: block;
                            float: left;
                            &::before{
                                content: "\f004";
                                font-size: 18px;
                                color: $theme-color;
                                @include size(50px, 50px);
                                font-family: "FontAwesome";
                                @include transition(all 0.3s ease-in-out);
                                text-indent: 0;
                                float: left;
                                text-align: center;
                                line-height: 50px;
                                background: #f5f5f5;
                                border-radius: 3px;
                            }
                            &:hover{
                                &::before{
                                    background: $theme-color;
                                    color: $white;
                                }
                            }
                        }
                        img{
                            display: none !important;
                        }
                    }
                    .rating{
                        display: inline-block;
                        padding: 0;
                        .star-rating{
                            margin: 8px 0 18px; 
                            font-size: 100%;
                        }
                        &.none{
                            display: none;
                        }
                    }
                    .price{
                        margin-bottom: 20px;
                        &.empty{
                            display: none;
                        }
                        >del{
                            line-height: 100%;
                            color: #b7b7b7;
                            font-size: 14px;
                            text-decoration: line-through;
                            padding: 0px 8px;
                            span{
                                font-weight: bold;
                            }
                        }
                        >ins{
                            color: $theme-color;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        >span{
                            color: $theme-color;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                    p{ font-size: 14px; color: #707070; line-height: 26px; }
                    h3{
                        font-family: inherit;
                        margin: 0;
                        a{
                            font-size: 16px;
                            font-weight: 600;
                            font-family: inherit;
                            line-height: 42px;
                            color: #464646;
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
                }
                &:hover{
                    @include box-shadow(0 5px 10px 0 rgba(0,0,0,0.05));
                    border-color: $border-color;
                    .products-thumb .quickview{  @include opacity-s(); @include scale(1); }  
                }
            }   
    }
}   

/* Woocommerce page ---------------------------------------------*/
.checkout{
    .checkbox{
        margin-top: 24px;
        margin-bottom: 12px;
    }
    .radio label,
    .checkbox label{
        margin-left: 0;
        padding-left: 0;
        .input-checkbox{
            position: static;
            margin: 0;
        }
    }
    .payment_methods{
        label{
            padding-left: 20px;
            .input-radio{
                left: 0;
                margin:6px 0 0 0;
            }
        }
    }
    #payment_method_paypal{
        margin-top: 20px;
    }
}
/* Category */
.term-description {
    margin-bottom: 30px;
}

/* Product Detail ---------------------------------------------*/
.contents-detail{
    .BoxImage{
        position: relative;
        .onsale{
            @include rtl-right(20px);
        }
        .vgwc-featured{
            @include rtl-left(20px);            
        }
    }
    .images{
        .item{
            border: 1px solid $theme-border-color;
        }
        .image-additional{
            position: relative;
            .owl-stage{
                padding: 10px 0;
                > div{
                    .img-thumbnail{
                        position: relative;
                        z-index: 5;
                        display: block;
                        border: 1px solid $theme-border-color;
                        &.active,
                        &:hover{
                            border-color: $theme-color;
                        }
                    }
                    
                }
            }
            .owl-buttons{
                .owl-next{
                    right: -15px;
                }
                .owl-prev{
                    left: -15px;
                }
                .owl-next,
                .owl-prev{
                    position: absolute;
                    top: 45%;
                    font-size: 16px;
                    color: #dedede;
                    border: 0;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        color: $theme-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.single-product {
    .woocommerce-tabs.wc-tabs-wrapper{
        margin-top: 35px;
    }
    .product-type-variable{
        .woocommerce-variation{
            >p{
                margin-bottom: 25px;
            }
        }
        .variations_form{
            margin-top: -48px;
            @include translateY(48px);
        }
        .BoxInfo .bin-compare-btn{
            @include rtl-margin-left(295px);
        }
    }
    // reting
    .star-rating span:before,
    .star-rating::before{
        letter-spacing: 7px;
    }
    .related{
        margin-bottom: 0;
        .owl-carousel .owl-stage-outer{
            padding-left: 15px;
            padding-right: 15px;
            margin-left: -15px;
            margin-right: -15px;            
        }
    }
    .BoxInfo{
        .bin-compare-btn{
            .wowtooltip{
                left: 23px;
                &::after{
                    left: 24px;
                }
            }               
        }
        .yith-wcwl-add-to-wishlist{
             .wowtooltip{
                left: 17px;
            }           
        }
        .bin-compare-btn,
        .yith-wcwl-add-to-wishlist{
            position: relative;
            display: inline-block;
            margin-top: 0;
        }
    }
    //thumbnail
    .thumbnails {
        padding: 35px 80px;
        .img-thumbnail {
            position: relative;
            display: inline-block;
            vertical-align: top;
            img {
                @include opacity(0.8);
            }
            &:hover {
                border-color: $theme-color;
                img {
                    @include opacity(1);

                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $theme-color;
                    @include opacity(0.35);
                    z-index: 1;
                }
            }
        }
        .carousel-control {
            @include square(42px);
            border: 1px solid $border-color;
            background: #fff;
            top: 50%;
            margin-top: -21px;
            cursor: pointer;
            &.disabled {
                display: none;
            }
        }
    }
    .product.has-children{
        .cart.variations_form{
            .variations{
                margin-bottom: 30px;
            }
        }
    }
    .product-type-grouped{
        .BoxInfo .yith-wcwl-add-to-wishlist{
            @include translateX(180px);
        }        
    }
    .product-type-variable{
        .BoxInfo .yith-wcwl-add-to-wishlist{
            @include translateX(290px);
        }
    }
    .BoxInfo{
        .cart{
            display: inline-block;
            @include rtl-float-left();
            &.variations_form{
                display: block;
                position: relative;
                display: inline-block;
                width: 100%;
                &.variations_form_2{
                  width: 100%;
                  display: inline-block;
                }
                >table{
                    margin-bottom: 0;
                    border: 0;
                    tr{
                        td{
                            padding: 0;
                            border: 0;
                            &.label{
                                color: $text-color;
                                font-size: 14px;
                                margin-bottom: 0;
                                line-height: 32px;
                            }
                            &.value{
                                select{
                                    width: 100%;
                                }
                                .reset_variations{
                                    @include input_button;
                                    margin-top: 12px;
                                    display: inline-block;
                                    padding: 2px 10px;
                                    text-transform: capitalize;
                                    visibility: visible !important;
                                    &:hover{
                                        @include box-shadow(none);
                                    }
                                }                                
                            }
                        }
                    }
                }
                .stock.out-of-stock{
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $font-family-second;
                    color: $text-color;
                    margin-bottom: 25px;
                }
            }
        }
        .quantity.buttons_added{
            @include rtl-float-left();
            @include rtl-margin-right(41px);
            position: relative;
            overflow: visible;
            input[inputmode="numeric"]{
                width: 70px;
                height: 48px;
                text-align: center;
                line-height: 46px;
                border: 1px solid $theme-border-color !important;
                color: $text-color;
                font-family: $font-family-second;
                font-size: 14px;
                font-weight: bold;
            }
            .minus{
                position: absolute;
                bottom: 0;
                @include rtl-left(calc(100% - 1px));
                border: 1px solid $theme-border-color;
                height: 25px;
                width: 18px;
                line-height: 23px;
                font-size: 14px;
                font-weight: bold;
                color: #acacac;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    background: $theme-color;
                    border-color: $theme-color;
                    color: $white
                }                
            }
            .plus{
                position: absolute;
                top: 0;
                @include rtl-left(calc(100% - 1px));
                border: 1px solid $theme-border-color;
                height: 25px;
                width: 18px;
                line-height: 23px;
                font-size: 14px;
                font-weight: bold; 
                color: #acacac;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    background: $theme-color;
                    border-color: $theme-color;
                    color: $white;
                }     
            }
        }
        .product_meta{
            margin: 25px 0 35px;
            .sku_wrapper,
            .posted_in,
            .tagged_as{
                font-weight: bold;
                color: $text-color;
                width: 100%;
                display: block;
                line-height: 28px;
                a{
                    font-weight: 400;
                    color: $text-color-third;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            .sku_wrapper{
                span{
                    color: $text-color-third;
                    font-weight: normal;
                    @include rtl-padding-left(88px);
                }
            }
            .posted_in{
                a{
                    &:first-child{
                            @include rtl-padding-left(51px);
                    }
                }
            }
            .tagged_as{
                a{
                    &:first-child{
                        @include rtl-padding-left(87px);
                    }
                }
            }
        }
        .woocommerce-product-rating{padding-bottom: 36px;}
        .star-rating{display: inline-block;width: 82px;font-size: 11px;@include rtl-margin-right(10px);}
        .woocommerce-review-link{position: relative; top: 5px;}
        div[itemprop="description"]{
            margin: 25px 0 25px;
            p{
                color: $text-color-third;
                line-height: 24px;
            }
        }
        .stock{
                font-size: 16px;
                margin-bottom: 12px;
                color: $red;
        }
        .prices{font-size: 42px;}
        .price{
            font-size: 32px;
            font-weight: bold;
            color: $theme-color;
            font-family: $font-family-second;
            .woocs_price_code{
                >span:nth-child(1){
                    padding-right: 10px;
                }
                >span:nth-child(2){
                    padding-left: 10px;
                }
            }
        }
        .group_tables{
            .price{
                font-size: 16px;
                del span{
                    font-size: 12px;
                }
            }            
        }
        .stock.in-stock{display: none;}
        .compare{
            overflow: hidden;
            border: 2px solid $theme-border-color;
            position: relative;
            text-indent: -9999px;
            display: block;
            width: 48px;
            @include rtl-float-left();
            text-align: center;                
            @include transition(all 0.3s ease-in-out);
            border-radius: 3px;
            @include rtl-margin-right(13px);
            &::before{
                content: "\f079";
                font-size: 18px;
                color: #d7d7d7;
                text-align: center;
                line-height: 44px;
                text-indent: 0;
                font-family: "FontAwesome";
                @include size(44px, 44px);
                @include transition(all 0.3s ease-in-out);
                @include rtl-float-left();                
            }
            &.added{
                border-color: $theme-color;
                &::before{
                    background: $theme-color;
                    color: $white;
                }                
            }
            img{
                display: none !important;
            }
            &:hover{
                border-color: $theme-color;
                background: $theme-color;   
                &::before{
                    color: $white;
                }
            }
        }
        .single_variation_wrap{
            .woocommerce-variation-price{
                margin-bottom: 15px;
                display: inline-block;
                width: 100%;
                .price{
                    span{
                        font-size: 21px;
                    }
                    >del{
                        padding: 0px 10px;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .yith-wcwl-wishlistaddedbrowse,
        .yith-wcwl-wishlistexistsbrowse{
            .feedback{display: none;}
            a{
                border: 2px solid $theme-color;
                position: relative;
                text-indent: -9999px;
                display: block;
                background: $theme-color;
                border-radius: 3px; 
                text-align: center;                
                @include rtl-float-left();
                @include transition(all 0.3s ease-in-out);                
                &::before{
                    content: "\f004";
                    font-size: 18px;
                    color: $white;
                    font-family: "FontAwesome";
                    text-indent: 0;
                    text-align: center;
                    line-height: 44px;
                    @include rtl-float-left();                                   
                    @include size(44px, 44px);
                    @include transition(all 0.3s ease-in-out);
                }
            }
        } 
        .yith-wcwl-add-button{
            a{
                border: 2px solid $theme-border-color;
                position: relative;
                text-indent: -9999px;
                display: block;
                overflow: hidden;
                width: 48px;
                border-radius: 3px; 
                text-align: center;                
                @include rtl-float-left();
                @include transition(all 0.3s ease-in-out);                           
                &::before{
                    content: "\f004";
                    font-size: 18px;
                    color: #d7d7d7;
                    font-family: "FontAwesome";
                    text-indent: 0;
                    text-align: center;
                    line-height: 44px;
                    @include rtl-float-left();                                   
                    @include size(44px, 44px);
                    @include transition(all 0.3s ease-in-out);
                }
            }
            img{
                display: none !important;
            }
            &:hover a{
                border-color: $theme-color;
                background: $theme-color;   
                @include box-shadow(0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3));
                &::before{
                    color: $white;
                }
            }            
        }
        .single_add_to_cart_button{
            line-height: 48px;
            font-size: 14px;
            font-weight: 600;
            font-family: $font-family-second;
            padding: 0px 35px;
            border: 0;
            background: $theme-color;
            color: $white;
            text-transform: uppercase;
            border-radius: 3px;
            display: block;
            @include rtl-float-left;
            @include rtl-margin-right(13px);
            @include transition(all 0.3s ease-in-out);
            &:focus{
                outline: none;
            }
        }
        .label-share{
            display: block;
            @include rtl-float-left();
            font-weight: bold;
            font-family: $font-family-second;
            text-transform: uppercase;
            color: $text-color;
        }
        .social-icon .social-share{
            a{
                position: relative;
                padding: 0px 10px;
                @include transition(all .3s ease 0s);      
            }
        }
    }
    .BoxInfo {
        padding-left: 30px;
        padding-right: 0px;
        z-index: 0;
        .group_tables{
            @include translateY(47px);
            margin-top: -47px;
            .group_table{
                display: inline-block;
                width: 100%;
                border: 0;
                .price{
                    del{
                        padding: 0px 15px;
                        @include rtl-padding-right(0);
                        float: none;
                        span{
                            font-size: 12px;
                        }
                    }
                    ins{
                        @include rtl-float-left;
                        span{
                            font-size: 16px;
                        }
                    }
                }
                td{
                    vertical-align: middle;
                    text-align: center;
                }
                .label{
                    padding: 10px;
                    border-radius: 0;
                    margin-bottom: 0;
                    display: table-cell;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 100%;
                    white-space: normal;
                    label{
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                }
            }
            + .bin-compare-btn{
                @include rtl-margin-left(183px);
            }
        }      
    }
    //Infor
    .entry-summary {
        .product_title {
            position: relative;
            margin: 0px;
            padding-bottom: 16px;
            line-height: 32px;
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font-family-second;
            color: $text-color;
        }
        .price {
            line-height: 100%;
            del{
                text-decoration: line-through;
                padding: 0 20px;
                span{
                    font-size: 24px;
                    font-weight: 400;
                    color: #b7b7b7;
                    font-family: $font-family-second;
                }
            }
            ins{
                text-decoration: none;
                @include rtl-float-left();
                span{
                    font-size: 32px;
                    font-weight: 600;
                    display: inline-block;
                    font-family: $font-family-second;
                    color: $theme-color;
                }
            }
        }
    }
    //Tab
    .woocommerce-tabs {
        ul.tabs {
            margin-bottom: 20px;
            padding: 0;
            text-align: center;
            li {
                &:before, &:after{display: none;}
                border: none;
                margin-bottom: -1px;
                border-bottom: 1px solid transparent;
                background: transparent;
                box-shadow: none;
                a {
                    text-transform: uppercase;
                    font-family: $font-family-second;
                    font-weight: 600;
                    font-size: 14px;
                    color: #707070;
                    padding: 15px 16px;
                }
                &.active {
                    a {
                        color: $theme-color;
                        border-bottom: 1px solid $theme-color;
                    }
                }
            }
        }
        .panel {
            background: transparent;
            border: none;
            @include rtl-text-align-left();
            line-height: 2em;
        }
        .form-submit{
            margin-top: 15px;
            .submit{
                line-height: 40px;
                font-size: 14px;
                font-weight: bold;
                font-family: $font-family-second;
                padding: 0px 25px;
                border: 0;
                background: $theme-color;
                color: $white;
                text-transform: uppercase;
                border-radius: 3px;
                @include rtl-margin-right(13px);
                @include transition(all 0.3s ease-in-out);
                &:focus{
                    outline: none;
                }
                &:hover{
                    @include box-shadow(0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3));
                }                
            }
        }
    }
}

/*  */
/* Cart Page */
.shop_table{
    .coupon{
        margin-top: 5px;
        @include rtl-text-align-left;
        label{
            font-weight: bold;
            color: $text-color;
            width: 100%;
            margin-bottom: 14px;
            font-size: 18px;
            font-weight: bold;
            font-family: $font-family-second;
            text-transform: uppercase;
            &::before{
                content: "\f0c4";
                font-size: 18px;
                font-family: FontAwesome;
                @include rtl-margin-right(15px);
            }
        }
        input[type="text"]{
            min-width: 287px;
            border: 0;
            border-bottom: 1px solid $theme-border-color;
            @include rtl-margin-right(10px);
            line-height: 40px;
            @include placeholder(#acacac);
        }
        input[type="submit"]{
            border: 0;
            color: $text-color;
            text-transform: uppercase;
            padding: 14px 26px;
            font-weight: bold;
            font-family: $font-family-second;
            font-weight: bold;
            background: transparent;
            border: 1px solid $theme-color;
            @include transition(all .3s ease);
            &:hover{
                background: $theme-color;
                color: $white;
            }
        }
    }
    input[name="update_cart"]{
        @include rtl-float-left;
        margin-top: 35px;
        display: block;
        border: 0;
        color: $white;
        background: transparent;
        color: $text-color;
        font-weight: bold;
        border: 1px solid $theme-color;
        text-transform: uppercase;
        font-family: $font-family-second;
        padding: 14px 25px;
        &:hover{
            cursor: no-drop;
        }
    }
    .quantity .plus,
    .quantity .minus{
        font-size: 20px;
        line-height: 100%;
        font-weight: bold;
        @include transition(all .3s ease);
        &:hover{
            background: $theme-color;
            color: $white;
        }
    }
}
.cart-collaterals{
    .cart_totals {
        h2{
            margin-top: 35px;

        }
    }
    .wc-proceed-to-checkout{
        margin-top: 35px;
        a{
            background: $theme-color;
            color: $white;
            font-size: 16px;
            font-family: $font-family-second;
            font-weight: bold;
            text-transform: uppercase;
            padding: 15px 23px;
            &::after{
                font-size: 16px;
            }
        }
    }
}
.shop_table{
    .product-subtotal,
    .product-price{
        span{
            font-size: 16px;
            color: $theme-color;
            font-family: $font-family-second;
        }
    }
}
.woocommerce-cart{
    .woocommerce{
        .product-subtotal,
        .product-price{
            span{
                font-size: 18px;
                font-weight: bold;
                color: $theme-color;
                font-family: inherit;
            }
        }        
        >form{
            width: 66.666%;
            margin-bottom: 45px;
            @include rtl-float-left();
            @include rtl-padding-right(15px);
            table{
                margin-top: 0;
            }
            .shop_table{
                border: 0;
                margin-top: -32px;
                > tbody > tr{
                    > td{
                        border: 0;
                        &.product-name{
                            width: 185px;
                            @include rtl-text-align-left;
                            padding: 0px 23px;
                        }
                    }
                }
                .quantity input.qty{
                    font-size: 18px;
                    font-weight: bold;
                    color: $text-color;
                    border: 0;
                }
                .quantity .plus,
                .quantity .minus{
                    display: none;
                }
                thead{
                    border-bottom: 1px solid #ebebeb;
                    display: none;
                }
                thead:first-child > tr:first-child > th{
                    border: 0;
                    padding-top: 0;
                    font-weight: 400;
                    font-size: 15px;
                    font-family: $font-family-second;
                }
                .cart_item{
                    border-bottom: 1px solid #ebebeb;
                    .product-thumbnail{
                        padding: 30px 0;
                        width: 92px;
                        a{
                            display: block;
                            &:hover{
                                opacity: 0.7;
                            }
                            img{
                                border: 1px solid $theme-color;
                                height: 92px;
                                width: 100%;
                            }
                        }
                    }
                    .product-remove{
                        width: 70px;
                        a.remove{
                            width: auto;
                            height: auto;
                            @include rtl-float-left();
                            font-weight: bold;
                            color: $theme-color;
                            font-size: 0;
                            background-color: transparent;
                            &::before{
                                content: "\f00d";
                                font-family: FontAwesome;
                                font-size: 24px;
                            }
                            &:hover{
                                background-color: transparent;
                                color: $text-color;
                            }
                        }
                    }
                }
                tbody > tr{
                    .actions{
                        padding-top: 60px;
                        position: relative;
                        input[name="update_cart"]{
                            position: absolute;
                            margin: 0;
                            @include rtl-right(0);
                            bottom: 0;
                        }
                    }
                    > td{
                        padding: 0;
                    }
                }
            }
        }
        .cart_totals{
            width: calc(33.33% - 15px);
            @include rtl-float-left();
            @include rtl-margin-left(15px);
            border: 3px solid $theme-color;
            padding: 24px 32px;
        }
    }
    .cart-collaterals{
        margin-top: 35px;
    }
    .cart-collaterals .wc-proceed-to-checkout a{
        display: inline-block;
    }
    .cross_sell{
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        width: 100%;
        .products-list.grid .product-wapper .products-content .product-button .button{
            font-size: 0;
        }
        .title-block{
            h2{
                text-align: center;
                &::before{
                    display: none;
                }
            }
        }
    }
    .cart_totals {
        h2{
            font-size: 24px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;
            color: $theme-color;
        }
        .shop_table{
            margin-top: 0;
            margin-bottom: 0;
            border: 0;
            tr{
                border-bottom: 1px solid $theme-color;
                padding: 28px 0;
                display: block;
                &:last-child{
                    border-bottom: 0;
                }
                *{
                    border: 0;
                    padding: 0;
                    @include rtl-text-align-left;
                }
                th{
                    text-transform: uppercase;
                    font-weight: 400;
                    width: 125px;
                }
                td[data-title="Subtotal"]{
                    font-size: 24px;
                    font-weight: 700;
                    font-family: $font-family-second;
                }
                td[data-title="Total"]{
                    font-size: 32px;
                    font-weight: 700;
                    font-family: $font-family-second;                    
                }
            }
        }
        .wc-proceed-to-checkout{
            margin-top: 0;
            a{
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: $text-color;
                line-height: 30px;
                margin-bottom: 10px;
                &::after{
                    display: none;
                }
                &:hover{
                    color: $white;
                }
            }
        }
    }
}
/* Max Width 1200px  */
@media (max-width: 1200px){
    .woocommerce-cart .woocommerce > form .shop_table tbody > tr .actions input[name="update_cart"]{
        position: static;
        margin-top: 20px;
    }
    .cart-collaterals .wc-proceed-to-checkout a{
        padding: 15px;
    }
}
/* Max Width 991px  */
@media (max-width: 991px){
    .woocommerce-cart .woocommerce > form{
        @include rtl-padding-right(0);
        width: 100%;
        margin-bottom: 10px;
    }
    .woocommerce-cart .woocommerce > form .shop_table .cart_item .product-remove a.remove::before {
        font-size: 18px;
    }
    .woocommerce-cart .woocommerce > form .shop_table tbody > tr .actions {
        padding-top: 35px;
    }
    .woocommerce-cart .cart-collaterals{
        margin-top: 0;
    }
    .woocommerce-cart .woocommerce .cart_totals{
        width: 100%;
        @include rtl-margin-left(0);
        margin-bottom: 35px;
    }
    .woocommerce-cart .cart_totals .shop_table tr {
        padding: 20px 0;
    }
    .woocommerce-cart .cart_totals .shop_table tr td[data-title="Subtotal"] {
        font-size: 18px;
    }
    .woocommerce-cart .cart_totals .shop_table tr td[data-title="Total"] {
        font-size: 24px;
    }
    .woocommerce-cart .woocommerce .cart_totals {
        padding: 24px 20px;
    }
    .woocommerce-cart .woocommerce > form .shop_table tbody > tr .actions input[name="update_cart"]{
        position: absolute;
    }
    .woocommerce-cart .woocommerce > form .shop_table .cart_item .product-remove {
        width: 35px;
    }
}
/* Max Width 767px  */
@media (max-width: 767px){
    .woocommerce-cart .woocommerce > form .shop_table .cart_item .product-remove{
        width: 100%;
        a.remove{
            float: none;
        }
    }
    .woocommerce-cart .woocommerce > form .shop_table tbody > tr > td{
        padding: 10px 0;
        border-bottom: 1px solid $theme-border-color;
    }
    .woocommerce-cart .woocommerce > form .shop_table tbody > tr .actions {
        border: 0;
        padding-bottom: 0;
    }
    .shop_table .coupon input[type="text"]{
        width: 100%;
    }
    .shop_table .coupon input[type="submit"]{
        margin-top: 20px;
    }
    .shop_table input[name="update_cart"]{
        padding: 10px 15px;
    }
    .woocommerce-cart .cart_totals .shop_table tr th {
        text-transform: uppercase;
        font-weight: 400;
        width: 100%;
        padding-bottom: 10px;
        display: inline-block;
    }
    .woocommerce-cart.woocommerce-page .cart_totals > h2{
        margin-bottom: 0;
    }
    .woocommerce-cart .cross_sell{
        margin-left: 0;
        margin-right: 0;
    }
}
/* Max Width 1200px  */
@media (max-width: 479px){

}

/*  */
/* checkout page */
.woocommerce-checkout{
    .order-total{
        .woocommerce-Price-amount{
            font-size: 16px;
            font-family: $font-family-second;
            color: $theme-color;
        }
    }
    .woocommerce{
        >.woocommerce-info{
            &.first{
                margin-top: 0;
                &::before{
                    content: "\f053";
                    font-size: 21px;           
                }
            }        
        }
        >.woocommerce-info{
            margin-top: 12px;
            border: 3px solid $theme-color;
            border-radius: 0;
            padding: 0;
            line-height: 44px;
            text-align: center;
            font-family: $font-family-second;
            text-transform: uppercase;
            margin-bottom: 0;
            &::before{
                font-family: 'IcoFont'!important;
                content: "\f0c3";
                display: inline-block;
                font-size: 24px;
                color: #231f20;
                line-height: 100%;
                @include rtl-margin-right(14px);              
            }
            >a{
             color: $theme-color;      
            }
        }
        .login{
            border: 3px solid $theme-color;
            border-top: 0;
            border-radius: 0;
            margin: 0 0 20px;
            padding: 30px 15px 70px 15px;
            margin-top: -15px;
            background: $white;
            @include rtl-text-align-left();
            position: relative;
            >p{
                max-width: 570px;
                width: 100%;
                float: none;
                margin: 0 auto;
                text-align: center;
                &:first-child{
                    font-size: 14px;
                    color: #707070;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
            }
            .form-row{
                label{
                    margin-bottom: 5px;
                    line-height: 2;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: normal;
                    color: #707070;
                    @include rtl-text-align-left();
                }
                input{
                    width: 100%;
                    margin-bottom: 26px;
                    line-height: 37px;
                    border: 2px solid #ebebeb;
                }
                input[type="submit"]{
                    @include input-button;
                    display: inline-block;
                    max-width: 100%;
                    line-height: 60px;
                    border: 0;
                    margin-bottom: 53px;
                    font-family: $font-family-second;

                }
                label[for="rememberme"].inline{
                    @include rtl-text-align-left();
                    @include rtl-float-left;
                    display: inline-block;
                    line-height: 100%;
                    input{
                        margin: 0;
                        @include rtl-float-left;
                        display: inline-block;
                        width: auto;
                        @include rtl-margin-right(10px);
                    }
                }
            }
            .lost_password{
                position: absolute;
                bottom: 73px;
                @include rtl-right(calc(50% - 570px/2));
                @include rtl-text-align-right();
                text-transform: uppercase;
                text-decoration: underline;
                color: $black;
            }          
        }
    }
    .checkout_coupon{
        border: 3px solid $theme-color;
        border-top: 0;
        border-radius: 0;
        margin: 0 0 20px;
        padding: 70px 15px 60px 15px;
        display: inline-block;
        width: 100%;
        background: $white;
        margin-top: -3px;
        text-align: center;
        .form-row{
            display: inline-block;
            float: none;
            width: auto;
            margin-bottom: 0;
            input[type="text"]{
                min-width: 286px;
                border: 0;
                border-bottom: 1px solid $theme-border-color;
                line-height: 49px;
                padding: 0;
                font-size: 15px;
                @include placeholder(#acacac);
                @include rtl-padding-left(10px);
            }
            input[type="submit"]{
                @include input-button;
                padding: 0px 30px;
                line-height: 50px;
                width: auto;
                font-size: 14px;
                font-weight: bold;
                color: $text-color;
                @include rtl-margin-left(15px);
                font-family: $font-family-second;
                &:hover{
                    color: $white;
                }
            }           
        }    
    }
    form.woocommerce-checkout{
        margin-top: 85px;
        p{
            margin-bottom: 20px;
        }
        .border-box{
            border: 3px solid $theme-color;
            padding: 30px 28px;
            #order_review_heading{
                color: $theme-color;
                margin-top: 0;
            }
            table.shop_table{
                border: 0;
                >thead{
                    >tr{
                        >th{
                            border: 0;
                            border-bottom: 1px solid $theme-color;
                            font-family: $font-family-second;
                            font-weight: bold;
                            color: $text-color;
                            @include rtl-text-align-right;
                            @include rtl-padding-left(0 !important);
                            @include rtl-padding-right(0 !important);
                            padding-top: 13px;
                            padding-bottom: 13px;
                        }
                    }
                }
                > tbody > tr > td{
                    border: 0;
                    border-bottom: 1px solid $theme-border-color;
                    padding-top: 25px;
                    @include rtl-text-align-right;
                    @include rtl-padding-left(0 !important);
                    @include rtl-padding-right(0 !important);
                    padding-bottom: 25px;
                    .product-quantity{
                        color: $theme-color;
                    }
                    &.product-total{
                        font-size: 18px;
                        font-family: $font-family-second;
                        color: $text-color;
                        font-weight: bold;
                    }
                }
                >tfoot{
                    border: 0;
                     > tr{
                        >td{
                            padding-top: 25px;
                            border: 0;
                            @include rtl-text-align-right;
                            @include rtl-padding-left(0 !important);
                            @include rtl-padding-right(0 !important);
                            span{
                                font-size: 18px;
                                font-family: $font-family-second;
                                font-weight: bold;
                            }
                        }
                        >th{
                            @include rtl-padding-left(0 !important);
                            @include rtl-padding-right(0 !important);
                            padding-top: 25px;
                            border: 0;
                            text-transform: capitalize;
                            font-family: $font-family-second;
                            font-weight: bold;
                        }
                     }
                }
            }
        }
    }
}
.checkout.woocommerce-checkout{
    h3{
        font-size: 24px;
        color: $text-color;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 34px;
        margin-top: 0;
        label{
            font-size: 24px;
            color: $text-color;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 0;
            span:hover{
                cursor: pointer;
            }
            #ship-to-different-address-checkbox{
                position: relative;
                margin-left: 0;
                top: auto;
                margin-right: 15px;
            }        
        }
    }
    label{
        font-size: 13px;
        line-height: 2;
        margin-bottom: 5px;
        text-transform: none;
        color: #707070;
        font-weight: normal;
        display: inline-block;
        img{
            width: 120px;
            padding: 0 10px;
        }
        .required{
            color: $theme-color;
        }
    }
    input.input-text {
        height: 50px;
        line-height: 50px;
        @include rtl-padding-left(10px);
        border: 2px solid #ebebeb;
        @include transition(all 0.3s ease-in-out);
        &:focus{
            border-color: $theme-color;
        }
    }
    .select2-container .select2-choice{
        height: 32px;
        line-height: 32px;
        @include rtl-padding-left(10px);
        border: 1px solid $theme-border-color;
        border-radius: 0;        
    }
    .create-account{
        .input-checkbox{
            @include rtl-float-left();
        }
        .checkbox{
            @include rtl-float-left();
            display: inline-block;
            margin-top: 0;
            line-height: 21px;
            @include rtl-margin-left(10px);         
        }
    }
    textarea.input-text{
        height: 140px;
        padding: 10px;        
    }
}
#order_review{
    #order_review_heading{
        margin-bottom: 30px;
    }
    thead .product-total{
        text-transform: uppercase;
        font-size: 15px;        
    }
    thead .product-name{
        text-transform: uppercase;
        font-size: 15px;
        @include rtl-text-align-left();
    }
    .product-name{
        @include rtl-text-align-left();
        @include rtl-padding-left(15px);
    }
    .order-total,
    .cart-subtotal{
        th{
            text-transform: uppercase;
            font-size: 15px;
            @include rtl-text-align-left();
        }        
    }
    .order-total{
        span{
            text-transform: uppercase;
            font-size: 28px;
            color: $theme-color;            
        }
    } 
}
.woocommerce-checkout{
    .woocommerce-error{
        margin-top: 11px;
        border: 0;
        background: #fef8e8;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 0;
        padding: 26px 35px;
        li{
            color: #ed1c24;
            strong{
                font-weight: 400;
                line-height: 32px;
            }
        }
    }
    .place-order{
        padding: 0;
        input[type="submit"]{
            @include input-button;
            padding: 20.5px 22px;
            font-family: $font-family-second;
            width: 100%;  
            margin-top: 20px;         
        }
    }
}
@media (max-width: 991px) {
    .checkout.woocommerce-checkout h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .woocommerce-checkout form.woocommerce-checkout {
        margin-top: 25px;
    }
    .woocommerce-checkout form.woocommerce-checkout p {
        margin-bottom: 15px;
    }
    .checkout.woocommerce-checkout input.input-text{
        height: 40px;
        line-height: 40px;        
    }
    #order_review .order-total th,
    #order_review .cart-subtotal th{
        font-size: 14px;
    } 
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tfoot > tr > td{
        padding-top: 10px;
    }
    #order_review #order_review_heading{
        margin-bottom: 15px;
    }
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tbody > tr > td{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #order_review thead .product-name{
        font-size: 14px;
    }
    #order_review thead .product-total{
        font-size: 14px;
    }
    #order_review .order-total span{
        font-size: 24px;
    }
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tfoot > tr > td span,
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tbody > tr > td.product-total{
        font-size: 16px;
    }
    .woocommerce-checkout .place-order input[type="submit"]{
        margin-top: 0;
        padding: 15.5px 22px;
    }
    .woocommerce-checkout .checkout_coupon .form-row input[type="text"]{
        line-height: 39px;
    }
    .woocommerce-checkout .checkout_coupon .form-row input[type="submit"]{
        line-height: 40px;
    }
    .woocommerce-checkout .checkout_coupon{
        padding: 35px 15px 35px 15px;
    }
    .woocommerce-checkout .woocommerce .login{
        padding: 20px 15px 35px 15px;
    }
    .woocommerce-checkout .woocommerce .login .lost_password{
        bottom: 38px;
    }
    .woocommerce-checkout .woocommerce .login .form-row input[type="submit"]{
        line-height: 40px;
        margin-bottom: 25px;
    }
    .woocommerce-checkout .woocommerce .login .form-row input{
        margin-bottom: 20px;
        line-height: 26px;        
    }
    .woocommerce-checkout .woocommerce .login > p:first-child{
        margin-bottom: 25px;
    }
}
@media (max-width: 767px) {
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tfoot > tr > td,
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tbody > tr > td{
        text-align: center;
    }
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tfoot > tr > th{
        padding-top: 10px;
    }
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tfoot > tr > td span,
    .woocommerce-checkout form.woocommerce-checkout .border-box table.shop_table > tbody > tr > td.product-total{
        font-size: 14px;
    }
    .woocommerce-checkout .woocommerce .login .lost_password{
        width: auto;
        @include rtl-right(15px);
    }
    .woocommerce-checkout .checkout_coupon .form-row{
        width: 100%;
    }
    .woocommerce-checkout .checkout_coupon .form-row input[type="submit"]{
        margin-top: 20px;
    }
}
@media (max-width: 479px) {
    .woocommerce-checkout .woocommerce .woocommerce-info > a{
        width: 100%;
        display: inline-block;
    }
    .woocommerce-checkout .woocommerce .woocommerce-info{
        line-height: 40px;
    }
    .woocommerce-checkout .checkout_coupon{
        padding-top: 10px;
    }
}

/*  */
/* woocommerce-wishlist */
.woocommerce-wishlist{
    .wishlist-title{
        h2{
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 25px;
            display: none;    
        }
    }
    .woocommerce table.wishlist_table{
        font-size: 14px;
        margin-bottom: 50px;
        margin-top: 0;
        border: 0;
        thead{
            .product-stock-stauts,
            .product-price,
            .product-name{
                font-size: 18px;
                font-family: $font-family-second;
                color: $text-color;
                padding: 27px 0;
                text-transform: uppercase;
            }
            tr{
                th{
                    border: 0;
                    border-bottom: 1px solid $theme-border-color;
                }
            }
        }
        tbody{
            tr{
                td{
                    border: 0;
                    padding: 42px 12px;
                    border-bottom: 1px solid $theme-border-color;
                    &.product-add-to-cart{
                        width: 235px;
                    }
                    &.product-remove{
                            width: 80px;
                    }
                    &.product-thumbnail{
                        padding: 24px 4px;
                          a{
                             height: auto;
                                img{
                                    height: auto;        
                                }
                          }
                    }
                    a.remove.remove_from_wishlist{
                        color: $theme-color !important;
                        @include rtl-float-left();
                        width: auto !important;
                        height: auto !important;
                        position: relative;
                        font-size: 0;
                        &:hover{
                                background: transparent !important;
                                &::before{
                                   color: $text-color;
                                }
                        }  
                        &::before{
                                content: "\efb5";
                                font-size: 24px;
                                font-weight: 400;
                                font-family: 'IcoFont'!important;
                                @include transition(all 0.3s ease-in-out);
                        }
                    }
                    &.product-name{
                        a{
                            color: $black;
                            font-size: 14px;
                            text-transform: uppercase;
                            line-height: 18px;
                            &:hover{
                                color:  $theme-color;
                            }
                        }
                    }
                }
            }
        }
        tfoot{
            tr{
                td{
                    border: 0;
                    border-bottom: 1px solid $theme-border-color;
                }
            }
        }
        tbody td.product-name {
            @include rtl-text-align-left();
            padding: 30px 12px;
            width: 200px;
        }
        tbody td.product-price{
            del{
                @include rtl-margin-right(5px);
                span{
                    color: #999;
                    font-size: 14px;
                }
            }
            ins{
                text-decoration: none;
                span{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            span{
                font-size: 18px;
                font-weight: bold;
                color: $text-color;
                font-family: inherit;
            }
        }
        tr td.product-stock-status span.wishlist-in-stock{
            color: $text-color;
            font-size: 18px;
        }
        tr td.product-thumbnail img{
            border: 1px solid transparent;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                border-color:  $theme-color;
                opacity: 0.8;
            }
        }
        tr td span.wishlist-out-of-stock{
            color: $text-color;
            font-size: 18px;            
        }
        tbody{
            .product-add-to-cart{
                a{
                    @include input-button;
                    padding: 21px 0px;
                    font-family: $font-family-second;
                    color: $text-color;
                    margin-bottom: 0; 
                    border-radius: 0;
                    &:hover{
                        color: $white;
                    }                
                }
            }
        }
    }   
}
@media (max-width: 1200px) {
   .woocommerce-wishlist .woocommerce table.wishlist_table tbody .product-add-to-cart a{
        padding: 15px 0;
   }
   .woocommerce table.wishlist_table tbody td {
        padding: 7px 15px;
    }
}
@media (max-width: 991px) {
    .woocommerce-wishlist .woocommerce table.wishlist_table tbody tr td.product-name {
        text-align: center;
    }
    .woocommerce table.wishlist_table tbody td {
        padding: 20px 15px;
    }
    .woocommerce-wishlist .woocommerce table.wishlist_table{
        margin-bottom: 0;
    }
    .woocommerce-wishlist .woocommerce table.wishlist_table tr td.product-stock-status span.wishlist-in-stock,
    .woocommerce-wishlist .woocommerce table.wishlist_table tr td span.wishlist-out-of-stock,
    .woocommerce-wishlist .woocommerce table.wishlist_table tbody td.product-price ins span {
        font-size: 16px;
    }
}

/*  */
/* woocommerce-account */
.woocommerce-account{
    .woocommerce-MyAccount-navigation{
        ul{
            @include rtl-padding-left(15px);
            margin-bottom: 15px;
            li{
                list-style: disc;
                line-height: 2;
            }
        }
    }
    .woocommerce-MyAccount-content{
        a{
            color: $theme-color;
            &:hover{
                color: $text-color-second;
            }
        }
    }
    #customer_login{
        h2{
            font-size: 25px;
            margin-top: 0;
            margin-bottom: 15px;
            color: $text-color;
        }
        .form-rememberme{
            label{
                font-weight: 400;
            }
        }
        label{
            line-height: 2;
            font-size: 13px;
            input[type="checkbox"]{
                margin-top: -2px;
                vertical-align: middle;
            }      
        }
        input[type="submit"]{
            @include input-button;
            padding: 10px 23px;
            font-family: $font-family-second;
            margin-bottom: 0; 
            margin-top: 10px;            
        }
    }
}
.woocommerce-page{
    .return-to-shop{
        a{
            margin-top: 10px;
            @include input-button;
            padding: 10px 23px;
            display: inline-block;
            font-family: $font-family-second;        
        }
    }    
}
.single-product{
    .woocommerce-message{
        display: none;
    }
}
.upsells{
    margin-bottom: 50px;
    padding: 0px 15px;
}
.woocommerce{
    .woocommerce-MyAccount-navigation{
        border: 5px solid $theme-color;
        width: 23%;
        padding: 15px 25px;
        @include rtl-margin-right(75px);
        display: block;
        float: left;
        ul{
            margin-bottom: 0;
            padding: 0;
            li{
                list-style: none;
                position: relative;
                &.is-active{
                    a{
                        color: $theme-color;
                    }
                }
                a{
                    text-transform: uppercase;
                    font-weight: bold;
                    font-family: $font-family-second;
                    line-height: 44px;
                    border-bottom: 1px solid #ebebeb;
                    display: block;
                    width: 100%;
                    color: $text-color;
                    &:hover{
                        color: $theme-color;
                    }
                }
                &:last-child{
                    a{
                        border-bottom: 0;
                    }
                }
            }
        }       
    }
    form.register{
        .form-row.form-row-wide{
            position: relative;
            padding-top: 20px;
            .woocommerce-password-hint,
            .woocommerce-password-strength{
                display: none;
            }
            .input-text{
                border: 0;
                margin-bottom: 0;
                line-height: 25px;
                border-bottom: 1px solid #ebebeb;
            }
            &.no-text{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                }                    
                &::before{
                        background-color: red;
                        width: 100%;
                }
            }            
            &.has-text{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                } 
                &::before{
                    width: 100%;
                }                             
            }            
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                @include rtl-left(0);
                width: 0;
                height: 2px;
                display: inline-block;
                background: $theme-color;
                @include transition(all 0.3s ease-in-out);
            }
            &.filled{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                }
                &::before{
                    width: 100%;
                }                 
            }
            label{
                position: absolute;
                bottom: 11px;
                font-size: 14px !important;
                font-weight: 400;
                @include rtl-left(0);
                margin-bottom: 0;
                color: #707070;
                @include transition(all 0.3s ease-in-out);
            }
        }        
    }
    form.login{
        .form-row.form-row-wide{
            label{
                margin-bottom: 0;
            }
        }
        .form-row.form-row-wide{
            position: relative;
            padding-top: 20px;
            .input-text{
                border: 0;
                margin-bottom: 0;
                line-height: 25px;
                border-bottom: 1px solid #ebebeb;
            }

            &.has-text{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                } 
                &::before{
                    width: 100%;
                }                             
            }
            &.no-text{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                }                    
                &::before{
                        background-color: red;
                        width: 100%;
                }
            }
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                @include rtl-left(0);
                width: 0;
                height: 2px;
                display: inline-block;
                background: $theme-color;
                @include transition(all 0.3s ease-in-out);
            }
            &.filled{
                label{
                    font-size: 12px !important;
                    bottom: 30px;
                }
                &::before{
                    width: 100%;
                }                 
            }
            label{
                position: absolute;
                bottom: 11px;
                font-size: 14px !important;
                @include rtl-left(0);
                margin-bottom: 0;
                font-weight: 400;
                color: #707070;
                @include transition(all 0.3s ease-in-out);
            }
        }          
    }
    .woocommerce-MyAccount-content{
        width: calc(77% - 75px);
        @include rtl-float-right();
        >h2{
            font-size: 23px;
            font-weight: bold;
            color: #231f20;
            text-transform: uppercase;
        }
        form{
            &.edit-account{
                h3{
                    font-size: 24px;
                    line-height: 33px;
                }
            }
            h3{
                font-size: 18px;
                color: #231f20;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 0;                
            }
            .form-row{
                position: relative;
                padding-top: 20px;
                .input-text{
                    border: 0;
                    margin-bottom: 0;
                    line-height: 25px;
                    border-bottom: 1px solid #ebebeb;
                }
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    @include rtl-left(0);
                    width: 0;
                    height: 2px;
                    display: inline-block;
                    background: $theme-color;
                    @include transition(all 0.3s ease-in-out);
                }
                &.filled{
                    label{
                        font-size: 12px;
                        bottom: 30px;
                    }
                    &::before{
                        width: 100%;
                    }                 
                }
                &.validate-required input[type="text"]{
                    @include placeholder($white);
                }
                &.validate-required input[type="email"]{
                    color: $white;
                    padding: 1px;
                    &:focus{
                        color: $text-color;
                    }
                }
                label{
                    position: absolute;
                    bottom: 11px;
                    font-size: 13px;
                    @include rtl-left(0);
                    margin-bottom: 0;
                    font-weight: 400;
                    color: #707070;
                    @include transition(all 0.3s ease-in-out);
                }
                &#billing_country_field{
                    label{
                        display: none;
                    }
                }
            }            
        }
        p{
            margin-bottom: 15px;
        }
        input[name="save_address"]{
            @include input-button;
            padding: 10px 20px;
            margin-top: 20px;
            font-family: $font-family-second;
        }
        .select2-container .select2-choice>.select2-chosen{
            line-height: 30px;
        }
        .form-row .input-text{
            line-height: 30px;
        }
        >p:first-child{
            font-size: 25px;
            font-family: 400;
            margin-bottom: 17px;
            line-height: 38px;
            text-transform: uppercase;
            strong{
                font-weight: 400;
            }
            a{
                color: $text-color;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        .myaccount_address{
            margin-bottom: 20px;
            font-weight: bold;
            color: #231f20;
            font-size: 14px;
            line-height: 24px;
        }
        .text-box{
            padding-top: 8px; 
            @include rtl-padding-left(8px);
            @include rtl-padding-right(15px);
        }
        .edit-account{
            fieldset legend{
                font-size: 24px;
                color: #231f20;
                font-weight: bold;
                padding-top: 47px;
                font-family: $font-family-second;
                text-transform: uppercase;
                border-bottom: 0;
                margin-bottom: 0;
            }
            .form-row{
                position: relative;
                padding-top: 30px;
                margin-bottom: 10px;
                .input-text{
                    border: 0;
                    margin-bottom: 0;
                    line-height: 25px;
                    border-bottom: 1px solid #ebebeb;
                }
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    @include rtl-left(0);
                    width: 0;
                    height: 2px;
                    display: inline-block;
                    background: $theme-color;
                    @include transition(all 0.3s ease-in-out);
                }
                label{
                    position: absolute;
                    bottom: 11px;
                    font-size: 14px;
                    @include rtl-left(0);
                    margin-bottom: 0;
                    color: #707070;
                    @include transition(all 0.3s ease-in-out);
                }                
                &.no-text{
                    label{
                        font-size: 12px;
                        bottom: 30px;
                    }
                    &::before{
                        width: 100%;
                        background: red;
                    }                     
                }
                &.has-text{
                    >label{
                        font-size: 12px;
                        bottom: 30px;
                    }
                    &::before{
                        width: 100%;
                    }
                    input[name="account_email"]{
                        color: $text-color;
                    }
                    small,
                    .woocommerce-password-strength.bad{
                        display: none;
                    }              
                }
                &.filled{
                    >label{
                        font-size: 12px;
                        bottom: 30px;
                    }
                    &::before{
                        width: 100%;
                    }                 
                }
                input[name="account_email"]{
                    color: $white;
                    &:focus{
                        color: $text-color;
                    }
                }
            }
        }
        .box-myaccouunt{
            @include rtl-padding-left(49px);
        }
        .address {
            width: 100%;
            @include rtl-float-left;
            &.col-1{
                    width: 100%;
            }
            &.col-2{
                width: 50%;    
            }
            &.col-3{
                width: 33.33%;    
            }                        
            h3{
                font-size: 18px;
                color: #231f20;
                margin-top: 8px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: bold;
            }
            a{
                margin-bottom: 12px;
                margin-top: 10px;
                display: inline-block;
                background: $text-color;
                color: $white;
                text-transform: uppercase;
                font-weight: bold;
                padding: 0px 14px;
                line-height: 29px;
                font-family: $font-family-second;
                &::before{
                    content: "\f040";
                    font-family: FontAwesome;
                    font-size: 12px;
                    color: $white;
                    @include rtl-margin-right(15px);
                }
                &:hover{
                    background: $theme-color;
                }
            }
        }
        p{
            color: #707070;
            line-height: 21px;
            a{
                color: #707070;
                text-decoration: underline;
                &:hover{
                    color: $theme-color;
                }
            }
        }
        h2{
            margin-top: 0;
        }
        h3{
            font-size: 18px;
        }
        .addresses{
            display: block;
            overflow: hidden;
            margin-top: 15px;
            .address{
                width: 50%;
                @include rtl-float-left; 
            }
        }
        .edit-account{
            label{
                font-size: 15px;
                font-weight: normal;
                margin-bottom: 8px;
            }
            input{
                margin-bottom: 8px;
            }
        }
        input[name="save_account_details"]{
            @include input-button();
            padding: 20px 28px;
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            font-family: $font-family-second;
        }
    }
    .woocommerce-Message{
        background: #f5f5f5;
        box-shadow: none;
        border-radius: 0;
        padding: 19px 12px 19px 81px;
        display: block;
        overflow: hidden;
        margin: 0 0 20px !important;
        width: 100%;
        font-size: 24px;
        font-weight: 400;
        line-height: 48px;
        position: relative;
        &::before {
            content: "\f05d";
            position: absolute;
            top: 19px;
            @include rtl-left(28px);
            display: inline-block;
            font-family: FontAwesome;
            font-size: 38px;
            @include rtl-margin-right(22px);
        }  
        .woocommerce-Button{
            font-size: 18px;
            font-family: $font-family-second;
            text-transform: uppercase;
            font-weight: bold;
            color: $text-color;
            padding: 0px 25px;
            line-height: 41px;
            margin-top: 1.5px;
            border: 2px solid $text-color;
            @include rtl-float-right;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                color: $white;
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}
/* Max Width 991px  */
@media (max-width: 991px){
    .woocommerce .woocommerce-MyAccount-navigation{
        width: 100%;
        margin: 0;
        padding: 10px 20px;
    }
    .woocommerce .woocommerce-MyAccount-content{
        width: 100%;
        margin-top: 25px;
    }
    .woocommerce .woocommerce-MyAccount-content > p:first-child{
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 100%;
    }
    .woocommerce .woocommerce-Message{
        padding: 3px 17px 3px 50px;
        line-height: 40px;
        font-size: 16px;
        margin-bottom: 0 !important;
    }
    .woocommerce .woocommerce-Message::before{
        top: 2px;
        left: 10px;
        font-size: 24px;
        margin-right: 22px;        
    }
    .woocommerce .woocommerce-Message .woocommerce-Button{
        font-size: 14px;
        line-height: 34px;
    }
    .woocommerce .woocommerce-MyAccount-content .edit-account fieldset legend{
        font-size: 18px;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .woocommerce-account #customer_login h2{
        font-size: 18px;
        margin-bottom: 0;
    }
    .woocommerce-account #customer_login input[type="submit"]{
        margin-top: 0;
    }
    .woocommerce-account #customer_login h2{
        margin-top: 25px;
    } 
}
@media (max-width: 479px){
    .form-row.form-row-last,
    .form-row.form-row-first{
        width: 100%;
    }
}
.woocommerce-cart{
    .woocommerce-info{
        background: $theme-color;
        color: $white;
    }
}
.woocommerce-cart{
    .cross_sell{
        .carousel-control{
            border: 0;
            top: 50%;
            &.left{
                left: -15px;
            }
            &.right{
                right: -15px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.woocommerce-account{
    .bin-main-content {
        display: inline-block;
        width: 100%;
        margin-top: 79px;
        margin-bottom: 72px;
    }    
}
/* Max Width 991px  */
@media (max-width: 991px){
    .woocommerce-account .bin-main-content {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

/* RTL */
.rtl{
    &.woocommerce-cart .woocommerce > form .shop_table .cart_item .product-remove a.remove{
        float: right;
    }
    &.woocommerce-cart .woocommerce > form .shop_table tbody > tr .actions input[name="update_cart"]{
        right: auto;
        left: 0;
    }
    &.woocommerce-wishlist .woocommerce table.wishlist_table tbody tr td a.remove.remove_from_wishlist{
        float: right;
    }
    .content_sortPagiBar .display li a{
        padding-left: 23px;
        &.view-grid{
            padding-right: 0;
        }
    }
    .content_sortPagiBar .display{
        margin-right: 0;
    }
}




